<ion-view view-title="home page">
  <ion-content scroll="false">
    <div class="book--menu">
      <div class="back-button--container" ui-sref="home">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title"></h1>
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer">
      <h1 class="book--chapters-title about--title-fontsize setFont">אודות</h1>
    </div>

    <div class="about--scrollContainer">
      <div class="about--paragraphContainerRamad about--paragraphContainer">
        <h1 class="about--paragraphTitle setFont">ניהול פרוייקט:</h1>
        <p class="about--aboutParagraph setFont about--ramadName"> רס"ל שרי חזי</p>

      </div>

      <div class="about--iconsFirstP">
        <img src="img/iconHadraha.svg" alt="Hadraha" class="about--icons">
        <img src="img/iconMifkada.svg" alt="Mifkada" class="about--icons">
        <img src="img/iconTill.svg" alt="Till" class="about--icons">
      </div>

      <div class="about--paragraphContainer">
        <h1 class="about--paragraphTitle setFont">תכנות:</h1>
        <p class="about--aboutParagraph setFont">
          סמל אורן אחרק

        </p>
        <p class="about--aboutParagraph setFont"> רב"ט אביטל פיבן</p>
        <h1 class="about--paragraphTitle setFont">עיצוב:</h1>
        <p class="about--aboutParagraph setFont"> רב"ט נוגה קפון</p>
      </div>

      <div class="about--iconsFirstP">
        <img src="img/iconBahad20.svg" alt="Hadraha" class="about--icons">
        <img src="img/iconHimush.svg" alt="Mifkada" class="about--icons">
      </div>

      <div class="about--paragraphContainer">
        <h1 class="about--paragraphTitle setFont"> מומחי תוכן בה"ד 20:</h1>
        <p class="about--aboutParagraph setFont"> רב"ט נועה כהן</p>
      </div>

    </div>
  </ion-content>
</ion-view>7
