<ion-view view-title="home page">
  <ion-item-sliding #item>
    <!-- <ion-item>Item</ion-item> -->
    <!-- <ion-item-option side="left"> -->


    <!-- <button ng-click="touchback()" class="back-button">back</button> -->

    <!-- </ion-item-sliding> -->
    <ion-content scroll="true">

      <div class="book">{{ book }}</div>
      <div class="next-page" on-swipe-left="touchnext()">
      </div>
      <!-- <div class="next-page" on-swipe-right="touchback()">

      </div> -->

    </ion-content>
</ion-view>
