<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="sidemenu--opacity" ng-hide="menu"></div>
    <div class="sidemenu" ng-hide="menu">
      <img src="img/menu--close.svg" class="sidemenu--buttons-close" ng-click="closemenu()">
      <div class="sidemenu--buttons sidemenu--move" ui-sref="home">דף הבית</div>
      <div class="sidemenu--buttons" ui-sref="book">ספרים</div>
      <div class="sidemenu--buttons" ui-sref="exercise">תרגול</div>
      <div class="sidemenu--buttons" ui-sref="tests">מבחנים</div>
      <div class="sidemenu--buttons" ui-sref="chooseGender">כושר קרבי</div>
      <div class="sidemenu--buttons" ui-sref="about">אודות</div>
      <img src="img/till-logo(white).svg" class="sidemenu--logo">
    </div>

    <div class="book--menu">
      <img src="img/menu--open.svg" class="book--menu-menubutton" ng-click="openmenu()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--chapters-title">פרקים</h1>
    </div>

    <ul class="book--chapter-list">

      <li class="book--chapter-list_item" ng-repeat="topic in topics" ng-click="goToTopic(topic)">
        {{topic.name}}
      </li>

    </ul>
  </ion-content>

  <!-- <ion-item>Item</ion-item> -->
  <!-- <ion-item-option side="left"> -->


  <!-- <button ng-click="touchback()" class="back-button">back</button> -->

  <!-- </ion-item-sliding> -->
  <!-- <ion-content scroll="true">
      <button ng-click="markText()" class="marktext-button">click to mark</button>
      <div class="book" ng-class={mark:color}>
        <br> הניסיונות של מאמן פאריס סן ז’רמן ושל הקבוצה עצמה לגרום למישהו לחשוב שיש עוד סיכוי שניימאר יוכל לשחק נגד ריאל מדריד,
        או לחלופין, יחזור לשחק העונה, עלו בתוהו. אביו של השחקן, ניימאר סיניור, התראיין במהלך הלילה ל-ESPN ברזיל והבהיר בלי
        שום צל של ספק: “ניימאר בחוץ לחודשיים. כולם יודעים את זה, גם בפאריס מעודכנים”. האמירות האלה הגיעו לאחר פרסום משותף
        ב-as הספרדי וגם ב’גלובו’ הברזילאי במהלך 24 השעות האחרונות, לפיו ניימאר החליט לעבור ניתוח אחרי הפגיעה שספג בקרסול
        ובעצם המסרק החמישית בכף רגלו. בפאריס מיהרו להכחיש, כנראה כדי שהקהל הצרפתי לא יבין את מה שכולם כבר הבינו – לברזילאי
        יותר חשוב המונדיאל מאשר המאבקים בקבוצתו, אולם הניסיונות האלה לא ממש צלחו ומהר מאוד אביו של השחקן דאג להדוף אותם.</div>
      <div class="next-page" on-swipe-left="touchnext()">
      </div> -->
  <!-- <div class="next-page" on-swipe-right="touchback()"> -->
  <!-- </div> -->

</ion-view>
