<ion-view view-title="home page">
  <ion-content scroll="false">
    <section class="home">
      <img src="img/home--background-firstlayer.png" class="home--background-firstlayer">
      <img src="img/home--background-secondlayer.png" class="home--background-secondlayer">
      <img src="img/home--background-thirdlayer.png" class="home--background-thirdlayer">
      <img src="img/home--background-solider.svg" class="home--background-solider">




      <div class="home--buttons">
        <img src="img/home buttons/home--books.svg" ui-sref="book" class="home--buttons-book">
        <img src="img/home buttons/home--exercise.svg" ui-sref="exercise" class="home--buttons-book">
        <img src="img/home buttons/home--tests.svg" ui-sref="tests" class="home--buttons-book">
        <img src="img/home buttons/home--sport.svg" ui-sref="chooseGender" class="home--buttons-book">
        <img src="img/home buttons/home--about.svg" ui-sref="about" class="home--buttons-about">
      </div>

      <img src="img/home buttons/home--logos.svg" class="home--logos">


    </section>

  </ion-content>
</ion-view>
