<ion-view view-title="home page">
  <ion-content scroll="false">
    <section class="home">
      <img src="img/home--background.png" class="home--background">
      <!-- <div class="home--title"></div>
      <div ui-sref="book" class="home--buttons">אודות</div>
      <button ui-sref="gameMemory" class="home--buttons">אודות</button>
      <button ui-sref="about" class="home--buttons">אודות</button>
      <button ui-sref="about" class="home--buttons">אודות</button> -->
      <div class="home--buttons">
        <img src="img/home buttons/home--books.svg" ui-sref="book" class="home--buttons-book">
        <img src="img/home buttons/home--exercise.svg" ui-sref="exercise" class="home--buttons-book">
        <img src="img/home buttons/home--tests.svg" ui-sref="tests" class="home--buttons-book">
        <img src="img/home buttons/home--sport.svg" ui-sref="chooseGender" class="home--buttons-book">
        <img src="img/home buttons/home--about.svg" ui-sref="about" class="home--buttons-about">
      </div>

      <img src="img/home buttons/home--logos.svg" class="home--logos">


    </section>

  </ion-content>
</ion-view>
