<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <!-- startScreen -->
    <div class="test--startScreen" ng-show="startScreen">
      <div class="back-button--container" ui-sref="home">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <div class="test--start-backdiv"></div>
      <div class="test--start-firstline"></div>
      <div class="test--start-textContainer">
        <h1 class="test--start-title">ברוך הבא למבחן בחינוך ומורשת!</h1>
        <h2 class="test--start-text">יעמדו לרשותך {{minute + 1}} דק' </h2>
        <h2 class="test--start-text">לענות על 25 שאלות</h2>
        <h2 class="test--start-text">בהצלחה!</h2>
      </div>

      <div class="test--start-startButtonContainer">
        <h1 class="test--start-startButton" ng-click="startTest()">התחל</h1>
      </div>
      <div class="test--start-timeContainer">
        <h2 class="test--start-Time">30:00</h2>
      </div>
      <div class="exerciseDiscription--lastLine test--start-lastLine-hight"></div>
    </div>

    <!-- timeoutScreen -->
    <div class="adjustDateFinish--finishFailPg adjustDate--FailDiv" ng-show="timeoutScreen">
      <div class="billionaire--win-mainTitleContainer">
        <h1 class="billionaire--win-mainTitle adjustDate--lose-titleColor"> ...נגמר הזמן</h1>
        <div class="billionaire--win-mainTitle-line adjustDate--lose-lineColor"></div>
      </div>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> מספר התשובות הנכונות: {{rightAnswer}}</h1>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> מספר הטעויות: {{wrongAnswer}}</h1>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> שאלות שלא נענו: {{25 - rightAnswer - wrongAnswer}}</h1>
      <img src="img/adjustDate--you lost.svg" class="test--feedback-smile" />
      <div class="test--buttonContainer">
        <div class="test--backHomeButtton" ng-click="backToHome()">לדף הבית</div>
      </div>
    </div>

    <!-- pass -->
    <div class="adjustDate--SuccessDiv adjustDateFinish--winPg" ng-show="pass">
      <div class="billionaire--win-mainTitleContainer">
        <h2 class="billionaire--win-mainTitle">!כל הכבוד </h2>
        <div class="billionaire--win-mainTitle-line"></div>
      </div>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> מספר התשובות הנכונות: {{rightAnswer}}</h1>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> מספר הטעויות: {{wrongAnswer}}</h1>
      <img src="img/exercise/billionaire--you won.svg" class="test--feedbackSuccses-smile" />
      <div class="test--buttonContainer" id="test--buttonContainer-succses">
        <div class="test--backHomeButtton" ng-click="backToHome()">לדף הבית</div>
      </div>

    </div>

    <!-- failed -->
    <div class="adjustDateFinish--finishFailPg adjustDate--FailDiv" ng-show="failed">
      <div class="billionaire--win-mainTitleContainer">
        <h1 class="billionaire--win-mainTitle adjustDate--lose-titleColor"> ...לא עברת</h1>
        <div class="billionaire--win-mainTitle-line adjustDate--lose-lineColor"></div>
      </div>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> מספר התשובות הנכונות: {{rightAnswer}}</h1>
      <h1 class="billionaire--win-fullgame-text" id="test--firstLine-finishText"> מספר הטעויות: {{wrongAnswer}}</h1>
      <img src="img/adjustDate--you lost.svg" class="test--feedbackSuccses-smile" />
      <div class="test--buttonContainer">
        <div class="test--backHomeButtton" ng-click="backToHome()">לדף הבית</div>
      </div>

    </div>


    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title" ng-click="countDowner()">מבחנים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <!-- <div class="game--next-question" ng-click="nextQuestion()" ng-show="hideNextQuestion">לשאלה הבאה</div> -->
    <div class="game">
      <!-- <div class="game--firstline"></div>
      <div class="game--secondline"></div> -->
      <div class="tests--QContainer">
        <h3 class="billionaireQuestion tests--question">{{question.question}}</h3>

      </div>
      <div class="tests--answersContainer">
        <!-- $index -->
        <fieldset class="tests--answer" ng-repeat="answer in question.answers" ng-click="userAnswer($index)" ng-disabled="unClickAnswer[$index]"
          ng-class="{correctAnswer:correctAnswer[$index],inCorrectAnswer:inCorrectAnswer[$index]}">
          <h1 class="billionaire--answer-number">{{answer.answer}}</h1>
        </fieldset>
      </div>
      <div class="test--bottom">
        <h7 class="test--bottom-Data">{{minute_text}}:{{countDown_text}}</h7>
        <h7 class="test--bottom-Data">{{questionNumber}}/25</h7>

      </div>
      <!-- <div class="billionaire--lifes">
        <div>
          <img src="img/billionaire--life.svg" class="billionaire--life">
        </div>
      </div> -->
      <div class="exerciseDiscription--lastLine test--start-lastLine-hight"></div>
    </div>


  </ion-content>
</ion-view>
