<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">

    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">מבחנים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="game--next-question">לשאלה הבאה</div>
    <div class="game">
      <div class="game--firstline"></div>
      <div class="game--secondline"></div>
      <div class="billionaire">

      </div>

      <!-- $index -->
      <div class="game--answer">
        <!-- <h1 class="billionaire--answer-number"></h1> -->
      </div>
      <div class="game--answer">
        <h1 class="billionaire--answer-number"></h1>
      </div>
      <div class="game--answer">
        <h1 class="billionaire--answer-number"></h1>
      </div>
      <div class="game--answer">
        <h1 class="billionaire--answer-number"></h1>
      </div>

      <!-- <div class="billionaire--lifes">
        <div>
          <img src="img/billionaire--life.svg" class="billionaire--life">
        </div>
      </div> -->

    </div>
    </div>

  </ion-content>
</ion-view>
