<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="test--startScreen" ng-show="startScreen">
      <div class="back-button--container" ui-sref="home">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <div class="test--start-backdiv"></div>
      <div class="test--start-firstline"></div>
      <div class="test--start-textContainer">
        <h1 class="test--start-title">ברוך הבא למבחן בחינוך ומורשת!</h1>
        <h2 class="test--start-text">יעמדו לרשותך 360 דק' </h2>
        <h2 class="test--start-text">לענות על 25 שאלות</h2>
        <h2 class="test--start-text">בהצלחה!</h2>
      </div>

      <div class="test--start-startButtonContainer">
        <h1 class="test--start-startButton" ng-click="startTest()">התחל</h1>
      </div>
      <div class="test--start-timeContainer">
        <h2 class="test--start-Time">30:00</h2>
      </div>
      <div class="exerciseDiscription--lastLine test--start-lastLine-hight"></div>
    </div>


    <div class="test--finishScreen" ng-show="finishGame">
      <h1 class="test--finish-text" id="test--firstLine-finishText"> מספר התשובות הנכונות {{rightAnswer}}</h1>
      <h1 class="test--finish-text"> מספר הטעויות {{wrongAnswer}}</h1>
      <h1 class="test--start" ng-click="backToHome" ui-sref="home">לדף הבית</h1>

    </div>
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title" ng-click="countDowner()"> start game</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <!-- <div class="game--next-question" ng-click="nextQuestion()" ng-show="hideNextQuestion">לשאלה הבאה</div> -->
    <div class="game">
      <div class="game--firstline"></div>
      <div class="game--secondline"></div>
      <div class="billionaire">
        <h3 class="billionaireQuestion">{{question.question}}</h3>

      </div>

      <!-- $index -->
      <fieldset class="game--answer" ng-repeat="answer in question.answers" ng-click="userAnswer($index)" ng-disabled="unClickAnswer[$index]"
        ng-class="{correctAnswer:correctAnswer[$index],inCorrectAnswer:inCorrectAnswer[$index]}">
        <h1 class="billionaire--answer-number">{{answer.answer}}</h1>
      </fieldset>

      <div class="test--bottom">
        <!-- <h7 class="test--bottom-countDown">{{minute_text}}:{{countDown_text}}</h7> -->
        <h7 class="test--bottom-questionNum">{{questionNumber}}/25</h7>

      </div>
      <!-- <div class="billionaire--lifes">
        <div>
          <img src="img/billionaire--life.svg" class="billionaire--life">
        </div>
      </div> -->

    </div>
    </div>

  </ion-content>
</ion-view>
