<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title">
          3.10 תור הזהב וגירוש ספרד
        </h3>
        <p class="book--text-style">
          אזור חצי-האי האיברי, בו שוכנות כיום במדינות ספרד ופורטוגל, המהווה את הקצה הדרום-מערבי של יבשת אירופה היה במהלך ימי הביניים
          זירה להתנגשויות חוזרות ונשנות בין נוצרים ומוסלמים. תקופת השלטון המוסלמי באזור זה נחשבת ל
          <strong>תור הזהב של יהדות ספרד</strong>, תקופה של פריחה רוחנית, כלכלית ודתית. באותה תקופה קמו בקהילה זו תלמידי חכמים, פילוסופים,
          משוררים ואנשי רוח שיצרו כמה מן היצירות החשובות בתולדותיו של העם היהודי, והיו מעורבים בניהול הממלכות המקומיות. יהודים
          אלו יצרו ופעלו בניב ספרדי-יהודי שהוסיף ללוות את יוצאי ספרד והפך לימים לשפת ה
          <strong>לאדינו</strong>, הידעה גם בכינויים&nbsp; "ספניולית" ו-"ג'ודזימו".
          <em>
            <br /> עם הכיבוש הנוצרי של ספרד וסביבתה ("רקונקיסטה"), הורע בהדרגה מצב היהודים והחופש הדתי שניתן להם צומצם. שיאן של
            הרדיפות הגיע בשנת 1492 שהמלך פריננד והמלכה איזבלה הציבו בפני יהודי ממלכותיהם אולטימטום: להתנצר או לעזוב את ספרד
            תוך ארבעה חודשים, אירוע שנודע לימים כ
            <strong>גירוש ספרד</strong>. הרקע לגירוש, כפי שאפשר ללמוד מן הצו שהורה עליו, היה דתי:
            <br /> "...הובא לידיעתנו כי במלכויותינו היו כמה נוצרים רשעים שהתייהדו וכפרו באמונה הקתולית הקדושה שלנו, הגורם הגדול
            לכך היה אינטראקציה בין היהודים ובין אותם נוצרים... על כן אנו, בהתייעצות עם ראשי הכנסייה, האצילים הגדולים של מלכויותינו...
            החלטנו להורות על היהודים והידהודיות הנזכרים של מלכויותינו לעזוב אותן... תחת האיום שאם לא יישמע לפקודה זו, ויימצאו
            באחד מן המחוזות והמלכויות הנזכרים... דינם מוות והחרמת כל רכושם."
            <br /> </em>יהודי האזור שגורשו כעבור כמה שנים גם מפורטוגל השכנה, עזבו ברובם בחופזה וחיפשו מקום מגורים חלופי. רבים פונו
          אל-עבר האימפריה העות'מאנית ואחרים אל-עבר אירופה; קבוצה קטנה אף הרחיקה והגיעה אל אמריקה. היהודים שנותרו בספרד והתנצרו
          מכונים
          <strong>אנוסים</strong>. רבים מהם המשיכו לשמור על חלק ממצוות היהדות בסתר וסבלו מרדיפה של ה
          <strong>אינקוויזיציה</strong>, מוסד משפטי-דתי שביקש למנוע סטייה מעקרונות הדת הקתולית. הגירוש חיסל התיישבות יהודית בת מאות
          שנים, הביא לרדיפתם ולנדידתם של עשרות אלפים ושינה את פניו של העם היהודי.
          <br /> רבים מהיהודים שגורשו מספרד ומפורטוגל פנו אל-עבר האימפריה העות'מאנית ששלטה על כל רחבי המזרח-התיכון. במרחבי האימפריה
          מצאו היהודים הספרדים קהילות מקומיות של יהודיםמ דוברי ערבית שכונו על-ידם
          <strong>מוסתערבים.</strong>
          <br /> קהילות אלו שחיו בארץ-ישראל ולחופי הים התיכון היו עתיקות, גדולות ומבוססות למדי. אולם בתהליך הדרגתי הפכו היהודים
          הספרים לרוב בקהילות היהודיות באימפריה וברוב המקרים אף נטלו לידם את תפקידי ההנהגה בתוכן. באופן זה הפך הכינוי "
          <strong>ספרדי</strong>" לכינוי מקובל ליהודי שמקורו בארצות האסלאם.
          <br /> בין היהודים שהיגרו לאימפריה העות'מאנית היו מי שהגיעו בסופו של דבר אל ארץ-ישראל. בארץ התגבש המרכז הרוחני והמדיני
          בעיקר בגליל. ידוע במיוחד מפעלה של
          <strong>דונה גרציה נשיא</strong>, אשת עסקים יהודייה שהרחיבה את היישוב היהודי ב
          <strong>טבריה</strong> והפכה אותה למרכז כלכלי חשוב. מרכז חשוב נוסף התגבש באותה העת ב
          <strong>צפת</strong>, בה התפתח לצד מוקד של תעשיית הצמר, ממנה התפרנסו יהודים רבים, גם מרכז רוחני של עיסוק בתורת הסוד היהודית
          &ndash; הקבלה. אחת הדמויות הבולטות בהקשר זה היה ה
          <strong>אר"י הקדוש</strong> (ה
          <u>א</u>לוקי
          <u>ר</u>בי
          <u>י</u>צחק לוריא אשכנזי, 1572-1534) שגדל במצרים, הגיע בשנת 1570 לצפת ולאורך השנתיים בהן פעל בעיר עד למותו, הצליח
          להגדיל את מעגל לומדי הקבלה ולפתח מאוד את העיסוק בה. לצדו פעלו בעיר מספר דמויות מרכזיות נוספות בהיסטוריה היהודית:
          בהם
          <strong>ר' יוסף קארו </strong>שחיבר את ה"שולחן ערוך", הקובץ ההלכתי המרכזי בו נעשה שימוש כיום.</p>
      </div>

    </ion-content>
  </div>
