<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title">
          3.11 המרכז היהודי בפולין והתפתחות החסידות
        </h3>
        <p class="book--text-style">
          במקביל לתור הזהב בספרד החל להתפתח מרכז יהודי חשוב גם באזור אחר ביבשת אירופה &ndash; ממלכת פולין ליטא שחלשה על שטחים נרחבים
          במרכז אירופה. מרכז יהודי זה נוצר בעיקר כתוצאה של הגירת יהודים מאזור מרכז אירופה ("אשכנז") וגם אליו היגרו יהודים
          שגורשו מספרד. היהודים באזור נהנו מאוטונומיה נרחבת שבאה לידי ביטוי בפעולתו של
          <strong>ועד ארבע ארצות</strong>. הוועד ייצג את היהודים בפני השלטונות הפולניים, גבה את המיסים, דאג להסדרת היחסים בין הקבילות
          היהודיות, פעל למען אינטרסים משותפים, התקין תקנות שונות בהתאם להלכה, שימש כמעין "בית משפט עליון", ויסת את הפעילות
          הכלכלית וכן עסק בענייני חינוך ולימוד תורה.
          <br /> כמאה וחמישים שנים לאחר גירוש ספרד, בשנים 1648-1649, החלו בפולין סדרת פוגרומים המכונים במסורת היהודית
          <strong>גזירות ת"ח-ח"ט.</strong> ברקע לאירועים, המכונים בהיסטוריה העולמית "מרד חמלניצקי", עומדת התקוממות של קבוצת קוזאקים
          אשר נתמכו בידי הצמיתים הרבים שחיו המדינה.
          <br /> המרד אומנם כוון נגד האצולה הפולנית שהתעמרה במעמדות הנמוכים, אך היהודים סומנו כנציגים של שיטת הניצול היו לקורבנותיו
          המרכזיים; אלפי יהודים נרצחו וקהילות רבות נחרבו.
          <em>
            <br /> האירועים הקשים, בשילוב התפתחותו של העיסוק בתורת הסוד העמיקו את הציפיה לשינוי משיחי על טבעי ולסיום הגלות.
            <br /> על רקע זה הופיע בעולם היהודי משיח השקר,
            <strong>שבתאי צבי</strong>
          </em> (1676-1626), שהצליח להניע אחריו יהודים רבים ולכולל תנועה שכונתה
          <strong>שבתאות. </strong>
          <br /> המסעות של צבי ברחבי האימפריה העות'מנית ומזרח אירופה, השינויים שהוא חולל בהלכה והחלטתו להתאסלם, עוררו משבר חמור
          וקרע בקהילות רבות.
          <br /> למרות הניסיונות לסלק את אחרוני מאמיניו מתוך הקהילות, נותרו בעולם היהודי קבוצות קטנות ששמרו אמונים לשבתאות וכמה
          שנים לאחר מכן הופיע משיח שקר חדש, יעקוב פרנק (1790-1726) שהציג את עצמו כממשיכו.
          <br /> המשבר שהולידה השבתאות בשילוב עם התהוותו של ציבור יהודי גדול שהיה טרוד בדאגות היום יום והתרחק מלימוד התורה הוביל
          במהלך המאה ה-18 לצמיחתה של
          <strong>תנועת החסידות.
            <br /> </strong>מייסד התנועה הוא
          <strong>ר' בעל-שם-טוב </strong>(הבעש"ט, 1700-1760), שהדגיש את חשיבותה של השמחה בעבודת השם הטבעית ואת מקומו של הצדיק כמקשר
          בין החסיד לבין הא-ל. בניגוד למקובלים ולרבנים אחרים ביקשו הבעש"ט ותלמידיו להפיץ את תורתם לעם כולו ולא רק לתלמידי
          החכמים המקובלים. גדול תלמידיו היה ר' דב בער ממזריטש שכונה "המגיד", והיה לאחד ממפיציה המרכזיים של תורת הבעש"ט וממניחי
          היסודות של התנועה.
          <br /> מכאן, הנהיגו תלמידיו של המגיד, שהתפזרו ברחבי מזרח אירופה, "חצרות" חסידיות שונות- שבראש כל אחת מהן עמד רב אשר חסידיו,
          שקיימו אתו קשר עז ורב ממדים, כינוהו
          <strong>אדמו"ר</strong> (אדוננו מורנו ורבנו).
          <br /> בראשיתה עוררה החסידות ביקורת רבה בשל "עממיותה", השמחה והמנהגים השונים שנלוו לה.
          <br /> המתנגדים לחסידות המכונים
          <strong>מתנגדים או ליטאים, </strong>גרסו כי יש להמשיך ולהדגיש את חשיבותו של לימוד התורה ופחדו מהתפתחותה של תנועה המונית
          של משיחיות שקר כדוגמת השבתאות.
          <em>&nbsp;
            <br /> בראש התמנגדים עמד </em>
          <strong>הגאון מווילנא, </strong>(הגר"א, 1720-1797), הוא הטיל חרמות על החסידים וביקש לצמצם את השפעתה של התנועה. בהמשך, הדברים
          אף הגיעו לכדי מאבק קשה בו עורבו גם שלטונות המדינה.
          <br /> במהלך השנים קמו חצרות חסידיות רבות בעלות אופי שונה ודרך ייחודית בערים השונות באירופה, וכיום, חלקן עוד נושאות את
          שמן, ואף שומרות על מבנה קהילתי מיוחד; ביניהן אפשר למנות את חסידויות ויז'ניץ, גור, חב"ד, ברסלב ועוד.
        </p>
      </div>

    </ion-content>
  </div>
