<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/menu-button.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.12 אתגר האמנציפציה
      </h3>
      <p class="book--text-style">
        <em>הן במזרח א</em>ירופה והן במזרח התיכון חיו היהודים עד לעת החדשה בקהילות נפרדות וסגורות. הקהילה ניהלה את חייה כמעט
        ללא מגע עם העולם החיצוני ובין היהודים לאוכלוסייה הסובבת התקיים בידול כמעט מוחלט. כך מתאר את הדברים ההיסטוריון יעקב
        כ"ץ:
        <br /> "מושב היהודים מוגבל נטעם השלטונות, ואין הם רשאים לישב אלא בקצת רחובות... לבושו של היהודי, שהיה שונה מלבוש שאר האוכלוסים...
        וכן שאר הדברים של מראה: הזקן והפאות של האיש וכיסוי השער של האשה הנשואה... מציינים ומבדילים את היהודי מכלל האוכלוסייה"
        <br /> החל מסוף המאה השמונה-עשרה החלו מדינות שונות במערב אירופה לדבר על הענקת
        <strong>אמנציפציה</strong> (שוויון זכויות) ליהודים ועל שילובם בחברה הכללית. התפתחות זו הייתה בעיקרה תולה של עקרונות תנועת
        הנאורות ושל המהפכה הצרפתית (1789) שהביאה אותם לכדי ביטוי פוליטי. אולם שיווי זכויותיהם של היהודים היה כרוך בפירוק
        המבנה הקהילתי המסורתי ודרש, למעשה אימוץ אורח חיים, דרכי התנהגות, מקצועות ומנהגים של התרבות המערבית. על רקע זה צמחה
        תנועת ההשכלה היהודית, ראשית בגרמניה, שם היא מזוהה עם רעיונותיו של משה מנדלסון, ובהמשך במזרח אירופה ובמזרח התיכון.
        על עיקריה של תנועה זו עמד בן-ציון דינור:
        <br /> "סיסמאותיה של ההשכלה היו &ndash; חכמה ומלאכה, לשון ונימוס. חכמה &ndash; פירושה: הכנסת המדעיים הכלליים לחוג הידיעות...
        המלאכה &ndash; פירושה: דאגה ציבורית מכוונת להבראתו הכלכלית של היישוב היהודי על ידי הכשרת הדור הצעיר למלאכה ואומנות
        המפרנסת את בעליה... הלשון &ndash; לשונות העמים אשר בקרבם אנו יושבים... נימוס &ndash; זהו בעצם מושר יותר כולל ומקיף...
        הקפדה על צורה חיצונית, על מידה וקצב, על חן וטעם, ומשום כך נימוס כולל בעצם שיפור כל הליכות החיים"
        <br /> רעיונות אלו התנגשו לא-פעם עם עקרונות דתיים ועל רקע זה התגלע שסע גדול המלווה את העם היהודי עד לימים אלו: השסע בין
        שומרי המצוות למי שאינם שומרי מצוות.
        <br /> זאת ועוד, חלק מהמשכילים ביקשו לצמצם את תחומיה של היהדות אל המישור הדתי בלבד, תוך ניפוי האלמנטים התרבותיים והלאומיים
        שלה. הם טענו כי הם "צרפתים בני דת משה", "אוסטרים בני דת משה" וכו'. באופן זה הם ביקשו להראות כי אין מניעה שהיהודים
        יתערו בסביבה בה הם חיים וייטלו חלק בבניית הזהות הלאומית המקומית, כמו בני דת הרוב במדינתם. כך או כך, ניסיון ההתערות
        הצליח רק באופן חלקי. לצד תהליכי האמנציפציה החל גל של פרעות אנטישמיות במזרח אירופה וכפי שנראה בהמשך, במערב אירופה
        התפתח זן חדש של אנטישמיות ארסית במיוחד. עובדה זאת, לצד גידול מתמיד באוכלוסייה היהודית, הגביר את מצוקתם של היהודים
        והביא את הקהילות במזרח אירופה אל סף רעב.</p>
      </p>
    </div>

  </ion-content>
