<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.13 היהודי אל מול תגרי העת החדשה
      </h3>
      <p class="book--text-style">
        העם היהודי ניצב כעת בפני צומת דרכים משמעותית ומשבר עמוק בזהות הפנימית. בתגובה למציאות זו ניתן לסמן חמישה כיווני פעולה שכל
        אחד מהם שונה בתכלית:
        <br />
        <u>היטמעות-</u> מאות אלפי יהודים ברחבי אירופה ביקשו להיטמע בסביבה הלא-יהודית. בהקשר זה החלו יהודים ליטול חלק מרכזי בתרבות
        ובכלכלה והיו אף כאלו שהמירו את דתם. המשורר היהודי &ndash; גרמני היינריך היינה (1797 &ndash; 1856) שהמיר את דתו לנצרות
        והיה לאחד הכותבים החשובים בשפה הגרמנית, מייצג במידה רבה את הכיוון הזה.
        <br />
        <u>התבדלות-</u> כתגובת נגד לתהליכים שתוארו החלו מי שביקשו לשמור על המסורת והדת. להגביה את חומות ההפרדה ולבדל את הקהילות
        היהודיות מן הציבור הלא-יהודי ומן המשכילים. באופן זה נולדה היהדות החרדית ועקרונות המפתח המובילים אותה. החת"ם סופר
        (1839-1762(, שפעל בהונגריה ועקרונותיו סוכמו בטענה "חדש אסור מן התורה", מייצג במידה רבה את הכיוון הזה.
        <br />
        <u>הגירה-</u> המחצית השנייה של המאה התשעה-עשרה פקד את אירופה גל הגירה גדול שיעדו את ארצות הברית,&nbsp; בגל זה היה האחוז
        של היהודים מקרב כלל המהגרים, גבוה למדי.
        <br /> ארצות הברית הציעה למהגר היהודי הזדמנויות כלכליות וכן וחופש מרדיפות ומאנטישמיות. הסופר שלום עליכם (1859-1916), שכתב
        ביידיש ותיאר בין היתר את קשיי ההגירה, מייצג במידה רבה את הכיוון הזה.
        <br />
        <u>מהפכנות-</u> יהודים רבים ברחבי אירופה ביקשו לראות את פתרון הבעיה היהודית במסגרת תנועות המהפכה הרבות שקמו באירופה
        והושפעו מרעיונות סוציאליסטיים או קומוניסטיים שביקשו לשנות מן היסוד את הסדר החברתי וקראו לשוויון זכויות בין עשירים
        לעניים. רוזה לוקסמבורג (1871-1919) שניסתה להביא למהפכה קומוניסטית בגרמניה ונרצחה, מייצגת במידה רבה את הכיוון הזה.
        <br />
        <u>לאומיות-</u> מיעוט מבין היהודים ביקש לראות בלאומיות יהודית את הפתרון: שוויון זכויות לאומי שהוא המשכו הישיר של שוויון
        הזכויות הפרטי. לדעתם, דווקא ניסיון האמנציפציה הוכיח כי היהודים שונים מהותית משכניהם הלא-יהודים וכי הם לעולם לא יוכלו
        להיות "צרפתים בני דת משה" או "אוסטרים בני דת משה", מאחר שהיהדות איננה רק דת. חוזה המדינה, בנימין זאב הרצל, בו נתמקד
        בהמשך, מייצג במידה רבה את הכיוון הזה.
      </p>
    </div>

  </ion-content>
