<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          3.14 ראשיתו של הרעיון הלאומי – הדרך אל הציונות
        </h3>
        <p class="book--text-style">
          מתוך המיעוט קטן של מי שראו בפנייה ללאומיות &ndash; את הפתרון למשבר הזהות של העם היהודי, נהוג להדגיש את פועלן של שלוש דמויות
          מרכזיות המכונות "מבשרי הציונות":
          <br />
          <strong>משה הס</strong> (1875-1812)
          <br />
        </p>
        <blockquote>"עומד אני בכל תוקף על זכותו של עם ישראל, זכותו מקודשת וקדומה במידה שאין למעלה הימנה, לתבוע לעצמו את ארץ מולדתו" </blockquote>
        <p class="book--text-style">
          נולד בגרמניה, כילד קיבל חינוך מסורתי בבית סבו, אך עם השנים התרחק מן היהדות, התקרב אל רעיונות סוציאליסטיים וטען כי רק במסגרת
          זו, בחלק משוויון הזכויות הכולל, יימצא פתרון גם לבעיה היהודית. בשלב כלשהו, בהשפעת איחוד איטליה ותהליכים כלליים אחרים,
          שינה הס את עמדתו, בספרו "רומא וירושלים" הוא טען כי היהדות איננה רק דת אלא גם לאום, וביקש לקדם תכניות לתקומה לאומית
          של היהודים בארץ ישראל.
          <br />
        </p>
        <p class="book--text-style">
          <strong>הרב יהודה שלמה חי אלקלעי </strong>(1798-1878),
          <br />
        </p>

        <blockquote> "רוח הזמן דורש מכל המדינות לכונן את ארצם ולהקים את לשונם וכן דורש מאתנו לכונן את בית חיינו ולהקים את לשוננו"</blockquote>
        <p class="book--text-style">
          <br /> נולד באזור הבלקן לרב הקהילה בעיר סרייבו ושימש בעצמו כרב הקהילה בזמלין שבסרביה. אמונתו הדתית העזה, המרידות הלאומיות
          בבלקן ועלילת דמשק, הביאו אותו למסקנה כי בעיית היהודים תיפטר רק עם כינן מדינה בארץ-ישראל. הרב אלקלעי פרסם בנושא
          מאמרים רבים ויצא למסעות בקהילות היהודיות על-מנת לגייס תמיכה לרעיונותיו.
          <br />
          <strong>הרב צבי הירש קלישר </strong>(1874-1795)
        </p>
        <br />
        <blockquote> "מה עשו אנשי איטליה אשר השליכו נפשם מנגד, כספם וזהבם, עבור שם נחלת ארצם. ואנחנו בני ישראל, אשר הארץ המפוארה... נהיה
          כאיש אשר אין בו רוח"</blockquote>
        <p class="book--text-style">
          <br /> נולד בפוזנן השוכנת בגבול פולין-פרוסיה וקיבל חינוך יהודי-מסורתי. הרב קלישר קנה השכלה רחבה בתחומים תורניים וכלליים
          ושימש כרב וכדיין. הוא סבר כי התעוררות לאומית יהודית, רצון המעצמות והתיישבות בארץ ישראל, יחישו את הגאולה. את רעיונותיו
          פרסם בספר "דרישת ציון".
        </p>
      </div>

    </ion-content>
  </div>
