<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">


        <p class="book--text-style">
          רעיונותיהם של מבשרי הציונות נתקלו על-פי רוב באדישות ואף בעויונות; אך בשנות השמונים של המאה התשעה-עשרה, בעקבות פרוץ פרעות
          קשות ביהודי דרום רוסיה שכונו "סופת בנגב", החלה התמונה להשתנות. במהל שנת 1882 פרסם
          <strong>יהודה לייב פינסקר</strong> (1821-1891) חוברת קטנה בעילום שם וכותרתה "אוטואמנציפציה! קול קורא לבני עמו, מאת יהודי
          רוסי". פינסקר היה יהודי יליד רוסיה ששימש כרופא בעיר אודסה; לאחר שהתאכזב מסיכוייהם של היהודים להמשיך ולחיות ברוסיה
          האמין כי הפתרון היחיד למצוקתם טמון בעזיבת המדינה.
          <br /> ב
          <strong>אוטואמנציפציה</strong> הוא טען כי אוכלוסיית הרוב הלא-יהודית רואה ביהודים זרים ואינה מוכנה לקבלם כחלק מהחברה, זרות
          זו מביאה גם לא אחת גם לא אחת לפחד ולשנאה. לאור זאת אין בהשוואת הזכויות של היהודים (אמנציפציה) די, מאחר והיא לא
          תפתור את הדימוי שלהם כזרים. האופציה היחידה על כן היא שחרור עצמי (אוטואמנציפציה) והקמת "ארץ מקלט". במקביל לפרסומה
          של החוברת קמו באירופה עשרות אגודות וארגונים שביקשו לקדם התיישבות יהודית בארץ-ישראל ופעלו ללא ארגון-גג מרכזי. הם
          אימצו את החוברת שעוררה דיון עז של תומכים ומתנגדים. חברי האגודות כוננו
          <strong>חובבי ציון </strong>(המילה ציון היוותה כינוי לארץ-ישראל) והתנועה וכלה כונתה " חיבת ציון".
          <br /> בין חברי האגודות השונות היו יהודים שומרי מסורת לצד יהודים משכילים שהתאכזבו מן האמנציפציה, נקודה שהביאה לעתים חיכוכים.
          חלק מן האגודות הצליחו להגשים את רעיונותיהם וחבריהם עלו לארץ ישראל. עולים אלו היוו את העלייה הראשונה, בה נעסוק בהמשך.
          <br /> על-מנת לפתור את חולשתן הארגונית של האגודות ולייסד הנהגה מרכזית, שילב פינסקר כוחות עם הרב שמואל מוהליבר, וכינס
          ב-1884 את
          <strong>ועידת קטוביץ'</strong>. בטווח הארוך נכשלו נסיונות אלו, התנועה סבלה מהיעדר הנהגה, נתקלה בקשיים גוברים והולכים והמושבות
          בארץ נקלעו לקשיים כלכליים.</p>
      </div>

    </ion-content>
  </div>
