<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          3.16 בנימין זאב הרצל והקמת התנועה הציונית
        </h3>
        <p class="book--text-style">
          על רקע הכישלון של אגודת חובבי ציון, החל במהלך סוף המאה התשע-עשרה פרק חדש ומאורגן יותר בתולדות הציונות, כאשר
          <strong>בנימין זאב הרצל</strong> החל בהקמת התנועה הציונית ובהפיכתה לתנועה לאומית גדולה ומאוחדת. הרצל נולד ב-1860 בבודפשט
          וחי את רוב חייו בווינה. על אף שהחוקרים חלוקים בדעותיהם לגבי הביוגרפיה שלו, נראה כי בשלב הראשון של חייו הוא היה
          רחוק יחסית מכיוון הפעולה הלאומי, ומבין חמשת כיווני הפעולה שהצגנו לעיל, היה קרוב יותר אל ההיטמעות. התקרבותו אל העיסוק
          בבעיה היהודית ואל דרך הפעולה הלאומית, הייתה איטית ומדורגת. קשה להצביע על אירוע אחד בעקבותיו שינה הרצל את דעתו אך
          נראה כי לפגישותיו החוזרות ונשנות עם האנטישמיות המודרנית, הייתה עליו השפעה רבה.
          <br /> בשנת 1896, הוצגו לראשונה רעיונותיו של הרצל באופן שיטתי במסגרת הספר
          <strong>מדינת היהודים</strong>: "התכנית כולה בצורתה היסודית היא פשוטה עד מאוד... למען תהי מובנת לכל אדם. יותן לנו השלטון
          בחלקת-ארץ על פני האדמה, אשר תספיק לצרכיה הישרים של אומתנו, ואת כל השאר נעשה בעצמנו"
          <br /> הספר תורגם עד מהרה לעברית, ליידיש ולרוסית ועורר תגובות רבות. הרצל ניסח בספר שלבי פעולה מפורטים המסבירים כיצד ניתן
          להשיג את המטרה הזו ובזה חידושו המרכזי. מעבר לצרוך בהקמתם של מוסדות, הדגיש הרצל על הצורך ב-
          <strong>צ'ארטר</strong>, אישור בין-לאומי להתיישבות היהודית. כמו ספרו של פינסקר לפניו, גם ספר זה עורר פולמוס. הסופר היהודי
          &ndash; אוסטרי סטפן צוויג תיאר את ההתנגדות לספר בווינה:
          <br /> "עדיין למדתי בגימנסיה שיצאה לאור חוברת דקה זו...וזוכר [אני] את התדהמה והרוגז של חוגי הבורגנות היהודיות בווינה.
          מה עלה על דעתו של סופר תרבותי, אינטליגנטי ועל הומור זה? שאלו בפנים זועפות, על אלו שטויות שהמציא הוא כותב? מדוע
          עלינו ללכת לארץ-ישראל? לשוננו גרמנית היא ולא עברית, ומולדתנו היא אוסטריה"
          <br /> כך או כך, לכול היה ברור כי בנימין זאב הרצל הולך ומתעצב כמנהיגה של תנועת המונים חדשה. מיד לאחר פרסום הספר הוא החל
          בסבב קדחתני של פגישות במטרה להביא
          <strong>לקניית זכות ההתיישבות בארץ-ישראל מהאימפריה העות'מאנית ששלטה בו והייתה נתונה באותה העת במשבר כלכלי חריף.</strong>
          למרות האהבה הציבורית הרחבה לרעיון בקרב המוני היהודים, בעלי ההון היהודיים לא התלהבו מהרעיון. גם הצלחתו בפגישות עם דיפלומטים
          זרים היית החלקית; ולבסוף, פגישותיו עם ראשי השלטון העות'מאני באיסטנבול נחלו כישלון מלא.
          <br /> הרצל חזר לאירופה מאוכזב, אך עד מהרה החל בהכנות למפעלו הבא,
          <strong>הקונגרס הציוני הראשון</strong>, שנועד לכנס את תומכי הרעיון הציוני מרחבי העולם. הקונגרס כונס בסופו של דבר ב-1897
          בבאזל. במהלכו נוצר שיח יוצא-דופן בין יהודים שומרי מסורת למי שעזבו את הדת ובין יהודים מחלקים שונים של העולם היהודי.
          מבחינה ארגונית נוסדו המוסדות המרכזיים שעל-בסיסם תפעל התנועה הציונית הלכה והתרחבה (בעיקר במזרח אירופה) והרצל הוסיף
          להתרוצץ ולהיפגש עם מנהיגים שונים בעולם. במסגרת זו ביקר בארץ ישראל, הצליח להשיג את תמיכתו של קיסר גרמניה ואף הצליח
          להתקבל לריאיון אצל הסולטן העות'מאני. אך מכל אלו לא יצא בסופו של דבר והרצל חזר לנקודת הפתיחה: היה בידיו רעיון גדול
          אך לא היו בידיו הכלים לממשו.
          <br /> ב-1902 פרסם הרצל ספר נוסף:
          <strong>&nbsp;אלטנוילנד </strong>(ארץ ישנה-חדשה), הפעם היה הספר רומן אוטופי שתיאר את החיים במדינה היהודית שעתידה לקום בארץ
          ישראל. הרצל מצייר את המדינה הזו כ
          <strong>חברת מופת</strong>, חברה המושתתת אל עקרונות הצדק, הדאגה לחלש, הסובלנות והשלום. את הספר סיים הרצל בפסקה הבאה:
        </p>
        <blockquote>
          <br /> "אם תרצו אין זו אגדה, אבל אם לא תרצו, כל מה שסיפרתי לכם הוא אגדה &ndash; ויישאר אגדה... החלום אינו שונה בהרבה
          מן המעשה, כמו שחושבים רבים. כל מעשיהם של בני האדם היו פעם חלומות; כל מעשיהם יהיו ביום מן הימים לחלום."
        </blockquote>
        <p class="book--text-style">
          <br /> גם ספרו השני של הרצל לא הוביל לפריצת דרך מדינית ועל רקע כישלון זה, החלה
          <strong>פרשת אוגנדה</strong>. באפריל 1903 הציעו הבריטים להרצל להחכיר לתנועה הציונית שטח גדול ופורה במזרח אפריקה (כיום על
          גבול קניה-אוגנדה) וליצור מושבה יהודית בשטח זה. הרצל נטה לקבל את ההצעה, בעיקר בשל העובדה שהגיעה על רקע הפוגרומים
          המתרבים ברוסיה והביא את הנושא להצבעה בקונגרס. ההצעה עוררה סערה כשאל מול הרצל התייצבה אופוזיציה חזקה בראשות יחיאל
          צ'לנוב. לבסוף, כפשרת ביניים, הוחלט לשגר לאוגנדה משלחת בדיקה וכשנה לאחר מכן ירדה ההצעה סופית מן הפרק.
          <br /> הוויכוח היה כה עז עד שבמהלך הקונגרס נראה היה כי התנועה הציונית הולכת להתפלג. הרצל יצא מפרשת אוגנדה מוכה וחבול,
          ונפער קרע בינו לבין מנהיגים ציוניים רבים אחרים. מצבו הבריאותי הלך והתדרדר עד שביולי 1904, הלך לעולמו והוא בן 44
          בלבד. את לווייתו העצובה תיאר סטפן צוויג:
        </p>
        <blockquote>
          <br /> "פתאום הגיע לוויינה, לכל תחנות הרכבות, ביום ובלילה יהודים מכל הארצות... מעולם לא הורגש ברור יותר, מה שלא הורגש
          קודם לכן בגלל המאבקים והדיבורים, כי כאן מלווים למנוחתו מנהיג של תנועה גדולה... פתאום הבחינה וינה כי מת לא רק סופר
          או משורר בינוני, אלא מעצב רעיונות, הקם ומנצח בארץ אחת, בעם אחד, במרווחי זמן ארוכים מאוד."</blockquote>
      </div>

    </ion-content>
  </div>
