<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          3.17 זרמים ורעיונות בתנועה הציונית
        </h3>
        <p class="book--text-style">
          לאחר מות של הרצל רבים חשו כי התנועה הציונית נותרה יתומה ועל רקע העבר ההנהגה צפו ועלו חילוקי הדעות. המחלוקת המרכזית הייתה
          בין הדוגלים ב
          <strong>ציונות המדינית</strong> לבין הדוגלים ב
          <strong>ציונות המעשית</strong>. כאמור, הרצל, שהיה אבי הציונות המדינית, האמין כי התנועה הציונית צריכה להשיג צ'ארטר שיאפשר
          התיישבות רחבה וגדולה בארץ ישראל. הוא הדגיש את העובדה שהעליות לארץ (הראשונה והשנייה) היו חסרות מעמד חוקי, כינה את
          העולים "מסתננים" וסבר שעלו לארת כ-"גנבים בלילה".
          <br /> כנגד עמדתו עמדו הציונים המעשיים שטענו כי למפעל יישוב הארץ ולעלייה אליה, יש ערך גם אם היא לא מלווה בהסכמה בין-לאומית.
          הציונים המעשיים הגבירו את כוחם ככל שהתברר שפעילותו המדינית של הרצל לא נושאת תוצאות והם התחזקו עוד יותר לאחר מותו.
          <br /> כפשרה בין הגישות עמדה ה
          <strong>ציונות הסינתטית</strong> שביקשה לשלב (ליצור סינתזה) בין הציונות המדינית והציונות המעשית וסברה כי על התנועה הציונית
          לפעול לשיפור מצבם של היהודים במזרח אירופה. בראש הזרם עמד חיים ויצמן, לימים נשיאה הראשון של ישראל, אשר סבר כי:
          <br /> "את היחס בין העבודה המדינית לעבודה המעשית בארץ-ישראל אני רואה כמו היחס בין חופרי מנהרה, המתחילים את עבודת החפירה
          משני עברי ההר עד אשר הם נפגשים... אנו רוצים... סינתזה ישירה ואמתית של שני הכיוונים בציונות"
          <br /> זרם נוסף בתנועה הציונית היה
          <strong>הציונות הרוחנית</strong> בראשו עמד
          <strong>אחד-העם</strong> (אשר צבי גרינברג, 1856-1927). אחד העם היה פעיל ציוני ותיק שהחל את פעילותו עוד בימי "חיבת ציון".
          לטענתו ארץ- ישראל אינה מסוגלת לקלוט עלייה המונית וכי היהודים אינם "מתאימים" עדיין לעלייה ולעבודת האדמה. בארץ ישראל
          הוא ראה "מרכז רוחני" ולא "ארץ מקלט", הוא האמין שצריכה לקום בה מדינה יהודית שתשמר ותפתח את התרבות היהודית וסירב
          לראות בה מקום מפלט מפרעות ומאנטישמיות. לאור זאת הוא סבר כי יש להתמקד ב"הכשרת הלבבות",&nbsp; קרי הכשרה רוחנית של
          היהודים לעלייה לארץ.
          <br /> עוד זרם בולט בתנועה הציונית הוא ה
          <strong>ציונית הדתית</strong>. דתיים ושומרי מסורת לקחו מאז ומתמיד חלק חשוב בפיתוחו ויישומו של הרעיון הציוני. אתגר הניהול
          של התנועה, על-אף המחלוקות וההבדלים בתפיסות העולם, היה אתגר לא פשוט החל בתקופת "חיבת ציון", דרך הקונגרסים הציוניים
          שניהל הרצל והמשך בתקופה שלאחר מכן. עוד ב-1893 הקים הרב מוהליבר, אחד ממנהיגי תנועות "חיבת ציון", את תנועת "המזרחי"
          שביקשה להפיץ את רעיונות הציונות בקרב האוכלוסייה הדתית. בשנת 1902 החליטו הצירים הדתיים בקונגרסים הציוניים להתאגד
          בסיעה בעלת שם זהה, והיא פעילה עד ימינו. מטרותיה של
          <strong>תנועת המזרחי</strong> היו לשמור על צביונה הדתי של הציונות, למנוע התערבותה של התנועה בענייני, חינוך, תרבות ודת ולחזק
          את יעדיו המדיניים של הרצל. בראש "המזרחי" עמד הרב יצחק יעקב ריינס, מגדולי הרבנים בליטא.
          <br /> זרם נוסף שזכה בהדרגה לפופולאריות הולכת וגוברת, בעיקר בתוך תחומיה של ארץ-ישראל, הוא הציונות הסוציאליסטית שביקשה
          לשלב בין הרעיון הציוני של הקמת בית לאומי לעם היהודי לעקרונות הסוציאליזם המבקש ליצור שוויון בין כל בני האדם ולטפל
          בפערים מעמדיים. אחד מראשוני הציונות הסוציאליסטית היה נחמן סירקין (1924-1868) שפרסם בשנת 1898 חיבור בשם "שאלת היהודים
          ומדינת היהודים הסוציאליסטית" בו טען כי:
        </p>
        <blockquote>
          "גלגלי המגינה היהודית לא יונעו מבלעדי זרועותיו האמיצות של הפועל היהודי... הציונות סופה שתתמזג בהכרח עם הסוציאליזם. מדינת
          היהודים תהיה סוציאליסטית בהכרח"
        </blockquote>
        <p class="book--text-style">
          הציונות הסוציאליסטית הצליחה במיוחד במזרח אירופה ורבים מעולי העלייה השנייה והעלייה השלישית נשבו ברעיונותיה. הדוגלים בציונות
          סוציאליסטית התאגדו באגודות "פועלי ציון" שהפכה בהדרגה למפלגה.</p>
      </div>

    </ion-content>
  </div>
