<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          3.18 סיכום
        </h3>
        <p class="book--text-style">
          בשער זה תיארנו בקצרה כמה פרקים מסיפורו ההיסטורי של העם היהודי מראשיתו בימי התנ"ך ועד לעת החדשה. למדנו כי החל מימי הבית הראשון
          התפצל העם היהודי וקיים מרכזים מקבילים במקומות שונים בעולם: בבל, צפון אפריקה, ספרד, אשכנז ופולין; אולם הזיקה לארץ
          ישראל והכמיהה לשוב איה המשיכו ופיעמו מאחורי האירועים.
          <br /> הסיפור ההיסטורי העשיר והרב-פנים שמלווה אותנו הוא מקור השראה ממנו ניתן ללמוד רבות על מציאות ימינו. אולם בה-בעת
          הוא גם מדגיש את גודל המהפכה שבהקמת המדינה. בשנת 1990 פרסם העיתונאי צבי כסה בעיתון "הארץ" טור המתאר שיחה דמיונית
          בין ישראלי בן-זמנו לבין אחד מאבות אבותיו:
        </p>
        <blockquote>
          "אז הלכתי לעלות בסיאנס את אחד מאבותיי מהעיירה הקטנה בדרום אסיה, ואמרתי לו: סבא, אומרים שהזהות היהודית שלי לא ברורה, עזור
          לי להבהיר אותה. שאל אותי סבא: צאצאי היקר, מה אתה עושה? אמרתי לו: הקמתי מדינה. אמר לי: יש דבר כזה, מדינת היהודים?
          אמרתי לו: כן. אמר לי: לא ייתכן! מה עוד אתה עושה? אמרתי לו: כדי שתהיה לנו מדינה צריך להגן עליה. הקמתי צבא... טכנולוגיה
          וחקלאות ומדע ותחבורה ומדיניות ותקשורת וטלוויזיה וחלל ומשפחה שוות מעמד לאיש ולאישה וכו'. אמר לי: בני, אני לא יכול
          לעזור לך. באמתחת הזהות שלי אין חומרים כאלה. תגדיר את עצמך בעצמך".
        </blockquote>
        <p class="book--text-style">
          שינויים אלו וההתמודדות עמם הם אתגר הניצב לפנינו בימים אלו.</p>
      </div>

    </ion-content>
  </div>
