<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/menu-button.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.19 נספח: תפוצות ישראל
      </h3>
      <p class="book--text-style">
        כפי שראינו תולדותיו של העם היהודי החל מחורבן בית ראשון הם למעשה תולדותיהם של מספר מרכזים יהודיים ברחבי העולם שקיימו קשרים
        מורכבים האחד עם השני. במשך אלפי שנים של חיים בגולה הצליח העם היהודי לשמור על קיומו ואחדותו וכמאמרה של מגילת העצמאות
        לא חדל מלחלום לקוות לשוב אל מולדתו ההיסטורית בארץ-ישראל. לצד הסקירה הרחבה אותה ביצענו לעיל ביחס לעם היהודי כולו נבקש
        בנספח הבא לעקוב אחר התהוותם וסיפורם של ארבעה מרכזים יהודיים חשובים: מזרח אירופה וברית המועצות; מערב אירופה וצפון
        אמריקה; ארצות האסלאם; ואתיופיה. בחרנו דווקא במרכזים אלו מאחר ומרבית העולים לישראל הגיעו מאחת מן התפוצות הללו וחלקן
        עודן מהוות תפוצות חשובות מבחינתו של העם היהודי. היכרות עם הרקע ההיסטורי והתרבותי של התפוצות השונות מהווה חלק מסיפורו
        ההיסטורי של העם היהודי ומשלים מבחינות רבות את התמונה אותה התחלנו לצייר לעיל.</p>
      <h3 class="book--topiccontent-title">
        3.19.1 יהדות מזרח אירופה וברית המעוצות
      </h3>
      <p class="book--text-style">
        הקיבוץ היהודי במזרח אירופה היה עד לשואה הקיבוץ היהודי הגדול בעולם. ראשיתו בהתיישבות קטנה ומפוזרת בימי הביניים המוקדמים והחל
        מהמאה השלוש-עשרה הוא גדל והתרחב. כאמור, התרחבות זו הייתה קשורה בטבורה לממלכת פולין-ליטא, שחלשה על שטחים נרחבים בהרבה
        משטחן הריבוני של מדינות אלו כיום. היהודים הוזמנו להגר לממלכה על-ידי השלטונות ונהנו מכתבי זכויות ("קיומים") שאפשרו
        לקהילה אוטונומיה נרחבת (למשל באמצעות ועד ארבע ארצות בו דנו לעיל). תהליך ההגירה וההתיישבות בפולין תואר באופן ציורי
        על-ידי ש"י עגנון:
        <br /> "ראו ישראל, שהצרות מתחדשות ובאות הרדיפות נמשכות והולכות... עמדו על דרכים וראו, ושאלו לנתיבות עולם: אי זו דרך הטוב
        ילכו בה ומצאו מרגוע לנפשם. נפל פתק מן השמיים: לכו לפולניה! ויבואו ארצה לפולין ויתנו למלך הר זהב... ויתן להם המלך
        לשבת בכל ארצות ממלכתו, לסחור את הארץ לאורכה ולרוחבה ולעבוד את ה' כמשפט דרכם, והמלך מגן בעדם מכל צר ואוייב. וישכון
        ישראל בטח בפולין ימים רבים. וישלחו ידיהם במסחר ובכל מלאכת עבודה... כי על כן קרא שמה פולין כי כה אמר ישראל בבואו אל
        הארץ: פה-לין! לאמור פה נלין עד שנזכה לעלות לארץ-ישראל"
        <br /> במהלך המאה השמונה-עשרה והתשע-עשרה, נעלמה פולין באופן הדרגתי מעל מפת אירופה ויהודי פולין מצאו את עצמם כעת כנתינים
        של רוסיה, אוסטריה ופרוסיה. בהדרגה צמצמו המדינות הכובשות את האוטונומיה של הקהילה היהודית ופגעו במשק הפיאודלי שפרנסתם
        של יהודים רבים הייתה תלויה בו. מרביתם של יהודי פולין נכללו בשטח הכיבוש הרוסי, בו חיו בראשית המאה העשרים כ-40% מיהודי
        העולם. הצארים הגבילו את שטחי המחיה של היהודים ואילצו אותם להצטופף ב-
        <strong>תחום המושב</strong> שכלל את אזור ההתיישבות המסורתי שלהם. הגידול הדמוגרפי של האוכלוסייה היהודית והקושי להתפרנס בכבוד
        בשל שינוי השיטה הכלכלית הוביל להיווצרותו של עוני חריף. במקביל, המדינה שאפה לצמצם בכפייה את ההתבדלות היהודית: פגעה
        במערכת החינוך המסורתית שהעמידה במרכזה את לימוד התורה, ניסתה לצמצם את השימוש בשפות היהודיות (עברית ויידיש) ושאפה "לתקן"
        את היהודים באמצעות
        <strong>גיוסם הכפוי לצבא</strong>. צעד אחרון זה, הפך לסמל בולט של הדיכוי הרוסי: השירות הצבאי החל בגיל צעיר מאוד, נמשך לאורך
        עשרים וחמש שנים ובדרך כלל התנהל הרחק מן הקהילה היהודית. מבחינה פורמלית אומנם הובטח ליהודים חופש דתי בצבא, אך בפועל
        הוא לא נשמר ונעשו פעולות רבות על-מנת להרחיקם מן היהדות.
        <br /> האנטישמיות שבאה לידי ביטוי בצעדי הממשלה, לבשה עד מהרה גם דפוסים עממים וממוסדים למחצה. לאורך סוף המאה התשע-עשרה וראשית
        המאה העשרים, סבלו היהודים מכמה גלים של פוגרומים, הידועים שהם הם "סופות בנגב" (1881-1882) ופרעות קישינב (1903). פרעות
        אנטישמיות אלו "הכינו את הקרקע" מבחינות רבות לקראת הטבח ההמוני שבוצע ביהדות מזרח אירופה על-ידי הגרמנים במהלך תקופת
        השואה וקהילות רבות בתחום המושב נמחו בו לחלוטין.
        <br /> בשנת 1917 הודח השליט האחרון של האימפריה הצארית, ובסיומה של מהפכה פוליטית, הוקמה, בשנת 1922, ברית המועצות כמדינה
        קומוניסטית. כחלק מעקרונות היסוד של הקומוניזם, התנגדה ברית המועצות לכל דת, ועל רקע זה בוטלו הקהילות היהודיות והוטל
        איסור קיומן הפומבי של חלק ממצוות היהדות. יהודים שביקשו לדבוק בדתם, הועמדו בפני איום בהגליה, במעצר וברדיפה.
        <br /> על אף שברית המועצות הצהירה על התנגדותה לאנטישמיות, הרי שבפועל סבלו היהודים גם מרדיפה שהייתה אנטישמית במהותה. אחד
        הביטויים המובהקים לרדיפה זו היו
        <strong>משפטי פראג</strong> (1952), במהלכם הואשמו ארבעה-עשר אנשי ציבור (מהם אחד-עשר יהודים) בריגול לטובת ישראל וארצות הברית,
        ורובם הוצאו להורג. הרדיפה הופנתה בהדרגה לא רק כלפי הדת היהודית אלא גם כלפי הציונות. על יהודי ברית המועצות נאסר לעלות
        לארץ, ומי שעסק בפעילות ציונית, סבל מרדיפה ונאסר פעמים רבות לתקופות ממושכות, אסירים אלו כונו
        <strong>אסירי ציון</strong>.
        <br /> בברית המועצות התקיים אחד מהריכוזים היהודיים הגדולים בעולם, אך עם התמוטטותה של המדינה, רבים מן היהודים שחיו בה, בחרו
        להגר ממנה לארצות הברית או לעלות לארץ</p>
      <h3 class="book--topiccontent-title">
        3.19.2 יהדות ארצות האסלאם
      </h3>
      <p class="book--text-style">
        קיבוץ יהודי חשוב נוסף התקיים בארצות האסלאם. כפי שראינו, יהודים חיו באזורים אלו החל מימי הבית הראשון, אך עליית האסלאם, החל
        מן המאה השביעית לספירה, הביאה לשינוי ניכר באופיו של האזור ומתוך כך גם באופייה של הקהילה היהודית שהתקיימה בו. מבחינה
        משפטית הוגדרו היהודים כ
        <strong>אהל אל-ד'מה</strong> (בני חסות) והיו זכאים להגנת השלטונות. אולם חויבו במס גולגולת מיוחד (ג'זיה) ואלצו להכיר בנחיתותם
        ביחס לאסלאם. עיקרון אחרון זה בא לידי ביטוי
        <strong>בחוקי עומר</strong> המיוחסים לח'ליף המוסלמי עומר השני וכוללים איסור על הפגנת הדת ברבים, גיור או התנצרות, בניית מבני
        דת (בתי כנסת או כנסיות) חדשים, נשיאת חרב, רכיבה על סוס ועוד.
        <br /> מבחינה הסטורית, לא תמיד הייתה ההקפדה על "חוקי עומר" עקבית והיא הושפעה ממידת כוחו של השליט אל מול אנשי הדת, מהאינטרסים
        הכלכליים ומההשתדלות של היהודים או הנוצרים. למרות העובדה שמעמדם של היהודים בארצות האסלאם היה נחות ממעמדם של שכניהם
        הלא יהודים, מדגישים רבים מן ההיסטוריונים כי מצבם היה טוב מזה של יהודי אירופה, דבר שהביא רבים מיהודי ספרד להגר אליו
        לאחר הגירוש.
        <br /> עד לעת החדשה היו הרדיפות הדתיות של היהודים במזרח התיכון מוגבלות במשכן ובתפוצתן הגאוגרפית. דיפה דתית קשה במיוחד נרשמה
        בשנים 1679-1678 בתימן, אז אולצו יהודי המדינה להתאסלם או לעזוב את בתיהם; מרבית היהודים בחרו לעזוב את תימן רק בשנת
        1681. דוגמה נוספת לרדיפה דתית נרשמה בעיר משהד, באירן, בשנת 1839, שם אולצו יהודי העיר להמיר את דתם אך רבים מהם בחרו
        לחיות כאנוסים.
        <br /> באימפריה העות'מאנית ששלטה על מרבית המרחב המוסלמי באותה העת, חיו היהודים במסגרת
        <strong>מילת</strong>: קהילה יהודית אוטונומית שניהלה את חיי היהודים באופן עצמאי וקיימה בתי משפט, שחיטה, מוסדות חינוך ועוד.
        רבים מן היהודים הצליחו להתשלב בתפקידים מרכזיים במנהל ובמערכת הכלכלית של מדינותיהן. יהודים אחרים, בעיקר מקרב אלו שהגיעו
        לאזור לאחר גירוש ספרד, יצרו רשתות סחר בין-לאומיות חשובות ותפסו מקום מרכזי במערכת הכלכלית המקומית. על תפקידם של היהודים
        בסביבה המוסלמית, אפשר ללמוד מעדותו של מרדכי עמנואל נוח, יהודי ששימש בראשית המאה התשע-עשרה כקונסול של ארצות הברית
        בתוניס: "...[בצפון אפריקה] חיים כ-700,000 יהודים. למרות שהמוסלמים רואים אותם כנחותים, בכל זאת הם האנשים החשובים בארצות
        אלה, כי הם האומנים, ראשי המכס, חוכרי הכנסות של האוצר, בעלי זכיון לקניית סחורות, מפקחים על מטבעות הם הגיזברים..."
        <br /> תהליכי האמנציפציה שהתרחשו באירופה, הגיעו בסופה של המאה התשע-עשרה ובראשית המאה העשרים גם אל ארצות האסלאם, בעיקר באמצעותו
        של הכיבוש האירופי. נוכח זאת החל מצבם של היהודים להשתנות. בשנת 1839 פרסם הסולטן עבד אל מג'יד (1861-1839) את "הצו הנאצל
        של ארמון הוורדים" (ח'טי- שריף של גולחנה( בו הובטחו בפעם הראשונה שוויון זכויות והגנה למיעוטים. צו זה אמנם לא יושם
        באופן מלא, אך היה בו כדי לסמן את הכיוון אליו מתקדמת האימפריה ואת שאיפותיה. ב-1856 פורסם "הצו המלכותי" (ח'טי- המואיון)
        בו אושררו והודגשו שוויון הזכויות והחופש הדתי באימפריה. עקרונות מערביים הללו הוחלו על כלל שטחי האימפריה העות'מאנית,
        ועקורונות מערביים מתקדמים אף יותר, הוחלו על מדינות מוסלמיות שנמצאו באותה העת תחת השפעה או שלטון קולוניאלי ישיר. אך
        כמו באירופה, המצב החדש העמיד את יהודי ארצות האסלאם בפני קשיים ודילמות משמעותיים באשר להמשך קיום היהודי אל מול השינויים.
        עם התהוותו של הסכסוך היהודי ערבי, בחלקה הראשון של המאה העשרים, נתפסו לא פעם יהודי ארצות האסלאם כנציגיו של היישוב
        היהודי בארץ והם החלו לסבול מאפליה, רדיפה ולעתים אף אלימות בעלי רקע אנטישמי, לאומי או דתי. כך לדוגמה, הואשמו יהודי
        דמשק בשנת 1840 ברצח פולחני של נזיר נוצרי ומשרתו המוסלמי בעלילת דם שכונתה לימים
        <strong>עלילת דמשק</strong>. באשית יוני 1941 נרצחו למעלה ממאה ושבעים יהודים בבגדד בפרעות המכונות "
        <strong>הפרהוד</strong>" ומאחוריהן עמדה הסתה אנטישמית מבית מדרשה של גרמניה הנאצית. רדיפות אלו הגיעו לשיאן עם הקמתה של מדינת
        ישראל והן אילצו את יהודי ארצות האסלאם לעזוב את ארצות מולדתם בחופזה, פעמים רבות תוך השארתם של נכסים רבים מאחור.</p>
      <h3 class="book--topiccontent-title">
        3.19.3 יהדות מערב אירופה וצפון אמריקה
      </h3>
      <p class="book--text-style">
        ההתיישבות היהודית במערב ומרכז אירופה החלה בסוף האלף הראשון והתקיימה בצלפ של פרעות, גזירות, עלילות דם וגירושים. אחד האירועים
        המרכזיים שהשפיעו על כיבוש יהודי זה היו
        <strong>מסעות הצלב</strong>, סדרת מסעות שיזמו האפיפיורים הנוצרים בין המאה האחת-עשרה למאה השלוש-עשרה. המסעות לוו בלהט דתי
        ובמרכזם עמד ניסיון לחדש את השליטה הנוצרית על טריטוריות שהיו בידיים אחרות, ובראשן על ארץ-ישראל. עבור היהודים&nbsp;
        היו מסעי הצלב בבחינת אסון: הצלבנים, עברו דרך קהילות יהודיות ורצחו באכזריות אלפים מחבריהם. בעת מסע הצלב הראשון (1905)
        התרחשו פרעות קשות ביותר שפגעו בקהילות מרכז גרמניה (בעיקר בקהילות שו"ם: שפיירא, ורמייזא ומגנצא) והן כונו
        <strong>גזרות תתנ"ו</strong>. העדויות ההיסטוריות מתקופה זו מדגישות את נכונותם של היהודים למות על קידוש ה' ואת סירובם להתנצר.
        <br /> בנוסף התמודדו יהודי האזור עם
        <strong>עלילות דם</strong>, כינוי המתייחס אל סיפור שקרי בעל מאפיינים אנטישמיים, במרכזו הטענה כי היהודים משתמשים בדם נוצרי
        לשם אפיית מצות הפסח. בימי הביניים התרחשו מספר עלילות דם מפורסמות שתוצאותיהן היו הרות אסון מבחינת היהודים, בין השאר
        בנוריץ' שבאנגליה (1149), בבלואה שבצרפת (1171), בפולדה שבגרמניה (1235), ובטרנטון שבאיטליה (1475). היהודים הואשמו גם
        באחריות ל-"מוות השחור", מגפה קשה שהכתה באסיה ובאירופה בין השנים 1351-1347 ובמהלכה מתו מיליוני בי-אדם. לנוכח כל אלו
        גורשו היהודים מספר פעמים ממקום מושבם ועל כן, במאה השלוש-עשרה, משהתאפשר להם, בחרו רוב היהודים שחיו באזור להגר מזרחה
        אל עבר פולין.
        <br /> ראשיתה של תקופת הנאורות ("ההשכלה") וירידת כוחה של הנצרות לאחר ימי הביניים, שיפר את מעמדם של מערב אירופה ומרכזה.
        עם המהפכה הצרפתית (1789), החלון באופן הדרגתי מדינו אירופה להעניק ליהודים שוויון זכויות ("אמנציפציה"). עובדה זו, כפי
        שציינו, השפיעה באופן עמור על כיוון ההתפתחות ההיסטורי של העם היהודי; אך משמעותה הייתה גם פגיעה קשה בסמכויות הקהילה
        היהודית והנעה של תהליכי התבוללות וחילון.
        <br /> השתלבותם של היהודים באוכלוסייה הכוללת לא התרחשה ביום אחד, מדובר היה בתהליך ארוך, אך לאורך השנים, יותר ויותר יהודים
        שהתגוררו באזור. &nbsp;תפסו מקום משמעותי בחברה, בכלכלה ובתרבות. יהדות מערב אירופה ומרכזה נפגעה קשות במהלך תקופת השואה.
        כיום קיימות קהילות יהודיות גדולות בצרפת, בגרמניה, ובבריטניה; אך המרכזים היהודיים הגדולים במערב היבשת חרבו ברובם.
        <br /> לצד הקהילה היהודית במערב אירופה, החלה להתהוות בהדרגה קהילה יהודית גם בצפון אמריקה. ראשיתו של היישוב היהודי בחלק
        זה של העולם, בקבוצה של עשרים ושלושה יהודים פורטוגזים שהגיעו למושבה ניו-אמסטרדם (לימים ניו-יורק), בשנת 1654. במרוצת
        המאה השבע-עשרה והשמונה-עשרה הגיעו לאזור יהודים נוספים ממוצא ספרדי שהחלו לנדוד בעולם עם גירוש ספרד וכן כמה יהודים
        אשכנזים שהפכו בהדרגה לרוב בקהילה. מספר זה גדל לאין שיעור במהלך המאה התשע-עשרה, בסיומה מנתה יהדות ארצות הברית כבר
        כשני מיליון נפש. נהוג לחלק את ההגירה הגדולה למדינה לשני "גלים": הגל הראשון (1880-1820), שהורכב בעיקר מיהודים יוצאי
        גרמניה ומרכז אירופה; והגל השני (1914-1881), שהורכב בעיקר מיהודים יוצאי רוסיה ומזרח אירופה. לאחר השואה וגירוש יהודי
        ארצות האסלאם גדלה הקהילה היהודית באזור אף יותר.
        <br />
        <strong>המאפיינים הייחודיים בארצות הברית ובייחוד הפרדת הדת מן המדינה, אפשרו למהגרים היהודיים להשתלב באופן עמוק בחברה האמריקאית</strong>,
        להקים מוסדות קהילה חזקים ורחבים ולפתח את ההגות והמחשבה היהודית. בארצות הברית התפתחו הזרמים הדתיים החדשים: התנועה
        הרפורמית שראשיתה בגרמניה, ובמרכזה התביעה לבצע ביהדות רפורמות על-מנת להתאימה לרוח התקופה; התנועה הקונסרבטיבית שדגלה
        גם היא בשינויים מסוימים ביהדות אך שימרה את מחויבותה להלכה; וכך בהמשך, התנועה הרקונסטרוקציוניסטית שהתייחסה אל היהדות
        כתרבות.
        <br /> בהדרגה הפך המרכז היהודי בארצות הברית למרכז היהודי החשוב בעולם והוא התחזק עוד יותר עם הגירתם של יהודים אליו לאחר
        השואה.
        <strong>כיום מתקיימת בארצות הברית הקהילה היהודית השנייה בגודלה בעולם לאחר מדינת ישראל</strong>.</p>

      <h3 class="book--topiccontent-title">
        3.19.4 יהודי אתיופיה
      </h3>
      <p class="book--text-style">
        ראשיתו של היישוב היהודי באתיופיה היא ככל הנראה בעת העתיקה ויש המקדימים אותה כבר לימי בית ראשון. העדויות לגבי תקופה זו מועטות
        והמסורות במחקר סותרות זו את זו. היהודים נזכרים בהיסטוריה של אתיופיה כ
        <strong>פלאשים</strong>, כינוי שמשמעותו "פולש". הם לעומת זאת מכנים את עצמם בכינוי: "
        <strong>ביתא ישראל</strong>" המעיד על השייכות הדתית-אתנית שלהם אל העם היהודי. היהודים התרכזו בעיקר בצפון-המערבי של אתיופיה
        סמוך לגבול האריתראי, חלקם דיברו אמהרית וחלקם תיגרית. על-פי רוב הם חיו בכפרים עצמאיים בהם התגוררו רק יהודים ועסקו
        בחקלאות. זהותם נשמרה במשך דורות רבים והתפתחה במנותק משאר העולם היהודי, אך תוך מגע רצוף עם התרבות והחברה הסובבים.
        ספר התורה של יהודי אתיופיה מכונה "
        <strong>אורית</strong>" והוא כתוב בשפת הגעז המקודשת להפ; הם לא נהגו לחגוג את חנוכה ופורים שהם חגים שנקבעו על-ידי חז"ל; ועד
        למאה התשע-עשרה לא הכירו ולא קיימו קשר עם קיבוצים יהודיים אחרים. העדויות הברורות הראשונות על קיומה של קבילה יהודית
        באתיופיה , מתארכות למאה השלוש-עשרה או הארבע-עשרה. "ביתא ישראל" מתוארת כקהילה שקיימה עצמאות ריבונית וביקשה לשמור עליה
        מפני הקיסרים הנוצרים. בקרב בני העדה מכונה הישות הריבונית אותה קיימו באותה העת,
        <strong>ממלכת הגדעונים</strong>. הקיסר הנוצרי יסחאק שהשתייך לשושלת הסולומונית, יצא נגדם למלחמה והוא זה שביטל את עצמאותם.
        <br /> &nbsp;על-פי מקורות מסוימים יסחאק לחץ על בני העדה להתנצר, ואיים כי זכויותיו של מי שלא יעשה כן, ייפגעו. היחלשותה של
        השושלת הסולומונית במהלך המאה השמונה-עשרה (שכונתה "תקופת השופטים האתיופית"), הרעה את מצבה של הקהילה שהייתה נתונה כעת
        לחסדיהם של שליטים מקומיים. באמצע המאה התשעה-עשרה הייתה עדיין "ביתא ישראל" קהילה גדולה שמנתה כמה עשרות אלפים יהודים,
        אך בהמשך המאה היא קטנה הלך והורע מצבה. ההתעניינות האירופאית באפריקה הביאה לאתיופיה מיסיונרים וחלקם פעלו בקרב הקהילה
        בהצלחה מצומצמת. במקביל, גם יהודי אירופה החלו לגלות בקהילה היהודית באתיופיה עניין; כפי שניתן ללמוד למשל ממכתב ששלח
        יוסף הלוי, מזרחן וארכאלוג שיצא למסע באזור בשליחות "כל ישראל חברים":
        <br />
        <em>"מפי כתבי העתים נודע לי כי יש את נפשם מאוד לשלוח איש נבון ונאמן אל אחינו בני ישראל האובדים בארץ כוש וסינים, לדרוש
          שלומם, לחקור מעשיהם ומנהגיהם ולקשר קשר אמיץ אל אחינו בני המערב... החדשות המעציבות אשר באו מקרוב מארץ כוש על שפל
          מצב אחינו שמה, והרעה הנוראה הנשקפה להם מאת צדי נפש אדם... להדיח ישראל מדת אבותם... העירו כשלהבת-יה את רחמי בני
          עמנו על אחינו האומללים ההם וקול אנחה מרה נשמע מכל אפסי ארץ לאמור: קומו ונקומה לישע אחינו!"
          <br /> </em>הלוי הגיע לאתיופיה והיה היהודי הראשון שנפגש עם הקהילה. בשנים הבאות, בימיו של הקיסר יוהנס הרביעי המכונים על-ידי
        בני הקהילה "
        <strong>הימים הרעים</strong>", הפך האזור בו חיו לשדה קרב בין צבאות אתיופיה, מצרים, סודן ואיטליה והקהילה נפגעה שוב. על רקע
        זה המשיך ופעל במדינה תלמידיו של הלוי,
        <strong>יעקב פייטלוביץ'</strong> (1955-1881). מפעל חייו של פייטלוביץ' היה הניסיון לגשר בין ביתא ישראל לבין הקהילות היהודיות
        האחרות בעולם. הוא פרסם את דבר קיומה של הקהילה, גייס למענה כספים, הקים ועדי פעולה, ובשנת 1923 הקים, לשם שימור תרבותה,
        גם בית ספר יהודי מודרני. כחלק מתהליך זה, ביקשו יהודי מערב אירופה להשפיע על יהודי אתיופיה לזנוח חלק ממנהגיהם הייחודיים
        ובהם הקרבת הקורבנות, מוסד הנזירות ועוד. לצדו של פייטלוביץ' פעל גם מנהיג יהודי מקומי בשם
        <strong>תמרת עמנואל</strong> (1963-1888), פרופסור ורב ששימש כמנהל מוסד להכשרת מורים יהודים.
        <br /> עם הקמתה של מדינת ישראל היא כוננה יחסים דיפלומטיים עם אתיופיה והם התחזקו מאוד בימיו של הקיסר היילה סלאסי, אך עניינם
        של יהודי המגינה כמעט ולא עלה על סדר היום. אולם ארגונים יהודיים שונים המשיכו לפעול במדינה והביאו לצמיחתה של שכבת מנהיגות
        יהודית חדשה שתבעה לעלות לישראל,
        <strong>יונה בוגלה</strong> (1987-1908), מחנך ואיש ציבור יהודי אתיופי היה ממנהיגיה המרכזיים. בשנת 1973 הוציא הרב הראשי הספרדי
        לישראל (הראשון לציון), הרב עובדיה יוסף, פסק הלכה שקבע כי בני העדה נמנים עם העם היהודי; כעבור כשנה הלך גם הרב הראשי
        האשכנזי לישראל, הרב שלמה גורן, בעקבותיו. עם הרעת מצב היהודים באתיופיה, הוכשרה הקרקע לעלייתה של הקהילה לישראל.

      </p>
    </div>

  </ion-content>
