<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-starttitle">פרק שלישי – תולדות עם ישראל</h1>
        <p class="book--text-style">
          "בארץ ישראל קם העם היהודי, בה עוצבה דמותו הרוחנית, הדתית והמדינית בה חי חיי קוממיות ממלכתית, בה יצר נכסי תרבות לאומיים וכלל-
          אנושיים והוריש לעולם את ספר הספרים הנצחי"
        </p>
        <h3 class="book--topiccontent-title">
          3.1 פתיחה: "עם שאינו יודע את עברו"
        </h3>
        <p class="book--text-style">
          מגילת העצמאות כוללת בחלקה הראשון נימוק ארוך, מפורט ומגוון של הגורמים שהביאו להקמתה של מדינה יהודית בארץ ישראל. פסקאות אלו
          מספרות את ההיסטוריה היהודית מנקודת מבטם של חותמי המגילה, הן מדגישות נקודות מסוימות ונמנעות מאזכורן של אחרות. עוד
          טרם חתימת המגילה וביתר שאת מפרספקטיבה של שבעה עשורים היו מי שביקרו את הבחירות האלו – מדוע לא מאוזכרים הישגיהם הרוחניים
          של היהודים בגולה? מדוע לא ניתן מקום ליהודי ארצות האיסלאם? מדוע לא מוזכרת במפורש דמותו של האל? ועוד.</br>
          שאלות אלו הן שאלות כבדות משקל הממחישות את העובדה שכל סיפור היסטורי כולל בתוכו באופן מובנה את זווית המבט של המספר. הפרק להלן
          מוקדש לסיפור תולדותיו של עם ישראל, סיפור מגוון, מורכב ורב-הסתעפויות הנפרס על פני אלפים שנה, חמש יבשות ומאות מסורות.
          להלן נסקור בקצרה כמה מן האירועים המרכזיים בתולדותיו של העם היהודי החל מהעת העתיקה. חשוב לציין שסקירה זו אינה מקיפה
          ואינה מדעית באופייה – היא מסמנת מספר אירועים ותקופות שנצרבו בזיכרון היהודי המשותף ומבקשת לתאר אותם בהתאם לאותו
          זיכרון ולמסורת.
          </br>
          יחסם של מייסדיה של מדינת ישראל אל העבר היהודי היה מורכב: מחד שאפה הציונות לשמר את התרבות היהודית בעידן מורכב של תמורות וצמיחה
          של תרבות לאומית חילונית; אך מאידך היא ביקשה לחולל מהפכה בחיי העם היהודי ולהשתית את הזהות היהודית על מרכיבים חדשים
          או מחודשים.</br>
          כפל הפנים הזה בא לידי ביטוי באין ספור מישורים: חיים נחמן ביאליק, כתב את "ספר האגדה" בו ביקש להנגיש את העבר היהודי לקורא המודרני*;
          ולעומתו שאול טשרניחובסקי בשירו, "לנוכח פסל אפולו", תיאר את מרידתו של היהודי המודרני בעבר**. האקדמיה לאומנות "בצלאל"
          שהוקמה בראשית המאה העשרים ביקשה לחדש את האמנות היהודית העתיקה, והעלתה על נס את האמן היהודי הראשון, בצלאל בן אורי,
          בעוד שכמה מיצירות האמנות שנוצרו בארץ, בהן לדוגמה הפסל "נמרוד" אותו יצר יצחק דנציגר, מבקשות להעלות על נס את המרידה
          במסורת ואת החיבור לסביבה הגאוגרפית.</br> כך או כך, ההיסטוריה, המורשת והמסורת היהודית העתיקה מוסיפה ושפיעה
          על מדינת ישראל גם כיום.</br> יגאל אלון סיטא את חשיבותה של המסורת באחד מן המשפטים המרכזיים המיוחסים לו: "עם שאינו
          יודע את עברו, ההווה שלו דל ועתידו לוט בערפל". על פיו, ההיכרות עם העבר היהודי היא תנאי הכרחי לקיומה ולשגשוגה של
          מדינת ישראל.


        </p>
      </div>

    </ion-content>
  </div>
