<ion-view view-title="home page">
    <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
      <div class="book--menu">
        <img src="img/menu-button.svg" class="book--menu-menubutton">
        <h1 class="book--menu-title">ספרים</h1>
        <img src="img/till-logo.svg" class="book--menu-logo">
      </div>
  
      <div class="book--chapters-titlecontainer">
        <h1 class="book--topiccontent-title">{{subject.name}}</h1>
      </div>
      <div class="book--text">
       
        <h3 class="book--topiccontent-title">
            3.2 תקופת התנ"ך – ראשיתו של העם היהודי 
        </h3>
        <p class="book--text-style">
            ההיסטוריונים, ארכיאולוגים, בלשנים והוגי דעות הציעו במהלך השנים תיאוריות שונות באשר סיפור הולדתו של העם היהודי, חלקן עומדות בקנה אחד עם הסיפור המקראי וחלקן לא. אולם עובדה ודאית היא כי מזה דורות רבים, מושפעים בני העם היהודי מסיפורי המקרא,
             בעיקר בשל הערך המוסרי והערכי הנגזר מהם. ההסבר המסורתי הנשען על פסוקי המקרא, מתאר את <b>אברהם אבינו כאביו של העם היהודי</b>
            . אברהם התחיל את חייו בארם- נהריים (מסופוטמיה, גבול עיראק טורקיה) ולאחר מסע נדודים הגיע לארץ ישראל.
             אברהם מתאר בספרות חז"ל כראשון המאמינים וכמי שיצא כנגד התרבות האלילית של בני זמנו.</br>
            ספר בראשית מתאר את המשך השושלת דרך יצחק, יעקב (הנקרא גם ישראל) ושנים-עשר ילדיו מהם התהוו </b>שנים-עשר שבטי</b> ישראל; בני השבטים ירדו למצרים והיו משועבדים שם שנים רבות. 
            ספר שמות ממשיך ומתאר את יציאתם של בני-ישראל ממצרים באותות ובמופתים, נדודיהם במשך ארבעים שנה במדבר בהובלתו של משה וקבלת התורה בהר סיני.</br>
            ערב הכניסה לארץ עבר מקל ההנהגה ל<b>יהושע בן נון</b> שקורותיו מתוארים בספר יהושע. בהנהגתו נכנסו שבטי ישראל לארץ וריכזו מאמץ אל מול מלכים וקבוצות שונות שביקשו להילחם בהם.
             עם שוך הקרבות התייבש כל אחד מן השבטים בנחלה שנבחרה עבורו, ומכאן ואילך, החל בהתמודדות ביטחונית מקומית.
             העדויות הארכיאולוגיות מן התקופה (תקופת הברזל) מלמדות על תנופה יישבית מסיבית במרחב בהשוואה לתקופות קודמות. אחד ממאפייני ההתנחלות הוא <b>בית ארבעת המרחבים</b> המכונה גם "הבית הישראלי",
              המבוסס על ארבעה חדרים המחולקים לפי שימושיהם (עבודה, בישול, שינה ואכילה).</br>
            אזורי ההתיישבות של השבטים השאירו את רישומם על חלק מן השמות והכינויים הגאוגרפיים המוכרים לנו כיום: החטיבות המרחביות של צה"ל באזור יהודה ושומרון (יהודה, אפרים, מנשה, בנימין), חלק משמותיהן של המועצות האזוריות ("מטה אשר", "מטה בנימין", "בני שמעון", "זבולון"), הכינוי "גוש דן" ביחס לאזור המרכז ועוד. לאחר מותו של יהושע לא הצליחה להתבסס הנהגה מרכזית חלופית ואת מקומו תפסו מנהיגים אזוריים שכונו <b>שופטים</b>. השופטים הצליחו לאחד כמה שבטים כלפי איומים כאלו או אחרים שנתגלעו מצד יושבי הארץ או מצב מדינות שכנות, אך האיחוד היה קצר ימים וטקטי במהותו, כפי שמסכם ספר שופטים: "בימים ההם, אין מלך בישראל: אישר הישר בעיניו, יעשה" (שופטים, יז, ו).
            
        </p>
      </div>
  
    </ion-content>
  