<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.3 ימי הבית הראשון
      </h3>
      <p class="book--text-style">
        על פי המתואר בספר שמואל, מצב זה הביא את העם לבקש לעצמם מלך. למלכה הראשון של הארץ נבחר
        <strong>שאול</strong> שהוביל את המלחמה בפלשתים, ויצר מסד לשיתוף פעולה בין שבטי העם. את שאול החליף
        <strong> דוד</strong> ואיתו החלה שושלת מלוכה רבת שנים.
        <strong>דוד בנה את בירתו בירושלים</strong> הנמצאת בין נחלתו של שבט יהודה ושבט בנימין, ואינה שייכת לאף אחד מן השבטים. ירושלים
        הפכה למרכז מדיני ורוחני חשוב ונבנו בה מוסדות השלטון הבאים.
        <strong>שלמה,</strong> בנו של דוד, המשיך את מפעלו ובנה את בית המקדש, פיתח את הכלכלה, המסחר ויחסי החוץ. הממלכה של דוד ושלמה
        המכונה
        <strong>"הממלכה המאוחדת"</strong>, לא האריכה ימים.
        <br /> לאחר מותו של שלמה התפלגה הממלכה לשתי ממלכות: ממלכת יהודה ובירתה נותרה ירושלים, בה המשיכה לשלוט שושלתו של דוד בראשות
        נכדו
        <strong>רחבעם;</strong> וממלכת ישראל שקבעה את בירתה בשומרון (כיום: סבסטיה*), בה שלטה שושלת המלוכה שראשיתה ב
        <strong>ירבעם בן נבט.</strong> למרות הדמיון במוצא, בתרבות ובדת, מתאר המקרא את שתי הממלכות כממלכות המתנהלות בנפרד, ולעיתים
        אף נאבקות זו בזו. בשתי הממלכות פעלו, לצד השליטים
        <strong>נביאים</strong> המתוארים בתנ"ך כיועצים, כמוכיחים בשער וכנושאי קול המוסר והצדק; שביקרו לעיתים גם את השלטון. דבריהם
        קובצו מאוחר יותר ונכללים בתנ"ך.

      </p>
    </div>

  </ion-content>
