<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/menu-button.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.4 גלות בבל ושיבת ציון
      </h3>
      <p class="book--text-style">
        בשנת 772 לפני הספירה החריבה אשור* את ממלכת ישראל והגלתה את תושביה. בהדרגה גם ממלכת יהודה איבדה את כוחה ולצד הקושי להשתלב
        במאזן הכוחות האזורי מתארים הנביאים גם את התפוררותה הפנימית של החברה בתוכה. הממלכה הבבלית** שהחלה להתפשט אל עבר האזור,
        שיעבדה את ממלכת יהודה והפכה את מלכיה למלכי חסות הפועלים תחתיה. בשנת 597 לפני הספירה הוגלו מיהודה המלך יהויכין ורבים
        מבני האליטה ששלטה במדינה, גלות זו מכונה
        <strong>"גלות יהויכין"</strong> או "גלות החרש והמסגר". שנה לאחר מכן מינה מלך בבל,
        <strong>נבוכדנצר</strong> השני, את צדקיהו, דודו של יהויכין, למלך יהודה. לאחר שכרת ברית עם מצריים הסתבך צדקיהו במרידת נפל
        כנגד בבל. בבל הגיבה בהטלת מצור על ירושלים, וזה נגמר בפריצה לעיר ובהחרבתו של בית המקדש הראשון. תקופת המצור והחורבן,
        על התמונות הקשות שליוו אותן, מתוארת במגילת
        <strong>"איכה"</strong> הנקראת ב-ט' באב (איכה, א, א-ד
        <em>):" איכה ישבה בדד, העיר רבתי עם היתה, כאלמנה; רבתי בגויים, שרתי במדינות הייתה, למס: בכו תבכה בלילה ודמעתה על לחיה&mdash;אין-לה
          מנחם, מכל-אהביה כל-רעיה בגדו בה, היו לה לאויבים: גלתה יהודה מעוני, ומרוב עבודה היא ישבה בגויים, לא מצאה מנוח; כל
          רודפיה השיגוה, בין המצרים"
          <br /> </em>חורבנה של יהודה הביא להגליה שהקיפה חלקים נרחבים של העם; אולם בשונה מעמים אחרים, הצליחו מרבית הגולים לשמור
        על זהותם. במהלך השנים הבאות נחלשה הממלכה הבבלית ואת מקומה ירשה הממלכה הפרסית בראשותו של המלך כורש***. בניגוד לדיכוי
        הדתי והאתני שהנהיגו את הבבלים, סבר כורש כי המפתח להבטחת שלטונו הוא דווקא במתן חופש דתי, ועל רקע זה, בשנת 539 לפני
        הספירה, נתן ליהודים את הרשות לשוב אל ירושלים ולכונן את בית המקדש. ההכרזה כונתה
        <strong>הכרזת כורש</strong> והיא מובאת בספר עזרא (א', ב'):
        <em> "כה אמר כורש מלך פרס כל ממלכות הארץ מתן לי ה' א-לוהי השמים והוא פקד עלי לבנות לו בית בירושלים אשר ביהודה. מי בכם
          מכל עמו יהי א-לוהי עמו ויעל לירושלים... ויקומו ראשי האבות ליהודה ובנימין והכוהנים והלווים... וכל סביבותיהם חיזקו
          בידיהם בכלי כסף בזהב ברכוש ובבהמה ובמגדנות לבד על כל התנדב".
          <br /> </em>ההצהרה הביאה לחזרתם של יהודים מהגלות לארץ ולהתחלתה של
        <strong> שיבת ציון</strong>. בראש גל העלייה הראשון נזכרים
        <strong>ששבצר</strong> ו
        <strong>זרובבל</strong> שחלק מן החוקרים רואים בהם אדם אחד. העולים ניסו להקים מזבח ולחדש את עבודת הקורבנות, אך נתקלו בהתנגדות
        עזה מצד האוכלוסייה הלא-יהודית המקומית.
        <br /> בראש גל העולים הבא שהיה כנראה רחב יותר, עמד
        <strong>עזרא הסופר</strong> שעם הגעתו לארץ פעל לחיזוק קיומן של המצוות וההיכרות עם התורה. לצדו פעל
        <strong>נחמיה</strong> שהגיע ליהודה שנים ספורות אחריו וביקש לשקם את חומות ירושלים, לשפר את מצבו של דלת העם ולסייע בידי עזרא
        בפעילותיו הדתיות. גם פעולתם של עזרא ונחמיה נתקלה בקשיים ובניית חומות ירושלים בצל מצב ביטחוני קשה שנבע מהתנגדותם של
        גורמים שונים, מתואר בציוריות בספר נחמיה :"הבונים בחומה והנושאים בסבל עומשים באחת ידו עושה במלאכה ואחת מחזקת השלח"
        (נחמיה ד, יא).
        <br /> </p>
    </div>

  </ion-content>
