<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.5 ימי הבית השני
      </h3>
      <p class="book--text-style">
        בשנת 336 לפני הספירה עלה לכס המלוכה במוקדון שליט צעיר ונמרץ שנודע לימים כ
        <strong>אלכסנדר הגדול*</strong> שבמסגרת כיבושיו הנרחבים הגיע גם לארץ ישראל. עם מותו ניטשו מלחמות עזות בין יורשיו שכונו "דיאדוכים".
        ארץ ישראל עמדה בתווך בין שני יורשים:
        <strong>סלווקוס</strong> שמרכזו בסוריה ו
        <strong>תלמי</strong> (פתולמאיס) שמרכזו במצרים; בתחילה הייתה השליטה בידי תלמי ובהמשך היא עברה לידי סלווקוס. הכובשים החדשים
        הביאו עימם אל הארץ את
        <strong>התרבות ההלניסטית</strong>, המהווה מזיגה בין תרבות יוון לתרבויות אליליות אחרות במזרח. באופן זה נפגשו היהודים לראשונה
        עם תרבות הפנאי, הפילוסופיה והאמנות היוונית. מפגש זה היווה אתגר ערכי לא פשוט וביהודה החלה תנועה של
        <strong>התיוונות</strong> &ndash; אימוץ התרבות ההלניסטית, שרווח בעיקר בקרב שכבות האוכלוסייה הגבוהות.
        <br /> בשנת 175 לפני הספירה עלה לשלטון בסוריה
        <strong>אנטיוכוס</strong> אפיפנס אשר בניגוד לקודמיו, נהג ביד קשה ביחד ליהודי הארץ, כרת ברית עם המתיוונים מקרבם וביקש לכפות
        על כל תושבי הארץ את התרבות ההלניסטית. הדברים הגיעו לשיאם בהטלת גזרות שמנעו מן היהודים לקיים חלק ממצוות דתם ובהן מצוות
        המילה ומצוות השבת.
        <br /> לנוכח מציאות זו פרץ בשנת 167 לפני הספירה מרד נרחב אותו הובילה
        <strong>משפחת חשמונאי</strong>, משפחת כוהנים מאיזור מודיעין. לאחר מספר שנות לחימה הצליחו תומכי המרד, שכונו גם
        <strong>מקבים</strong>, להביס את הצבא הסלווקי ולכונן, בתמיכה רומית, ממלכה חשמונאית ששלטה בארץ ישראל לאורך עשרות שנים.
        <br /> הישגם המרכזי של החשמונאים היה כיבושה המחודש של ירושלים וטיהור בית המקדש בשנת 164 לפני הספירה; לזכרו של מאורע זה
        נקבע חג החנוכה. בנים הבאות הצליחו מלכי השושלת החשמונאית לחזק את ממלכתם ולהרחיב את גבולותיה. יחסם עם חז"ל היה מורכב,
        ובימיהם של המלך אלכסנדר ינאי והמלכה שלומציון**, הגיע לוויכוח פומבי חריף.
        <br /> עם פטירתה של שלומציון (67 לפני הספירה), החל סכסוך ירושה בין שני בניה. בעוד השניים נלחמים ביניהם, בשנת 63 לפני הספירה,
        כבר פומפיוס שעמד בראש הצבא הרומי, את ירושלים, וכך החל עידן חדש בתולדות העם היהודי.
        <br /> לאחר תקופה קצרה בה המשיכו לשלוט המלכים החשמונאים בחסות הרומים, הם המליכו על יהודה את
        <strong>הורדוס</strong> (40 לפני הספירה), בן למשפחה אדומית שהייתה מקורבת לחשמונאים. מעמדו מבחינת היהודים היה מורכב: נראה
        כי מבחינה הלכתית הוא אכן היה יהודי, אך בפועל הוא נתפס כגורם זר והושפע מהתרבות הרומית. הורדוס שלט בממלכתו ביד רמה,
        חיסל את כל הטוענים האפשריים לכתר מבית חשמונאי ולא בטח באיש. את אופיו סיכם בחדות יוסף מתתיהו*** (קדמוניות, יז, 191-192):
        <em>
          "איש אכזר לכל הבריות במידה שווה ועבד לכעסו ומסלף את הצדק, אלא ששיחק לו מזלו הטוב כשם שלא שיחק לשום איש אחר. שכן מהדיוט [=
          איש פשוט] נעשה מלך... ואשר לענייני משפחתו ובניו... הרי לי נדמה שהיה אומלל מאוד."
          <br /> </em>את ימי מלכותו אפיינו, אווירת טרור עזה מחד ומפעלי בנייה אדירים מאידך. הורדוס בנה את הנמל ואת אמת המים של קיסריה,
        מבצר ההרודיון, מתחם הארמונות במצדה, ארמונות החורף ביריחו וירושלים ובתוכה מתחם הר הבית כפי שהוא מוכר לנו כיום.
      </p>
    </div>

  </ion-content>
