<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/menu-button.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">

      <h3 class="book--topiccontent-title">
        3.6 המרד הגדול וחורבן הבית
      </h3>
      <p class="book--text-style">
        זמן קצר לאחר מותו של הורדוס עברה יהודה לשלטון של נציבים שנשלחו מרומא, לא הכירו את אוכלוסיית הארץ, התקשו בשליטה בה וניסו על-פי
        רוב לנצלה מבחינה כלכלית. הציבור היהודי בארץ התנגד לשלטון הרומי, היה מסוכסך עם קבוצות הלניסטיות מקומיות ובהדרגה החל
        גם להתערער מבחינה חברתית &ndash; כלכלית. כל אלו העלו את העם היהודי על מסלול התנגשות עם השלטון הרומי והביאו לפרוץ
        <strong>המרד הגדול</strong> (66-723 לספירה). המרד ריתק אל ארץ-ישראל כוחות גדולים והלחימה התפרסה על שטח נרחב. בשנת 68 ניכר
        מפנה לטובת המורדים, כאשר חוסר היציבות השלטונית ברומא הביא להקפאת הלחימה. אך הזדמנות זו לא נוצלה על-ידי המורדים היהודים,
        שהיו מפולגים ביניהם והושפעו מפעולתם של קנאים קיצונים. בשנת 70 התחדשה הלחימה והוטל על ירושלים מצור בראשותו של
        <strong>טיטוס</strong>. בתום קרבות קשים נכבשה העיר ובית המקדש נחרב. אולם גם חורבנה של ירושלים לא הביא להפסקת המרד, ובאזורים
        המדבריים נותרו מספר מוקדי התנגדות;
        <strong>מצדה</strong> הייתה האחרונה שבהם. על המתחם המבוצר והמבודד, בו התרכזה קבוצת מורדים קטנה, הוטל מצור ארוך ורק בשנת 73,
        בתום קרב קשה, הצליחו הרומים לפרוץ לתוכו. המורדים שהתרכזו בו, ובראשם אלעזר בן יאיר, גמרו אומר שלא להיתפס חיים, והתאבדו.
        רק עם כיבוש מצדה, חמש שנים לאחר שהחל המרד, הצליחו הרומאים לבסס שוב את שליטתם באזור.</p>
    </div>

  </ion-content>
