<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          3.7 המשך החיים ביהודה לאחר החורבן
        </h3>
        <p class="book--text-style">
          &nbsp;המכה שספג העם היהודי עם חורבן ירושלים והמקדש, הייתה קשה מאוד. בית המקדש עמד במרכזו של הפולחן הדתי ביהדות, וההנחה הרווחת
          הייתה כי הוא יעמוד על כנו לנצח. בציבור היהודי היו משסברו כי לאחר החורבן אין עוד טעם בחיים וטיפחו מנהגי אבל שונים.
          <br /> בהדרגה צמח באזור השפלה מרכז רוחני חלופי שמרכזו היה ב
          <strong>יבנה</strong>. על-פי המסופר בספרות חז"ל, הצליח
          <strong>רבן יוחנן בן-זכאי</strong> לחמוק מירושלים במהלך המצור, וביקש מן הרומאים לייסד מרד רוחני חלופי. ביבנה תוקנו שורה
          של תקנות שנועדו לאפשר את המשך החיים היהודיים ללא מקדש ועוצבו רבים מדפוסיה של היהדות המוכרת לנו כיום.
          <br /> אולם גם פעולה זו לא הצליחה לכבות את השאיפות לבנייתו מחדש של בית המקדש ולחידושה של העצמאות המדינית. שאיפות שבאו
          לידיד ביטוי במרד התפוצות (115-117) והתפרצו בעוצמה רבה ב
          <strong>מרד בר-כוכבא</strong> (132-136). ברקע למרד עומדת תכניתו של הקיסר הרומי
          <strong>אדריאנוס</strong> לבנות מחדש את ירושלים כעיר רומית אלילית לה העניק את השם
          <strong>איליה קפיטולינה</strong>. בין החוקרים חלוקות הדעות אם אדריאנוס התכוון לפגוע ביהודים באופן מכוון או שפעולותיו בוצעו
          כחלק ממגמה כללית להשליט באימפריה פולחן אלילי אחיד; אולם, היהודים בכל אופן ראו בפעולותיו פגיעה אנושה באמונתם. על-פי
          חלק מן המקורות, לכעסם של היהודים נוספה סיבה נוספת כאשר אסר אדריאנוס על קיומה לש ברית המילה. פעולות אלו, לצד המעבר
          הכלכלי הקשה והתקוות המשיחיות לבניינו המחודש של בית המקדש, הביאו לפרוץ מרד שבראשו עמד שמעון בר-כוסבא שנתמך בידי
          חכמים וחלקים נרחבים מהציבור וכונה בר-כוכבא. המורדים הכינו תשתית טובה למרד: בנו מערכות תת-קרקעיות מתוחכמות ששימשו
          אותם כמקומות מסתור והקשו על הרומאים את הלחימה; פגעו בייצור של הנשק הרומי ביהודה; והצליחו לרתק אל האזור כוחות צבא
          גדולים.
          <br /> למרות הצלחותיהם הראשוניות שכללו ככל הנראה גם את כינונו של שלטון עצמאי קצר-ימים, הצליחו הרומאים להכניע את המרד.
          בראש כוחותיה של רומא עמד נציב בריטניה, יוליוס סברוס, שהובא לצורך המשימה במיוחד לארץ. דיכוי המרד היה אלים ואכזרי
          ולאחריו הוטלו על היהודים
          <strong>גזרות שמד:</strong> איסור על לימוד תורה, איסור אל התקהלות בבתי הכנסת, איסור על המילה ועוד.
          <br /> הגזירות התמידו עד למותו של אדריאנוס ובוטלו רק בידי יורשו, אנטוניוס פיוס. בהדרגה שוקמו החיים היהודיים בארץ ומרכזם
          עבר לגליל. בסוף המאה השנייה לספירה קיבל את הנהגת הקהילה היהודית
          <strong>רבי יהודה הנשיא</strong> המוכנה בספרות חז"ל, "רבי". מפעלו המרכזי היה כינוס כלל המסורות ההלכתיות שהרכיבו את התורה
          שבעל-פה לכדי חיבור כתוב-
          <strong>המשנה.</strong> פעולתם בתחום זה, כמו בתחומים אחרים, מעדיה על סמכותו והיא הוסיפה לעצב את העולם היהודי כפי שהוא מוכר
          כיום. ר' יהודה הנשיא כונן חיים נורמליים ביהודה, למסד יחסים תקינים עם הרומים, להרגיע מגמות של מרדנות ומשיחיות ולשמר
          את התורה שבעל-פה למענם של הדורות הבאים.</p>
      </div>

    </ion-content>
  </div>
