<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          3.8 המרכז היהודי בבל: אמוראים, סבוראים וגאונים
        </h3>
        <p class="book--text-style">
          גם לאחר חתימתה של המשנה, המשיכו חכמים בלימודה ובפירושה. דיונים אלו נאספו בהדרגה ונערכו לחיבור המכונה
          <strong>"תלמוד".</strong>
          <strong>התלמוד הירושלמי</strong> נחתם בטבריה לקראת סוף המאה הרביעית, והוא מבטא את פועלם של חכמי ארץ-ישראל.
          <br /> באופן הדרגתי ועקבי עבר מרכז התורה לבבל, שם נהנתה הקהילה היהודית מאוטונומיה שהוענקה לה בידי האימפריה הסאסאנית.&nbsp;
          בבל התהוו שני מרכזים חשובים:
          <strong>סורא</strong> (באזור דרום עירק עד היום) ו
          <strong>פומבדיתא</strong> (מערבית לבגדד). בשתי הערים התקיימו ישיבות גדולות וקהילה יהודית ענפה שעסקה בלימוד תורה, בחקלאות
          ובמסחר. במרכזים אלו נוצר
          <strong>התלמוד הבבלי</strong> שנחתם בסופה של המאה החמישית.
          <br /> בראשי הקהילה עמדו ראשי הישיבות שהיוו את ההנהגה הרוחנית, ו
          <strong>ראש הגלות</strong> ("ריש גלותא"), אשר ייצג את הקהילה כלפי חוץ ועסק בענייני החול. חכמי התלמוד מכונים "
          <strong>סבוראים"</strong>. האמוראים יצרו את התלמוד ואת הדיונים המובאים בו, ואילו הסבוראים עסקו בהסברה של התלמוד ובהנחלתו
          לציבור הלומדים.
          <br /> בראש הישיבות בסורא ובפומבדיתא עמדו חכמים שהוכתרו, החל מן המאה השישית, בתואר הכבוד "גאון", תקופת פעילותם מוכנה
          "
          <strong>תקופת הגאונים</strong>". אל חכמים אלו פנו כלל יהודי התפוצות בשאלות שונות של רוח, הלכה ומשפט והתשובות שהם קיבלו,
          הפכו לפסקי הלכה מחייבים עבור הקהילה היהודית כולה. ספרות ענפה של התכתבויות מעין אלו (המכונה ספרות השאלות והתשובות-
          שו"ת), נשתמרה בידינו וממנה אפשר ללמוד על התפתחות המרכזים היהודיים השונים במרחב. הגאונים הותירו חיבורים חשובים בנושאם
          רבים, כך למשל רב סעדיה גאון (882-942) שהותיר אחריו ספרים העוסקים בדקדוק עברי, חיבורים פילוסופיים, אחד מסידורי התפילה
          הראשונים ועוד.
        </p>
      </div>

    </ion-content>
  </div>
