<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">


        <p class="book--text-style">
          הגאונים פעלו עד למאה האחת-עשרה, אז החלה תקופה חדשה בתולדות העם היהודי המכונה "
          <strong>תקופת הראשונים"</strong>.&nbsp; תקופה זו אופיינה בהיחלשותם של המרכזים היוהדיים בבבל ובצמיחה של מרכזים יהודיים חדשים
          באירופה. הרבנים המרכזיים שפעלו בתקופה זו, התאפיינו כמו קודמיהם בבניין של נדבך נוסף על-גבי הגותם של החכמים שקדמו
          להם. חכמי התקופה עסקו בכתיבתם של חיבורים הלכתיים ובפירוש לתורה ולתלמוד, להלן נרחיב ביחד לפועלם של שניים: הרמב"ם
          (ספרד ומצרים) ורש"י (צרפת).
          <br />
          <strong>&nbsp;רמב"ם- ר</strong>בי
          <strong>מ</strong>שה
          <strong>ב</strong>ן
          <strong>מ</strong>ימון (1204-1138) נולד בקורדובה (אנדלוסיה, דרום ספרד) ופעל בעיקר במצרים. הוא הנהיג את הקהילה היהודית בקהיר,
          התמחה ברפואה, ערך פירוש למשנה וכתב חיבורים פילוסופיים שונים ש-"מורה נבוכים" היה אחד המרכזיים שבהם. הרמב"ם נודע
          בגישתו הרציונליסטית והתנגד לפעולות מאגיות ומיסטיות, בהן ראה "הגשמה" פסולה של הא-ל. שמו התפרסם ברחבי העולם היהודי
          וספריו נלמדים בהרחבה עד עצם היום הזה.
          <br /> חיבורו ההלכתי המרכזי, ה
          <strong>משנה תורה, </strong>כולל ארבעה עשר ספרים המחולקים באופן שיטתי ובחלוקה על-פי נושאים. אופיו של החיבור היה שונה באופן
          מהותי מהתלמוד הבנוי על-פי רצף אסוציאטיבי ועורר בשל כך את התנגדותם של גורמים שונים שחשו למעמדם של המקורות התלמודיים
          הקדומים יותר. בשנים הבאות השפיעה פסיקתו ההלכתית והגותו הפילוסופית של הרמב"ם באופן עמוק על העולם היהודי.
          <br />
          <strong>רש"י- ר</strong>בי
          <strong>ש</strong>למה
          <strong>י</strong>צחקי (1105-1040) נולד בטרואה (צפון צרפת, אשכנז), למד בישיבות המרכזיות של יהדות אשכנז ובמהרה הפך לסמכות
          תורנית- הלכתית ולמנהיג ציבור.
          <br />
          <strong>רש"י חיבר פירוש מקיף ורחב על התורה והתלמוד</strong> המבוסס על הבנת הפשט ועל מדרשי חז"ל. פירושו נחשב למרכזי ביותר
          והוא נלמד באופן מסורתי בצמוד אל הטקסט. במקביל הוא עסק בפסיקת הלכה וענה על עשרות רבות של שאלות שהופנו אליו מכל רחבי
          העולם היהודי. פירושו של רש"י כתוב על-פי רוב באותיות ייחודיות המכונות "
          <strong>כתב רש"י</strong>". כתב זה שהוא עגול יותר ומשווה צורה שונה לכמה מן האותיות, אומץ על-מנת להבדיל בין הפירוש לבין
          עיקרו של הטקסט.
          <br /> צאצאיו של רש"י המשיכו לעסוק בפירוש התורה, רשב"ם (ר' שמואל בן מאיר) ורבנו תם (ר' יעקב בן מאיר), הם שניים מן הבולטים
          שבהם. במרוצת הדורות התקבצו בבתי המדרש של אשכנז וצרפת, הערות ותוספות על פירוש רש"י לתלמוד הבבלי, אלו נקבצו בחיבורים
          קולקטיביים המכונים "
          <strong>תוספות</strong>" (במלעיל).</p>
      </div>

    </ion-content>
  </div>
