<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">
          <b> פרק שביעי – ביטחון ישראל
            <br>
          </b>
        </h1>
        <p class="book--text-style">
          <em>"אנו קוראים &ndash; גם בתוך התקפת הדמים הנערכת עלינו זה חודשים &ndash; לבני העם הערבי תושבי מדינת ישראל לשמור על
            השלום... אנו מושיטים יד לשלום ושכנות טובה לכל המדינות השכנות ועמיהן. וקוראים להם לשיתוף פעולה ועזרה הדדית עם
            העם העברי העצמאי בארצו"</em>
        </p>

        <h1 class="book--topiccontent-title lightHeebo">7.1 פתיחה</h1>
        <p class="book--text-style">
          <em>מדינת ישראל קמה אל תוך סערת המלחמה. יום לאחר אסיפת האו"ם ב &ndash; 29 בנובמבר 1947, בה הוחלט על חלוקת הארץ והקמתה
            של מדינה יהודית לצדה של מדינה ערבית, פרצה מלחמת העצמאות. ההמונים ביישוב שרקדו ברחובות עד אור הבוקר, נדרשו להתגייס
            להגנתה של המדינה שעדיין לא קמה. ב &ndash; 14 במאי 1948, ה' באייר תש"ח, כאשר הבריטים עזבו את הארץ, ובתל אביב הכריזו
            על הקמתה של מדינת ישראל, ההמונים כבר לא רקדו ברחובות.</em>
        </p>
        <p class="book--text-style">
          <em>לצד השמחה האדירה וההכרה בשעה ההיסטורית, רווחה בארץ תחושה מתוחה וקשה. רק יום לפני ההכרזה הסתיים "מבצע חמץ" לכיבוש
            יפו; ההיסטוריון אלון קדיש מציין בספרו על מלחמת העצמאות כי במהלכה, נאצלו לברוח כ &ndash; 17,000 יהודים שהתגוררו
            בשכונות הדרומיות של תל אביב, מאימת הצלפים שירו עליהם מכיוון יפו והכפרים סביבה. יום לפני ההכרזה נפל אזור גוש עציון
            לידי הלגיון הירדני, ורבים מתושביו ומגניו נהרגו.</em>
        </p>
        <p class="book--text-style">
          <em>נדמה כי יותר מכל מעידה על טיב המצב, מודעה שהתפרסמה בשולי העיתון החגיגי המדווח על הקמת מדינת ישראל. במודעה (משמאל)
            נכתב כי: "חומרת השעה מחייבת מאמץ עליון לקיום הגיוס המהיר והנמרץ של המפקדים ושל החיילים, השוטרים והנוטרים", לצורך
            כך, "הרבנות הראשית התירה &ndash; מטעם פיקוח הנפש &ndash; את קיום התחבורה הקשורה בהעברת המגויסים גם בשבת". נדמה
            כי חומרת הדברים מדברת בעד עצמה.</em>
        </p>
        <p class="book--text-style">
          <em>אף על פי כן, ראתה לנכון המדינה הצעירה לכלול במסמך היסוד שלה קריאה לשלום, הן כלפי ערביי ארץ ישראל, איתם היה היישוב
            היהודי במלחמה עזה לאורך חודשים ארוכים והן כלפי המדינות השכנות שהיה חשש כי הן תפלושנה אל תחומיה. כך או כך, מאז
            מלחמת העצמאות נאלצה מדינת ישראל להתמודד שוב ושוב עם איומים על קיומה. מיום הקמתה ידעה ישראל שבע מלחמות והייתה
            מעורבת באין ספור עימותים צבאיים. אלו גבו מן החברה הישראלית מחיר כבד.</em>
        </p>
        <p class="book--text-style">
          <em>השער שלפניכם סוקר בקצרה כמה מאבני הדרך המרכזיות במאבק המתמשך על ביטחון ישראל, בהן שבע מערכות ישראל ועוד מספר מבצעים
            מרכזיים שנצרבו בזיכרון הקולקטיבי הישראלי. סקירה זו, מעצם טבעה אינה מלאה, היא מבקשת לגעת רק בכמה מן הנקודות המרכזיות
            לאורך ציר הזמן.</em>
        </p>
        <p class="book--text-style">
          <em>מטרתו של השער היא לחדד את ערך היסוד, "הגנת המדינה, אזרחיה ותושביה" העומד בבסיס רוח צה"ל. ערך יסוד שמימושו במציאות
            ביטחונית משתנה, מעולם לא היה קל, ונראה כי הוא אינו הופך להיות קל יותר. לנוכח זאת, מתאר השער את האירועים מנקודת
            מבטו של צה"ל. נקודות מבט אחרות ודאי קיימות גם הן וההיכרות עמן עשויה להשלים את התמונה. אך מבחינתנו, משמעותו המרכזית
            של השער היא לסייע בהבנת שורשיה של המציאות המורכבת והמשתנה בה פועל צה"ל, והשפעותיה על המשימות העומדות בפניו.</em>
        </p>



      </div>

    </ion-content>
  </div>
