<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <p class="book--text-style">
          בה' באייר תש"ח קמה מדינת ישראל בתוך סערת מלחמת העצמאות. שלב הראשון של המלחמה, שהתרחש לפני הקמת המדינה ובראשיתו של השלב השני
          פעלו המחתרות השונות בנפרד כשהן מנסות לקיים שיתוף פעולה בניהן. עם הקמתה של המדינה ולנוכח עקרונות הממלכתיות שהתהווה
          ראש הממשלה דוד בן גוריון, ברור היה כי יש צורך בהקמתו של כוח צבאי ממלכתי שיופקד על הגנתה של המדינה הריבונית היהודית
          ויביא לפירוקן של המחתרות. ב- 26 במאי 1948 הוקם, על פי עקרונות אלו, צבא ההגנה לישראל. נאסר על הקמתו או על קיומו
          של כל כוח צבאי אחר והוחלט כי כל אדם המשרת בצבא ההגנה לישראל, יהיה חייב להישבע אמונים למדינת ישראל, לחוקיה ולשלטונותיה
          המוסמכים. למחרת נשבע הפיקוד הבכיר של צה"ל אמונים, ובמהלך השבועות הקרובים, לאחרת הכרזת "ההפוגה הראשונה" הצטרפו אליהם
          כלל חיילי צה"ל. בן גוריון עמד על החשיבות שבקיומו של כוח צבאי אחד:
        </p>
        <blockquote>
          <p>
            "הסעיף הרביעי של הפקודה הוא נגד הקמתו וקיומו של כל כוח מזוין מחוץ לצבא ההגנה לישראל. ושוב: זה לא היה סעיף המכוון רק לסדר
            ממלכתי תקין- אם כי גם זה חשיבותו גדולה ומכרעת- אלא צורך חיוני להתגוננותו: נגד אויב חיצוני אפשר לעמוד רק בכוח
            אחיד, המציית לממשלה אחת ולפיקוד עליון אחד".

          </p>
        </blockquote>

      </div>

    </ion-content>
  </div>
