<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">
          <em>בשער זה סקרנו קרוב ל100 שנים של מאבק בטחוני למען מימוש החזון הציוני בארץ ישראל. האיומים השתנו עם השנים וכך גם היכולות
            שנדרשו מצה"ל ומכוחות המגן שקדמו לו. המשותף להתמודדויות כולן הוא העוצמה האנושית שהייתה תמיד יתרונו היחסי של צה"ל.
            בסיום מלחמת ששת הימים נסע הרמטכ"ל יצחק רבין נאום באוניברסיטה העברית שעל הר הצופים ונגע באופן עמוק בנקודה זו:
            <strong>
        </p>
        <blockquote>
          <p>
            <br /> "</strong>התעלותם של לוחמינו לא בזכות הברזל באה אלא בזכות התודעה של שליחות עליונה, של הכרה בצדק ענייננו, של
            אהבה עמוקה למולדת... צבא זה, שעמדה לי הזכות לעמוד בראשו במלחמה זאת, מהעם בא ואל העם חוזר. עם המתעלה בשעת דוחק
            והיכול לכל אויב, בזכות רמתו המוסרית הרוחנית והנפשית."
          </p>
        </blockquote>
        <p class="book--text-style">
          <br /> האחריות על פיתוח המשאב האנושי, על העיסוק בערכים ועל ההובלה בשעת הקרב ובשעת השגרה, יושבת על כתפיו של כל מפקד ומפקד
          האתגרים והדילמות משתנים אך הגיונות ההנהגה והפיקוד נותרים יציבים. בשער זה למדנו מעט על מלחמות העבר לא רק כדי להעשיר
          את ידיעותינו: במורשת זו יש גם לסייע לנו כקצינים לעתיד.
          <strong>
            <br />
        </p>

      </div>

    </ion-content>
  </div>
