<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          שער שישי: סיפורה של מדינה </h3>
        <p class="book--text-style">
          "אנו קובעים שהחל מרגע סיום המנדט, הלילה..תפעל מועצת העם כמועצת מדינה זמנית, ומוסד הביצוע שלה, מנהלת העם, יהווה את הממשלה
          הזמנית של המדינה היהודית, אשר תקרא בשם ישראל"
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.1 פתיחה : מיישוב למדינה
        </h3>
        <p class="book--text-style">

          הקמת המדינה, בה' באייר תש"ח, העמידה אתגר עצום בפני היישוב בארץ והעם היהודי כולו. בנייה של מדינה תוך כדי מלחמה קשה וקליטת
          עלייה בממדים גדולים, נראתה במבט ראשון בלתי אפשרית. אולם, בניגוד לנהוג לחשוב מדינת ישראל לא נבנתה יש מאין ורבים
          מהמוסדות החדשים נסמכו על מוסדות היישוב שהוקמו בהדרגה החל מימי העלייה הראשונה, כפי שמסבירה ההיסטוריונית אניטה שפירא
          : מערכות החינוך, הבריאות והסעד נבנו על התשתית האירגונית שגובשה בתקופת היישוב.צבא ההגנה לישראל אימץ ולא במקרה את
          שמו של אירגון ההגנה ונחשב ליורשה של המסורת הצבאית שטופחה ביישוב. הגושים הפוליטים שהסתמנו בתקופת היישוב, השמאל והימין,
          נשארו דומיננטיים גם בשדה הפוליטיקה הישראלית. אולם, לא בכל ניתן היה להמשיך ללא שינוי ומן המוסדות והאזרחים נדרש שינוי
          תפיסה עקרוני. שינוי זה תומצת על ידי דוד בן גוריון ראש הממשלה הראשון במושג
          <strong>ממלכתיות</strong>
        </p>
        <table class="tablestyle">
          <tr>
            <td class="tablestyle">תפיסה ישובית-קודם להקמת המדינה</td>
            <td class="tablestyle">תפיסה ממלכתית-לאחר הקמת המדינה</td>
          </tr>
          <tr>
            <td class="tablestyle">המוסדות הלאומיים בתקופת הישוב היו מוסדות התנדבותיים (וולונטריים), מי שרצה להצטרף אליהם ולהיות נתון למרותם הצטרף
              ומי שלא לא.</td>
            <td class="tablestyle">מוסדות המדינה הם מוסדות רשמיים בעלי סמכות חוקית מחייבת, על כל תושב במדינה לקחת בהם חלק ולציית למרותם, בין אם
              הוא מעוניין בכך ובין אם לא.</td>
          </tr>
          <tr>
            <td class="tablestyle">בתקופת הישוב לקחו על עצמן המפלגות הפוליטיות תפקידים המזוהים בדרך כלל עם המדינה וקיימו מערכות חינוך, תעסוקה, בריאות,
              ואפילו אירגוניים צבאיים עצמאיים. כך למשל תומכי מפלגות הפועלים נהנו משירותה של קופת החולים הכללית, ילדיהם למדו
              בזרם העובדים, הם קיבלו שירותי רווחה מלשכת עבודה מפלגתית, אהדו את קבוצות הספורט של "הפועל" ותרמו למאמץ ההגנתי
              למסגרת ההגנה והפלמ"ח לעומתם תומכי הרוויזיוניסטים נהנו משירתה של קופת החולים לאומית, ילדיהם למדו "בזרם הכללי"
              , הם קיבלו שירותי רווחה מלשכת עבודה מפלגתית , אהדו את קבוצות הספורט של "בית"ר" ותרמו למאמץ ההגנתי במסגרת של
              האצ"ל והלח"י
            </td>
            <td class="tablestyle">עם הקמת המדינה הוקמו מוסדות ממלכתיים האחראים לשירותים מרכזיים לאזרח בתחומי הביטחון, החינוך, הרווחה, התעסוקה ועוד.
              שירותים אלו הם חלק מהחובה של המדינה כלפי תושביה ועל כן לא ניתן לספקן באמצעות שירות מפלגתי שלא נתון לאחריותה
              ולמרותה של המדינה. לכן פורקו המחתרות השונות והוקם צבא הגנה לישראל. בוטלו הזרמים המפלגתיים בחינוך והחלו חינוך
              ממלכתי הנתון לפיקוחו של משרד החינוך ועוד. המפלגות הוסיפו לפעול אך תפקידם צומצם אל התחום הפוליטי בלבד.
            </td>
          </tr>
          <tr>
            <td class="tablestyle">מאחר והבריטים היו השליטים בפועל בארץ ישראל והעלייה הייתה מוגבלת למי שרצו ויכלו לעלות לא היה צורך בעיסוק בשאלות
              עקרוניות ובניסוח מדיניות בתחומים רבים.</td>
            <td class="tablestyle">כאשר הפכה ישראל למדינה ריבונית הקולטת עלייה נוצרו שאלות עקרוניות עלייהן היה צריך לתת את הדעת: כיצד יש להתייחס
              למיעוט הערבי? כיצד לקלוט את העולים הרבים, שהגיעו לא פעם חסרי כול? כיצד להתמודד עם השוני התרבותי שבין העולים
              במדינות השונות? כיצד יש לעצב את יחסי החוץ של המדינה הצעירה? ועוד.</td>
          </tr>
        </table>
        <p class="book--text-style">
          שינוי עקרוני זה שהתרחש בשנת 1948 ויושם בהדרגה בשנים הבאות סימן עבור המדינה הצעירה אתגר מרכזי שגם 70 שנה אחרי אנו ממשיכים
          להתמודד עימו &ndash; בנייתה של מדינה יהודית ודמוקרטית הפועלת על פי עקרונות ממלכתיים ומהווה חברת מופת. בפרק זה נדון
          בקצרה באירועים ואישים מרכזיים שעיצבו את מדינת ישראל במהלך 70 שנות קיומה.
          <br /> ראשית, נלמד על העליות המרכזיות שהביאו לקיבוץ גלויות מכל רחבי העולים ולעיצובה של החברה הישראלית.
          <br /> שנית, נזכור כמה אירועים מרכזיים שהתרחשו מאז קום המדינה ומביאים ליידי ביטוי את החיים בישראל.
          <br /> שלישית, נלמד על פועל של הנשיאים, ראשי הממשלה והרמטכ"לים שהנהיגו את מדינת ישראל ואת צה"ל מראשית קיומם.
          <br /> בשער הבא נשלים את הדיון באמצעות עיסוק והתפתחותו של כוח המגן העברי ולמידת מורשת הקרב של צה"ל.
          <br />
        </p>
      </div>

    </ion-content>
  </div>
