<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <p class="book--text-style">

          בניגוד לימי הישוב, כאשר העלייה הייתה תלויה באישור השלטון הזר, הקמת המדינה פתחה את שערי הארץ לעלייה המונית, אך במקביל גם הטילה
          את האחריות על הבאת העולים ועל יצירת התשתית לקליטתם המוצלחת באופן בלעדי על מוסדות המדינה להלן נזכור כמה מן העליות
          המרכזיות לארץ החל מראשית המדינה ועד לשנים האחרונות.
          <br>
        </p>

        <h3 class="book--topiccontent-secondtitle">
          6.2.1 העלייה הגדולה (שנות החמישים והשישים)
        </h3>
        <p class="book--text-style">

          בשלוש השנים הראשונות לאחר הקמת המדינה (1948-1951) הגיעו לארץ
          <br /> כ- 700 אלף עולים, שהכפילו את כמות האוכלוסייה היהודית בארץ.
          <br /> גל עלייה זה ידוע בכינוי העלייה הגדולה או העלייה ההמונית. בשל מימדיו. עולי העלייה ההמונית הגיעו בעיקרם ממזרח אירופה
          וממדינות המזרח התיכון. עובדה זו הטילה עול כלכלי כבד על המדינה: העולים מאירופה היו ברובם ניצולי שואה שכל רכושם נגזל
          מהם והעולים מארצות האיסלאם גורשו ברובם מבתיהם ולא ניתן להם לקחת עימם רכוש או כסף. בניגוד לעליות הקודמות שבוצעו
          תוך סיוע של המוסדות אך ללא ארגון מרכזי, הפעם אורגנו מרבית העליות באופן מרוכז על ידי המדינה. ראשונים לעלות היו ניצולי
          השואה שהוסיפו להתגורר גם שלוש שנים אחרי תום המלחמה במחנות הכורים במרכז אירופה, אליהם התלוו אלפי עצורים שניסו לעלות
          לארץ במסגרת ההעפלה ונכלאו על ידי הבריטים בקפריסין. חודשים הבאים החלו להגיע לארץ קהילות יהודיות שלמות שעזבו את מקום
          מגוריהם ועלו לארץ. מבין מבצעי העלייה של שנות החמישים והשישים נצרבו בתודעה הציבורית כמה:
          <br />
          <strong>מרבד הקסמים:</strong> העלאת יהודי תימן בשנים 1948-1950. במהלכה עלו לארץ כחמישים אלף עולים.
          <br />
          <strong>מבצע עזרה ונחמיה:</strong> העלאת יהודי עירק בשנים 1950-1951, במהלכה עלו לארץ כ110 אלף עולים.
          <br />
          <strong>מבצע יכין:</strong> העלאת יהודי מרוקו בשנים 1964-1961, במהלכה עלו לארץ כ80 אלף עולים.
          <br />
          <em>על אלו יש להוסיף את
            <strong>עליית גומולקה</strong>,</em> העלייה של שארית הקהילה היהודית בפולין לארץ לאחר שקיבלו לכך אישור משלטונות בשנת 1956,
          כמו גם עליות ממדינות נוספות במהלך שנים אלו שלא זכו לשם מיוחד: רומניה, בולגריה, איראן ועוד.
          <br /> היקפה של העלייה ומצבה הרעוע של המדינה הקשו מאוד על קליטת העולים בהיבטים של שיקום, תעסוקה, חינוך שירותי בריאות
          ועוד. כ100,000 עולים שוכנו בבתים של ערבים שננטשו בעקבות מלחמת העצמאות; מאות אלפים נוספים שוכנו
          <strong>
            <em>במעברות-</em>
          </strong> שיכונים זמניים של צריפין, פחונים ואוהלים שהוקמו בשולי הערים והמושבות, ושתושביהן הועסקו בדרך כלל מעבודות יזומות
          ( ייעור, יישור חולות, סיקול ועוד).
          <br /> בהמשך שנות החמישים הוקמו גם
          <strong>מושבי עולים</strong> מושבים חלקאיים בהם יושבו יוצאי ארץ או אזור מסויים; וכן
          <strong>עיירות פיתוח</strong> מרכזיים אירוניים שהוקמו בכל רחבי הארץ במטרה לעודד את פיזור האוכלוסייה. המצב ברבים מן הישובים
          בהם התגוררו העולים בשנים הראשונות היה בכי רע והמרחק שלהם ממרכז הארץ הביא לא פעם גם לתחושות קשות ולתסכול.
          <br /> העלייה ההמונית העצימה את בעיותה הכלכליות של המדינה והביאה אותה אל סף קריסה; דבר שהביא בסופו של דבר לעצירה זמנית
          של העלייה ב1951. אולם מעבר לסוגייה כלכלית עלתה גם סוגייה תרבותית לא פשוטה, שבבסיסה עומדים ההבדלים הרבים בין העולים
          החדשים, יוצאי ארצות האיסלאם וניצולי השואה, לצברים ילדי הארץ. מעט על המתח הזה ניתן ללמוד ממפגש שהתקיים בשנות ה70
          בין רינה שפירא, מורה צברית שלימדה במספר מעברות בין תלמידיה. כך למשל אמר לה תלמיד בשם ידידיה: "היה מתח בין מה שראינו
          בבית לבין מה שהיה בבית ספר... שיקף את הפער העצום בין הגולה לבין תהליך 'הישראליזציה'. עברנו תהליך ישראליזציה חריג
          מאוד. אני בדעיבד שמח שעשיתי את זה, זה אומנם עלה לי במאמצים רבים עם מתחים ומריבות אין קץ בבית... אמי תמכה כל הזמן
          בלימודים שלי... [אבל] היא אפילו לא הבינה שאני מקבל חינוך שונה לחלוטין, ושבגלל החינוך הזה קורות כל ההתנגשיות ביננו"
          <br /> תלמידה אחרת בשם עמליה מוסיפה:
          <br /> "אני חושבת, בראייה לאחור, ש'הישראליזציה' הזאת הייתה לוחצת מידי... זכור לי שהמריבות עם ההורים נבעו מכך שהזדהתי
          יותר איתך רינה, מאשר עם הבית. כי אני חשבת שכל מה שהם הביאו משם הוא איום, גלותי, פרמיטבי"
          <br />
          <br />
          <br />
        </p>
        <h3 class="book--topiccontent-secondtitle">
          6.2.2 "שלח את עמי"(שנות השבעים)
        </h3>
        <p class="book--text-style">
          ברית המועצות שהייתה מדינה קומוניסטית-חילונית פגעה בחופש הדת של כלל אזרחיה ובכלל זאת בחופש הדת של היהודים. בשנות החמישים נוהלו
          כנגד כמה יהודים משפטי ראווה בעלי נימה אנטישמית; היהודים סבלו מתעמולה אנטישמית ואנטי-ישראלית בכלי התקשורת. הם נחשדו
          בחוסר נאמנות ולא אחת פוטרו ממקומות עבודה ונמנעה התקדמותם. וחמור מכול נאסר עלייהם לקיים כל פעילות בעלת אופי יהודי.
          בנוסף אשרות ההגירה לישראל בוטלו כמעט לגמרי ונמנעה פעילות של עידוד הגירה. מדיניות זו הובילה לזעם גדול בקרב היהודים
          בארץ ובעלום ובניגוד למצופה ליבתה בקרב יהודי ברית המועצות גל הזדהות עם ישראל שהתעצם עוד יותר לאחר מלחמת ששת הימים.
          השלטונות מצדם הגיבו בהגברת הרדיפה והחלו לאסור פעילים יהודים שלא נכנעו לדיכוי התרבותי וכונו
          <strong>אסירי ציון</strong>. המאסר השרירותי של אסירי ציון עורר הזדהות עמוקה בישראל ובעולם היהודי. על מנת לשחררם ולאפשר
          חופש דת ואפשרות עלייה ליהודי המדינה החל מסע לחצים בין לאומי שהתנהל תחת הכותרת "
          <strong>שלח את עמי</strong>". כותרת זו ביקשה לרמוז לבקשתו של משה מפרעה קודם ליציאת מצרים והיה בה להעיד על חשיבותו של העניין.
          בסופו של הדבר הלחצים הועילו ובסופו של דבר התאפשרה יציאתם של כ 500 אלף מיהודי ברית המועצות לאורך תקופת זמן של כ
          3 שנים.

          <br />

        </p>
        <h3 class="book--topiccontent-secondtitle">
          6.2.3 העלייה מאתיופיה (שנות השמונים והתשעים)
        </h3>
        <p class="book--text-style">
          הקהילה האתיופית, "ביתא ישראל", היא קהילה יהודית עתיקה שהתקיימה לאורך מאות רבות של שנים קבוצה קטנה של בני הקהילה הגיעו לארץ
          עוד במהלך שנות החמישים, אך העלייה הגדולה של הקהילה החלה רק בשנות ה80. בשנת 1984 הגיעו ידיעות על מצבם הקשה של יהודים
          באתיופיה שסבלו מרדיפות קשות של המשטר אשר גייס לצבא ילדים בגיל צעיר מאוד, אסר על קיום חוקי הדת היהודית, האשים את
          מנהיגי הקהילה בריגול למען ישראל ועוד. זאת לצד בצורת קשה באזורי ההתיישבות של היהודים אשר הביאה אותם אל סף רעב. כל
          אלה הביאו את ממשלת ישראל לכלל החלטה, שיש להציל את יהודי אתיופיה ולעלות אותם ארצה במבצע שכונה
          <strong>מבצע משה.</strong> מימוש ההחלטה היה מסובך מאוד בשל הריחוק הגיאוגרפי, הנתק המדיני בין ישראל לבין השלטונות באתיופיה
          והחוק במדינה שאסר על יציאת אזרחים מתחומיה ואף על מעבר מאזור לאזור. לאור זאת הוחלט להבריח את היהודים אל סודן ומשם
          להביאם לישראל. הנדידה במדבריות סודן הייתה מסוכנת וקשה ובדרכם ארצה נספו כ5,000 מבני הקהילה. כדי לאפשר את המבצע וגם
          לזכות בשיתוף הפעולה מצד שלטונות סודן, נערך המבצע בסודיות גמורה במשך מספר שבועות.
          <br /> אולם החשאיות נשברה לבסוף והעלייה הופסקה. העלייה התחדשה רק ב1991 במסגרת
          <strong>מבצע שלמה</strong>. הפעם מדובר היה מבצע הטסה גלוי ובמהלכו עלו לישראל כ14 אלף יהודים. בתום מבצע זה עלתה מרבית הקהילה
          לארץ, אך באתיופיה נותרו יהודים מזרע ביתא ישראל (המכונים לעיתים "פלאשמורה" ) שביקשו וציפו לעלות לארץ. החל מ-1992
          הוחלט כי מי שאמו יהודייה יוכל לעלות לישראל ויעבור תהליך גיור. קבוצת עולים זו מועלת לארץ בהדרגה לאחר שהות ממשוכת
          במחנות מעבר. הקליטה של יהודי אתיופיה מישראל הייתה מורכבת ומאתגרת. מרבית העולים חיו באזורים כפריים ולא היו מורגלים
          לטכנולוגיה מודרנית. האופי המודרני והאירוני של הארץ הצריך אותם לשינוי גדול באורחות החיים. מדינת ישראל נוקטת במדיניות
          של העדפה מתקנת כדי לשפר את סיכויי השתלבותם ומשקיעה בתהליך הקליטה משבאים רבים, אך במספר מקרים נתקלו העולים באפליה.
          גם צה"ל שותף למשימה זו ופועל על מנת לקדם את יוצאי אתיופיה ולאפשר להם הזדמנות שווה.</p>

        <h3 class="book--topiccontent-secondtitle">
          6.2.4 העלייה ממדינות ברית המועצות לשעבר (שנות התשעים)
        </h3>
        <p class="book--text-style">
          התפוררות השלטון הקומוניסטי בברית המועצות ונפילת המחיצות בין מזרח אירופה למערבה בסוף שנות השמונים הוליד גל עלייה גדול ממדינות
          אלו. מאז 1989 ועד תום המאה ה- 20 הגיעו לארץ כמיליון עולים ממדינות ברית המועצות לשעבר, גל עלייה חסר תקדים בהקיפו
          מאז שנותיה הראשונות של המדינה. רבים מין העולים נמשכו אל מדינת ישראל כמדינה בעלת משטר דמוקרטי, צביון מערבי ורמת
          חיים גבוהה יחסית. אחרים הושפעו משיקולים אידיאולוגים כמו אלו שהניעו את עולי ברית המועצות בשנות השבעים. קליטתה של
          כמות גדולה כל כך של עולים היוותה עבור החברה הישראלית אתגר קשה. רוב העולים הגיעו לארץ עם תואר אקדמי וקיוו להמשיך
          לעסוק במשלח היד בו עסקו בברית המועצות. עקב קשיי השפה ומבנה שוק העבודה הישראלי, פעמים רבות הדבר לא הסתייע. יתר על
          כן, ההשתלבות של העולים בחברה הישראלית מבחינה תרבותית הייתה איטית מאוד, העולים סבלו מדעות קדומות וחלקם בחר להסתגר
          בין דוברי רוסית, דבר שהביא להקמת מפלגות, עיתונים, חנויות ואזורי בילוי יהודיים. עובדה נוספת שהשפיעה על קליטתה של
          העלייה הרוסית הייתה העובדה שחלק ניכר מין העולים הורשו לעלות לארץ על פי חוק השבות אך לא הוכרו כיהודים על פי ההלכה
          בשל האחוז הגבוה של נישואי התערובת בברית המועצות. גם במקרה זה נקרא צהל ליטול חלק במאמצי הקליטה ולאפשר לחיילים המעוניינים
          בכך להשלים את גיורם במסגרת צבאית.</p>

      </div>

    </ion-content>
  </div>
