<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <p class="book--text-style">

          ישראל היא מדינה מגוונת ורבת פנים. הניסיון לסכם את ההיסטוריה הישראלית כולה במספר פסקאות קצרות אינו פשוט וכדרך הטבע לא נוכל
          לגעת בכל אירוע ובכל תחום. להלן בחרנו לדון בחמישה תחומים מרכזיים הנוגעים לחיים במדינת ישראל תוך התמקדות באירועים
          ובמושגים מרכזיים הנקשרים בהם. כך אנו מבקשים לעסוק במספר אירועים מרכזיים שההכרות עימם מהווה תשתית ידע בסיסי עבורנו
          כקצינים לעתיד, אך איננו מתיימרים לתאר כל אירוע ולא להקיף כל נושא.
          <br>
        </p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.3.1 חברה וכלכלה: שיוון ופערים חברתיים
        </h3>
        <p class="book--text-style">

          כאמור, בשנים הראשונות לקיומה היה מצבה הכלכלי של ישראל רע. מספרם העצום של העולים, מיעוט ההון העצמי שהביאו עמם וההוצאות העצומות
          בתחומי הביטחון בעת מלחמת העצמאות ומיד לאחריה, היוו עול כלכלי קשה. כתוצאה מכך הוחל במדיניות קיצוב שנודעה בכינוי
          "
          <strong>צנע".</strong> בבסיס מדיניות הקיצוב עומדת ההחלטה של המדינה לפקח על מוצרים שונים ולמנוע את מכירתם לכל המרבה במחיר:
          לכל אזרח הקצתה המדינה תלושים על פי מפתח קבוע שרק באמצעותם ניתן היה לרכוש את המוצרים שבפיקוח. באופן זה ביקשה המדינה
          לחלק את מעט המשאבים שהיו לה באופן שווה ובעיקר למנוע מצב בו יווצר בקרב העולים החדשים והאוכלוסיות החלשות רעב. משטר
          הצנע לא הצליח להתמיד לאורך זמן מאחר והוא פגע בחופש הקניין, לצד המוצרים שנמכרו בפיקוח החל להתפתח " שוק שחור" והציבור
          כולו סבל ממחסור כבד. זאת ועוד, על- אף השאיפה לצמצם את הפערים בחברה, לא הצליחה מדיניות הקיצוב למנוע את היווצרותו
          של שסע חברתי- כלכלי שנשא גם אופי עדתי. יוצאי אירופה, ה- "אשכנזים", היוו את הרוב המוחלט של עולי העליות בימי היישוב,
          קודם להקמת מדינת ישראל ומילאו תפקיד מרכזי בעיצוב המוסדות והתרבות החלוצית הארץ- ישראלית. יוצאי צפון אפריקה ואסיה,
          "המזרחים", הגיעו ברובם לאחר הקמת המדינה, ונדרשו לא פעם לסגל עולם ערכי ותרבותי שונה משלהם. על רקע זה התעוררו לא
          אחת תחושות קשות ונשמעו טענות על קיפוח וזלזול בתרבות שהביאו עימם העולים.
          <br /> הפעם הראשונה בה על מצב דברים זה אל פני השטח היה ביולי 1959 במסגרת
          <strong>אירועי ואדי סאליב</strong> שהחלו בחיפה. בשכונה חיו כ- 15,000 עולים שהתגוררו בבתים ערבים נטושים הם חיו בתנאים סניטריים
          קשים, רבים מבעלי המשפחות היו מובטלים ורבים מן הילדים והנערים נשרו ממערכת החינוך. את הרקע לפרוץ המהומות תיארה אשת
          מדע המדינה הנרייט דהאן- כלב:
          <br /> ב1959 הייתה ישראל מדינה עצמאית כבר 11 שנים. משנות הצנע ומעליית ההמונים היא התאוששה... מעמדה של ישראל בעולם התחזק
          בזכות היכולת הטכנולוגית החקלאית שפיתחה... לאחר מלחמת סיני שררה בה רגיעה ביטחונית יחסית.. כך התחדד גם בחיפה הקיטוב
          בין השכונות הסמוכות ואדי סלייב והדר כרמל: כאן שכונת העוני, שבה חיו תושבים שכבר זוהו כ'ישראל השנייה', וכאן השכונה
          הבורגנית, העשירה והמאוכלסת בעיקר תושבים ממוצא אירופי.
          <br /> המהומות עצמן פרצו כאשר שוטרים שהוזעקו לשכונה על מנת לרסן שיכור ירו ברגלו. עוד באותו ערב החלו בשכונה הפגנות אלימות
          שלשו בימים הבאים גם למגדל בעמק, בית שאן וקריית שמונה. ההפגנות אורגנו בידי ארגון קטן בשם "ליכוד עולי צפון אפריקה",
          וכוונו נגד מה שנתפס בעיני המפגינים כסמלים של הממסד: תחנות משטרה, בנייני הסתדרות וסניפי מפא"י (מפלגת השלטון).
          <br /> בעת התרחשות האירועים התקשה הממסד להביט עליהם באופן כולל ולנתח את הגורמים שהביאו לפריצתם. רק בדיעבד הצביעו חוקרי
          התקופה על אירועי ואדי- סאליב כעל הפעם הראשונה בה התרחשה במדינה מחאה על רקע עדתי וניתנה במה פומבית לטענות הקיפוח.
          האירועים הביאו לדיון ציבורי נרחב בסוגיית העולים החדשים בעיתונות וגם הממשלה הקימה ועדת חקירה במטרה לנסות ולבחון
          את השינויים שצריכים להיעשות. כעשור לאחר אירועי ואדי סאליב, בשנים 1970-1971, פקד את מדינת ישראל גל מחאה נוסף שאורגן
          על- ידי תנועה שכינתה את עצמה &nbsp;
          <strong>"הפנתרים השחורים". </strong>מרכזו של תנועת המחאה היה בשכונת מוסררה (קוממיות) שבירושלים: שכונה ערבית שננטשה במלחמת
          העצמאות ואוכלסה במהירות על ידי עולים חדשים. המוחאים טענו שהם מופלים בשל המוצא העדתי שלהם. בניגוד לאנשי ואדי סאליב
          "הפנתרים השחורים" היו בני עולים או כאלה שהגיעו לארץ בילדותם המוקדמות הם טענו שהם לא מצליחים להתקדם בסולם החברתי-כלכלי
          ונותרים לחיות בשולי החברה... הפנתרים יזמו שורה של הפגנות ופעולות מחאה כדי להעלות את עניינם לסדר היום אחת המרכזיות
          שבהן הייתה גנבת בקבוקי החלב שהונחו על יד דלתות בתיהם של תושבי רחביה והעברתם אל תושבי "השכונות", בטענה כי החלב,
          שנחשב למזון בריא ועסיסי, אינו נחלתם של העשירים בלבד. על טענות המחאה היה ניתן ללמוד מכרוז שחולק במהלך הפגנה באוגוסט
          1971:&nbsp; האזרח הדפוק, מי אתה? אולי אתה פועל שמרוויח 500 לירות ישראליות לחודש וצריך להאכיל 12 פיות. אולי אתה
          נער עבריין שמקבל הכרוז הזה לבית הסוהר. אולי את אם לעשרה ילדים שצריכה לעבוד בניקיון כדי לפרנס את משפחתך... אתה דפוק
          לא כי נולדת ככה אלא כי מישהו מקפח אותך...בתנאים של צפיפות איומה, מחלות וכמעט רעב היית צריך לגדל את ילדיך. יצאת
          לעבוד בבניין , בסלילת כבישים ובחקלאות- אבל נשאר לך טעם מר...קיבלת שכר של ניצול, ומה שיותר רציני, הם אכלו את פרי
          עבודתך- המקפחים... הם בעלי משרות בכירות במדינה שאתה בנית.</br>
          גם הפעם התקשו מוסדות המדינה להבין את ההקשר הרחב של המחאה. גולדה מאיר, ראש הממשלה באותה העת, סירבה להיפגש עם המוחאים בשל פעילותיהם
          האלימות ומיוחסת לה הקביעה המזלזלת "הם לא נחמדים" ביחס אליהם. יוזמי המחאה הקימו מפלגה פוליטית שהתמודדה בבחירות לכנסת
          וזכתה למספר מנדטים נמוך, אך השפעתה ניקרה בטווח הארוך יותר: היא סימלה את הביקורת הציבורית על שלטון מפא"י והובילה
          אל "המהפך" הפוליטי ועלייתו של מנחם בגין לשלטון בשנת 1977. בשנים הבאות עברה מדינת ישראל מהפכה כלכלית ובהדרגה הפכה
          ממדינה ריכוזית בה רבים מתחומי החיים מנוהלים על ידי הממשלה למדינה בה מונהג שוק חופשי, הממשלה נמנעת מפיקוח יתר ורבים
          משרותיה מופרטים. לאחר מספר משברים כלכלים הצליחה מדינת ישראל להתייצב וכיום נחשבת כלכלת לאחת מהחזקות בעולם. יחד עם
          זאת סקרים משווים מלמדים כי בישראל קיימים עדיין פערים בולטים בין עניים לעשירים והדבר מהווה אתגר מתמיד לחברה.
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.3.2 דת ואמונה: מיהו יהודי?
        </h3>
        <p class="book--text-style">
          כפי שראינו בשער הראשון, מדינת ישראל היא מדינה יהודית ודמוקרטית על אף שהגדרה זו נמצאת בהסכמה רחבה בחברה הישראלית, מתקיימים
          בה דיונים שונים באשר למשמעותה. עוד בטרם הקמת המדינה, בשנת 1947, שלח דוד בן גוריון, שעמד בראש מוסדות הישוב, מכתב
          למנהיגי הציבור החרדי, באשר לדמותה של המדינה שעתידה לקום. מכתב זה נודע לימים בכינוי
          <strong>מכתב הסטטוס קוו</strong>. המכתב מסרטט מאין מתווה לשמירת המצב הקיים(סטטוס קוו) בענייני דת ומדינה במדינה שעתידה לקום.
          מטרתו הייתה לסמן תנאים המסדירים ומאפשרים חיים משותפים בין דתיים לחילונים על אף המחלוקת. כלולות בו 4 קביעות עקרוניות
          הנשמרות בישראל עד היום: שבת-&nbsp; יום המנוחה הרשמי יהיה השבת והוא ישמר במוסדות המדינה ובמקומות ציבורים.
          <br /> כשרות- שמירה על כשרות בכל המוסדות הממשלתיים לרבות צה"ל ומשרדי הממשלה.
          <br /> דיני אישיות- בתחום נישואין וגירושין, תופקד הסמכות המשפטית בידי מערכת השיפוט הרבנית.
          <br /> חינוך- אוטונומיה מלאה לכל הזרמים בחינוך (ובכלל זה גם לזרם החרדי), תוך קביעת "מינימום של לימדוי חובה" במקצועות
          כגון עברית, היסטוריה ומדעים.
          </br>
          על אף זאת במהלך שנות קיומה של המדינה התעוררו מספר ויכוחים ציבוריים בהקשר ליחסי דת ומדינה. אחת הסוגיות המרכזיות בהקשר זה היא
          סוגיית "מיהו יהודי?", בה נתמקד להלן.
          <strong>חוק השבות</strong> שחוקק ב- 1950 קבע כי לכל יהודי הזכות לעלות לארץ. יחד עם זאת החוק לא קבע הגדרה לנומח "יהודי"
          ועד מהרה התעוררה השאלה המתבקשת "
          <strong>מיהו יהודי?". </strong>ההלכה גורסת כי יהודי הוא מי שנולד לא יהודייה או התגייר כהלכה. ההגדרה הבינלאומית לעומת זאת
          עשויה להיות רחבה יותר ולהתייחס לחינוך,&nbsp; למקום המגורים, להגדרה העצמית ועוד. הבדלים אלו נוגעים בעיקר לילדים
          לאב יהודי ואם שאיננה יהודייה, אלו אינם נחשבים יהודים לפי ההלכה, אך עשויים להגדיר עצמם כיהודים והתחנך על פי היהדות
          . העמימות בלשון החוק הובילה לרישום לא אחיד ולהתלבטויות רבות. ב 1958 הוציא שר הפנים, ישראל בר- יהודה, הנחיות&nbsp;
          מפורטות שקבעו כי יש לבסס את רישום היהדות על פי הצהרה בלבד וזאת מתוך הנחה ש"חזקה על אדם כשהוא יודע אם הוא יהודי
          או לא ". הוראה זו נתפסה כסטירה להלכה והולידה כעס גדול אצל הציבור הדתי שהוביל למשבר פוליטי. על מנת לשכך את המחלוקת
          בחר ראש הממשלה, דוד בן גוריון, בצעד לא שיגרתי :
          <strong>פנייה אל "חכמי ישראל"</strong>, חמישים ראשי קהילות ומלומדים יהודיים מכל העולם, שיחוו את דעתם בסוגיה. ארבעה מין
          "החכמים" לא ענו על המכתב כלל, ארבעה נמנעו מהכרעה בנושא, שבעה ההנחיות של בר- יהודה בוטלו לבסוף והויכוח שקע ועלה
          שוב אל הזירה הציבורית רק ב-1962, כשאר בג"ץ דן בעתירתו של אסוולד רופאייזן שכונה
          <strong>"האח דניאל"</strong>. רופאייזן היה יהודי שהסתתר בימי השואה במנזר והתנצר. כאשר עלה לארץ ביקש להירשם כיהודי בסעיף
          הלאום על אף היותו נזיר נוצרי, משרד הפנים דחה את בקשתו ולכן עתר לבג"ץ. על פי ההלכה יהודי שהמיר את דתו ומתכחש ליהדותו
          עודנו יהודי ועל כן היה האח דניאל רשאי להירשם כיהודי. אולם עמדת הרוב בבג"ץ פירשה את המושג יהודי בהקשר החילוני לאומי
          (כפי שעשה קודם לכן בר יהודה) ועל כן פסקה כי אין להיעתר לבקשתו של האח דניאל וכי יש להגדיר יהודי, "כהוראתו הרגילה
          בלשון בני האדם... יהודי שהתנצר אינו נקרא יהודי".
          <br /> כעבור מספר שנים , בשנת 1968, עלה הנושא שוב לדיון בבג"ץ.
          </br>
          <strong>רב סרן בנימין שליט </strong>שהיה נשוי לאישה לא יהודייה וביקש שילדיו ירשמו כבני הלאום היהודי וכחסרי דת גם הפעם,
          עמדת הרוב בבג"ץ ניתקה בין הגדרת הזהות הלאומית לבין הגדרת הזהות הדתית, דחתה את הפרשנות ההלכתית למונח "יהודי" ונעתרה
          לבקשתו. קביעתו של בגץ עוררה סערה בציבור ובעקבותיה תוקן בשנת 1970 חוק השבות ונקבע בו כי "יהודי- מי שנולד לאם יהודייה
          או שנתגייר והוא אינו בן דת אחרת" &ndash; בהתאם להגדרה ההלכתית גם חקיקה זו לא שמה את הקץ לדיון בסוגיה וכיום הוא
          מתמקד ב
          <strong>שאלת הגיור</strong>, האם הוא חייב להיות אורתודוקסי ומי יכול לבצעו.
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.3.3 פוליטיקה וממשל: בין ימין לשמאל
        </h3>
        <p class="book--text-style">
          מאז ראשית שנות השלושים ועד לשנות השבעים של המאה העשרים
          <strong>עמדה מפלגת פועלי ארץ ישראל (מפא"י) </strong>ובגלגוליה המאוחרים יותר "המערך" ו"מפלגת העבודה", ברשות מוסדות השלטון.
          מצב זה, המכונה במדע המדינה "הגמוניה", בא לידי ביטוי קודם כל בכך שמפאי הייתה המפלגה הגדולה היותר בכנסת ועל כן מי
          שעמד בראשה היה זה שהרכיב את הממשלה. אולם לשלטונה של מפא"י היה גם קשר תרבותי רחב יותר: ערכיה של התנועה ובעיקר השילוב
          שבין לאומיות ציונית חילונית לבין בניית חברה חלוצית בעלת מאפיינים סוציאליסטים נתפסו כערכים המובילים של החברה כולה.
          בצד השני של המפה הפוליטית עמדה תנועת
          <strong>"חירות"</strong> בראשות מנחם בגין , יורשתה של התנועה הרוויזיוניסטית שהתנגדה לשלטון מפא"י ולמפלגות הפועלים עוד בתקופת
          הישוב. בראשית שנות החמישים "חירות" הייתה תנועה פוליטית אופוזיציונית קטנה יחסית. ראש הממשלה , דוד בן גוריון טבע
          את המושג
          <strong>"בלי חירות ובלי מק"י"</strong>, באמצעותו הגדיר את הגבולות "הלגיטימיים" של הפוליטיקה הישראלית ובחר להוציא ממנה,
          את מק"י (מפלגה קומוניסטית ישראלית) שסימלה לדעתו את השמאל הקיצוני ואת חירות שסימנה לדעתו את הימין הקיצון. על רקע
          זה היו בן גוריון ובגין מסוכסכים זה עם זה והוויכוח בינהם עלה לא פעם לטונים צורמים ולכינויי גנאי קשים. תהליכים חברתיים,
          דמוגרפים ותרבותיים ארוכי טווח שחקו את מעמדן של מפא"י ותנועת העבודה. במהלך שנות השישים חברה תנועת "חירות" למפלגה
          הליברלית ויצרה את "גוש חירות ליברלית" (גח"ל), שהיה כוח פוליטי משמעותי בהרבה והחל להתעצב כאלטרנטיבה שלטונית. בתקופת
          ההמתנה שלפני מלחמת ששת הימים נכנסה גח"ל לראשונה לממשלה ולקחה חלק בהחלטות הביטחוניות לפני המלחמה ובמהלכה. בשנת 1973
          התאחדה גח"ל עם תנועות נוספות והקימה את "תנועת הליכוד" שזכתה לתמיכה הולכת וגוברת בקרב הדור השני של העולים. הפערים
          החברתיים אותם הזכרנו לעיל, לצד ערעור תחושת הביטחון שהביאה עימה מלחמת יום הכיפורים. נתפסו על ידי חלקים נרחבים בציבור
          כקשר של תנועת העבודה וחיזקו את התמיכה בליכוד. בשנת 1977, במהלך הבחירות לכנסת העשירית, הצליחה תנועת הליכוד להפוך
          למפלגה הגדולה בישראל ולזכות ב43 מנדטים (לעומת 32 של העבודה). עובדה זו הפכה את מנחם בגין לראש הממשלה הראשון שהגיע
          מן הימין לישראל. במהלך שידורי הטלוויזיה הכריז מגיש החדשות חיים יבין: " גבירותיי ורבותיי מהפך". מילותיו הפכו עם
          השנים לסמל של חילופי השלטון בישראל שכונו במודגש
          <strong>המהפך</strong>. המהפך והאופן החלק בו בוצע היווה ביטוי לחוזקה של הדמוקרטיה הישראלית. במערכת בחירות זו הוכח לראשונה
          כי במדינת ישראל יכולה מפלגת שלטון ששלטה בארץ יותר מיובל שנים לעזוב את ההנהגה בהתאם לדין הבוחר וללא אלימות. ממשלתו
          של מנחם בגין ביקשה לסיים שיטה כלכלית ליברלית יותר ופעלה על מנת לשנות את סדר העדיפיות הלאומי בהתאם להשקפותיה החברתיות
          כלכליות. לאחר המהפך הראשון בוצעו עוד מספר "מהפכים", קרי : חילופי שלטון בין מפלגות שונות. בכל המקרים התבצעו חילופי
          השלטון בהתאם לעקרונות הדמוקרטים וללא אירועים חריגים.
          <br /> </p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.3.4 ישראל ושכנותיה: בשאיפה לשלום
        </h3>
        <p class="book--text-style">
          מגילת העצמאות שנכתבה תוך כדי מלחמה עזה עם ערבי ארץ ישראל ולאורו של חשש מפלישת צבאות ערב, כוללת לקראת סופה את הקריאה הבאה:
          "אנו מושטים יד לשלום ושכנות טובה לכל המדינות השכנות ועמיהן, וקוראים להם לשיתוף פעולה ועזרה הדדית עם העם העברי העצמאי
          בארצו." התקווה שהובעה בפסקה זו לא התממשה במהרה. עם תום מלחמת העצמאות נחתמו בין ישראל לבין מרבית מדינות ערב הסכמי
          שביתת נשק שנודעו
          <strong>כהסכמי רודוס.</strong> הסכמים אלה היו זמניים בהגדרתם והם נחתמו מתוך תקווה שיובילו לשיחות שלום. בפועל תהליך השלום
          בין ישראל לשכנותיה החל רק בשנות השבעים. הוויתורים הטריטוריאלים שנדרשו מישראל כחלק ממנו, הובילו למוקד מתח מרכזי
          בחברה הישראלית בין "יונים" שתמכו בתהליך והסכימו לוויתורים כחלק ממנו לבין "נצים" שהתנגדו לו ולויתורים שנלוו לו.
          <br /> התהליך המדיני עם מצרים החל לאחר מלחמת יום הכיפורים. בשנת 1975 נחתמו התיווך אמריקני הסכמי ביניים בין ישראל למצרים.
          שנתיים לאחר מכן, בשנת 1977
          <strong>הגיע הנשיא המצרי אנואר סאדאת לביקור בישראל. </strong>היה זה ביקור פומבי ראשון של אישיות ערבית בכירה בארץ והוא עורר
          תקוות רבות והתרגשות עצומה בחברה הישראלית. מדינות ערב לעומת זאת זעמו על צעדיו של סאדאת וראו בזה בגידה. לאחר הביקור
          החל תהליך שלום ישיר ואינטנסיבי, אך בהדרה הוא נקלע לקשיים. בספטמבר 1978 הזמין הנשיא האמריקני, ג'ימי קרטר, את שני
          הצדדים לוועידה מיוחדת בקמפ- דיוויד ולאחר שבועיים של דיונים מתישים נחתם הסכם בין הצדדים. במסגרת זו הוחלט כי ישראל
          תסיג את כוחותיה מחצי האי סיני ותפנה את כלל היישובים הישראלים משטחו ומצרים תכונן שלום מלא עם ישראל, תימנע מהכנסת
          כוחות צבא לסיני ותאפשר שיט חופשי בתעלת סואץ. בנוסף הסכימה ישראל לכלול בהסכם סעיפים המתייחסים ל- "זכויות הלגיטימיות"
          של הפלסטינים. באשר לשרטוטו המדויק של הגבול הוחלט כי הוא יקבע בוועדה משותפת בחסות האו"ם. בעקבות ההסכם זכו בגין וסאדאת
          בפרס נובל לשלום לשנת 1978.
          <br /> באפריל 1982 השלימה ישראל את נסיגתה מסיני תוך
          <strong>פינוי הישובים היהודים </strong>שהאחריות על ביצועו הוטל על צה"ל. הפינוי לווה במחאה ציבורית ובהתנגדות מצד גורמים
          אידיאולוגיים שהקימו את "התנועה לעצירת הנסיגה מסיני". רובם של תושבי האזור התפנו מרצון אך חלק קטן מהתושבים ופעילים
          נוספים שהגיעו אל חבל ימית סרבו להתפנות, התבצרו במספר מוקדים ופונו בכוח רק לאחר מספר מאמצים.
          <br /> לאחר נסיגת ישראל מסיני היה אמור להתחיל מימוש חלקו השני של ההסכם המתייחש למשא המתן בין ישראל לפלסטינים, אך התקדמות
          במשא ומתן זה הגיעה רק בשנת 1991, עם כינוס
          <strong>ועידת מדריד. </strong>מטרת הוועידה הייתה להביא לשלום בין ישראל לבין כל שכנותיה- ירדן, סוריה, לבנון והפלסטינים שיוצגו
          באופן עקיף. חשיבותן של הפגישות היה בעיקר ביצירת מגעים ראשונים בין ישראל לפלסטינים אולם הפגישות שנערכו לאורך השנים
          הבאות לא צלחו ונראה היה כי התהליך גווע. לאור כישלון זה החלה ממשלת רבין השנייה (שנבחרה ב-1992) תהליך חשאי, שכונה
          לימים "תהליך אוסלו". הפעם התנהלו השיחות בין ישראל לנציגי הפלסטינים באופן ישיר וללא תיווך בין לאומי.
          <br /> ההסכמה הישראלית לדון ולהיפגש עם אנשי אש"ף היוותה שינוי משמעותי במדינותיה:
          <strong>עד לאותו שלב סירבה ישראל להכיר באש"ף, שהנהגתו ישבה מחוץ לשטחי יהודה ושומרון, כנציגם של הפלסטינים, ראתה בו ארגון
            טרור.
          </strong>בהדרגה, הפכו השיחות למפגשים רשמיים והולידו את
          <strong>"הסכם אוסלו"</strong> עליו חתמו יצחק רבין ויאסר ערפאת בספטמבר 1993 בוושינגטון. במרכזו של ההסכם עומדת הכרה הדדית
          בין ישראל ואש"ף, נסיגה הדרגתית של צה"ל מעזה ומערים בגדה המערבית, הקמת רשות פלסטינית שתנהל ממשל עצמי אוטונומי לתקופת
          ביניים של חמש שנים, ופתיחת שיחות על הסדר קבע במהלך תקופה זו. במקביל להתפתחות היחסים עם הפלסטינים, נוצרה פריצת דרך
          במסלול הירדני. חוסיין מלך ירדן ניהל במשך עשרות שנים מגעים חשאיים עם מדינאים ישראלים בכירים, אך עד וועידת מדריד
          לא יצר מסלול דו- צדדי פומבי עם ישראל. בשנים 1991-1993 התנהל המשא ומתן בין ישראל לירדן במסגרת תהליך מדריד, אך ללא
          פריצת דרך, הסכם אוסלו (1993) בין ישראל לאש"ף שינה את המצב. המשא ומתן בין המדינות הוליד
          <strong>הסכם שלום</strong> שנחתם בערבה, באזור הגבול בין עקבה לאילת, באוקטובר 1994. מעבר להצהרה על כינון מצב שלום מלא בין
          המדינות, ישראל וירדן הסכימו בינהן על חילופי שטחים בערבה, על העברת מכסות מים וצעדים נוספים של שיתוף פעולה.
          <br /> הסכמי אוסלו עוררו מחלוקת חריפה בחברה הישראלית. היו מי שקיווי שהם יביאו לסיומו של הסכסוך הארוך בין ישראל לבין העולם
          הערבי והיו מי שראו בו צעד מסוכן והתנגדו לוויתור על חלקים מארץ ישראל.
          <br /> ההסכמים עברו בכנסת על חודו של קול ומתנגדי ההסכם קיימו מחאות והפגנות רבות. הוויכוח הפוליטי הלגיטימי הדרדר והפך
          אלים יותר ויותר, תהליך ששיאו ברצח ראש הממשלה יצחק רבין.
          <br /> פיגועים של ארגוני הטרור הפלסטיניים ולבסוף התלקחות גל האלימות של אירועי גאות ושפל ( האינתיפאדה השנייה) הפסיקו למעשה
          את התהליך. בהדרגה התקבעה ההנחה הישראלית כי בצד הפלסטיני לא קיים שותף ראוי ("פרטנר") להמשך תהליך השלום. כאלטרנטיבה
          למשא ומתן יזמה ממשלת ישראל בקיץ 2005 מהלך ביטחוני חד צדדי,
          <strong>תכנית ההתנתקות</strong>. במסגרת התוכנית פינתה המדינה את היישובים היהודיים ובסיסי צה"ל ברצועת עזה ובצפון השומרון
          וויתרה על שליטתה הצבאית ברצועת עזה. התכנית עוררה ויכוח ער בחברה הישראלית. מתנגדיה טענו כי מטעמים רבים חל איסור
          על פינוי ישובים יהודיים בארץ ישראל, הזהירו מפני ההשלכות הביטחוניות של ביצוע התכנית ואף טענו כי היא התקבלה בדרך
          לא דמוקרטית. תומכיה טענו כי הישיבה הישראלית באזורים אלו פוגעת באינטרסים האסטרטגיים של מדינת ישראל וכי היישובים
          המפונים לא יישארו בידיה באף הסכם עתידי. האחריות על ביצוע משימת הפינוי וההערכות מחדש הוטלה על כוחות הביטחון ובמרכזם
          צה"ל.
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.3.5 יהודים וערבים בישראל
        </h3>
        <p class="book--text-style">
          מלחמת העצמאות בה לחמו תושבי הארץ הערבים בתושביה היהודים ובסופה הייתה ישראל לעובדה קיימת, הביאה למצב חדש בו בתחומיה של המדינה
          היהודית מתקיים מיעוט גדול של ערבים אזרחי ישראל. שילובם המלא של בני המיעוטים בחברה מהווה יעד מרכזי של כל ממשלות
          ישראל, אולם לא תמיד היה קל להביא לכך.
          <br /> החל מקום המדינה ועד 1966 היו נתונים ריכוזי היישובים הערבים בישראל ל
          <strong>ממשל צבאי</strong>. מטרתו המוצהרת הייתה לבסס את אחיזתה של ישראל בשטחים אלו, למנוע היווצרותם של סיכונים ביטחוניים
          ולפקח על האוכלוסייה. בפועל מנע השלטון הצבאי את חופש התנועה של אזרחים ערבים והביא לכך שרשויות המדינה לא יכלו לספק
          לאזרחים הערבים שירותים האופן ישיר. בהדרגה הפך הממשל הצבאי לליברלי יותר עד לביטולו, אך בתקופות של רגישות ביטחונית
          עולו היה בדרך כלל מוגבר.
          <br /> אחת הטראומות המרכזיות שנקשרו בממשל זה היה
          <strong>הטבח בכפר קאסם</strong> באוקטובר 1956. ביום הראשון למלחמת סיני הוטל עוצר על כל הכפרים הערבים הסמוכים לגבול הירדני.
          גדוד משמר הגבול נשלח לאכוף את העוצר וקיבל הוראה לפתוח באש אל מי שמפר אותו, אלא שפועלים ערבים אשר שהו מחוץ לכפריהם
          לצורכי עבודה לא ידעו על הטלתו. מרבית שוטרי מג"ב בחרו להפעיל שיקול דעת ונמנעו מיישום הפקודה כלשונה. אולם מפקד המחלקה
          שהוצב בכפר קאסם לא נהג כך, הורה לחייליו לפתוח באש אל עבר קבוצת חקלאים שלא ידעה על העוצר והביא להריגתם של 43 אזרחים
          ולפציעתם של 13 נוספים. בינואר 1975 הועמדו לדין בפרשה אחד עשר לוחמי מג"ב ונגזרו עליהם עונשי מאסר שונים, מפקד הגדוד
          הואשם ברצח. במהלך המשפט, טבע השופט הצבאי, בנימין הלוי, את המושג
          <strong>"פקודה בלתי חוקית בעליל". </strong>פקודה זו מוגדרת כפקודה ש"דגל שחור מתנוסס מעליה" ובבסיסה "אי חוקיות הדוקרת את
          העין ומקוממת את הלב". בתום המשפט נגזרו על המעורבים בפרשה עונשים כבדים, אך כולם שוחררו תוך זמן קצר יחסית. משפחות
          הקורבנות זכו לפיצוי כספי ובשנת 1957 נערכה בכפר "סולחה" גדולה, אך אירוע קשה זה המשיך להעיב על יחסי יהודים-ערבים
          במדינת ישראל. בשנת 2007, במהלך ביקור בכפר קאסם התנצל נשיא המדינה, שמעון פרס באופן רשמי על האירועים בשמה של מדינת
          ישראל. אחת הסוגיות המרכזיות המלווה את היחסים בין היהודים לערבים במדינת ישראל היא סוגיית הקרקעות. החל מהקמת המדינה
          חוקקו חוקים ונקבעו תקנות שהביאו לכך שאדמות רבות שהיו בעבר בבעלות ערבית עברו לבעלות המדינה. אחד החוקים המרכזיים
          בהקשר זה הוא "חוק נכסי נפקדים" שקובע כי אדמותיו של אדם שעזב את שטח הארץ אל ארצות אויב במהלך מלחמת העצמאות יופקעו
          ממנו. האדמות והנכסים שהופקעו שימשו ברובם לשם קליטת העלייה המאסיבית והמהירה אליה נדרשה מדינת ישראל ולשם הקמתם של
          מקומות יישוב חדשים.</br>
          אחד משיאי ההתנגדות והביקורת של ערביי ישראל ביחס למדיניות זו התרחש ב-1976. בראשית השנה פרסמה המדינה שורת החלטות בנוגע להפקעת
          קרקעות. ראשי הציבור הערבי ביקשו לערוך ב-30 במרץ שביתה כלכלית והפגנות שנועדו למחות על כך תחת הכותרת
          <strong>"יום האדמה"</strong>. ככל שהתקרב התאריך האלימות הלכה והסלימה ולבסוף ביום המחאה עצמו אירעו התגשויות אלימות בין המוחים
          לבין כוחות הביטחון במהלכן נהרגו שישה אזרחים ערבים. מאז ועד היום הפך יום זה ליום מרכזי בלוח השנה של ערביי ישראל
          במהלכו נערכות עצרות זיכרון, הפגנות מחאה ושביתות. היסטוריונים ואנשי מדע המדינה מתייחסים לאירוע זה כקו שבר המעיד
          על שינוי מגמות בתוך הציבור הערבי- ישראלי.
          </br>
          גל אלימות נוסף פרץ כמה עשוירם לאחר מכן, ב1 לאוקטובר 2000 כיומיים לאחר תחילת אירועי "גאות ושפל" (האינתיפאדה השנייה). במהלך
          האירועים שכונו "אירועי אוקטובר" השליכו המפגינים, ערבים אזרחי ישראל, בבקבוקי תבערה, חסמו כבישים ויידו אבנים אל עבר
          מכוניות יהודיות וכוחות הביטחון. פעולות אלו הביאו לפגיעה ברכוש, לפציעתם של רבים ואף למותו של אזרח ישראלי. על מנת
          לפזר את ההפגנות עשו כוחות הביטחון שימוש נרחב באמצעים לפיזור הפגנות (אלפ"ה) ולעתים אף באש חיה.
          </br>
          מקרב המפגינים נהרגו במהלך האירועים שניים-עשר ערבים ופלסטיני שאינו אזרח ישראלי. בעקבות האירועים הקשים, הוחלט ב-8 בנובמבר 2000,
          להקים ועדת חקירה לבדיקת האירועים (
          <strong>"ועדת אור"</strong>). לצד התייחסות ספציפית אל האירועים כללו המסקנות גם דין וחשבון כללי על מצבו של המגזר הערבי וביקורת
          על התנהלות הרשויות. בשל הפן האלים של ההפגנות ודיכוין, פגעו מהומות אוקטובר במרקם היחסים העדין שבין המגזר הערבי והמגזר
          היהודי במדינת ישראל.

        </p>
      </div>

    </ion-content>
  </div>
