<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/menu-button.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h3 class="book--topiccontent-title">
        6.4.1 חיים ויצמן (1874-1952)
      </h3>
      <p class="book--text-style">
        חיים ויצמן, נשיא המדינה הראשון, נולד בשנת 1874 בעירה מוטילי, ברוסיה. כשהיה נער עזב את ביתו ועבר ללמוד בגימנסיה בעיר פינסק.
        מרגע זה ואילך, הלך ויצמן והרחיב את השכלתו בתחום הכימיה עד שהפך לאחד המדענים החשובים בתחום. במקביל התקרב ויצמן אל
        הרעיון הציוני והפך לאחד מאבותיה של
        <strong>הציונות הסינתטית</strong> אשרp>ביקשה לשלב (ליצור סינתזה) בין רעיון הציונות המדינית לרעיון הציונות המעשית וגרסה כי
        על התנועה הציונית לפעול גם לשיפור מצבם של היהודים במזרח אירופה.
        <br> בשנת 1906 נשא לאישה את ורה ועבר להתגורר במנצ'סטר, בריטניה.
        <strong> במהלך מלחמת העולם הראשונה, סייע לתעשייה הצבאית הבריטית</strong>
        ומצא דרך חלופית לייצור חומר נפץ. ויצמן האמין כי עם תום המלחמה, ישלטו הבריטים בארץ, פעל לקרבם לתביעותיה של התנועה ציונית והביא
        להשגתה של
        <strong>הצהרת בלפור </strong>(1917).
        <br> משנת 1920 עמד בראש ההסתדרות הציונית העולמית, תפקיד ממנו התפטר בשנת 1930 כמחאה על פרסום "הספר הלבן" של פספילד אשר
        סימן את הסתייגותם מן הציונות. הוא לא הצליח לשוב לתפקיד יושב ראש, אך כיהן במשך יותר מעשור כנשיא ההסתדרות הציונות העולמית.
        בשנת 1934 הוקם ברחובות מכון לחקר המדע וויצמן מונה למנהלו הראשון. הוא בנה את ביתו במכון והפך את רחובות לביתו. המכון
        התפתח, הפך עם השנים לאחד המכונים החשובים בתחומו ולימים שונה שמו ל
        <strong>מכון ויצמן</strong>. ויצמן היה גורם מרכזי במאבק הדיפלומטי להקמת המדינה.
        <br> עם הקמתה נבחר לנשיא המועצה הזמנית וב- 1949 הפך לנשיאה הראשון של המדינה. כנשיא המשיך בפעילותו המדעית ויצר את מוסד
        הנשיאות. חיים ויצמן נפטר ב- כ"א בחשוון תשי"ג, 9 בנובמבר 1952 ונקבר במכון ויצמן ברחובות.
        <br>

      </p>

      <h3 class="book--topiccontent-title">
        6.4.2 יצחק בן צבי (1884-1963)
      </h3>
      <p class="book--text-style">
        יצחק בן צבי, נשיא המדינה השני, נולד בשנת 1884 בעירה פולטובה, ברוסיה, תחת השם יצחק שימשילביץ'. בילדותו למד ב- "חדר" מסורתי
        ומאוחר יותר בגימנסיה ובאוניברסיטה של קייב. עוד בצעירותו התקרב בן צבי לציונות והיה פעיל בארגון "הגנה עצמית" בעיירת
        הולדתו כנגד פורעים אנטישמיים. הוא הצטרף אל מפלגת "פועלי ציון" ולקח חלק בעיצוב אופיה. בשנת 1907עלה לארץ ישראל, המשיך
        בפעילות ציונית בעלת אופי ביטחוני ונמנה עם מייסדי ארגון השמירה
        <strong>בר גיורא</strong>, ארגון המגן הראשון שהוקם בשנת 1907. במקביל היה בין המורים הראשונים של הגימנסיה העברית, בית הספר
        התיכון הראשון בירושלים. בשנת 1912 החל ללמוד משפטים באיסטנבול לצדו של דוד בן גוריון. כאשר פרצה מלחמת העולם הראשונה
        (1914), נקטעו לימודיהם של השניים והם נאלצו לשוב לארץ ישראל. בארץ הם ניסו להקים גדוד יהודי במסגרת הצבא העות'מאני,
        אך גורשו לח"ול וכעברו זמן קצר הפליגו לארצות הברית, שם יזמו הקמת
        <strong>גדוד עברי</strong> אשר פעל במסגרת הצבא הבריטי. כאשר חזר בן צבי לארץ, שימש במגוון תפקידי מפתח במסגרת המוסדות הלאומיים
        ועסק במקביל גם בחקר ארץ ישראל וקהילות יהודיות בארצות האסלאם. בשנת 1947 ייסד מכון לחקר קהילות ישראל במזרח ולימים זה
        הפך ל- יד
        <strong>יצחק בן צבי</strong>, מכון מחקר מרכזי ורכז חינוכי העוסק בחקר ההיסטוריה של ארץ ישראל ויהדות המזרח. החל משנת 1948 שימש
        בן צבי כחבר כנסת מטעם מפא"י. עם פטירתו של חיים ויצמן ב-1952, נבחר לנשיא. כנשיא המשיך להתגורר בצריף צנוע בשכונת רחביה
        בירושלים והפך את ביתו לבית פתוח אליו הוזמן כל אזרח שרצה בכך. יצחק בן צבי נפטר ב-כ"ט בניסן תשכ"ג, 23 באפריל 1963,
        ונקבר בהר המנוחות בירושלים.
        </br>


      </p>
      <h3 class="book--topiccontent-title">
        6.4.3 זלמן שזר (1889-1974)
      </h3>
      <p class="book--text-style">
        זלמן שזר, נשיא המדינה השלישי, נולד בשנת 1889 בעיר מיר, בבלרוס, תחת השם שניאור זלמן רובשוב (שז"ר). משפחתו הייתה משפחה חסידית
        ידועה מצאצאיו של ר' שניאור זלמן מלאדי מייסד חסידות חב"ד. הוא התמקד בהשכלתו
        <strong>בלימודי היסטוריה</strong> והיה אחד מתלמדיו של ההיסטריון היהודי החשוב שמעון דובנוב. בשנת 1905 הצטרף למפלגת פועלי ציון
        והפך לאחד ממנהיגיה הבולטים, בשנת 1911 הגיע לראשונה לארץ ישראל אך לאחר תקופה קצרה חזר לאירופה לצורך המשך לימודיו.
        </br>
        בשנת 1924 השתקע באופן סופי בארץ ישראל והחל לעבוד כחבר מערכת בעיתון "דבר". לאחר מותו של ברל כצנלסון בשנת 1944, הפך שזר לעורך
        העיתון ולעורכה של הוצאת ספרים "עם עובד". עם הקמת המדינה נבחר כחבר כנסת מטעם מפא"י ושימש כשר החינוך בממשלת ישראל הראשונה.
        בתפקידו זה עסק בבנייה של מערכת החינוך הישראלית ויזם א ת חקיקתו של
        <strong>חוק חינוך חובה</strong>, על פיו חייב כל ילד מגיל 5 ועד גיל 13 ללמוד במוסד חינוכי חינם. לימים הורחב החוק והחל היום
        עד גיל 18 (12 שנות לימוד).
        <br> עם פטירתו של יצחק בן צבי ב-1963, נבחר לנשיא. הוא המשיך לעסוק בחקר ההיסטוריה גם בתפקיד זה ויסד את "חוג הנשיא לחקר
        יהדות זמננו". ב-1971 הוא חנך את "משכן נשיאי ישראל", המעון הרשמי בו מתגוררים נשיאי המדינה מאז ועד היום. שזר כיהן בתפקיד
        עד לפרישתו במאי 1973. זלמן שזר נפטר ב- י"ט בתשרי תשל"ה, 5 באוקטובר 1974 ונקבר בחלקת גדולי האומה בהר הרצל.
        <br>
      </p>
      <h3 class="book--topiccontent-title">
        6.4.4 אפרים קציר (1916-2009)
      </h3>
      <p class="book--text-style">
        אפרים קציר, נשיא המדינה הרביעי, נולד בשנת 1916 בעיר קייב, באוקראינה, תחת השם אפרים קצ'לסקי. כשהיה בן תשע עלתה משפחתו לארץ
        והתיישבה בירושלים. קציר למד בגימנסיה העברית ובהיותו בן 16 התגייס ל- "הגנה". מעט לאחר מכן החל את לימודי באוניברסיטה
        העברית ועד מהרה הפך לאחד
        <strong>מחשובי המדענים</strong> שפעלו בארץ. במהלך מלחמת העצמאות הקים את
        <strong>"חיל המדע"</strong> שתפקידו לרכז ידע הדרוש לצורך פיתוח אמצעי לחימה. בשנת 1950 שב קציר לאקדמיה ומונה לראש החוג לביופיזיקה
        במכון ויצמן, בשנת 1959 זכה בפרס ישראל למדעי החיים ובשנת 1960 נבחר כחבר המועצה הלאומית הישראלית למדעים. ב-1966 מונה
        קציר למדען הראשי במשרד הביטחון וחזר לעסוק בנושא פיתוח אמצעי לחימה. בשנת 1972 נרצח אחיו, אהרון קציר שהיה גם הוא מדען
        חשוב, בהתקפת מחבלים בנמל התעופה בן גוריון.
        <br> עם פרישתו של זלמן שזר ב-1973 נבחר קציר לנשיא. כהונתו עמדה בעיקר בסימן
        <strong>מלחמת יום הכיפורים</strong> שפרצה זמן קצר לאחר כניסתו לתפקיד. הוא הרבה לבקר את הפצועים בבתי החולים ואת אלמנות החללים.
        בשנת 1974 יסד את
        <strong>"אות הנשיא למתנדב"</strong>, עיטור גבוה שמעניק נשיא המדינה לגופים וליחידים שעוסקים בתרומה למען הכלל. בשנת 1977 קיבל
        את פניו של נשיא מצריים אנואר סאדאת בעת ביקורו בארץ. הוא כיהן בתפקיד עד לפרישתו במאי 1978. אפרים קציר נפטר ב-ז' בסיוון
        תשס"ט, 30 במאי 2009 ונקבר בבית העלמין ברחובות.
        <br>

      </p>
      <h3 class="book--topiccontent-title">
        6.4.5 יצחק נבון (1921-2015)
      </h3>
      <p class="book--text-style">
        יצחק נבון, נשיא המדינה החמישי, נולד בשנת 1921 בירושלים למשפחה ספרדית ירושלמית. בהיותו נער למד במחזור הראשון של התיכון ליד
        האוניברסיטה. עם תום לימודיו התיכוניים למד מזרחנות וחינוך באוניברסיטה העברית. בשנת 1946 התגייס נבון ל- "הגנה"
        <strong>ועמד בראש "המחלקה הערבית" בירושלים.</strong> בשנת 1949 הצטרף לשירות הדיפלומטי של משרד החוץ וכיהן בתפקידים שונים באורוגוואי
        ובארגנטינה. בהמשך הפך גם למזכירו של שר החוץ, משה שרת, וב-1952 הפך למנהל לשכת ראש הממשלה ופעל תחת משה שרת ודוד בן
        גוריון. בשנת 1963 מונה לראש אגף התרבות במשרד החינוך והתרבות. בתפקידו זה החל ב-
        <strong>מבצע לביעור הבערות</strong> בשיתוף עם קצינת ח"ן ראשית אל"ם סטלה לוי. מטרת המבצע הייתה להרחיב באופן ניכר ידיעת קרוא
        וכתוב בקרב מבוגרים מאוכלוסיות חלשות. לצורך המבצע העמיד צה"ל כמות גדולה של חיילות שנשלחו לריכוזי עולים ועסקו בהוראת
        השפה. מבצע זה הוכתר בהצלחה רבה והיווה את הבסיס להקמת יחידת המורות החיילות.
        <br> במקביל לקריירה הפוליטית שלו עוסק נבון גם בכתיבה. יצירתו הידועה ביותר היא המחזה
        <strong>בוסתן ספרדי</strong>, שהועלה לראשונה בשנת 1969 וזכה לחידוש בתיאטרון הבימה ב-1998. המחזה מספר את סיפורה של השכונה
        הספרדית אוהל משה, אחת משכונות ה- "נחלאות" בירושלים בה גדל.
        <br> בשנת 1965 נבחר לכנסת ובין השנים 1974-1977 שימש כיושב ראש ועדת החוץ והביטחון. עם פרישתו של אפרים קציר ב-1978 נבחר
        יצחק נבון לנשיא. כהונתו עמדה בסימן הסכם השלום עם מצרים והמחלוקת הציבורית שפרצה סביב פינוי חבל ימית. ובסימן
        <strong>מלחמת שלום הגליל</strong> והדיון הציבורי שהתפתח באשר להתמשכותה.
        <br> עם תום כהונתו כנשיא, בשנת 1983, חזר לחיים הפוליטיים ונבחר לכנסת האחת עשרה מטעם מפלגת העבודה. בשנת 1984 מונה לסגן
        ראש הממשלה ולשר החינוך והתרבות. ב- 1990 פרש מן הכנסת והחל לכהן במגוון תפקידים ציבוריים. יצחק נבון נפטר ב- כ"ד בחשוון
        תשע"ו, 6 בנובמבר 2015 ונקבר בהר הרצל.
        <br>
      </p>
      <h3 class="book--topiccontent-title">
        6.4.6 חיים הרצוג (1918-1997)
      </h3>
      <p class="book--text-style">

        <strong>"האויב האמיתי שבפניו אנו ניצבים, נמצא בקרבנו , הוא נמצא בכל אחד ואחת מאיתנו , אזרחי ישראלי,יהודים וערבים , דתיים
          וחילונים&nbsp; , ימניים ושמאלניים, ספרדים ואשכנזיים. הוא מתבטא בחוסר הנכונות לשמוע את הזולת שדעתינו אינה נוחה.
          אולי זוהי הסכנה הגדולה ביותר שלפניה עמדנו אי-פעם במדינתנו מאז קבלת העצמאות. בשל ריב אחים ונפל קורבן לחרב הפולש-
          מי כמונו חייב ללמוד ולשנן את לקח העבר כדי להבטיח את העתיד."
        </strong>
        <br> חיים הרצוג, נשיא המדינה השישי, נולד בשנת 1918 באירלנד
        <strong>לרב יצחק הרצוג, רבה הראשי של אירלנד, ומי שהיה לימים רבה הראשי של מדינת ישראל.</strong> בשנת 1935 עלה לארץ, למד בישיבת
        "מרכז הרב" ולאחר מכן גם בישיבת "חברון". בשנת 1936 התגייס לשורות ה"הגנה" ושנתיים מאוחר יותר חזר לבריטניה על מנת ללמוד
        משפטים. הוא השלים את לימודיו והתנדב לצבא הבריטי שעמד בלחימה קשה עם הנאצים. הרצוג הוצב כקצין
        <strong>מודיעין בחזית הגרמנית</strong> והיה בין משחררי מחנה הריכוז ברגן בלזן. עם תום המלחמה השתחרר בדרגת מייג'ור (רב-סרן).
        <br> בשנת 1948
        <strong>הקים את מחלקת המודיעין</strong> של צה"ל שהפכה לימים לאגף המודיעין (אמ"ן) בתפקיד זה הניח את היסודות לדפוסי האיסוף
        והמחקר בתחום. בהמשך שימש גם כנספח הצבאי בוושינגטון, פיקד על חטיבת ירושלים ושימש כראש אגף המודיעין (אמ"ן). בשנת 1962
        השתחרר מצה"ל בדרגת אלוף. בשנת 1967 מונה לפרשן ב- "קול ישראל" ועל אף שלא נשא בתפקיד רשמי באותה עת, סייע בהרגעת הציבור
        ובעידודו ב- "תקופת ההמתנה" שקדמה למלחמת ששת הימים. לאחר המלחמה התבקש לשוב לצה"ל ומונה למושל ירושלים והגדה המערבית.
        בשנת 1973, בעת מלחמת יום הכיפורים, חזר לשדה התקשורתי ושימש כפרשן צבאי בערוץ הראשון. בשנים 1975-1978 כיהן כשגריר ישראל
        באו"ם. מכהונה זו זכורה במיוחד תגובתו הקשה להחלטת האו"ם להגדיר את הציונות כגזענות. בשנת 1981 נבחר הרצוג לכנסת מטעם
        מפלגת העבודה.
        <br> עם פרישתו של יצחק נבון ב- 1983 נבחר חיים הרצוג לנשיא. במהלך כהונתו פעל לחיזוק הקשר בין ישראל לתפוצות ולחיזוק החינוך
        היהודי. בשנת 1987 היה לנשיא הישראלי הראשון שערך ביקור בגרמניה. הוא כיהן בתפקיד עד לפרישתו במרץ 1993. חיים הרצוג נפטר
        ב-י' בניסן תשנ"ז, 19 באפריל 1997 ונקבר בחלקת גדולי האומה בהר הרצל.
      </p>
      <h3 class="book--topiccontent-title">
        6.4.7 עזר ויצמן (1924-2005)
      </h3>
      <p class="book--text-style">
        <strong>
          "הגורל הוליד אותי ואת אחיי בני דורי בימים הגדולים בהם שבו היהודים לארצם והקימוה מחדש.. אבל כל ייהודי, בכל דור ודור, חייב
          לראות את עצמו כאילו הוא היה שם.. הייתי עבד במצרים, וקיבלתי את התורה בהר סיני. ויחד עם יהושע ואליהו עברתי את נהר
          הירדן. נכנסתי לירושלים עם דוד, וגיליתי ממנה את צדקיהו, ושלא שכחתי אותה על נהרות בבל, ובשוב ה' את שיבת ציון חלמתי
          בין בוני חומותיה, לחמתי ברומאים , וגורשתי מספרד והעליתי על המוקד במגנצא, ולמדתי תורה בתימן, ושכלתי את משפחתי בקישינב,
          ונשרפתי בטרבלינקה, ומרדתי בוורשה ועליתי לארץ ישראל, היא ארצי שממנה גליתי ובה נולדתי וממנה אני בא ואליה אשוב."
        </strong>
        עזר ויצמן, נשיא המדינה השביעי, נולד בשנת 1924 בתל אביב וגדל בחיפה. במהלך מלחמת העולם השנייה
        <strong>התגייס לחיל האוויר הבריטי ושירת כטייס קרב.</strong> בשנת 1946 פרש מהצבא הבריטי והצטרף לתקופה קצרה לאצ"ל. בשנת 1947
        היה ממקימי " שירות האוויר" של ה- "הגנה", אשר הפך עם קום המדינה לחיל האוויר הישראלי. במלחמת העצמאות פיקד על "טייסת
        הנגב", עליה הוטל לספק מזון ותחמושת לישובים היהודים המבודדים באזור. ויצמן אף השתתף בקרב הקשה אשר בסופו נעצרו המצרים
        בגשר "עד הלום" הסמוך לאשדוד. לאחר המלחמה המשיך למלא תפקידים שונים בחיל האוויר. בשנת 1958 מונה ל
        <strong>מפקד חיל האוויר</strong>, תפקיד אותו מילא במשך שמונה שנים. בתקופה זו הפך את חיל האוויר לחיל מודרני ומיומן שהצליח
        להפגין יכולות מרשימות מאוד במהלך "מבצע מוקד" שפתח את מלחמת ששת הימים. בין השנים 1966-1969 שימש כראש אגף המבצעים וסגן
        הרמטכ"ל. בשנת 1969 פרש ויצמן מצה"ל והצטרף לגח"ל (גוש חירות ליברלים) שיהפוך בעתיד למלפגת הליכוד. הוא שימש כשר התחבורה,
        ולאחר "המהפך" הפוליטי ב-1977 כשר הביטחון. בהקשר זה מילא תפקיד מפתח בהשגת
        <strong>הסכם השלום עם מצרים</strong>. בשנת 1980 פרש מן הממשלה וב- 1984 הקים את מפלגת "יחד", שהתמזגה מאוחר יותר אל מפלגת "העבודה".
        בשנת 1992 החליט לעזוב את החיים הפוליטיים.
        <br> עם פרישתו של חיים הרצוג ב- 1993 , נבחר עזר ויצמן לנשיא. בניגוד לקודמיו, הוא הרבה להתבטא בנושאים שעמדו על סדר היום
        תוך נאמנות לסגנונו הישיר והבלתי אמצעי. במהלך כהונתו פעל לקידום קליטת העלייה ממדינות חבר העמים ומאתיופיה ולחיזוק הקשר
        עם המשפחות השכולות. בשנת 1999 פורסם כי ויצמן קיבל כספים מאיש עסקים מבלי שדיווח על כך כנדרש. היועץ המשפטי לממשלה החליט
        שלא להעמידו לדין אך ויצמן בחר לפרוש מתפקידו בשנת 2000. עזק ויצמן נפטר ב-ט"ו בניסן תשס"ה, 24 במי 2005, ונקבר בבית
        קברות באור עקיבא.
        <br>

      </p>


      <h3 class="book--topiccontent-title">
        6.4.8 משה קצב (נולד: 1945)
      </h3>
      <p class="book--text-style">
        <strong>
          "עצב עמוק יורד על מדינת ישראל משנקבע כי מי שהיה שר בממשלה ,סגן ראש הממשלה ונשיא המדינה, ביצע מעשים כאלה. מחזה קשה ביותר הוא
          לראות את מי ששימש לסמל ממלכי במדינה נכנס לכלא."
        </strong>
        <br> משה קצב, נשיא המדינה השמיני, נולד בשנת 1945 בעיר יזד, באירן. בהיותו בן חמש עלה עם משפחתו לישראל. הוא גדל והתחנך
        במעברה קסטינה שהפכה לימים לעיירה קריית מלאכי, למד בכפר הנוער בן- שמן והתגייס לחיל הקשר. עם שחרורו מהצבא פנה ללימודי
        היסטוריה וכלכלה באוניברסיטה העברית ועסק בהוראה ובעיתונאות. בשנת 1969 נבחר
        <strong>כראש הרשות המקומית קריית מלאכי</strong> והיה לראש המועצה הצעיר בתולדות המדינה. קצב מילא תפקידי שר נוספים ומונה לסגן-
        ראש הממשלה. התקדמותו המהירה זכתה לתהודה ציבורית גדולה, בעיקר בשל הרקע החברתי- כלכלי ממנו הגיע. עם פרישתו של עזר ויצמן
        ב-2000 , נבחר לנשיא. תקופת כהונתו החלה כתקופה מתונה ושקטה יחסית לאחר תקופתו הסוערת של הנשיא ויצמן. בשנת 2005, על
        רקע הסערה הציבורית סביב תכנית ההתנתקות, נשא קצב נאום בו חלק למתיישבי חבל קטיף וצפון השומרון שבחים רבים אך ביקש מהם
        לציית לחוק ולא לפגוע בכוחות הביטחון. בינואר 2007 ביקש קצב "נבצרות זמנית" על רקע היותו חשוד בפלילים, ויושבת ראש הכנסת,
        דליה איציק, מונתה כממלאת מקומו. ביוני 2007 התפטר סופית מתפקידו. משה קצב הורשע בשנת 2011 בביצוע עבירות אונס, מעשה
        מגונה בכוח והטרדה מינית של נשים שהיו כפופות למרותו. קצב נידון למאסר ונשלח לרצות את עונשו בכלא.
        <br>

      </p>
      <h3 class="book--topiccontent-title">
        6.3.9 שמעון פרס (1923-2016)
      </h3>
      <p class="book--text-style">
        <strong>
          "חברה שיש בה כל כך הרבה מתנדבים וארגוני התנדבות, היא חברת סגולה, שקיימת בה סולדריות וערבות הדדית. חברה שטוב להיות חלק ממנה.
          האמת היא שגם אם אנחנו ישנם פגמים בישראל, טוב להיות ישראלי. הישראלי יודע שאם ייקלע למצוקה , קרובה לבית או רחוקה,
          בקצווי תבל, לא יישאר לבד. תמיד יזנקו ממקום מפתיע מתנדבים שיחשו לעזור."
        </strong>

        <br> שמעון פרס, נשיא המדינה התשיעי, נולד בשנת 1923 בווישנובה, בפולין, תחת השם שמעון פרסקי. בשנת 1934 עלה עם משפחתו לישראל
        ולמד בבית הספר בבן שמן, כשהיה בן שבע עשרה הצטרף להכשרה של הנוער העובד בקיבוץ גבע והיה מקימיו של קיבוץ אלומות. פרס
        החל למלא מספר תפקידים בתנועה. ב- 1947 הצטרף ל"הגנה" והוצב במפקדתה הראשית ועם קום המדינה עבר לשרת במשרד הביטחון. ב-1952
        מונה ל
        <strong>מנכ"ל משרד הביטחון</strong> בהיותו בן 29 בלבד. בתפקידו זה עסק בעיקר בהצטיידות צה"ל באמצעי לחימה ובפיתוח התעשיות הביטחוניות.
        בעת כהונתו הוא פעל לחיזוק היחסים בין ישראל לצרפת, פיתח את יכולתה האסטרטגית של ישראל והוביל את ההכנות לקראת מלחמת
        סיני. בשנת 1959 נבחר לראשונה לכנסת מטעם מפא"י ושימש כסגן שר הביטחון. ממשלות ישראל השונות שימש כשר לקליטת עלייה, שר
        התחבורה, שר ההסברה, שר הביטחון, שר הפנים, שר החוץ, שר האוצר, השר לשיתוף פעולה אזורי, השר לפיתוח הנגב והגליל, המשנה
        לראש הממשלה ועוד. ב-1977 התמודד לראשונה על ראשות הממשלה אל מול מנחם בגין והפסיד בהפרש נמוך מאוד. בשנת 1984 התמודד
        מול יצחק שמיר ומפלגות השמאל זכו למספר מושבים זהה לזה של מפלגות הימין.
        <strong>פרס הפך לראש ממשלת אחדות כחלק מהסכם רוטציה</strong>
        שקבע כי לאחר שנתיים יחליפו בתפקיד מנהיג הליכוד, יצחק שמיר. במהלך כהונתו כראש ממשלה, הוביל תכנית לייצוב המשק, הסיג את צה"ל
        לקו הגנה חדש בדרום לבנון שנודע כ-" רצועת הביטחון" וביצע עסקת חילופי שבויים גדולה (עסקת ג'יבריל). בשנת 1988 התמודד
        פרס שוב כנגד שמיר והפסיד.
        <br> בשנת 1992 מונה לשר החוץ בממשלתו של יצחק רבין והביא לחתימתו של הסכם הביניים עם הפלסטיניים שנודע כהסכם אוסלו. על כך
        זכה לצדם של יאסר עראפת ויצחק רבין, בפרס נובל לשלום. חתימת ההסכם הביאה לפילוג קשה בעם ששיאו ברציחתו של ראש ההמשלה,
        יצחק רבין, בנובמבר 1995. לאחר הרצח מונה פרס לראש הממשלה. במהלך כהונתו נסוגה מדינת ישראל משטחים שונים ביהודה ושומרון
        בהתאם להסכמים עם הפלסטינים, החמאס ביצע שורה של פיגועי טרור קשים בעורף ישראל, ובעקבות ירי קטיושות מלבנון, יצא צה"ל
        למבצע ענבי זעם. בבחירות של שנת 1996 הפסיד פרס את ראשות הממשלה לבנימין נתניהו ובשנים הבאות המשיך לכהן כחבר כנסת וכשר.
        בעקבות התפטרותו של משה קצב, ביוני 2007, נבחר פרס לנשיא ובכך סיים קריירה רצופה בת כ-48 שנים כחבר כנסת. במהלך כהונתו
        פעל פרס לחיזוק מעמדה הבין לאומי של ישראל ולעידוד יזמות טכנולוגית. הוא כינסה ועידות בין- לאומיות תחת חסותו והקים את
        "מרכז פרס לשלום ולחדשות". פרס, שייצג את מדינת ישראל במשך שנים רבות בפני העול, זכה להערכה והערצה רבה מצדם. לווייתו
        הייתה אירוע בין לאומי שראשי מדינות רבות כיבדו אותו בנוכחותם. שמעון פרס נפטר ב- כ"ה באלול תשע"ו, 28 בספטמבר 2016,
        ונקבר בהר הרצל.

      </p>

      <h3 class="book--topiccontent-title">
        6.4.10 ראובן (רובי) ריבלין (נולד: 1939)
      </h3>
      <p class="book--text-style">
        <strong>
          "אנו זוכרים שלא מאושוויץ באנו ושלא לאושוויץ אנו הולכים. אסור לנו לתת להן לעשן את המשרפות לטשט את יכולותינו ולהכיר את עברנו.
          הם חזקים מכל אלה שעמדו עלינו לכלותינו. יש הטועים לחשוב שמדינת ישראל היא םיצוי על השואה, אך אין טעות איומה מזו-
          ישראל קמה מכוח הזכות למולדת עתיקה, לא מאימת הכיליון ולא משנאת האחר."

        </strong>

        <br> ראובן (רובי ריבלין) נשיא המדינה העשירי (הנוכחי) נולד בירושלים
        <strong>למשפחה מרכזית בעיר שהגיעה אליה עם עליית תלמידי הגר"א</strong>
        בראשית המאה התשע-עשרה. הוא למד בגימנסיה העברית והיה פעיל מאוד בתנועת "הצופים" בעיר. בשנת 1957 התגייס לצבא ושירת כקצין מודיעין
        קרבי, תפקיד בו המשיך במילואים והגיע עד לדרגת רב- סרן. עם שחרורו מהצבא למד משפטים באוניברסיטה העברית והחל להיות פעיל
        בתנועת "חירות". הוא כיהן כחבר מועצת העיר ירושלים והתמנה לסגן ראש העיר. ב-1988 נבחר לראשונה לכנסת מטעם הליכוד וכיהן
        כיושב ראש הוועדה למאבק בנגע הסמים והאלכוהול ולאחר שלא נבחר לכנסת בבחירות הבאות פנה לעסקים פרטיים. ב-1996 נבחר שוב
        לכנסת וב- 2001 מונה לשר התקשורת. ב-2003 נבחר ריבלין לתפקיד
        <strong>יושב ראש הכנסת.</strong> כהונתו עמדה בסימן תכנית ההתנתקות והמחלוקת הציבורית אותה עוררה. ריבלין, שהתנגד לתכנית קרא
        לצדדים לנהוג באיפוק והדגיש את המחויבות למדינה ולמוסדותיה. בשנת 2007 ויתר על התמודדות לתפקיד הנשיא על מנת לאפשר בחירה
        פה אחד בשמעון פרס ובשנת 2009 שב לתפקיד יושב ראש הכנסת. עם סיום כהונתו של שמעון פרס ב- 2014, נבחר ריבלין לנשיא.
        <br>
      </p>
    </div>

  </ion-content>
