<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h3 class="book--topiccontent-title lightHeebo">
          6.5.1 דוד בן-גוריון (1973-1886)
        </h3>

        <p class="book--text-style">
          <strong>"לא די שידע המפקד את מלאכתו. עליו להיות אהוב האדם, שהחייל שנשלח אליו יהיה יקר לו, שיאהב אותו, ובעיקר שיעורר אמון
            בחייל ובאם החייל. עלינו לפתח ידידות עמים, אך לסמוך יכולים אנו רק על עצמנו. הדבר תלוי במפקדים שיהיו לנו. אם המפקדים
            יעוררו את האמון, האהבה, את הדבקות בחיילים שלהם, תדע כל אם עברייה, שמסרה גורל בנה לידי מפקדים ראויים לכך."</strong>
        </p>
        <p class="book--text-style">דוד בן-גוריון, ראש הממשלה הראשון, נולד בשנת 1886 בעיירה פלונסק, בפולין, תחת השם דוד גרין. כבר מילדותו היה קרוב בדעותיו
          אל חוגים ציוניים וכשהיה בן עשרים עלה לארץ כחלק מהן העלייה השנייה. בתחילה עבד כפועל חקלאי במושבות ועד מהרה הפך לפעיל
          מרכזי במפלגת פועלי ציון. בשנת 1912 החל ללמוד משפטים באיסטנבול לצידו של יצחק בן צבי. כאשר פרצה מלחמת העולם הראשונה
          (1914), נקטעו לימודיהם של השניים והם נאלצו לשוב לארץ ישראל. בארץ הם ניסו להקים גדוד יהודי במסגרת הצבא העות'מאני,
          אך גורש לחו"ל וכעבור זמן קצר הפליגו לארה"ב, שם יזמו הקמת
          <strong>גדוד עברי</strong> אשר פעל במסגרת הצבא הבריטי. ב1919 הקים בן גוריון יחד עם בראל כצנלסון את מפלגת "אחדות העבודה",
          שהיוותה איחוד בין "פועלי ציון" לבין קבוצה נוספת, וב1921 נבחר להנהלת הסתדרות העובדים. בשנת 1930 התאחדה "אחדות העבודה"
          עם "הפועל הצעיר" וכך נוסדה
          <strong>מפלגת פועלי ארץ ישראל</strong> (מפא"י). בן גוריון מ ונע לעמוד בראש המפלגה והפך אותה למפלגה הגדולה ביותר בארץ, שהנהיגה
          (בגלגוליה השונים) את מוסדות המדינה עד לשנת 1977.</p>
        <p class="book--text-style">בשנת 1935 נבחר בן גוריון ליו"ר הסוכנות היהודית. מתפקיד זה הוביל את מדיניות ההבלגה כלפי ערביי ארץ ישראל וקרא להימנע
          מפגיעה מחפים מפשע בשנת 1937 תמך בהצעתה של וועדת פיל לחלק את ארץ ישראל בין היהודים והערבים. עם פרוץ מלחמת העולם
          השנייה, גרס כי יש לשתף פעולה עם הבריטים במלחמתם בנאצים על אף ההגבלות שהטילו על ההגירה היהודית לארץ ישראל ולהיאבק
          בהם בדרכים בלתי אלימות. במהלך שנות הארבעים החל בסדרת פעולות במטרה להביא להקמתה של מדינה יהודית עם תום מלחמת העולם
          השנייה ובין היתר פעל לבצר את כוח המגן העברי כך שיוכל לעמוד בפני האתגרים הביטחוניים שנכונו לו. הוא הוביל את התמיכה
          היהודית בהצעת החלוקה של אונסקו"פ ואם אישורה, בכ"ט בנובמבר 1947, הנהיג את כוחות המגן בשלביה הראשונים של מלחמת העצמאות.
          ב14 במאי 1948, ה' באייר תש"ח, הוא הכריז, כראש מנהלת העם הזמנית, על הקמתה של מדינת ישראל והפך לראש הממשלה ולשר הביטחון
          שלה. מרגע זה ואילך, אחד העקרונות המרכזיים שנקשרו בפעולתו היו עקרון
          <strong>הממלכתיות, </strong>מושג אותו טבע במשמעותו- פירוקם של מסודות מפלגתיים בבניית מוסדות מדינה חזקים. בן גוריון ראה
          במצב בתקופת הישוב, בו היה למפלגות כוח רב וכל זרם מפלגתי הפעיל מוסדות משלו(כוח לוחם מחתרתי, שירות תעסוקה, שירותי
          בריאות, קבוצות ספורט ומערכות חינוך), סכנה רבה. הוא ניגש לטפל קודם כל בפירוק המחתרות ובהקמתו צבא ממלכתי. אחד האירועים
          המשמעותיים בהקשר זה, היה סיפורה של
          <strong>אלטלנה</strong>. ביוני 1948&nbsp; התקרבה אל חופי הארץ ספינה שהובילה נשק שרכש האצ"ל. בין מנחם בגין, מפקד האצ"ל לשעבר,
          לבין בן גוריון התקיים ויכוח: בגין דרש שהנשק יועבר לידי יחידות האצ"ל ששולבו בצבא ההגנה לישראל, בן גוריון סירב לכך,
          הדברים התגלגלו לכדי חילופי אש בין אנשי האצ"ל לחילי צה"ל ובסופו של דבר, הטביעו כוחות צה"ל את אלטלנה כאשר התקרבה
          אל חופי תל אביב. אירוע משמעותי&nbsp; נוסף היה
          <strong>פירוק הפלמ"ח</strong>, חטיבות הפלמ"ח אומנם שולבו בצה"ל אך קיימו מטה נפרד. בנובמבר 1948 הורה דוד בן גוריון על פירוקו
          של המטה. תפיסתו הממלכתית של בן גוריון באה לידי ביטוי גם בהשקפתו הרחבה ביחס לצבא, שהובאה באופן מסודר במסגרת ספרו
          "
          <strong>ייחוד ויעוד".</strong> בספר עוסק בן גוריון בייחודו של צה"ל ובייעודו החינוכי חברתי. בן גוריון ראה בצבא גוף חשוב
          שיכול לגשר על פערים ולהפגיש בן חלקי העם. הוא טבע את הרעיון של הצבא מחנך ושלח את הצבא גם לבצע משימות אזרחיות לצורך
          רווחתו של העם. לאחר המלחמה עסק בן גוריון בפתרון בעיותיה האזרחיות של ישראל אשר נבעו בעיקרן מין המצב הכלכלי הקשה
          ומין הקשיים בקליטת העלייה בשנת 1953, התפטר בן גוריון מראשות הממשלה בפעם הראשונה וקבע את ביתו
          <strong>בשדה בוקר</strong> ומשה שרת החליף אותו בתפקיד ראש הממשלה. בן גוריון קיווה שלעלייתו לנגב תהיה השפעה חינוכית ערכית
          רחבה וכי הוא יעודד עוד צעירים לנהוג כמוהו. ב1955 חזר בן גוריון לחיים הפוליטיים, תחילה כשר ביטחון ובהמשך גם כראש
          ממשלה. בכהונה זו הוא הוביל את מדינת ישראל ב
          <strong>מלחמת סיני,</strong> ביסס את יכולותיה האסטרטגיות והכינה לקראת האתגרים הבאים. ובסוף פרש מראשות הממשלה ב1963 ולוי
          אשכול מונה כמחליפו. ב1965 הקים, יחד עם שמעון פרס, משה דיין ואחרים, מפלגה חדשה:
          <strong>רשימת פועלי ציון, ארץ ישראל (רפ"י) </strong>ונבחר מטעמה לכנסת. בשנת 1968 התאחדה רפ"י עם מפא"י ויצרה את מפלגת העבודה,
          בן גוריון התנגד למהלך והקים את הרשימה הממלכתית. ב1970 פרש סופית מן הפוליטיקה והתמסר לכתיבה זיכרונותיו. דוד בן גוריון
          נפטר בו" בכסלו תשל"ד, ה1 בדצמבר 1973 ונקבר במדרשת בן גוריון בנקודה הצופה אל עבר נחל צין.</p>

        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.5.2 משה שרת (1894-1965)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"מפעלנו הציוני בארץ הוא כולו מכפלה של משק ותרבות, של כוח ושכל, של גשם ורוח, שלגוף המדינה ואוצר הרוח שלה. כשם
              שאנו שואפים לעצב טיפוס מעולה של עובד משכיל , כך אנו חותרים ליצור את הלוחם המשכיל"</em>
          </strong>
          <strong>
            <br /> </strong>משה שרת, ראש הממשלה השני, נולד בשנת 1894 הבעירה חרסון , באוקראינה ולמד את השפה הערבית על בורי. כשהיה
          בן 14 היגרה המשפחה ליפו והייתה מראשוני תל אביב. שרת נמנה עם המחזור הראשון של תלמידי גימנסיה הרצליה ועם תום לימודיו
          נסע לאיסטנבול ללמוד משפטים בדומה לדוד בן גוריון וליצחק בן צבי. כשפרצה מלחמת העולם, הראשונה,
          <strong> התגייס לצבא העות'מאני והיה בין היהודים היחידים שזכו לדרגת קצונה בצבא זה</strong>.
          <strong>
            <br /> </strong>עם תום המלחמה פנה ללימודי כלכלה בלונדון וכששב לארץ, החל בפעילות ציונית במפלגת "אחדות העבודה" , ובכתיבה
          עות'מאנית "דבר". בשנת 1931 החל לעבוד במחלקה המדינית של הסוכנות היהודית ולאחר רצח ארלוזורוב, מונה לראש המחלקה. למעשה
          הי שרת אחראי ליחסי החוץ של התנועה הציונית ובמידה רבה היה שכונן אותם. בתקופה שקדמה להקמת המדינה, נטל חלק מרכזי במאמץ
          הדיפלומטי לקבלתן של החלטות אונסקו"פ על ידי האו"ם. עם הקמת המדינה מונה שרת לתפקיד
          <strong>שר החוץ</strong> והקים את השירות הדיפלומטי הישראלי. במסגרת תפקיד זה הי&nbsp; מעורב בכמה פרשיות דרמטיות ובהן הסכמי
          שביתת הנשק בין ישראל לשכנותיה בתום מלחמת העצמאות (הסכמי רודוס) והסכם השילומים עם גרמניה המערבית.
          <br /> בשנת 1953, עם פרישתו של בן-גוריון, מונה שרת למחליפו. תקופתו של משה שרת בראשות הממשלה התאפיינה בקו מדיני מתון ולהתנגדות
          לפעולות התגמול ועל רקע זה התגלתה מחלוקת חריפה בינו לבין דוד בן גוריון. לאחר חזרתו של בן-גוריון לראשות הממשלה, הוא
          נאלץ לפרוש מן החיים הפוליטיים (1956) לאחר פרישתו שימש כמנהל הוצאת הספרים "עם עובד" ומכללת בית ברל ובין השנים 1961-1965
          שימש כיושב ראש ההסתדרות הציונית. משה שרת נפטר ב-ז' בתמוז תשכ"ה, 7 ביולי 1965 ונקבר בתל אביב.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.5.3 לוי אשכול(1969-1895)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"במשטר דמוקרטי אין ממשלה יכולה לבצע בהצלחה מדיניות כלשהי, אם העם אינו מבין במה דברים אמורים ואינו מוכן לעמוד
              לימין המבצעים. אני מאמין בעם הזה! ... אני מאמין כי עם זה יודע ומבין, כי אחריות לצורכי המדינה איננה אלא אחריות
              לעצמו לבני ביתו"</em>
          </strong>
          <strong>
            <br /> </strong>לוי אשכול, ראש הממשלה השלישי, נולד בשנת 1895 בכפר אורטוב, באוקראינה, תחת השם לוי שקולניק. בשנת 1914
          עלה לארץ כחלק מין העלייה השנייה. במלחמת העולם הראשונה הצטרף לגדודים העבריים בצבא הבריטי ולאחריה נמנה עם מקימו של
          הקיבוץ דגניה ב' ועם מקימיה של הסתדרות העובדים. אשכול שהחל את דרכו כפועל חקלאי, החל להתמקד בעשייה ציבורית, בתחילה
          במסגרת ההסתדרות ומפלגת הפועל הצעיר ובהמשך במפא"י.</p>
        <p class="book--text-style">בשנת 1937 יזם אשכול את הקמתה של חברת
          <strong>מקורות</strong>, חברת המים המרכזית של הישוב היהודי, ובהמשך, חברת המים הלאומית של ישראל. בין השנים 1940-1948 היה
          חבר מטה ההגנה והממונה על הרכש והציוד. בשנת 1949 מונה לראש מחלקת ההתיישבות והגזבר של הסוכנות היהודית. בין השנים
          1952-1963, שימש כשר האוצר ונדרש להתמודד עם המשך קליטתם של גלי העלייה משאביה המצומצמים של המדינה. אחד הפתרונות המרכזיים
          שמצא אשכול היה הקמת ה
          <strong>מעברות</strong>: אתרי שיכון זמניים שהורכבו מצריפים, בדונים ופחונים . בשנת 1963, עם פרישתו השנייה(והסופית) של דוד
          בן- גוריון מתפקיד ראש הממשלה, מונה אשכול לראש ממשלה ולשר הביטחון. אחד מצעדיו הראשונים ב תפקיד זה היה פיוס היסטורי
          עם התנועה הרוויזיוניסטית ותנועות הימין, באמצעות
          <strong>העלאת עצמותיו של זאב ז'בוטינסקי </strong>&nbsp;לארץ וקיומה של הלוויה ממלכתית בהר הרצל. בהמשך עשה אשכול גם צעד משמעותי
          לנרמול היחסים עם ערביי ישראל וביטל את השלטון הצבאי. במקביל פעל אשכול לבצר את כוחו של צה"ל אל מול האתגרים החדשים
          שעמדו בפניו.
        </p>
        <p class="book--text-style">מדיניותו הפייסנית והפרשנית של אשכול, זכתה לתמיכה רחבה מן הציבור עד ל- "
          <strong>תקופת ההמתנה"</strong> שקדמה למלחמת ששת-הימים ב-1967. אל מול איומי המצרים העלתה ישראל את הכוננות, גייסה מילואים
          והמתינה לבאות. בארץ התפתחה אווירה קשה שגבלה בחרדה, כאשר תדמיתו הפרשנית של ראש הממשלה הייתה בעוכריו. אשכול ויתר
          על תפקיד שר הביטחון שניתן למשה דיין. כונן ממשלת אחדות יחד עם מנחם בגין. ולבסוף, לאחר התלבטות קשה, החליט לצאת ב-
          5 ביוני למלחמת מנע שנודעה לימים כ
          <strong>מלחמת ששת הימים</strong>. צה"ל, שאשכול השקיע רבות בבניין כוחו, הביס במהירות את צבאותיהן של מצרים, סוריה וירדן ותפס
          שטחים נרחבים. אשכול החזיק בתפקיד ראש הממשלה עד לפטירתו. הוא נפטר ב-ח' באדר תשכ"ט, 26 בפברואר 1969 ונקבר בחלקת גדולי
          האומה בהר הרצל.</p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.5.4 גולדה מאיר (1898-1978)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"אנחנו דורשים זכות יציאה לכל יהודי מברית המועצות, הרוצה להצטרף אלינו במולדתנו... הגענו למה שהגענו מפני שהאמנו
              ופעלנו למרות הקשיים... בוא יבוא יום ונזכה עוד לראות זרם עלייה גדול, צעירים זקנים ותינוקות ואלה שאחרים ניסו
              בכוח להשכיח מלבם את אישיותם ואת השתייכותם. הם יבואו. ואומץ הלב שלהם והיהדות השורשית שלהם יצורפו לכוחות הרוח
              אשר בעם, ויחד נבנה מדינתנו"</em>
          </strong>
          <strong>
            <br /> </strong>גולדה מאיר, ראש ממשלת ישראל הרביעית, נולדה בשנת 1898 בקייב, באוקראינה, תחת השם גולדה מבוביץ'. כשהייתה
          בת שמונה היגרה עם הוריה לארצות הברית, שם התוודעה לציונות והצטרפה למפלגת פועלי ציון. בשנת 1921 עלתה לארץ ישראל.
          היא נבחרה למזכירת מועצת הפועלות בהסתדרות העובדים ולאחר מכן מילאה שורה ארוכה של תפקידים הקשורים ביחסי החוץ של התנועה
          הציונית.
        </p>
        <p class="book--text-style">בשנת 1948
          <strong>מונתה מאיר לצירה הישראלית הראשונה בברית המועצות</strong> וניסתה ליצור קשר עם יהודי המדינה. שליחותה הדיפלומטית נקטעה
          כשנקראה לכהן כשרת העבודה בממשלת ישראל הראשונה. היא כיהנה בתפקיד במשך כשבע שנים ועיצבה את שוק העבודה הישראלי ואת
          זכויות העובד הבסיסיות. בין השאר הביאה לחקיקתו של "חוק שעות עבודה ומנוחה" הידוע גם כ-"חוק השבות", המחייב כל מעסיק
          לאפשר לעובדיו חופשה בשבת ובמועדי ישראל. הקימה את
          <strong>הביטוח הלאומי</strong>, מוסד הרווחה המרכזי במדינת ישראל המספק קצבאות לנצרכים להם.</p>
        <p class="book--text-style">בשנת 1956 החליפה גולדה מאיר את משה שרת בתפקיד שרת החוץ וביקשה לחזק את קשריה של ישראל עם המדיניות החדשות שהוקמו באסיה
          ובאפריקה. ביוזמתה, סייעה מדינת ישראל למדינות אלו בפיתוח תשתית כלכלית וחקלאית. בשנת 1969, עם פטירתו של לוי אשכול,
          מונתה גולדה מאיר לראש ממשלה: תקופה זו עמדה בראשיתה בסימן מלחמת ההתשה מחד ובמצב כלכלי טוב מאידך. בין השנים 1970-1973
          נאלצה מדינת ישראל להתמודד עם גל הטרור שאחדש משיאיו היה בטבח י"א הספורטאים באולימפיאדת מינכן, ישראל, בתגובה, פעלה
          כנגד הטרור בדרכים שונים ויצאה למבצע "אביב נעורים" בלבנון.</p>
        <p class="book--text-style">באוקטובר 1973 הופתעה מדינת ישראל במתקפת נגד משולבת של צבאות מצרים וסוריה שהחלה את
          <strong>מלחמת יום הכיפורים</strong>. ישראל התעלמה מנתונים מודיעיניים שונים, לא נערכה למלחמה וספגה במהלך ימיה הראשונים מכה
          קשה. מיד עם תום המלחמה נבחר מאיר שוב לתפקיד ראש הממשלה, אך זמן קצר לאחר מכן התפטרה מתפקידה. גולדה מאיר נפטרה ב-ח'
          בכסליו תשל"ט, 8 בדצמבר 1978 ונקברה בחלקת גדולי האומה בהר הרצל.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.5.5 יצחק רבין (1922-1995)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"לאחת הבעיות הכואבות שלנו יש שם ...זהו צירוף שתי המילים 'יהיה בסדר'. צירוף המילים האלה, שרבים מאתנו שומעים בחיי
              היום- יום של מדינת ישראל, הוא בלתי נסבל... חובתכם כמפקדים למצות את המקסימות מחיילכם, לאמן ולתרגל אותם כדי שיהיו
              החיילים הטובים ביותר, להוציא מהם ליטרים של זיעה ואף לא טיפה אחת של דם, אבל גם לדאוג לכסות אותם בלילה , להמתין
              להם אחרי מסע מפרך עם הסנדוויצ'ים והשתייה , להיות איתם ברגעים הקשים, להיות איתם ברגעים הקשים, להיות אב וחבר
              כשצריך"
            </em>
          </strong>
          <strong>
            <br /> </strong>יצחק רבין, ראש הממשלה החמישי, נולד בשנת 1922 בירושלים וגדל בתל אביב. כשהיה בן 15 החל ללמוד בבית הספר
          החקלאי "כדורי". כשהיה בן 19 הצטרף אל הפלמ"ח ושנתיים מאוחר יותר, מונה למ"מ בארגון. באוקטובר 1947, מעט לפני קום המדינה,
          מונה לקצין המבצעים של הפלמ"ח ובמהלך מלחמת העצמאות מונה
          <strong>למפקד חטיבת הראל שלחמה לפריצת המצור בירושלים</strong>. מאוחר יותר, במהלך המלחמה, מונה לקצין המבצעים של חזית הדרום.
          רבין המשיך במילוי תפקידי פיקוד שונים ובסוף שנת 1963, מונה ל
          <strong>רמטכ"ל השביעי של צה"ל</strong>. במהלך כהונתו פרצה
          <strong> מלחמת ששת הימים</strong>. רבין הוביל את צה"ל במלחמה זו והביא אותו אל הניצחון המרשים בשלוש חזיתות.</p>
        <p class="book--text-style">לאחר פרישתו מצה"ל (1968), התמנה לשגריר ישראל בארצות הברית , ועם תום שליחותו, נבחר לכנסת והתמנה לשר העבודה. בשנת 1974,
          לאחר התפטרותה של ראש הממשלה גולדה מאירה, לאחר מלחמת יום הכיפורים, נבחר רבין בפעם הראשונה לתפקיד ראש הממשלה. במהלך
          כהונתו נחתם הסכם הביניים עם מצריים. וצה"ל יצא לאחת מין הפעולות המפורסמות שלו: חילוץ הנוסעים החטופים משדה התעופה
          אנטבה במסגרת
          <strong>מבצע יונתן. </strong>בדצמבר 1976 התפטר רבין מתפקידו בעקבות משבר פוליטי ובאפריל 1977 ,לאחר פרסום בעיתונות על חשבון
          דולרים בו החזיקה רעייתו בחוץ-לארץ, בניגוד לחוקי המדינה באותה העת, הודיע כי לא יתמודד בבחירות הבאות.</p>
        <p class="book--text-style">ב 1984 מונה לשר הביטחון וכהונתו עמדה בסימן האינתיפאדה הראשונה. בשנת 1992 ניצח יצחק שמיר בבחירות לכנסת ומונה לראש
          ממשלה בפעם השנייה. רבין כונן ממשלת שמאל שנשענה על בסיס צר והנהיג שינוי בסדר העדיפויות הלאומי תוך העדפה תקציבית
          לנושאים "אזרחיים" כמו חינוך או תשתיות על חשבון נושאים ביטחוניים. ממשלת רבין החלה לפעול באינטנסיביות להשגת הסכמי
          שלום בין ישראל למדינות השכנות לה. ב-1993 חתם על
          <strong>הסכם אוסלו </strong>הראשון, בו הכירה מדינת ישראל באש"ף כנציג פלסטיני רשמי והתחייבה להעביר לשלטונו האוטונומי שטחים
          בגדה וברצועת עזה. חודשיים ספורים לאחר מכן , חתם על
          <strong>הסכם השלום עם ירדן</strong> שזכה לתמיכה נרחבת בחברה הישראלית. רבין זכה להערכה בין-לאומית שבאה לידי ביטוי בכך שהוענק
          לו פרס נובל לשלום בשיתוף עם שמעון פרס ויסאר ערפת. לצד זאת תהליך השלום ליבה ויכוח ציבורי נרחב וקשה. לצד&nbsp; ביקורת
          לגיטימית על מדיניות הממשלה, הלכו והחמירו הביטויים האלימים ברחוב הישראלי ורבין הוקע
          <br /> כ-"בוגד". האלימות הגיע לכדי שיא טראגי במוצאי שבת,
          <strong>י"ב בחשון תשנ"ו, 4 בנובמבר 1995, כשפעיל הימין הקיצוני יגאל עמיר, רצח את רבין בסיום עצרת שלום בכיכר מלכי ישראל</strong>
          במרכז תל אביב. הרצח הכה את החברה הישראלית בהלם והביא לתהליך ארוך של חשבון נפש אחד ממשפטיו האחרונים של רביו, "האלימות היא
          כרסום הדמוקרטיה", הפך לסיסמא מרכזית שליוותה פעילים חברתיים משני ציידי המתרס הפוליטי אשר ביקשו לחולל תהליך בירור
          ושיח בחברה הישראלית כדי למנוע הישנותו של מקרה דומה. יצחק רבין נקבר בחלקת גדולי האומה בהר הרצל. לזכרו הוקם "מרכז
          יצחק רבין" המבקש לעודד ערכים של דמוקרטיה וסובלנות.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.5.6 מנחם בגין(1913-1992)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"לא נטלנו שום ארץ נוכרייה. שבנו למולדתנו. הקשר בין עמנו לבין הארץ הזו הוא נצחי. הוא בימי דמדומים בהיסטוריה האנושית.
              הוא לא נותק מהעולם. בארץ הזאת הקימנו את תרבותו, פה חזו נביאינו המקודשים... פה השתחוו מלכי יהודה וישראל, פה
              היינו לעם, פה הקימנו ממלכה. ומשגילנו מארצנו משום הכוח שהופעל נגדנו, וכשהתרחקנו מעל אדמתנו לא שכחנו את הארץ
              הזאת אפילו ליום אחד"</em>
          </strong>
          <strong>
            <br /> </strong>מנחם בגין, ראש הממשלה השישי, נולד בשנת 1913 בבריסק , בנעורות התחבר אל חוגי&nbsp; "השומר הצעיר" והחל
          מגיל 16 החל לפעול בתנועת בית"ר שהייתה מזוהה עם רעיונותיו הרוויזיוניסטים של זאב ז'בוטינסקי. בגין טיפס בסולם הדרגות
          והתפקידים בתוך ביתר. בשנת 1935 מונה לנציב בית"ר בבריסק, כאשר פרצה מלחמת העולם השנייה, החליט בגין להימלט מפולין
          אל עבר ברית המועצות ובכך הצליח להציל עצמו מציפורני הנאצים. בשנת 1940 נעצר בברית המועצות בעוון "פעילות ציונית" ושוחרר
          מכלאו רק בעת מבצע ברברוסה, עם הפלישה הגרמנית
          <strong> הוא הצטרף לצבא המורדים הפולנים הראשות הגנרל אנדרס </strong>ובשנת 1942&nbsp; הגיע עם כוחותיו לארץ ישראל.
          <strong>
            <br /> </strong>בשנת 1943 פרש בגין מין התנועה הציונית על רקע ביקורתו כלפי מדיניותה ביחס לשלטונות המנדט הבריטי. הוא
          מונה למפקד האצ"ל והוביל את פעולותיו בשנים הבאות. בראשית יוני 1948, חתם על הסכם הבריטי, הוא מונה למפקד האצ"ל במטרה
          לשלב בצה"ל, אך שבועות ספורים לאחר מיכן&nbsp; עמד בחזית העימות בין למוסדות המדינה במסגרת פרשת *אטלנטה*.
          <strong>
            <br /> </strong>בגין שהה על סיפון הספינה כאשר התקרבה לתל אביב ושנורה לעברה פגז מעבר החוף הורה ללוחמים שעליה לא להשיב
          באש.
          <strong>
            <br /> </strong>עם הקמת המדינה יסד בגין את
          <strong> תנועת החירות,</strong> מפלגה פוליטית בעלת קו ציוני ימני. חירות הציבה אופוזיציה מתמדת&nbsp; לדרכו של בן גוריון ועל
          רקע זה התגלע סכסוך עמוק בין השניים שהגיע לא פעם לביטויים קשים. אחת המחלוקות המפורסמות בניהם נגעה
          <strong>ל-הסכם השילומים</strong>. כפי שציינו, בשנת 1952 הביא בן גוריון לכנסת את הסכם הפיצויים שהשיג עם גרמניה המערבית.
          מתנגדי ההסכם, ובגין בראשם , טענו שהחתימה עליו היא עוול מוסרי חמור וכי באמצעותו מעניקה ישראל מחילה לנאצים. הסיסמא
          שנשאו אנשי החירות הייתה: "הטלאי הצהוב- אות כבוד, שילומים ומשא ומתן- חרפה לדורות". ב- 7 בינואר 1952, בעת שההסכם
          נידון בכנסת, הוביל בגין הפגנת המונים אל עבר הבניין, תוך שהוא מתבטא בחריפות רבה כנגד הממשלה. המפגינים התעמתו עם
          שוטרים, הגיעו עד לסף הכנסת והשליכו אבנים אל עבר המליאה. בתגובה לאירועים הורחק בגין מן הכנסת למספר חודשים. בשנת
          1967, זמן קצר לפני מלחמת ששת הימים, הצטרף בגין לראשונה לממשלה בתפקיד בלי-תיק. עשור מאוחר יותר, ב- 1977, הפך לראש
          ממשלה במסגרת
          <strong>המהפך הפוליטי</strong>. לראשונה הודחו מפלגות השמאל מן השלטון וכוננה ממשלת ימין. ממשלתו של בגין הביאה לליברליזציה
          בכלכלה הישראלית, עודדה בגלוי את ההתיישבות היהודית ביהודה, שומרון, עזה וסיני, והביאה בשנת 1979 לחתימת
          <strong>הסכם השלום עם מצרים</strong>, במסגרתו נסוגה ישראל משטחי סיני וכוננו יחסים דיפלומטים מלאים עם מצרים. על חתימת ההסכם
          זכה בגיל, יחד עם עמיתו המצרי, אנואר סדאת, בפרס נובל לשלום. בנת 1981 הורה בגין על הפצצת הכור האטומי בעירק במסגרת
          <strong>מבצע "אופרה" .</strong>ביוני החליט על יציאה למלחמת
          <strong>שלום הגליל</strong>. המלחמה, שבראשיתה זכתה לתמיכה ציבורית נרחבת, הפכה לשנויה במחלוקת. בהפגנות שנערכו ברחבי ישראל,
          כונה בגין "רוצח" ומתחת לביתו התקיימה משמרת מחאה, פחות משנה לאחר פרוץ המלחמה, הוא החליט לפרוש מפעילות פוליטית והסתגר
          בביתו. מנחם בגין נפטר ב-ד' באדר ב' תשנ"ב, 9 במארס 1992 ונקבר בהר הזיתים לזכרו הוקם "מרכז מורשת מנחם בגין" בירושלים
          העוסק במורשתו ובפועלו.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.5.7 יצחק שמיר
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"אסור לטמון את הראש בחול ולקוות שהסכנה תחלוף בדרך נס. ליהודים אסור לסמוך על המזל, או על זרים, אלא על עצמם בלבד"</em>
          </strong>
          <strong>
            <br /> </strong>יצחק שמיר, ראש הממשלה השביעי, נולד בשנת 1915 בעיירה רוזי'נוי, ברוסיה , תחת השם יצחק יזרניצקי. בנעוריו
          למד בגימנסיה העברית בביאליסטוק והחל ללמוד משפטים באוניברסיטת ורשה, במקביל החל בפעילות ציונית בתנועת בית"ר. אחרי
          שנה אחת באוניברסיטה נטש את לימודיו ועלה לארץ ישראל. בארץ החל בהשלמת הלימודים באוניברסיטה העברית, אך גם הפעם נקטעו
          לימודיו כשהצטרף לשורת האצ"ל. עם הפילוג בשורת הארגון במהלך מלחמת העולם השנייה, החליט להצטרף אל ה-
          <strong>לח"י </strong>והפך לאח מן המנהיגים הבולטים של הארגון. "לאחר מספר חודשים הוא נעצר ונכלא על יד הבריטים, אולם הצליח
          לברוח מכלאו וירד למחתרת. לאחר רציחתו של אברהם שטרן("יאיר") התחזק מעמדו בארגון, הבריטים הידקו את הטבעת סביב ולבסוף
          שלחו אותו למאסר באריתריה. שמיר הצליח לברוח מכלאו עקב הקמת המדינה והגיע לארץ. לקראת הבחירות הראשונות הצטרף ל-"מפלגת
          הלוחמים של ותיקי הלח"י. בשנת 1955 גויס אל
          <strong>"המוסד" </strong>ושירת בו לאורך כחמש עשרה שנים בתפקידים מסווגים. בשנת 1969 פרש מן השירות והצטרף אל תנועת החירות
          , ב- 1973 נבחר לראשונה לכנסת עם המהפך הפוליטי שנת 1977, מונה ל
          <strong>יושב ראש הכנסת</strong>.
          <strong>
            <br /> </strong>ב 1980 מונה לשר החוץ ושימש בתפקיד זה במהלך מלחמת שלום הגליל. עם התפטרותו של נחם בגין מראשות הממשלה
          , ב- 1983, נתמנה לראש ממשלה במקומו. בשנת 1984 התמודד מול שמעון פרס ולאור השוויון בין הימין לשמאל הקים עמו
          <strong>ממשלת אחדות ברוטציה</strong> : שמיר שימש כשר חוץ בממשלה בה כיהן פרס כראש ממשלה וכעם תום השנתיים החליף את פרס בתפקיד
          ראש הממשלה . בבחירות 1988 נבחר שוב שמיר לראש ממשלה . כהונתו השלישית עמדה במבצעי העלייה מאתיופיה ו
          <strong>מלחמת המפרץ</strong> הראשונה בין ארצות הברית לעירק. במהלך המלחמה נורו טילים אל עבר העורף הישראלי, שמיר החליט להיענות
          לבקשת האמריקאים ולהימנע מתגובה צבאית של ישראל כנגד עירק. עם תום המלחמה ועל רקע אירועי האינתיפאדה הראשונה , עמד
          שמיר בראש המשלחת הישראלית לוועידת מדריד, בה השתתף בניגוד לתפיסתו המדינית . על רקע זה התפרקה ממשלתו ובבחירות 1992
          הוא הובס על ידי יצחק רבין. שמיר פרש מראשות הליכוד אך המשיך לכהן כחבר כנסת עד&nbsp; שנת 1996. בשנת 2001 הוענק לו
          פרס ישראל לתרומה מיוחדת לחברה ולמדינה. יצחק שמיר נפטר ב- י' בתמוז תשע"ב, 30 ביוני 2012 ונקבר בחלקת גדולי האומה
          בהר הרצל.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.5.7 יצחק שמיר
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"אסור לטמון את הראש בחול ולקוות שהסכנה תחלוף בדרך נס. ליהודים אסור לסמוך על המזל, או על זרים, אלא על עצמם בלבד"</em>
          </strong>
          <strong>
            <br /> </strong>יצחק שמיר, ראש הממשלה השביעי, נולד בשנת 1915 בעיירה רוזי'נוי, ברוסיה , תחת השם יצחק יזרניצקי. בנעוריו
          למד בגימנסיה העברית בביאליסטוק והחל ללמוד משפטים באוניברסיטת ורשה, במקביל החל בפעילות ציונית בתנועת בית"ר. אחרי
          שנה אחת באוניברסיטה נטש את לימודיו ועלה לארץ ישראל. בארץ החל בהשלמת הלימודים באוניברסיטה העברית, אך גם הפעם נקטעו
          לימודיו כשהצטרף לשורת האצ"ל. עם הפילוג בשורת הארגון במהלך מלחמת העולם השנייה, החליט להצטרף אל ה-
          <strong>לח"י </strong>והפך לאח מן המנהיגים הבולטים של הארגון. "לאחר מספר חודשים הוא נעצר ונכלא על יד הבריטים, אולם הצליח
          לברוח מכלאו וירד למחתרת. לאחר רציחתו של אברהם שטרן("יאיר") התחזק מעמדו בארגון, הבריטים הידקו את הטבעת סביב ולבסוף
          שלחו אותו למאסר באריתריה. שמיר הצליח לברוח מכלאו עקב הקמת המדינה והגיע לארץ. לקראת הבחירות הראשונות הצטרף ל-"מפלגת
          הלוחמים של ותיקי הלח"י. בשנת 1955 גויס אל
          <strong>"המוסד" </strong>ושירת בו לאורך כחמש עשרה שנים בתפקידים מסווגים. בשנת 1969 פרש מן השירות והצטרף אל תנועת החירות
          , ב- 1973 נבחר לראשונה לכנסת עם המהפך הפוליטי שנת 1977, מונה ל
          <strong>יושב ראש הכנסת</strong>.
          <strong>
            <br /> </strong>ב 1980 מונה לשר החוץ ושימש בתפקיד זה במהלך מלחמת שלום הגליל. עם התפטרותו של נחם בגין מראשות הממשלה
          , ב- 1983, נתמנה לראש ממשלה במקומו. בשנת 1984 התמודד מול שמעון פרס ולאור השוויון בין הימין לשמאל הקים עמו
          <strong>ממשלת אחדות ברוטציה</strong> : שמיר שימש כשר חוץ בממשלה בה כיהן פרס כראש ממשלה וכעם תום השנתיים החליף את פרס בתפקיד
          ראש הממשלה . בבחירות 1988 נבחר שוב שמיר לראש ממשלה . כהונתו השלישית עמדה במבצעי העלייה מאתיופיה ו
          <strong>מלחמת המפרץ</strong> הראשונה בין ארצות הברית לעירק. במהלך המלחמה נורו טילים אל עבר העורף הישראלי, שמיר החליט להיענות
          לבקשת האמריקאים ולהימנע מתגובה צבאית של ישראל כנגד עירק. עם תום המלחמה ועל רקע אירועי האינתיפאדה הראשונה , עמד
          שמיר בראש המשלחת הישראלית לוועידת מדריד, בה השתתף בניגוד לתפיסתו המדינית . על רקע זה התפרקה ממשלתו ובבחירות 1992
          הוא הובס על ידי יצחק רבין. שמיר פרש מראשות הליכוד אך המשיך לכהן כחבר כנסת עד&nbsp; שנת 1996. בשנת 2001 הוענק לו
          פרס ישראל לתרומה מיוחדת לחברה ולמדינה. יצחק שמיר נפטר ב- י' בתמוז תשע"ב, 30 ביוני 2012 ונקבר בחלקת גדולי האומה
          בהר הרצל.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.5.8 שמעון פרס </h3>
        <p class="book--text-style">שמעון פרס, ראש הממשלה השמיני, כיהן כראש ממשלה בשנים 1986-1984 ובשנים 1995-1996.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.5.9 בנימין נתניהו (נולד: 1949)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"זכותו של העם היהודי למדינה בארץ ישראל אינה נובעת מרצף האסונות שפקד את עמנו. נכון הדבר שבמך אלפיים שנה חוו היהודים
              סבל נורא של הגירושים, של פוגרומים, של עלילות דם, של רציחות- סבל שהגיע לשיאו בשואה ואין לו אח ורע בעולם....
              הטרגדיות שנבעו מחוסר האונים של העם היהודי מבהירות מדוע עמנו זקוק לכוח מגן ריבוני משלו. אבל זכותנו להקים את
              מדינתנו כאן, בארץ ישראל, נובעת מעובדה אחת פשוטה: זוהי מולדתו של העם היהודי וכאן נצרבה זהותנו"</em>
          </strong>
          <strong>
            <br /> </strong>בנימין(ביבי) נתניהו, ראש הממשלה התשיעי, נולד בשנת 1949 בתל אביב וגדל בירושלים. כשהיה בן ארבע עשרה עברה
          המשפחה להתגורר בארצות הברית בעקבות אביו, בן ציון נתניהו היסטוריון של עם ישראל שלימד באוניברסיטת קורונל. בשנת 1967,
          ערב מלחמת ששת הימים, שב נתניהו ארצה והתגייס אל
          <strong>סיירת מטכ"ל</strong>, שם שירת כלוחם ומפקד והשתחרר ב 1972. לצדו שירת בסיירת אחיו הגדול, יוני, שנפל במבצע אנטבה(1972).
          <strong>
            <br /> </strong>עם תום שירותו הצבאי החל נתניהו ללמוד באוניברסיטת M.I.T, במסצ'וסטס, הוא השלים תואר ראשון בארכיטקטורה
          ותואר שני במנהל עסקים. בנוסף למד מדעי המדינה באוניברסיטת הרווארד. עם פרוץ מלחמת יום הכיפורים שב ארצה ולחם בחזית
          סיני, וכעבור ארע שנים שב להתגורר בארץ באופן מלא. ב- 1982 מונה נתניהו&nbsp; לציר ישראל בוושיגנטון, וב-1984 מונה
          <strong>לשגריר באו"ם</strong>. ב 1988 נבחר לכנסת מטעם מפלגת הליכוד ומונה לסגן שר החוץ . עם פרישתו של יצחק שמיר מראשות הליכוד,
          לאחר בחירות 1992, נבחר נתניהו ליושב ראש המפלגה ולראש האופוזיציה. מעמדה זו התנגד לתהליך אוסלו ולהסכמים עם הפלסטינאים
          עלייהם חתמה ממשלת רבין. בבחירות 1996 ניצח שמעון פרס והתמנה לראש ממשלה בפעם הראשונה. על אף התנגדותו לצעדיה של הממשלה
          הקודמת, החליט נתניהו שלא לבטל את ההסכמים להם התחייבה , ואף חתם ב- 1998 על "הסכם וואי" שהתווה לוח זמנים ודרכים למימושם.
          בעקבות החתימה על ההסכם נתגלע משבר פוליטי ובבחירות 1999, הפסיד נתניהו את כיסאו לאהוד ברק. לאחר פסק זמן מן החיים
          פוליטיים., הצטרף בשנת 2003 לממשלתו השנייה של אריאל שרון כשר האוצר. במסגרת כהונה זו הוביל תהליכים נרחבים של הפרטה
          ומכירת חברות ציבוריות, צמצום בהוצאות הממשלה ורפורמות כלכליות מהותיות. בשנת 2005 פרש מן הממשלה בשל התנגדותו לתכנית
          ההתנתקות. בשנת 2006 , עם פרישתו של אריאל שרון והקמתה של "קדימה", חזר להיות יושב ראש הליכוד, לאחר הבחירות באותה
          שנה החל לכהן כיושב ראש האופוזיציה. בבחירות 2009 נבחר לראש ממשלה בפעם השנייה והוא משמש כראש הממשלה הנוכחי של ישראל.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.5.10 אהוד ברק (נולד:1942)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"מדינת ישראל ראויה לאווירה אחרת, הומנית, מתחשבת, סבלנית, סובלנית ופתוחה, גישה המקבלת את האדם באשר הוא אדם, גם
              אם הוא שונה במוצאו, בצבע עורו, באומנתו. אם אנחנו רוצים להימנות עם המדינות הנאורות והמתקדמות בעולם, כפי שאנחנו
              מתיימרים להיות, כי אז עלינו לסלק את הרוח הרעה מקרבנו, לפתוח את הלבבות ולאפשר לרוח אנושית לנשב בקרבנו"</em>
          </strong>
          <strong>
            <br /> </strong>אהוד ברק, ראש הממשלה העשירי, נולד בשנת 1942 בקיבוץ משמר השרון. הוא התגייס לחיל השריון ולאחר תקופה קצרה
          אותר לסיירת מטכ"ל. ברק הוא אחד החיילים המעוטרים ביותר בצה"ל: הוא זכה בעיטור המופת וכן בארבעה צל"שי רמטכ"ל על אומץ
          לב ועל הצטיינות בקרב. הוא לחם במלחמת ששת- הימים, ההתשה, יום הכיפורים ושלום הגליל. בין השאר שימש כ
          <strong>מפקד סיירת מטכ"ל</strong> ובמסגרת זו השתתף במבצע
          <strong>אביב נעורים</strong>, (9-10 באפריל 1973), במהלכו תקפו כוחות מיוחדים של צה"ל מספר יעדי טרור בעומק לבנון בנוסף, שימש
          כמפקד עוצבת עמוד האש, ראש אגף התכנון (אג"ת), ראש אגף המודיעין (אמ"ן) וסגן הרמטכ"ל.</p>
        <p class="book--text-style">
          ב-1991 מונה ברק
          <strong>לרמטכ"ל</strong> הארבעה-עשר של צה"ל והחליף בתפקידו את רב-אלוף דו שומרון; במסגרת זו עסק במימוש הסכמי אוסלו והסכם
          השלום עם ירדן. בנוסף, שימש כשליחו של ראש הממשלה לשיחות השלום שהתקיימו עם סוריה ולבנון. עם פרישתו מצה"ל, בשנת 1995,
          מונה על ידי ראש הממשלה, יצחק רבין, לשר הפנים ומאוחר יותר שימש גם כשר החוץ. ב-1997 נבחר ליושב-ראש מפלגת העבודה וב-1999
          נבחר לראשות הממשלה. בעת כהונתו כראש הממשלה, הסיג את כוחות צה"ל מרצועת הביטחון שבדרום לבנון* וניסה להביא לפריצת
          דרך מדינית בשיחות השלום עם הפלסטינים והסורים.
          <br /> אחד השיאים של שיחות השלום שניהל ברק, היה בדיונים עם הפלסטינים ב
          <strong>וועידת קמפ-דיוויד</strong> (2000). הוועידה נכשלה וזמן קצר לאחר מכן פרצו אירועי "גאות ושפל" (האינתיפאדה השנייה)
          במהלכם הורעו היחסים בין ישראל לפלסטינים, והתרחשו אירועי אלימות קשים שהשפיעו גם על היחסים בין יהודים וערבים בתוך
          גבולות ישראל (מהומות אוקטובר). על-רקע אירועים אלו התגלע משבר פוליטי ובבחירות 2001, הפסיד ברק את ראשות הממשלה למנהיג
          ליכוד, אריאל שרון. לאחר ההפסד פרש ברק מן החיים הפוליטיים ופנה לעסקים. הוא שב אל המערכת הפוליטית בשנת 2007 ומונה
          לשר הביטחון. בעת כהונתו בתפקיד זה, יצא בצה"ל ל
          <strong>מבצע עופרת יצוקה</strong> והוחלט על עסקת חילופי השבויים בה הוחזר גלעד שליט*. בשנת 2012 הודיע על פרישתו מן החיים
          הפוליטיים.
        </p>



        <h3 class="book--topiccontent-title lightHeebo">
          6.5.11 אריאל שרון (2014-1928)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"אנחנו משלמים יום יום מחים דמים יקר, מיותר, נורא. שהוא תוצאה של רשלנות... שמירה על כבודו של הזולת, יחס מקצועי,
              הקפדה, דקדקנות, הם יכולים למנוע מקרים טרגיים שבהם אנשים קפחו את חייהם. אלו אינן תאונות, זו תוצאה של דריכה ברגל
              גסה על כללים שהציבור קבע כדי לשמור על שלומו וביטחונו. את ההתנהגות הזו עלינו לעקור מן השורש"</em>
          </strong>
          <strong>
            <br /> </strong>אריאל שרון, ראש הממשלה האחד-עשר, נולד בשנת 1928 בכפר מל"ל, תחת השם אריאל שיינרמן. בנערותו השתייך לתנועת
          הנוער העובד והלומד וכשהיה בן שבע-עשרה הצטרף אל ה-"הגנה". במלחמת העצמאות לחם בקרבות לטרו וסבל מפציעה קשה. עם תום
          המלחמה קודם לתפקיד מ"פ ובהמשך גם לתפקיד מפקד סיירת גולני. ב-1952 יצא ללימודים באוניברסיטה העברית, אך כשנה לאחר
          מכן נקרא לשוב לצבא על מנת להקים את
          <strong>יחידה 101</strong> שמשימתה המרכזית הייתה לבצע פעולות תגמול כנגד המסתננים.** היחידה שמוזגה לבסוף עם גדוד 890 של
          הצנחנים, הייתה יחידת הקומנדו הראשונה בצה"ל והנחילה תורות לחימה וטקטיקות מתקדמות לכלל הצבא. ב-1956, מונה למפקד חטיבת
          הצנחנים ופיקד עליה במהלך מלחמת סיני; בעת מלחמת ששת הימים (1967) פיקד על אוגדה 38 שלקחה חלק חשוב בקרבות בחזית המצרית;
          ב-1969 מונה למפקד פיקוד הדרום, פיקד על החזית במהלך מלחמת ההתשה ועסק בהקמת קו המעוזים על גדות התעלה.
          <strong>
            <br /> </strong>בראשית 1973 פרש מן הצבא ופנה לפעילות פוליטית. עם מלחמת פרוץ יום הכיפורים, שב שרון לצבא ומונה כמפקד
          עוצבת עמוד האש, שנטלה חלק משמעותי בקרבות בגזרת סיני. ב-1977 התמודד לכנסת בראש תנועת "שלומציון" שהתמזגה לאחר הבחירות
          אל תוך הליכוד. בממשלת בגין מונה שרון לשר החקלאות ובתפקיד זה פעל לעידוד ולהרחבת ההתיישבות היהודית ביהודה, שומרון
          וחבל עזה. בשנת 1981, מונה אריאל שרון
          <strong>לשר הביטחון, </strong>במסגרת תפקיד זה היה אחראי על מימוש הסכם השלום עם מצריים ופינוי חבל ימית בצפון סיני. בנוסף
          הוא היה ההוגה והיוזם של
          <strong> מלחמת שלום הגליל;</strong> תפקודו של שרון במהלך המלחמה היה שנוי במחלוקת וזכה לביקורת ציבורית. ועדת כהן שהוקמה בעקבות
          הטבח במחנות הפליטים סברה ושתילה,*** מתחה ביקורת קשה על התנהלותו והמליצה כי שרון יסיים את תפקידו ולא ישמש בעתיד
          בתפקיד שר ביטחון.
          <strong>
            <br /> </strong>שרון פרש מתפקיד שר הביטחון אך המשיך לכהן כשר בלי תיק. בממשלות הבאות כיהן כשר התעשייה והמסחר, שר הבינוי
          והשיכון ושר התשתיות הלאומיות. עם פרישתו של נתניהו מראשות הליכוד בשנת 1999, מונה ליושב-ראש המפלגה ועל רקע אירועי
          "גאות ושפל" (האינתיפאדה השנייה), נבחר ב-2001 לראשות הממשלה. תרופת כהונתו הראשונה עמדה בסימן המאבק בטרור הפלסטיני
          שהוביל ליציאה ל
          <strong>מבצע חומת מגן</strong>. כהונתו השנייה (2003) עמדה בסימן בניית גדר הביטחון שנועדה למנוע חדירה של טרור אל עורף ישראל
          ו
          <strong>תכנית ההתנתקות</strong>, תכנית נסיגה חד צדדית מרצועת עזה וצפון השומרון. התכנית עוררה מחלוקות וביקורות רבות ובסופו
          של דבר יצאה אל הפועל בקיץ 2005. היא הביאה למשבר פוליטי ועל רקע משבר זה והחשדות שהועלו כנד שרון בשחיתות, הוחלט על
          הקדמת הבחירות ל-2006. בשיאו של המשבר החליט שרון לנטוש את מפלגת הליכוד ולהקים מפלגה חדשה, "קדימה"; חודשים ספורים
          לאחר מכן לקה בשבץ מוחי ונבצר ממנו למלא את תפקיד ראש הממשלה. סמכויותיו נמסרו לממלא מקומו, אהוד אולמרט. אריאל שרון
          נפטר ב-י' בשבט תשע"ד, 11 בינואר 2014 ונקבר בגבעת הכלניות שליד חוות השקמים.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.5.12 אהוד אולמרט (נולד:1945)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"המלחמה בשחיתות מחייבת מאבק חסר פשרות. אם מי שהיה לראש ממשלת ישראל חטא בקבלת כספי שוחד, מה יחשוב האזרח הקטן על
              מנהיגיו, בבחינת אם בארזים נפלה שלהבת, מה יגידו אזובי הקיר? ככל שתפקידו של איש הציבור רם יותר, כך המעילה באמון
              הציבור קשה יותר. נטילת שוחד חותרת תחת מוסדות שלטון מתוקנים ופוגעת בהתנהלותה של מדינה חפצת חיים, ומאן הצורך
              לפעול בנחישות וללא מורא על מנת למגר תופעות מעין אלה".</em>
          </strong>
          <strong>
            <br /> </strong>אהוד אולמרט, ראש הממשלה השנים-עשר, נולד בשנת 1945 במבצר שוני הסמוך לבנימינה למשפחה רוויזיוניסטית ואביו,
          מרדכי אולמרט, שימש כחבר כנסת מטעם תנועת החירות. ב-1963 התגייס לחטיבת גולני, אולם נאלץ להשתחרר זמנית מן הצבא כעבור
          זמן קצר עקב פציעה שלא החלימה כראוי. הוא קיבל דחיית שירות, במהלכה סיים תואר ראשון בפסיכולוגיה ופילוסופיה באוניברסיטה
          העברית; ובשנת 1971 שב והשלים את שירותו הצבאי ככתב צבאי בעיתון "במחנה". בעת שירותו במילואים יצא לקורס קצינים והוסמך
          כקצין. במהלך השירות החל ללמוד לתואר ראשון נוסף ובשנת 1975 הוסמך כעורך-דין. עוד בעת תקופת לימודיו, היה אולמרט מעורב
          בפעילות פוליטית. בשנת 1973, בהיותו בן עשרים ושמונה בלבד, נבחר לכנסת מטעם תנועת החירות. בשנת 1988 מונה לשר ענייני
          מיעוטים ושבנת 1990, מונה לשר הבריאות. בשנת 1992, פרש מן הכנסת ונבחר
          <strong>לראש עיריית ירושלים. </strong>בשנת 2003 פרש מהעירייה וחזר אל הכנסת. לאחר הבחירות מונה לשר התעשייה, המסחר והתעסוקה
          ולממלא מקום ראש הממשלה. עם ההכרזה על תכנית ההתנתקות, היה אולמרט מתומכיה המרכזיים. לאחר פרישותו של בנימין נתניהו,
          מונה לשר האוצר ועם הקמת "מפלגת קדימה" מונה למספר שתיים ברשימה. לאחר אשפוזו של אריאל שרון מונה אהוד אולמרט למחליפו
          הזמני ובבחירות 2006, נבחר לראשות הממשלה.
          <br /> כהונתו של אולמרט כראש ממשלה, אופיינה בהחרפת הסכסוך ברצועת עזה והתחדשותו של הסכסוך הישראלי-לבנוני עם חטיפתם של
          חיילי צה"ל בגזרת הר דב ופרוץ
          <strong>מלחמת לבנון השנייה</strong>. המלחמה הביאה לפגיעה קשה בתשתית הטרור של ארגון החיזבאללה, אך גם לפגיעה בעורף הישראלי
          ולמחלוקת לגבי מחדלים שונים שהתגלו בה. ועדת וינוגרד, שהוקמה בעקבות המלחמה, מצאה ליקויים רבים בהתנהלות הדרג המדיני
          והדרג הצבאי, אך נמנעה מלקבל מסקנות אישיות כנגד מי מהמעורבים. במקבי הועלו כנגד אולמרט מספר חשדות הנוגעים בשחיתות
          ונמצאים עדין בבירור מערכת אכיפת החוק. על רקע זה הוחלט על הקדמת הבחירות למרץ 2009, ואולמרט החליט כי לא יתמודד בהן.
          במהלך התקופה שקדמה לבחירות, בדצמבר 2008, הוביל אולמרט את מדינת ישראל ל
          <strong>מבצע עופרת&nbsp; יצוקה</strong>, מבצע צבאי רחב היקף בעזה. לאחר פרישתו המשיכו להתנהל כנגדו מספר משפטים. הוא הורשע
          בבית המשפט בכמה אישומים ובראשם
          <strong>שוחד</strong> ונשלח לרצות את עונשו בכלא.</p>
      </div>

    </ion-content>
  </div>
