<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.1 יעקב דורי (1973-1899)
        </h3>
        <p class="book--text-style">
          <strong>
            <em>"...כל מפקד, החל בדרגות הנמוכות ביותר וכלה בעליונות מגלם באופן מוחשי את הרעיון המרכזי שלמענו נקראים האנשים להקריב
              את חייהם... משום כך הכרח הוא כי המפקד יהיה מחונך בסגולות מחנך: עליו לחנך את אנשיו מבעוד מועד בתקופת השלום לייעודם
              בקרב" (יעקב דורי, ספר הפלמ"ח, עמ' 314)</em>
          </strong>
          <strong>
            <br /> </strong>יעקב דורי,
          <strong>ראש המטה הכללי הראשון</strong>, נולד בשנת 1899 בעיר אודסה, ברוסיה. בשנת 1906 עלה עם ממשפחתו לארץ ובשנת 1917, במהלך
          מלחמת העולם הראשונה, התגייס לצבא הבריטי ושירת בגדוד 40 של הגדודים העבריים. עם שחרורו החל בלימודי הנדסה בבלגיה וכששב
          לארץ מונה למהנדס של היישובים החדשים שתוכננו במסגרת "תכנית האלף". במהלך מאורעות תרפ"ט (1929), מונה דורי למפקד ה"הגנה"
          בחיפה. ב-1930 עבר להתגורר בירושלים ומונה לסגן המהנדס הראשי של הסוכנות היהודית; במקביל התקדם בסולם התפקידים של "ההגנה"
          עד שבשנת 1939 מונה גם ל
          <strong>ראש המטה הכללי של הארגון</strong>. עם היודע החלטת האו"ם, בשנת 1947, סייע לדוד בן-גוריון בהכנת כוח המגן למלחמה,
          בהפיכתה של ה"הגנה" מארגון מחתרתי לצבר סדיר ובשילוב לוחמי המחתרות השונות בצה"ל. כשהוקם צה"ל באופן רשמי ב-26 במאי
          1948, מונה דורי לראש המטה הכללי הראשון וניהל מעמדה זו את מלחמת העצמאות עד לחתימת הסכמי הפסקת האש. במהלך חלקם הראשון
          של הקרבות היה תפקודו של דורי חלקי בשל מצבו הבריאותי ויגאל ידין מילא את מקומו. בנובמבר 1949 פרש מתפקידו והוחלף על
          ידי יגאל ידין. עם פרישתו מצה"ל מונה לראש אגף המדע במשרד ראש הממשלה וכיהן גם כחבר בוועדת "אולשן-דורי" שחקרה את פרשת
          "עסק הביש". בין השנים 1965-1951 שימש כנשיא הטכניון בחיפה. יעקב דורי נפטר ב-י"ט בשבט תשל"ג, 22 בפברואר 1973; על
          שמו נקרא מחנה תל-השומר.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.2 יגאל ידין (1984-1917)
        </h3>
        <p class="book--text-style">
          <strong>
            "כשלושים אלף איש ואשה התנדבו מתוך היישוב העברי בארץ ישראל לשורות הצבא הבריטי ביחידות מגוונות קטנות כגדולות... לנו הייתה זו
            מלחמה על קיומנו כעם וכבודדים, מלחמה להצלת יהודים מידי עריץ ששם לו למטרה להשמיד יהודים באשר הם כיהודים. הייתה
            זו בשבילנו ראשיתה של מלחמת הקוממיות, טיפוח גרעין הכוח הצבאי העברי"
          </strong>
        </p>
        <br>
        <p class="book--text-style">יגאל ידין, ראש המטה הכללי השני, נולד בשנת 1917 בירושלים, תחת השם יגאל סוקניק. בגיל 15 הצטרף אל שורות "ההגנה" ובגיל
          22 התמנה לשלישו של יעקב דורי. במקביל לשירותו בארגון למד ידין ארכיאולוגיה, לשון עברית וספרות באוניברסיטה העברית.
          <strong>במהלך מלחמת העצמאות, שימש כמחליפו של יעקב דורי </strong>ובשנת 1949, בהיותו בן 32, מונה לרמטכ"ל. כרמטכ"ל קבע את
          הכללים היסודיים על- פיהם מתנהל צה"ל בתחומי הגיוס והמבנה. בשנת 1952, סיים ידין את תפקידו והוחלף על ידי מרדכי מקלף.
          לאחר פרישתו התמסר ל
          <strong>ארכיאולוגיה </strong>ובמסגרת עבודתו היה אחראי בין היתר לחשיפת שרידי מצדה ולמחקר "המגילות הגנוזות". על תרומתו למחקר
          קיבל את פרס ישראל במדעי היהדות לשנת 1956. ב- 1963 מונה לפרופסור במכון לארכיאולוגיה של האוניברסיטה העברית ושנה לאחר
          מכן הפך לחבר האקדמיה הלאומית למדעים. הוא כתב ספרים רבים על שלהי ימי הבית השני ועל מרידות היהודים, באחדים מהם אף
          השתמש בניסיונו הצבאי וניתח תורות לחימה וטקטיקות של מגננה. לאחר מלחמת יום הכיפורים שימש ידין כחבר ועדת אגרנט לקראת
          בחירות 1977 הקים יחד עם פרופ' אמנון רובינשטיין את תנועת ד"ש (דמוקרטיה לשינוי),נבחר מטעמה לכנסת ושימש כסגן ראש הממשלה.
          בעקבות התפוררות המפלגה פרש ב0-1981 מן החיים הפוליטיים. יגאל ידין נפטר בכ"ח בסיוון תשמ"ד, 28 ביוני 1984. על שמו
          נקרא מחנה צריפין.
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.6.3 מרדכי מקלף (1920-1978)
        </h3>
        <p class="book--text-style">
          <strong>"כשלושים אלף איש ואשה התנדבו מתוך היישוב העברי בארץ ישראל לשורות הצבא הבריטי ביחידות מגוונות קטנות כגדולות... לנו
            הייתה זו מלחמה על קיומנו כעם וכבודדים, מלחמה להצלת יהודים מידי עריץ ששם לו למטרה להשמיד יהודים באשר הם כיהודים.
            הייתה זו בשבילנו ראשיתה של מלחמת הקוממיות, טיפוח גרעין הכוח הצבאי העברי"</strong>
        </p>
        <p class="book--text-style">מרדכי מקלף, ראש המטה הכללי השלישי, נולד בשנת 1920 במוצא. כשהיה ילד עיר התנפלו פורעים ערבים על ביתו במהלך מאורעות
          תרפ"ט והוא היה אחד הניצולים היחידים מן הטווח שנערך ביהודי המושבה. בגיל 16 הצטרף לשורות ה"הגנה" ולאחר צכן בגיל 19
          , הצטרף ל
          <strong>פלגות הלילה המיוחדות </strong>תחת פיקודו של אורד וינגייט. במהלך מלחמת העולם השנייה
          <strong>שירת בשורות הצבא הבריטי </strong>ולחם בצפון אפריקה; עם תום המלחמה שוחרר בדרגת מייג'ור (רב- סרן). במהלך מלחמת העצמאות
          שירת בחטיבת כרמלי שלחמה באיזור הצפון; הוא שימש כקצין אג"ם. עם סיום תפקידו של יגאל ידין כרמטכ"ל (1952) ביקש בן גוריון
          ממקלף, שהיה באותה עת בן 32 בלבד, לקבל עליו את התפקיד, מקלף הסכים אך התנה זאת בכך שהוא ישמש בו למשך שנה אחת בלבד.
          במהלך כהונתו השלים תוכנית קיצוצים בצה"ל ושחרר את צבא ממשימות ומתפקידים אזרחיים. בנוסף, היה אחראי להקמת יחידה 101
          שביצעה את פעולות התגמול. בשנת 1953, סיים את תפקידו והוחלף ע"י משה דיין. לאחר שחרורו מצה"ל בדצמבר 1953, מילא שורת
          תפקידים ציבוריים בכלכלה הישראלית ובינהם מנכ"ל חברת החשמל ומנכ"ל מפעלי ים המלח. מרדכי מקלף נפטר בט"ו אדר תשל"ח,
          22 בפבואר 1978; על שמו נקרא מחנה השלישות הראשית ברמת גן.</p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.6.4 משה דיין (1915-1981)
        </h3>
        <p class="book--text-style">
          <strong>"דור התנחלות אנו, ובלי כובע הפלדה ולוע התותח לא נוכל לטעת עץ ולבנות בית על נראתה מלראות את המשטמה המלבה וממלאת
            חיי מאות אלפים ערבים היושבים סביבנו. אל נסב את ענינו פן תחלש ידנו. זאת גזרת דורנו. זו ברירת חיינו &ndash; להיות
            נכונים וחמושים, חזקים ונוקשים, או כי תשמט החרב מאגרופנו ויכרתו חיינו"
            <br>
            <br /> </strong>משה דיין, ראש המטה הכללי הרביעי , נולד בשנת 1915 בקיבוץ דגניה. בגיל 18 הצטרף לשורות ה"הגנה" כאיש
          <strong>משטרת היישובים </strong>ובשנת 1938 היה בין המצטרפים הראשונים ל
          <strong>פלגות הלילה המיוחדות</strong> תחת פיקודו של אורד וינגייט; אולם חודשים ספורים לאחר מכן נאסר ע"י הבריטים כחלק מ-
          מ"ג אסירי ההגנה. בשנת 1941 התנדב לפעולות נגד צבא וישי בסוריה ואיבד באחת מהן את עיני השמאלית. בראשי מלחמת העצמאות
          שימש דיין במספר תפקידי מטה והיה מיוזמי שיתוף הפעולה הין צהל לעדה הדרוזית. בהמשך המלחמה פיקד על הכוחות בעמק הירדן,
          שימש כמפקד שלחם באזור השפלה ולבסוף מונע למפקד חטיבת עציוני שלחמה באיזור ירושלים ולמפקדה של העיר. בתוקף תפקיד זה
          ניהל את המגעים עם הירדנים והיה אחראי לקביעת "הקו העיוני" , שחצה את העיר עד מלחמת ששת הימים. בסוף 1949 מונה למפקד
          פיקוד הדרום וב-1952 מונה למפקד פיקוד הצפון. עם סיום תפקידו של מרדכי מקלף כרמטכ"ל (1953) מונה דיין למחליפו. בכוהנתו
          שם דגש על היחידות הקרביות ופיקד על הצבא במהלך מספר פעולות תגמול ובמהלך
          <strong>מלחמת סיני</strong>. בשנת 1958 , סיים דיין את תפקידו והוחלף ע"י חיים לסקוב. הוא נבחר לכנסת הרביעית וכיהן כשר החקלאות.
          בשנת 1967, סמוך לפרוץ ששת הימים מונה ל
          <strong>שר הביטחון </strong>והחזיק בתפקיד במהלך המלחמה. עם סיום המלחמה זכה דיין להערכה עצומה בישראל ובעולם. בתקופה זו מיסד
          את השלטון הצבאי ביהודה , שומרון ועזה, הוביל את צהל במלחמת ההתשה והתמודד עם גל פיגועי הטרור הקשים. בתקופה שקדמה
          למלחמת יום הכיפורים הניח דיין כי הסבירות לפריצתה של מלחמה נמוכה. גישתו נשענה בעיקר על הנחה ("קונספירציה") שארצות
          ערב ימנעו מלתקוף את ישראל לאור המכה שספגו במהלך מלחמת ששת הימים. קונספרציה זו כשלה וישראל הופתעה בתקיפה משולבת
          בסיני ובגולן שגבתה מחיר דמים כבד. עם תום המלחמה התפטר דיין מתפקידו בלחץ הציבור זאת על אף שדו"ח ועדת ארגנט לא הטיל
          עליו אחריות אישית. דיין חזר אל החיים הפוליטיים בשנת 1977 כשנבחר לכנסת התשיעית ומונה לשר החוץ. הוא היה בין יוזמי
          המגעים עם מצרים שהבשילו לבסוף לכדי הסכם שלום, אך ב-1979 פרש מן הממשלה על רקע מחלוקת בינו לבין בגין לגבי הדרך ליישומו.
          משה דיין נפטר בי"ח בתשרי תשמ"ב, ב16 באוקטובר 1981; על שמו נקרא מחנה המכללות הצבאיות בגלילות.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.5 חיים לסקוב (1919-1982)
        </h3>
        <p class="book--text-style">
          <strong>"אני מאמין בעם ישראל. אני מאמין שניתנה לנו הזדמנות להקים את הבית השלישי. אם אנחנו לא נקים אותו- אף אחד לא יקים
            אותו. אם לא ננצל כל רגע בשביל להקימו &ndash; הוא לא יקום."</strong>
        </p>
        <p class="book--text-style">חיים לסקוב, ראש המטה הכללי החמישי, נולד בשנת 1919 בעיירה בוריסוב, בבלרוס. שהיה בן 6 עלה לארץ עם הוריו ולמד בבית הספר
          הריאלי בחיפה. בגיל 20 הצטרף ל"הגנה" ושימש במגוון תפקידים. ב-1941
          <strong>התנדב לצבא הבריטי</strong> , ושירת כלוחם בחזית המזרח התיכון, ולאחר מכן מפקד פלוגה מסייעת בבריגדה היהודית באיטליה.
          הוא שוחרר מהצבא הבריטי עם תום המלחמה בדרגת מייג'ור (רב-סרן) , ונשאר באירופה ופעם להעלאת יהודים לארץ במסגרת ההעפלה
          . עם פרוץ מלחמת העצמאות הוטל עליו לאגם את ההדרכה בצה"ל ובמסגרת זו
          <strong>פיקד על קורס הקצינים</strong> הראשון. ב1951 מונה למפקד חיל האוויר אף שמעולם לא היה טייס והכין את החיל לקבלת מטוסי
          הסילון הקרביים הראשונים. במהלך מלחמת סיני פיקד על אוגדת שיריון. לאחר מותו של אלוף פיקוד הדרום אסף שמחוני, בתאונת
          אימונים, התמנה למחליפו ופיקד על נסיגת הכוחות הישראלים מסיני. עם סיום תפקידו של משה דיין כרמטכ"ל (1958) מונה לסקוב
          למחליפו. כהונתו התאפיינה בשקט יחסי, ללא אירועים ביטחוניים יוצאי- דופן. לסקוב התמקד בבנייתו של צה"ל כצבא מקצועי
          וסדור, הוא ביקש ליישם בנורמות שספג בעת שירותו בצבא הבריטי והקפיד על כללי משמעת ועל הכשרת המפקדים. בשנת 1961 סיים
          לסקוב את תפקידו והוחלף ע"י צבי צור. בשנת 1972, התמנה ל
          <strong>נציב קבילות החיילים</strong> הראשון בצה"ל, תפקיד בו שימש עד יום מותו. כמו כן , נמנה עם חברי ועדת אגרנט לבדיקת אירועי
          מלחמת יום הכיפורים. חיים לסקוב נפטר ב-כ"ב בכסלו תשמ"ג , 8 בדצמ' 1982; על שמו נקרא ביה"ס לקצינים (בה"ד 1) בנגב.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.6.6 צבי צור (1923-2004)
        </h3>
        <p class="book--text-style">
          <strong>"שלושים ארבע שנים אינן הולכות ברגל ושבע השנים האחרונות היו באמת המעניינות ביותר. אבל מה ? חונכתי על ברכי תורת הרוטציה
            ואני מאמין בה. צריך לדעת מתי להחליף את הסוסים. אנשים חדשים מביאים דרך הטבע רעיונות חדשים ומעלים מחשבות תוססות."
            <br>
            <br /> </strong>צבי צור, ראש המטה הכללי השישי, נולד בשנת 1923 בעיר זסלב, באוקרניה, תחת השם צבי צ'ארטאנקו ועלה לארץ
          עם הוריו שהיה בן שנתיים. במהלך מאורעות&nbsp; תרצ"ן &ndash; תרצ"ט, התגייס ל"הגנה: ושימש כקשר. במהלך מלחמת העצמאות
          , פיקד על גדוד 54 של חטיבת גבעתי; כמפקד הגדוד הקים את פלוגת הג'יפים
          <strong>"שועלי שמשון"</strong> , שמילאה תפקיד מרכזי בכיבוש הנגב. לקראת תום המלחמה מונה למפקד החטיבה. עם תום המלחמה שימש
          כמגוון תפקידים בצה"ל ובין השאר כראש אגף כוח האדם. (אכ"א) , אלוף פיקוח מרכז , האחראי על מרחב עזה במהלך מלחמת סיני,
          וסגן הרמטכ"ל. עם סיום תפקידו של חיים לסקוב כרמטכ"ל (1961) מונה צור למחליפו. תקופת כהונתו נחשבת לתקופה שקטה יחסית
          מן הבחינה הבטחונית למעט "פעולת נוקייב" (מבצע סנונית) שהתרחשה במרץ 1962. במהלך תקופה זו התמקד צור בפיתוח תורת הלחימה
          ( תו"ל) הישראלית, ברכישת אמצעי לחימה חדשים ומתקדמים ובפיתוח יכולות בתחום
          <strong>האלקטרוניקה והטילים. </strong>בשנת 1964 , סיים צור את תפקידו והוחלף ע"י יצחק רבין. שנה לאחר מכן הצטרף למפקדת רפ"י
          ונבחר מטעמה לכנסת. בשנת 1967 התמנה לעוזרו של שר הביטחון, משה דיין, תפקיד בו נשא לאורך 7 שנים סוערות שכללו גם את
          תקופת מלחמת יום הכיפורים. עם פרישתו ממשרד הביטחון שימש&nbsp; במספר תפקידי בכירים במשק, צבי צור נפטר ב- כ' בכסלו
          תשס"ה , 28 בדצמ' 2004; על שמו נקרא ביה"ס למקצועות החי"ר (ביסלמ"ח) בנגב.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.7 יצחק רבין
        </h3>

        <p class="book--text-style">כיהן כרמטכ"ל השביעי בשנים 1968- 1964.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.8 חיים בר-לב (1924-1994)
        </h3>
        <p class="book--text-style">
          <strong>"בגורלו של מפקד נופל לעיתים לשלוח אנשים לתפקדים מסוכנים, נכונותם של המפקדים ללכת תמיד בעצמם לפני המחנה עם מקור
            הכוח המוסרי הדרוש להם לקבלת החלטות אלה".</strong>
        </p>
        <p class="book--text-style">חיים בר לב, ראש המטה הכללי השמיני נולד ב-1924 בעיר וינה באוסטריה,תחת השם חיים ברוצלבסקי. בשנת- 1939 עלה לארץ ולמד
          בבית הספר מקווה ישראל. שלוש שנים לאחר מכן הצטרף לפלמ"ח ועלה בדרגה בסולם הדרגות. במהלך מלחמת העצמאות פיקד על גדוד
          שנסע בתפקיד מרכזי במבצע "חורב" לשחרור הנגב. עם תום המלחמה שימש במגוון תפקידים בצה"ל ובין השאר כמפקד קורס מגד"ים,
          מפקד קורס מח"טים ומפקד חטיבת גבעתי. במלחמת סיני פיקד על חטיבה משוריינת ועם המלחמה מונה למפקד גייסות השיריון. ב-1958
          מונה לאלוף ובהמשך מונה לראש אגף המבצעים ולסגן הרמטכ"ל. עם סיום תפקידו של יצחק רבין כרמטכ"ל (1968) מונה בר לב למחליפו
          ופיקד על צה"ל במהלך
          <strong>מלחמת ההתשה. </strong>בעקבות הלחימה המתמשכת לאורך גדרות תעלת סואץ הורה על הקמתו של קו מעוזים מבוצר שמנה כ-30 מוצבים
          וכונה קו "בר-לב" בשנת 1972, סיים בר-לב את תפקידו והוחלף ע"י דוד אלעזר. עם פרישתו הצטרף אל מפלגת העבודה וכעבור מספר
          חודשים מונה לסר המסחר והתעשייה. במהלך מלחמת יום הכיפורים גויס באופן חריג לךמילואים ושימש כמפקד חזית הדרום. בתפקיד
          זה הצליח לבלום את הכוחות המצריים והעביר את צה"ל למצב של התקפה. עם פרישתו מהכנסת, בשנת 1992, מונה לשגריר ברוסיה.
          חיים בר לב נפטר ב- ו' בסיוון תשנ"ד ה-7 במאי 1994, על שמו נקרא בסיס מטה מפקדת זרוע היבשה בקריית מלאכי.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.9 דוד אלעזר (1925-1976)
        </h3>
        <p class="book--text-style">
          <strong>"אנחנו עם אשר האנדרטאות שהקים לא היו אף פעם אנדרטאות ניצחון. על האנדרטאות שלנו חקוקים שמות הנופלים. אצל עמים אחרים
            תמצאו שערי ניצחון ואילו סמלי הגבורה שלנו הם דווקא מצדה , תל חי , וורשה- מקומות שבהם אמנם הפסדנו בקרב, אבל ניצחנו
            במלחמת הקיום היהודי"
            <br>
            <br /> </strong>דוד (דדו) אלעזר, ראש המטה הכללי התשיעי , נולד בשנת 1925 בעיר סטרייבו, בבוסניה. בגיל 14 החל את לימודיו
          בזגרב, הצטרף אל " השומר הצעיר" והתקרב אל הציונות. בשנת 1940, מעט לפני הכיבוש הנאצי של הבלקן הצליח אלעזר לעלות לארץ
          במסגרת עליית הנוער. בשנת 1946 הצטרף לפלמ"ח, במהלך מלחמת העצמאות שימש כמפקד מחלקה בחטיבת הראל שלחמה באזור ירושלים.
          במהלך הלחימה התקדם בסולם הדרגות עד שמונה למפקד הגדוד. בשנת 1995 מונה למפקד חטיבת הנגב ופיקד עלייה במהלך מלחמת סיני.
          לאחר המלחמה, עבר הסבה לשריון, שימש כמפקד חטיבה 7 ולאחר מכן כמפקד גייסות השריון. בשנת 1964 מונה למפקד פיקוד הצפון
          ופיקד על קו הגבול המתוח עם הסורים במהלך שנות "המלחמה על המים" ומלחמת ששת הימים ב1969 מונה לראש אגף המבצעים ועם
          סיום תפקידו של חיים בר לב כרמטכ"ל (1972) מונה אלעזר למחליפו. במהלך כהונתו כרמטכ"ל פרצה מלחמת
          <strong>יום הכיפורים </strong>שהפתיעה את צה"ל וגבתה מן הצד הישראלי מחיר דמים כבד. אלעזר היה שותף להנחה ("קונספציה") כי
          המצרים לא יפתחו במלחמה ונמנע מגיוס מילואים לפנייה. יחד עם זאת במהלך המלחמה הצליח להוביל את צה"ל להתקפה ולבלום את
          המצרים והסורים. ועדת אגרנט שמונה לאחר המלחמה במטרה לבדוק את הכשלים שנלוו לה קבעה כי אלעזר "נושא באחריות אישי גם
          בעניין בהערכת מצב וגם בעניין מוכנותו של צה"ל". בעקבות המלצות הוועדה הגיש באפריל 1974 את התפטרותו והוחלף ע"י מרדכי
          גור. דוד אלעזר נפטר בט"ו בניסן תשל"ו , 15 באפריל 1976 , על שמו נקרא מרכז דדו לחשיבה צבאית בין תחומית גלילות.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.10 מרדכי (מוטה) גור (2008-1930)
        </h3>

        <p class="book--text-style">
          <strong>"עבודתו של קצין המטה ניתנה ללמידה די בקלות. אפשר לתרגל אותה בלי סוף , אולם דמותו של קצין המטה, מהותו, דרך פועלתו,
            והתנהגותו &ndash; אותם אי&nbsp; אפשר ללמוד ע"י תרגילים , אלה הם הערכים אותם צריך להקנות , עליהם צריך להתחנך ולחנך".</strong>
        </p>
        <p class="book--text-style">מרדכי (מוטה) גור, ראש המטה הכללי העשירי, נולד בשנת 1930 בירושלים , תחת השם מרדכי גורבן. כשהיה בן 13 הצטרף ל"הגנה"
          ומילא תפקידים שונים בגדנ"ע במלחמת העצמאות לחם כמפקד יחידת ג'יפים ובמהשך מונה למפקד פלוגה בחטיבת הנגב. במהלך פעולת
          הגמול ב1955, נפצע וזכה בצל"ש הרמטכ"ל שהומר אח"כ לעיטור העוז, לאחר הפעולה הוא מונה למפקד גדוד בנח"ל המוצנח איתו
          לחם ב1956 במלחמת סיני. בשנת 1961 מונה למפקד חטיבת גולני ותפקיד זה פיקד על פעולת נוקייב. בשנת 1966 מונה למפקד חטיבת
          הצנחנים במילואים עליה פיקד , גם במהלך מלחמת ששת הימים. החטיבה, שהייתה אמורה להילחם בחזית הדומית נלחמה בגזרת ירושלחים
          ובסיום הקרבות הקשים הצליחה לשחרר אתה עיר מדיהם של הירדנים. מוטה גור נחרט בזכריון הציבורי
          <strong>כמשחרר ירושלים</strong> , בין השאר בשל קריאתו הנרגשת בקשר :" הר הבית בידינו !" . בסוף 1969 מונה גור לאלוף פיקוד
          צפון מתמודד עם חוסר השקט בגזרה כחלק ממלחמת ההתשה. ב-1972 התמנה לנספח הצבאי בארה"ב ובתפקיז דה עסק בסיוע ובארגון
          "הרכבת האווירית" של נשק ותחמושת במהלך מלחמת יום הכיפורים. עם סיום תפקידו של דוד אלעזר כרמטכ"ל (1974) מונה גור למחליפו.
          במהלך כהונתו יצא צה"ל ל
          <strong>מבצע "יונתן " </strong>במהלכו חולצו ישראלים שנתקעו במטוס באנטבה. בשנת 1978 סיים גור את תפקידו והוחלף ע"י רפאל איתן
          . הוא הצטרף אל מפלגת העבודה וכיהן כחבר כנסת וכשר הבריאות. מרדכי גור נפטר בי"ח בתמוז תשנ"ה , 16 ביולי 1995; על שמו
          נקרא מחנה בית ליד.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.11 רפאל (רפול) איתן (1929-2004)
        </h3>
        <p class="book--text-style">
          <strong>
            "לא רק לך קשה , גם לאיוב קשה, השאלה היא מי יישבר ראשון. זה שיידחה את נקודת השבירה שלו הוא המנצח. "
            <br> </strong>
        </p>
        <p class="book--text-style">רפאל (רפול) איתן , ראש המטה הכללי ה11, נולד בשנת 1929 במושב תל עדשים, למשפחה שאביה נמנה עם מקימי "השומר" . בהיותו
          בן 15 הצטרף אל הפלמ"ח ובמהלך מלחמת העצמאות לחם בשורות חטיבת הראל בגזרת ירושלים. אחרי המלחמה השתחרר מצה"ל אחרי התגייס
          לאח רתקופה קצרה בשנית. באוקטובר 1955 השתתף בפעולת התגמול במשטרת קונתילה זכה על פעולתו בעיטור העוז. במלחמת סיני
          פיקד על גדוד הצנחנים שביצע את הצניחה המבצעית במיתלה. ב1964 מונה למפקד חטיבת הצנחנים ובמלחמת ששת הימים פיקד עליה
          במהלך הקרבות באזור פתחת רפיח וצפון סיני. במהלך הלחימה הטא נפצע קשה בראשו ועם החלמת מונה למפקד חטיבת הבקעה, היה
          ממפתחיה של שיטת ה"מרדף" והשתתף בעצמו בעשרות מרדפים אחרי מחבלים שחדרו לארץ משטח ירדן. בהמשך מונה לקצין צנחנים וחי"ר
          ראשי (קחצ"ר) ובמהלך מלחמת יום הכיפורים פיקד על אוגדה בחזית הסורית. לאחר המלחמה שימש במספר תפקידים בכירים ועם סיום
          תפקידו של מוטה גור כרמטכ"ל (1978) מונה איתן למחליפו. איתן נודע כרמכ"ל שהקפיד מאוד על משמעת, בנוסף הוא הקים את
          <strong>פרוקייט חיילי המקא"ם (חיילי איתן) </strong>המסייע לחיילים המאותרים כבעלי קשיי הסתגלות להשלים שירות צביא. במהלך
          כהונתו השמיד צה"ל ביוני 1981 את הכורים הגרעיניים בעיראק ("מבצע אופרה") ויצא לל
          <strong>מלחמת שלום הגליל </strong>(1982) .וועדת כהן שהוקמה בעקבות הטבח במחנות הפליטים סברה ושתילה העלתה ביקורת קשה כלפי
          איתן אך לא ננקטו נגדו צעדים כיוון שבכל מקרה עמד בפני סיום תפקידו. בשנת 1983 , סיים את תפקידו והוחלף ע"י משה לוי.
          שנה לאחר מכן, נבחר לכנסת מטעם רשימת "התחייה צומת" , הוא כיהן כחבר כנסהת וכשר חקלאות ץ בבחירות 1999 לא הצליחה מפלגתו
          לעבור את אחוז החסימה ואיתן פרש מן החיים הפוליטים. רפאל איתן טבע בים במהלך יום סוער בי' בכסליו תשס"ה ה23 בנובמבר
          2004; על שמו נקרא בסיס האימונים החטיבתי (בא"ח ) שפיפון של חטיבת הצנחנים.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.6.12 משה לוי (1936-2008)
        </h3>
        <p class="book--text-style">
          <strong>"קבעתי בעבר שמידי פעם נקיים את הדיון השבועי של המטה הכללי באתר כלשהו, שהוא הרקע לדיונים ולפעילות של צה"ל. לפני
            כ3 חודשים ביקר רמטכ"ל בקיבוץ חניתה, והיום אנו אורחי קריית שמונה. כך התקרבו חברי הפורום למקום זה"</strong>
        </p>
        <p class="book--text-style">משה לוי, ראש המטה כללי ה12, נולד בשנת 1936 בת"א. הוא התגייס לצה"ל, עלה בסולם הדרגוץ, ובעת מלחמת סיני היה קצין הבמעים
          בגדוד הצנחנים שנצח במתלה. בשנת 1968 , מונה למפקד חטיבת הבקעה , ובמסגרת תקפיד זה
          <strong>פיקד על רבים מן המרדפים </strong>אחרי מחבלים שחדרו לארץ משטח ירדן ואף נפצע באחד מהם. לאחר מכן בשנת 1967 התמנה למפקד
          פיקוד מהרכז והחל מ1981 שימש כסגן הרמטכ"ל וכראש אג"מ וסייע להכין את צה"ל למחלמת שלום הגליל עם סיום תפקידו של דפאל
          איתן כרמטכ"ל (1983) מונה לוי למחליפו. בתפקופת כהונתו נערך צה"ל בקווים חדשים בלבנון והצטייד במערכות נשק חדשות. בשנת
          1983, סיים לוי את תפקידו והוחלף ע"י דן שומרון. בשנים שלאחר מכן ביקש להתמסר לעבודה חקלאית בקיבוצו , בית אלפא . בנוסף
          שימש סמפר תפקידים ציבוריים כגון יו"ר הרשות למלחמה בסמים וחבר בועדת שמאגר, לחקירת אירועי הטבח במערכת המכפלה. משה
          לוי נפטר בא' בשבט , תשס"ח , 8 בינואר 2008; על שמו נקרא בסיס מרכז ההטסה וההכשרות המיוחדות (מרהו"ם) בתל נוף.</p>


        <h3 class="book--topiccontent-title lightHeebo">
          6.6.13 דן שומרון (1937-2008)
        </h3>
        <p class="book--text-style">
          <strong>"במשך כל הקריירה שלי בצבא חתמתי כל שנה על הערכה נוספת. הפסדתי אומנם את כל ההטבות השמורות לאלה שחתמו על תקופות קבע
            ארוכות, אך אני שלם עם עצמי, כי איני רואה בצבא מקור פרנסה"</strong>
        </p>
        <p class="book--text-style">דן שומרון, ראש המטה הכללי ה-13, נולד בשנת 1937 בקיבוץ אשדות יעקב. בשנת 1956 התגייס לצה"ל ושירת בחטיבת הצנחנים, במסגרת
          זו השתתף במספר פעולות תגמול ובמלחמת סיני. שומרון השתחרר משירות, אך כעבור שלוש שנים התגייס מחדש ויצא לקורס קצינים.
          הוא שימש כמפקד מחלקה ומפקד פלוגה בחטיבת הצנחנים ובמהלך מלחמת ששת הימים פיקד על כוח סיור בחזית המצרית. על תפקודו
          במלחמה זו קיבל את עיטור המופת.</p>
        <p class="book--text-style">לאחר המלחמה מונה למפקד גדוד בצנחנים ופיקד עליו במהלך מלחמת ההתשה. ב-1970 החל בלימודי תואר ראשון בגיאוגרפיה באוניברסיטת
          תל אביב ובמקביל עבר הסבה לשריון. במהלך מלחמת יום הכיפורים פיקד על חטיבת שריון סדירה שנטלה חלק פעיל בקרבות הבלימה
          ובצליחה של תעלת סואץ. ב-1974 הוא עלה לדרגת תת אלוף ומונה לקצין חי"ר וצנחנים ראשי (קחצ"ר), במסגרת תפקיד זה תכנן
          ופיקד על מבצע "יהונתן". ב1978 הועלה לדרגת אלוף ומונה למפקד פיקוד הדרום. בתפקיד זה היה אחראי על השלבים הראשונים
          של פינוי סיני, בהתאם להסכם השלום עם מצרים.
          <br /> ב-1983 הקים על מפקדת חילות השדה (מפח"ש), שהפכה בהמשך למפקדת
          <strong>זרוע היבשה</strong>&nbsp; (מז"י). ב-1985 מונה לתפקיד סגן הרמטכ"ל ועם סיום תפקידו של משה לוי כרמטכ"ל (1987) מונה
          שומרון למחליפו. תקופת כהונתו עמדה בסימן פרוץ האינתיפאדה הראשונה
          <strong>ומלחמת המפרץ.</strong>
        </p>
        <p class="book--text-style">בשנת 1991, סיים שומרון את תפקידו והוחלף על ידי אהוד ברק. כמה חודשים לאחר מכן מונה ליושב ראש התעשייה הצבאית וב1996,
          לקח חלק בצוות המשא ומתן הישראלי פלסטיני. לאחר מלחמת לבנון השנייה התבקש על ידי הרמטכ"ל דן חלוץ לחקור את התנהלות
          המטכ"ל בזמן המלחמה. דן שומרון נפטר בכ' באדר תשס"ח, 26 בפברואר 2008. על שמו נקרא מרכז לאימוני יבשה (מל"י) בצאלים.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.14 אהוד ברק </h3>
        <p class="book--text-style">כיהן כרמטכ"ל ה-14 בשנים 1991-1995.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.15 אמנון ליפקין- שחק (1944-2012)
        </h3>
        <p class="book--text-style">
          <strong>" בחברה אחת, לא גדולה, צפופה באנשים ובדעות כמו שלנו, סביר ומתבקש שיתנהל ויכוח על העניינים הגורליים ביותר לחיינו
            כאן... אבל הסגנון הופך להיות חלק מהתוכן... והברוטליות משקפת תרבות חברתית שסייעה ברצח ראש ממשלה, וסימניה ניכרים
            באלימות לכל סוגיה בחיי יום יום. לא לזה קם דור והחזיר עם לארצו. לא כך התכוונה המורשת היהודית, שעל תשתיתה הונחה
            המדינה".
          </strong>
        </p>
        <p class="book--text-style">אמנון ליפקין שחק ראש המטה הכללי ה-15 נולד בשנת 1944 בתל אביב. כשהיה בן 13 הצטרף לפנימייה הצבאית לפיקוד בחיפה ובשנת
          1972 התגייס לחטיבת הצנחנים. הוא שימש כמפקד מחלקה ומפקד פלוגה בגדוד צנחנים ובמהלך מלחמת ששת הימים מילא את מקומו
          של סגן מפקד הגדוד. לאחר המלחמה מונה למפקד סיירת דוכיפת הוא פיקד עליה במהלך פעולת כראמה. על תפקודו בקרב זה זכה בעיתור
          העוז. בהמשך מלחמת ההתשה שימש כקצין האג"ם של חטיבת הצנחנים וכמפקד גדוד הנח"ל המוצנח. בראשית 1973 פיקד על כוח במבצע
          "אביב נעורים" ועל תפקודו במבצע הוענק לו עיתור העוז בפעם השנייה.</p>
        <p class="book--text-style">במהלך מלחמת יום הכיפורים שימש כסגן מפקד חטיבת צנחנים, בשנת 1977 מונה למפקד החטיבה ופיקד עליה במהלך מבצע "ליטני".
          במלחמת שלום הגליל פיקד על אוגדה. הוא קיים בכמה תפקידי פיקוד בכירים ובין היתר
          <strong>פיקד על "מבצע שלמה", </strong>במסגרתו הועלו לארץ כ14 אלף מיהודיי אתיופיה. עם סיום תפקידו של אהוד ברק כרמטכ"ל (1995)
          מונה ליפקין שחק למחליפו. בתקופת כהונתו נסוג צה"ל מאזורים שונים ביהודה שומרון ועזה בהתאם להסכמי אוסלו והחל שיתוף
          הפעולה עם כוחות הרשות הפלסטינאית. בשנת 1998, סיים ליפקין שחק את תפקידו והוחלף על ידי שאול מופז. לאחר פרישתו פנה
          לפעילות פוליטית, היה בין מקימיה של מפלגת המרכז וכיהן כשר התיירות ושר התחבורה. אמנון ליפקין שחק נפטר ב- י' בטבת
          תשע"ב, 19 בדצמבר 2012. על שמו נקרא מחנה "בילו" ליד רחובות.</p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.6.16 שאול מופז (נולד: 1948) </h3>


        <p class="book--text-style">
          <strong>"אני חושב שיש בי הרבה מאבא שלי. ההתמדה, האיפוק. קצת סגפנות. אבא היה מאוד חזק באופי שלו, אבל שתקן גדול. היה מדבר
            מעט מאוד. הוא גם נתן לי את העניין הזה של משמעת עצמית ועבודה קשה. אבל הצבא השלים את זה. מה זה להיות חיילי? איפוק,
            משמעת עצמית, אחריות. לעשות כל דבר הכי נכון והכי מדוייק כיוון שמוטלת עלייך אחריות. כיוון שאתה יודע שלהחלטות שלך
            יש משמעות"</strong>
        </p>
        <p class="book--text-style">שאול מופז, ראש המטה הכללי ה-16 נולד בשנת 1948 באיספהאן , באיראן, תחת השם שחרם מופזזקר. כשהיה מופז בן 9 עלה עם משפחתו
          לארץ, גדל באילת ואת לימודיו התיכוניים עשה בבית הספר החקלאי בנהלל. בשנת 1966 התגייס לצה"ל ושירת בחטיבת הצנחנים כמפקד
          מחלקה, מפקד פלוגה ומפקד הסיירת. במסגרת זו השתתף במלחמת ששת הימים, במלחמת ההתשה ומלחמת יום הכיפורים. ב1975 מונה
          לסגל מפקד סיירת מטכ"ל ושימש כסגנו של יוני נתניהו בעת מבצע יונתן.&nbsp; במהלך מלחמת ששת הימים פיקד על עוצבת חירם
          ובשנת 1984 מונה למפקד בית הספר לקצינים (בה"ד 1). ב-1986 מונה למפקד חטיבת הצנחנים ופיקד עליה במהלך מספר מבצעים וב-1988
          מונה למפקד אוגדה. ב-1994 מונה למפקד פיקוד הדרום ולאחר מספר תפקידים נוספים במטה הכללי עם סיום תפקידו של אמנון ליפקין-
          שחק כרמטכ"ל (1998) מונה מופז למחליפו. בעת כהונתו נסוג צה"ל מלבנון (2000) ופרצו אירועי גאות ושפל (האינתיפאדה השנייה)
          שבסופם החל צה"ל במבצע
          <strong>חומת מגן </strong>במהלכו השתלט צה"ל באופן זמני על הערים הפלסטיניות ביהודה ושומרון ופעל למיגור תשתיות הטרור. במקביל
          עמדה תקופת כהונתו בסימן ביטול חיל הנשים ( ח"ן) ופתיחת תפקידים רבים בפניהן. במהלך תקופה זו גם אושר מסמך "רוח צה"ל"
          המהווה את המצפן הערכי לפיו פועלים חיילי צה"ל. בשנת 2002, סיים מופז את תפקידו והוחלף על ידי משה יעלון. חודשים ספורים
          לאחר מכן מונה לשר הביטחון והמשיך במאבק לסיכול הטרור. במהלך כהונתו פעל לבניית גדר הביטחון ביהודה ושומרון ולביצוע
          תוכנית ההתנתקות.&nbsp; בשנת 2005 הצטרף מופז יחד עם אריאל שרון למפלגת "קדימה" וכיהן בממשלת אולמרט כסגן ראש הממשלה
          וכשר התחבורה. בשנת 2015 פרש מהחיים הפוליטיים.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.17 משה (בוגי) יעלון ( נולד: 1950)</h3>

        <p class="book--text-style">
          <strong>"תשאלו תמיד שאלות. יש בצה"ל חופש מחשבה וחובה של ביקורת.. הדיונים אצלי לא מתנהלים על פי סדר הדרגות, כי השכל לא נמצא
            רק למעלה. אני לא יודע יותר טוב ממח"ט שומרון (שכם) מה קורה אצלו. אני צריך להקשיב לו" .</strong>
        </p>
        <p class="book--text-style">משה (בוגי) יעלון , ראש המטה הכללי ה-17, נולד בשנת 1950 בקריית חיים, תחת השם משה סמולנסקי. כבר מגיל צעיר היה פעיל
          בתנועת הנוער העובד והלומד וב-1968 התגייס יחד עם חבריו לגרעין לשירות צבאי במסגרת מסלול הנח"ל. בשנת 1971 סיים את
          שירותו הצבאי בגדוד הנח"ל המוצנח כמפקד כיתה. ב-1976, בעת מלחמת יום הכיפורים, נקרא לשירות מילואים וחזר לשירות כאיש
          קבע, הוכשר כקצין ושירת כמפקד מחלקה וכמפקד פלוגה בגדוד. ב-1978 מונה למפקד סיירת צנחנים ופיקד עלייה בעת מבצע ליטאני.
          בשנים הבאות ובמהלך מלחמת שלום הגליל שימש במגוון תפקידי פיקוד ביחידות מיוחדות. לאחר המלחמה מונה למפקד גדוד בצנחנים
          ונפצע במהלך מרדף אחרי מחבלים בלבנון. ב-1987 מונה ל
          <strong>מפקד סיירת מטכ"ל </strong>ולאחר מכן שימש במספר תפקידי פיקוד בכירים. בשנת 2000 מונה לסגן הרמטכ"ל ועם סיום תפקידו
          של שאול מופז כרמטכ"ל (2002) נבחר למחליפו. בעת כהונתו נחלשו אירוע גאות ושפל &nbsp;( האינתיפאדה השנייה), הסלימו האירועים
          באזור חבל עזה והחלה ההיערכות לביצוע תכנית&nbsp; ההתנתקות ( 2005). על מנת לספק מענה להתפתחויות הטכנולוגיות , הוקם
          באותה העת אגף התקשוב. במקביל עמדה תקופת כהונתו בסימן הטמעת ערכי רוח צה"ל וכתיבת תפיסת
          <strong>"ייעוד וייחוד"</strong> הועסקת בחיזוק הזהות הישראלית- יהודית בקרב מפקדי צה"ל.</p>
        <p class="book--text-style">בשנת 2005 סיים יעלון את תפקידו והוחלף על-ידי דן חלוץ. בשנת 2009 נבחר לכנסת מטעם מפלגת הליכוד, וכיהן כמשנה לראש הממשלה,
          כשר לעניינים אסטרטגיים וכשר ביטחון. בשנת 2016 התפטר מהממשלה ומהכנסת.</p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.6.18 דן חלוץ (נולד: 1948)</h3>

        <p class="book--text-style">
          <strong>"צה"ל הוא צבא העם כולו, כך היה, כך הווה וכך יהיה. המפונים וילדיהם הם חלק מאתנו. חלקם אחים לנשק בעבר או בהווה. בעת
            הזו, ורק בה, ניצבים אנו לרגע משני צידי המשימה, אך מיד עם השלמתה נתייצב שוב, כתף אל כתף או מול האתגרים שעוד נכונו
            לנו, כעם, כמדינה וכצבא"</strong>
        </p>
        <p class="book--text-style"> דן חלוץ,ראש המטה הכללי השמונה-עשר, נולד בשנת 1948 בתל-אביב וגדל במושב חגור. ב-1966 התגייס לקורס טיס והוכשר כטייס
          קרב בטייסת הפאנטומים. במהלך מלחמת ההתשה לחם בחזית המצרית ובשנת 1973 השתחרר מהצבא. במהלך מלחמת יום הכיפורים נקרא
          לשירות מילואים וגם לאחריו המשיך בשירות קבע. בשנת 1984 מונה למפקד טייסת 107 וב-1986 מונה לראש היחידה המבצעית בפרויקט
          הלביא, במהלכו ביקש צה"ל לייצר מטוס קרב מתוצרת ישראלית. *לאחר ביטול הפרויקט, מונה לראש מחלקת אמצעי לחימה &nbsp;ובהמשך
          גם למפקד בסיס חצור.</p>
        <p class="book--text-style">בשנת 1999 מונה לראש אגף המבצעים(אמ"ץ) במטכ"ל ושנה לאחר מכן מונה למפקד חיל האוויר. במסגרת תפקיד זה הוטמעו מטוסי ה-F16i
          , הורחב השימוש בכלי טיס בלתי מאוישים (כטב"ם) וחוזר הקשר עם כוחות היבשה. בשנת 2004 מונה לסגן הרמטכ"ל ועם סיום תפקידו
          של משה יעלון כרמטכ"ל(2005) מונה חלוץ למחליפו. חלוץ היה לרמטכ"ל הראשון שצמח
          <strong>בחיל האוויר.</strong> במהלך כהונתו ביקש לחזק את החיל במטרה לענות לאתגרים האסטרטגים של מדינת ישראל. תקופת כהונתו
          עמדה בסימן תכנית ההתנתקות שבוצעה עם ראשיתה ומלחמת לבנות השניה שפרצה לקראת סופה, בקיץ 2006.</p>
        <p class="book--text-style">המלחמה עוררה ביקורת על התנהלותו של צה"ל ויצרה מחאה ציבורית, בעקבותיה הורה חלוץ על הקמה של מספר ועדות בדיקה. בינואר
          2007,&nbsp; לאחר סיום שלב התחקירים הצבאיים, הודיע חלוץ על התפטרותו.</p>

        <h3 class="book--topiccontent-title lightHeebo">
          6.6.19 גבי אשכנזי (נולד: 1954)</h3>
        <p class="book--text-style">
          <strong>"האתגר הגדול שלכם הוא לצאת לכל מבצע כאילו זו הפעם הראשונה שלכם, כמו שחקן כדורסל שעולה דרוך גם למשחק הארבעים שלו
            באותה עונה.. כחיילים אתם הקובעים. 2-3 דקות אחרי ההתקלות אומנם מגיעים גם הקודקודים, אבל בדרך כלל בשלב הזה נותרים
            רק התחקירים. תקפידו על המקצועיות אם לא תעשו לעצמכם הנחות, לא יהיו הנחות"</strong>
        </p>
        <p class="book--text-style">גבי אשכנזי, ראש המטה הכללי ה-19, נולד בשנת 1954 במושב חגור. כשהיה בן 14 הצטרף לפנימייה הצבאית לפיקוד בתל אביב וב-
          1972 התגייס לחטיבת גולני.
          <br /> במהלך מלחמת יום הכיפורים היה צוהר בבה"ד 1 ולחם בחזית המצרית. הוא שימש כמפקד מחלקה , מפקד פלוגה , מפקד גדוד בחטיבת
          גולני ובמסגרת זו השתתף בשנת 1976 במבצע "יונתן" ובשנת 1978 במבצע "ליטני". במהלך מלחמת שלום הגליל כיהן כסגן מפקד
          החטיבה ופיקד בין היתר על הקרב בבופור. ב-1987 מונה למפקד חטיבת גולני ופיקד עליה במהלך האינתיפאדה הראשונה ובשנת 1992
          מונה למפקד יחידת הקישור לדרום לבנון.
          <br /> ב1996 מונה לעוזר ראש אג"ם וקיבל דרגת אלוף, ב-1998 מונה למפקד פיקוד הצפון והוביל בין השאר את הנסיגה של צה"ל מלבנון
          ואת היערכותו מחדש בגזרה. בשנת 2005 השתחרר מהצבא ומונה למנכ"ל משרד הביטחון, אך עם סיום תפקידו של דן חלוץ (2007)
          נבחר אשכנזי לרמטכ"ל מונה למחליפו.
          <br /> תקופת כהונתו עמדה בסימן בניינו המחודש של כוח היבשה והפקת לקחי מלחמת לבנון השנייה. לאור ירי הרקטות מרצועת עזה יצא
          צה"ל בסוף 2008 למבצע
          <strong>עופרת יצוקה.</strong> בשנת 2011 סיים אשכנזי את תפקידו והוחלף על ידי בני גנץ.
          <br />
          <br /> </p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.6.20 בנימין (בני) גנץ (נולד: 1959)</h3>
        <p class="book--text-style">
          <strong>"בכל מקום בו נשכיל להכיל בתוכנו על אף חילוקי הדעות, וההשקפות, קבוצות רבות יותר, לכבד את אמונתנו והשקפתו של כל אחד,
            ומבלי לשנות את אמונת היחיד או להשפיע עליה וכל זאת מבלי לפגוע
            <u>בתפקוד המבצעי</u> של המסגרת
            <u>ובצביון הממלכתי</u> של צה"ל, תוך שמירה על
            <u>שיווין</u> בין כולן, נייצר
            <u>אחדות שורות</u> שתתמוך אחדות מטרה ועמידה
            <u>בייעודו המבצעי</u> הראשי של צה"ל-
            <u>הגנה על מדינת ישראל.</u>
          </strong>
        </p>

        <p class="book--text-style">בנימין (בני) גנץ ראש המטה הכללי ה-20, נולד בשנת 1959 במושב כפר אחים והתחנך בפנימית הכפר הירוק. ב-1977 התגייס לגדוד
          הנחל המוצנח ושימש כמפקד מחלקה וסגן מפקד פלוגה בגדוד. בשנת 1980 השתתף גנץ בהשתלמות מיוחדת של חיל הנתחים האמריקאי
          (הכומתות הירוקות) וכששב לארץ הוצב בתפקיד מטה במקחצ"ר.
          <br /> עם פרוץ מלחמת שלום הגליל מונה לתפקיד מפקד פלוגה בחטיבת הצנחנים ובשנת 1987 למפקד גדוד בחטיבה. בין השנים 1989-1999
          מילא שורת תפקידים מרכזיים בליבה המבצעית של צה"ל: בינהם מפקד יחידת "שלד"ג", מפקד חטיבת הצנחנים, מפקד חטיבת יהודה
          ומפקד אוגדת מילואים בפיקוד הצפון.
          <br /> ב-1999 מונה למפקדה האחרון של יחידת הקישור לדרום לבנון (היק"ל) לאחר נפילתו של תא"ל ארז גרשטיין, ושירת בתפקיד עד
          לסגירתה עם הנסיגה מלבנון. בהמשך פיקד על אוגדת איו"ש והוביל את התמודדותה עם ראשית אירועי "גאות ושפל" (האינתיפאדה
          השנייה). ב-2001 מונה למפקד הגיס הצפוני ובהמשך למפקד פיקוד הצפון. גנץ כיהן במגוון תפקידי פיקוד בחירים ועם סיום תפקידו
          של גבי אשכנזי כרמטכ"ל (2011) מונה גנץ למחליפו. כהונתו עמדה בסימן מבצע
          <strong>צוק איתן</strong> במהלכו לחמו כוחות צה"ל כדי להפסיק את הירי הרקטי מרצועת עזה ולהרוס את תשתיות הטרור שפותחו בתחומה.
          בשנת 2015 סיים גנץ את תפקידו והוחלף על ידי גני אייזנקוט.</p>
        <h3 class="book--topiccontent-title lightHeebo">
          6.6.21 גדי אייזנקוט (נולד:1960)</h3>
        <p class="book--text-style">
          <strong>"אני רואה את הרוח של מפקדי צה"ל וחייליו לדורותיהם מפעמת בעודם פועלים מידי יום ביומו מול כל האיומים וממלאים את משימותיהם
            בנחישות, באחריות ובערכיות... אני בטוח שברגע האמת נעמוד איתנים ונוכיח כי צה"ל הוא צבא מוכן , חזק, עוצמתי ומכריע.
            אני סמוך ובטוח כי ביום פקודה נדע לממש את ייעודו של צה"ל : להגן על המדינה, להבטיח את קיומה, ואם ידרש- ננצח במלחמה.
            "
          </strong>
        </p>
        <p class="book--text-style">גדי אייזנקוט ראש המטה הכללי ה- 21, נולד בשנת 1960 בטבריה למשפחת עולים ממרוקו וגר באילת . ב-1978 התגייס לחטיבת גולני
          במלחמת שלום הגליל (1982) החליף את מפקד הפלוגה שלו שנפצע בקרב על הבופור ופיקד על כמה קרבות מרכזיים במלחמה.
          <br /> לאחר המלחמה המשיך לטפס בסולם הדרגות בחטיבה, ב-1992 מונה למפקד חטיבת המילואים כרמלי והחטיבה המרחבית אפרים ולאחר
          כחמש שנים חזר לחטיבת גולני כמפקד החטיבה. במהלך אירועי גאות ושפל (האינתיפאדה השנייה) שימש כמפקד אוגדת איו"ש והביא
          לסיכול של פעולות טרור רבות.
          <br /> ב-2005 מונה לראש אגף המבצעים במטכ"ל וכיהן בתפקיד במהלך מלחמת לבנון השנייה. עם תום המלחמה מונה לאלוף פיקוד הצפון.
          ומילא מגוון תפקידי פיקוד בחירים בצה"ל וכסגן רמטכ"ל הוביל עבודות מטה רבות שעיצבו את דמותו הנוכחית של הצבא.
          <br /> עם סיום תפקידו של בני גנץ כרמטכ"ל נבחר אייזנקוט למחליפו.</p>


      </div>

    </ion-content>
  </div>
