<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">
          בשער זה העמקנו את היכרותנו עם החברה ישראלית. פתחנו בסיקרתן של העליות השונות, המשכנו בתיאורם של אירועים ונושאי דיון וסיימנו
          בהיכרות עם מנהיגיה של המדינה: נשיאים, ראשי ממשלה ורמטכ"לים. בשער הבא נעמיק בסיפורה של מדינת ישראל מכיוון אחר ונלמד
          על המאבק לשמירת קיומה וביטחונה. אין זה סיכון מלא של 70 שנות מדינה ולא היה בו כדי לגעת בכל התחומים והנושאים הרלוונטיים.
          אך יש בו תיאור כללי תוך ניסיון להיצמד לנושאים משמעותיים לקצינים בצה"ל.
          <br> מדינת ישראל היא מפעל חי שהתפתחותו ממשיכה כל העת ולא מן הנמנע שגם המידע בפרק זה התעדכן וישתנה בחלוף השנים.
          <br> בשער הבא נשלים את היכרותנו עם ההיסטוריה הישראלית באמצעות מיקוד בנושא משמעותי במיוחד עבורנו-ביטחון ישראל.

        </p>

      </div>

    </ion-content>
  </div>
