<ion-view view-title="home page">
  <ion-content overflow-scroll="false" scrollbar-y="false" class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBackExercise()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">תרגול</h1>
      <img src="img/till-logo.svg" class="book--menu-logo" ng-click="try()">
    </div>
    <!-- loose -->
    <div class="adjustDate--FailDiv adjustDateFinish--finishFailPg" ng-show="loose">
      <div class="billionaire--win-mainTitleContainer">
        <h2 class="billionaire--win-mainTitle adjustDate--lose-titleColor">...הפסדת</h2>
        <div class="billionaire--win-mainTitle-line adjustDate--lose-lineColor"></div>
        <img src="img/adjustDate--you lost.svg" class="billionaire--win-pic adjustDate--loseIcon" />
      </div>
      <div class="adjustDate--buttons">
        <div class="billionaire--play-again" ng-click="restartGame()">שחק שוב</div>
        <div class="billionaire--play-again" ng-click="backtoExercisePg()">חזרה</div>
      </div>
    </div>

    <!-- win -->
    <div class="adjustDate--SuccessDiv adjustDateFinish--winPg" ng-show="win">
      <div class="billionaire--win-mainTitleContainer">
        <h2 class="billionaire--win-mainTitle">!כל הכבוד</h2>
        <div class="billionaire--win-mainTitle-line"></div>
      </div>
      <img src="img/exercise/billionaire--you won.svg" class="billionaire--win-pic adjustDate--loseIcon" />
      <div class="adjustDate--buttons adjustDate--buttons-windiv">
        <div class="billionaire--play-again" ng-click="restartGame()">שחק שוב</div>
        <div class="billionaire--play-again" ng-click="backtoExercisePg()">חזרה</div>
      </div>
    </div>

    <div class="book--chapters-firstLine"></div>
    <div class="adjustDate--game">
      <div class="adjustDate--dateAndEvent-container" ng-class="{inCorrectAnswer:ifDateNotFit, correctAnswer:ifDateFit}">
        <div class="adjustDate--eventContainer">
          <h2 class="adjustDate--eventHeadline">אירוע</h2>
          <p class="adjustDate--event">{{events}}</p>
        </div>
        <div class="adjustDate--dateContainer">
          <button class=" adjustDate--btn Lbtn " ng-click="previousDate() ">
            <img src="img/lArrow.svg " class="arrowsize" /> </button>
          <p class="adjustDate--date ">{{date}}</p>
          <button class="adjustDate--btn Rbtn " ng-click="nextDate() ">
            <img src="img/rArrow.svg " class="arrowsize" /> </button>
        </div>
      </div>

      <div class="adjustDate--lifes ">
        <div ng-repeat="life in dateLife track by $index " ng-show="dateLife[$index] ">
          <img src="img/adjustDate--life.svg " class="adjustDate--life " id="adjustDate--lifeID ">
        </div>
      </div>
      <div class="adjustDate--checkAnswerContainer ">
        <button class="adjustDate--checkAnswerBtn " ng-click="checkAnswer() ">
          בדוק
        </button>
      </div>
    </div>


    <!-- <div class="adjustDate--game">
      <div class="adjustDate--eventContainer" ng-class="{adjustDateinCorrectAnswer:ifDateNotFit, adjustDatecorrectAnswer:ifDateFit}">
        <div>
          <h2 class="adjustDate--eventHeadline">אירוע</h2>
          <p class="adjustDate--event">{{events}}</p>
        </div>
      </div>
      <div class="adjustDate--dateContainer" ng-class="{adjustDateinCorrectAnswer:ifDateNotFit, adjustDatecorrectAnswer:ifDateFit, correctAnswer:ifDateFit, inCorrectAnswer:ifDateNotFit}">
        <button class=" adjustDate--btn Lbtn " ng-click="previousDate() ">
          <img src="img/lArrow.svg " /> </button>
        <p class="adjustDate--date ">{{date}}</p>
        <button class="adjustDate--btn Rbtn " ng-click="nextDate() ">
          <img src="img/rArrow.svg " /> </button>
      </div>
      <div class="adjustDate--lifes ">
        <div ng-repeat="life in dateLife track by $index " ng-show="dateLife[$index] ">
          <img src="img/billionaire--life.svg " class="adjustDate--life " id="adjustDate--lifeID ">
        </div>
        <div class="adjustDate--checkAnswerContainer ">
          <button class="adjustDate--checkAnswerBtn " ng-click="checkAnswer() ">
            בדוק
          </button>
        </div>
        <!-- <div class="adjustDate--lifes ">
        <div ng-repeat="life in dateLife track by $index " ng-show="dateLife[$index] ">
          <img src="img/billionaire--life.svg " class="adjustDate--life " id="adjustDate--lifeID ">
        </div> -->
    <!-- </div>
    </div> -->

  </ion-content>
</ion-view>
