<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">תרגול</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="billionaire--game">
      <div class="billionaire--firstline"></div>
      <div class="billionaire--secondline"></div>
      <div class="billionaire">
        <div class="billionaire--trapeze">
          <!-- 100 -->100
          <!-- <h1 class="billionaire--money-offer">100</h1> -->
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
