<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="billionaire--win-fullgame" ng-show="winFullGame">
      <h1 class="billionaire--win-fullgame-text">!סיימת בהצלחה</h1>
      <h1 class="billionaire--win-fullgame-text">:זכית ב</h1>
      <h1 class="billionaire--win-fullgame-text">{{winMoney}}</h1>
      <img src="img/billionaire--win-fullgame.svg" class="billionaire--win-pic">
      <div class="billionaire--play-again" ng-click="resetGame()">שחק שוב</div>
      <div class="billionaire--play-again" ui-sref="home">חזרה</div>
    </div>
    <div class="billionaire--win-fullgame" ng-show="finishGame">
      <h1 class="billionaire--win-fullgame-text">:זכית ב</h1>
      <h1 class="billionaire--win-fullgame-text">{{winMoney}}</h1>
      <img src="img/billionaire--win-fullgame.svg" class="billionaire--win-pic">
      <div class="billionaire--play-again" ng-click="resetGame()">שחק שוב</div>
      <div class="billionaire--play-again" ui-sref="home">חזרה</div>
    </div>

    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">תרגול</h1>
      <img src="img/till-logo.svg" class="book--menu-logo" ng-click="try()">
    </div>
    <div class="game--next-question" ng-click="nextQuestion()" ng-hide="nextQuestion1">לשאלה הבאה</div>
    <div class="game">
      <div class="game--firstline"></div>
      <div class="game--secondline"></div>
      <div class="billionaire">
        <div class="billionaire--trapeze">
          <h3 class="billionaireQuestion">{{questions.question}}</h3>
          <h1 class="billionaire--money-offer">{{levelPoints}}</h1>
        </div>
      </div>
      <div class="billionaire--help">
        <button class="billionaire--help-square" ng-click="firstHelp()" ng-class={hideElement:!firstHelpShow} ng-disabled="!secondHelpTouch||!nextQuestion1">
          50/50
        </button>
        <button class="billionaire--help-square" ng-click="secondHelp()" ng-class={hideElement:!secondHelpShow} ng-disabled="!firstHelpTouch||!nextQuestion1">
          50/50
        </button>
      </div>
      <!-- $index -->
      <div class="game--answer" ng-repeat="answer in questions.answers" ng-click="userAnswer($index)" ng-class={hideElement:!theAnswers[$index],correctAnswer:correctAnswer[$index],inCorrectAnswer:inCorrectAnswer[$index]}>
        <h1 class="billionaire--answer-number">{{answer.answer}}</h1>
      </div>

      <div class="billionaire--lifes">
        <div ng-repeat="lifes in life track by $index" ng-show="life[$index]">
          <img src="img/billionaire--life.svg" class="billionaire--life">
        </div>
      </div>

    </div>
    </div>

  </ion-content>
</ion-view>
