<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="sidemenu--opacity" ng-hide="menu" ng-click="closemenu()"></div>
    <div class="sidemenu" ng-hide="menu">
      <img src="img/menu--close.svg" class="sidemenu--buttons-close" ng-click="closemenu()">
      <div class="sidemenu--buttons sidemenu--move" ui-sref="home">דף הבית</div>
      <div class="sidemenu--buttons" ui-sref="book">ספרים</div>
      <div class="sidemenu--buttons sidemenu--mark" ng-click="closemenu()">תרגול</div>
      <div class="sidemenu--buttons" ui-sref="tests">מבחנים</div>
      <div class="sidemenu--buttons" ui-sref="sportProgramFrontPg">כושר קרבי</div>
      <div class="sidemenu--buttons" ui-sref="about">אודות</div>
      <img src="img/till-logo(white).svg" class="sidemenu--logo">
    </div>

    <div class="book--menu">
      <div class="back-button--container" ng-click="openmenu()">
        <img src="img/menu--open.svg" class="book--menu-menubutton">
      </div>
      <!-- <img src="img/menu--open.svg" class="book--menu-menubutton" ng-click="openmenu()"> -->
      <h1 class="book--menu-title">תרגול</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainer">
      <h1 class="book--chapters-title">בחר תרגול</h1>
    </div>

    <ul class="book--chapter-list exercise--marginBody">

      <li class="exercise--choose-unit" ui-sref="billionaire">
        <img src="img/exercise--safebox.svg" alt="safe" class="exercise--list-icons">
        <h1 class="exercise--list-title">מי רוצה להיות מליונר?</h1>
      </li>
      <li class="exercise--choose-unit" ui-sref="adjustDate">
        <img src="img/exercise--calender.svg" alt="safe" class="exercise--list-icons">
        <h1 class="exercise--list-title"> מתי זה קרה? </h1>
      </li>
    </ul>
  </ion-content>

</ion-view>
