<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="sidemenu--opacity" ng-hide="menu"></div>
    <div class="sidemenu" ng-hide="menu">
      <img src="img/menu--close.svg" class="sidemenu--buttons-close" ng-click="closemenu()">
      <div class="sidemenu--buttons sidemenu--move" ui-sref="home">דף הבית</div>
      <div class="sidemenu--buttons" ui-sref="book">ספרים</div>
      <div class="sidemenu--buttons" ui-sref="exercise">תרגול</div>
      <div class="sidemenu--buttons" ui-sref="tests">מבחנים</div>
      <div class="sidemenu--buttons" ui-sref="chooseGender">כושר קרבי</div>
      <div class="sidemenu--buttons" ui-sref="about">אודות</div>
      <img src="img/till-logo(white).svg" class="sidemenu--logo">
    </div>

    <div class="book--menu">
      <img src="img/menu--open.svg" class="book--menu-menubutton" ng-click="openmenu()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--chapters-title">בחר תרגול</h1>
    </div>

    <ul class="book--chapter-list">

      <li class="exercise--choose-unit" ui-sref="billionaire">
        ?מי רוצה להיות מליונר
      </li>
      <li class="exercise--choose-unit" ui-sref="adjustDate">
        ?מתי זה קרה </li>
    </ul>
  </ion-content>

</ion-view>
