<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">
          <b>פרק רביעי –</b> בימי שואה</h1>
        <blockquote>
          "השואה שנתחוללה על עם ישראל בזמן האחרון בה הוכרעו לטבח מיליונים יהודים באירופה, הוכיחה מחדש בעליל את ההכרה בפתרון בעיית העם
          היהודי מחוסר המולדת והעצמאות"
        </blockquote>



        <h3 class="book--topiccontent-title lightHeebo">
          4.1 פתיחה: העם היהודי בגלות בין שגשוג לשקיעה</h3>
        <p class="book--text-style">
          כפי ראינו בשער השלישי הקיום היהודי בגולה ידע עליות ומורדות. לצדן של תקופות זוהר בהן ישבו יהודים לבטח הם סבלו לאורך השנים
          גם מרדיפות ומשנאה. בשער זה נעסוק בקצרה באסון הגדול ביותר שהתרחש לעם היהודי בתולדותיו- השואה. סיפור הרדיפה וההשמדה
          של היהודים בין השנים 1939-1945 שהוא סיפור מורכב וקשה שהשפיע ועודנו משפיע באופן עמוק על החברה בישראל. מגילת העצמאות
          שנכתבה כשלוש שנים בלבד מסיום המלחמה מקדישה למאורעות השואה כמה פסקאות שהמרכזית שבהן צוטטה בפתיחת השער. הזיקות העמוקות
          של העם היהודי לארץ ישראל והשאיפה הציונית למדינה החלו אמנם עוד הרבה לפני תקופת השואה, אך כאשר נחשפו במלוא עוצמתם
          תהליכי ההשמדה הוכחה שוב, בצורה האיומה ביותר, זכותם של היהודים למדינה חרותם באירופה.
          <br> את המושג
          <b>אנטישמיות</b> טבע ב-1879 וילהלם מאר על- מנת לתאר את גישתו הגזענית-לאומנית.
          <br> מאז נעשה בו שימוש לתיאור השנאה ליהודים לאורך ההיסטוריה כולה. קשה להצביע על ראשיתה של האנטישמיות. מגמות אנטישמיות
          רווחו עוד בעולם ההלניסטי-רומי: ההיסטוריון מנתון (המאה ה-3 לפני הספירה) טען שמוצאם של היהודים מקבוצה שפלה שגורשה
          ממצרים;
          <br>הרטוריקן אפיון (המאה ה-1 לספירה) כתב ספרים נגד היהודים בו טען כי הם עם לא מוסרי המקיים מצוות מוזרות. במהותם ביטאו
          חיבורים אלו מגמות של שנאת זרים (קסנופוביה) והם נוצרו כנראה על רקע השוני במנהגים בין היהודים לבין סביבתם. עם התפשטות
          הנצרות החלו להופיע מגמות אנטישמיות שבסיסן דתי. הכנסייה ראתה ביהודים את "רוצחי האל" והאמינה כי הם האחראים לצליבתו
          של ישו. בנוסף, על רקע עיסוקם הכפוי בהלוואה בריבית, הם צוירו כמי שמתפרנסים שלא ביושר מניצול כלכלי של הנוצרים. בתקופות
          שפל הודרו היהודים מתחומי החברה והכלכלה וסבלו לא אחת מאפליה ומהסתה שבשער הקודם פגשנו כמה דוגמאות מובהקות שלה (גירוש
          ספרד, גזירות ת"ח ות"ט, עלילות הדם, אנוסי משהד ועוד).
          <br> הפילוסופיה של הנאורות והאמנציפציה היטיבו עם היהודים ועוררו תקוות לעתיד שונה. אולם כפי שהתברר הם לא שינו בהכרח
          דפוסי חשיבה אנטישמיים של המון העם והולידו גם מגמות של אנטישמיות מסוג חדש. התחייה הלאומית באירופה והניסיונות לכונן
          מדינות לאום, הציבו לא פעם את היהודי כ-"אחר" החותר תחת הזהות הלאומית המשותפת של הרוב. דברים המבטאים גישה זו אמר
          הכומר אדולף שטקר (1835-1909) שהיה אחד מן המפיצים המרכזיים של הרעיונות האנטישמיים בראשית המאה העשרים :
          <br>
        </p>
        <blockquote>

          היהודים נשארים עם בתוך עם, מדינה בתוך מדינה, שבט נפרד בקרב גזע זר לו.. בניגוד לטבע הגרמני הם מציגים את אופיים השמי הבלתי-
          מעורער, בניגוד לנצרות את פולחן- המצוות הקפדני או את שנאת הנוצרים. איננו יכולים להאשים אותם כל עוד יהודים המה, אין
          הם יכולים לנהוג אחרת. אולם חייבים אנו להתגונן בהכרה ברורה מפני סכנות הטמונות בהתבוללות כזאת... אנו מתקרבים למצב
          שדעת הקהל תהיה לגמרי בשלטון היהודים, והעבודה תנוצל על-ידם לגמרי. תהליך החיסול הוא במלוא תוקפו, מאום לא יצילנו מכך.
          <br>

        </blockquote>
        <p class="book--text-style">
          כפי שרומזים דבריו של שטקר,
          <b>האנטישמיות לבשה כעת גוון של גזענות "מדעית" שהחליפה את העקרונות הדתיים של האנטישמיות "הישנה".</b>
          <br> התפתחותם של תחומי מחקר שונים כמו אנתרופולוגיה, בלשנות, ביולוגיה ורפואה הביאו להנחה כי כמו את עולם החי גם את בני
          האדם ניתן לחלק למספר קבוצות או גזעים הנבדלים זה מזה במראה, בתכונות ובאופי; וכי בין הגזעים השונים קיימים מדרג ומלחמה
          תמידית. בהדרגה הפכו רעיונות אלו לרווחים ועל- בסיסם התפתחה האידיאולוגיה הנאצית.
          <br>
        </p>



      </div>

    </ion-content>
  </div>
