<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>



    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h2 class="book--topiccontent-title lightHeebo">4.2.1 דרכה של המפלגה הנאצית לשלטון</h2>
        <p class="book--text-style">
          ההפסד והתנאים שנכפו על הצד הגרמני עם תום מלחמת העולם הראשונה יצרו תחושת השפלה עמוקה ומשבר חברתי- כלכלי חמור במדינה. חיילים
          גרמנים ששבו מהמלחמה התקשו למצוא מקומות עבודה, החוב הלאומי היה עצום והמשבר נתן את אותותיו גם בתחום הפוליטי והתבטא
          בחוסר יציבות שלטונית.
          <br> במציאות זו החלה להתפתח בגרמניה תיאוריית ה"סכין בגב" לפיה גרמניה כשלה במלחמה בשל בגידתם של הקומוניסטים הסוציאליסטים
          והיהודים.
          <br> על רקע זה הוקמה המפלגה הנציונאל-סוציאליסטית (נאצית) שבראשה עמד אדולף היטלר. בבסיס האידיאולוגיה שלה עמדו מספר עקרונות:
          עליונות האומה הגרמנית ואחדותה; עליונות המנהיג המהווה את הביטוי המושלם לאומה ולגזע; הערצת הכוח והמלחמה; הצורך במרחב
          מחיה ובסיפוח אזורים "גרמניים" שמחות לתחומי המדינה הגרמנית; ועקרונות תורת הגזע.
          <br> נקודה אחרונה זו חשובה במיוחד לענייננו,
          <b>הנאצים השתמשו ברעיונות הגזעניים שהתפתחו בראשית המאה העשרים</b>, עליהם עמדנו בקצרה לעיל, והרחיבו אותם. הם האמינו
          כי בני הגזעים עשויים בתבנית ביולוגית שאינה משתנה וכי התכונות שלהם נגזרות מתוך אותה התבנית. הם גיבשו היררכיה בראשה
          עמד הגזע הארי אליו השתייך העם הגרמני ובתחתיתו עמד הגזע השמי אליו השתייך העם היהודי. היהודי הוצג כטפיל הפועל על-
          מנת להרוס את החברה, כחיידק או נושא מחלה שיש להתגונן מפניה וכמי שפועל מאחורי הקלעים במטרה להשתלט על עמדות כוח וצובר
          כסף על חשבון אוכלוסיית הרוב; מסיבה זו הושקעו מאמצים רבים על מנת למנוע מגע עם היהודים ולדחקם אל שולי החברה.
          <br> בשנת 1923 ניסו אנשי המפלגה הנאצית לבצע הפיכה בשלטון והיטלר נשפט ונאסר. בשנים הבאות הם הרחיבו את כוחם עד שמפלגתם
          הפכה
          <b>באמצעות בחירות דמוקרטיות</b> למפלגה הגדולה בפרלמנט.
          <br> לאחר ניסיונות שונים לכונן ממשלה ללא המפלגה הנאצית מונה ב-1933 היטלר לקנצלר. כעבור שבועות ספורים הוא ערך בחירות
          חדשות, תוך הגבלת המפלגות היריבות. זמן קצר לפני הבחירות הוצת בניין הפרלמנט הגרמני, צעד שאפשר להיטלר להגביר את הרדיפה
          אחרי יריבו ולחזק את שליטתו במדינה.
          <br> בבחירות התחזק כוחו אף יותר והוא החל לפעול לביטולה של השיטה הדמוקרטית. היטלר ביטל את סמכותה של הרשות המחוקקת והעניק
          חופש מלא לרשות המבצעת בראשה עמד, הוא אסר על קיומן של מפלגות, פירק את האיגודים המקצועיים ופעל להשליט את הרעיונות
          הנאצים בתרבות ובחינוך.
          <br> בהדרגה הוא הלך לפעול לפגיעה במתנגדיו לשלטון והקים מחנות ריכוז בהם נכלאו קומוניסטים וסוציאליסטים. היטלר אף לא היסס
          לפגוע בחברים למפלגה הנאצית ורצח כמה מהם שנתפסו כמתנגדיו במהלך "ליל הסכינים הארוכות" (יוני 1934).
          <br>
        </p>

        <h2 class="book--topiccontent-title lightHeebo">4.2.2 תורת הגזע והיהודים: מתיאוריה למעשה</h2>
        <p class="book--text-style">
          עם עליית המפלגה הנאצית לשלטון החל יישום הדרגתי של המדיניות הגזענית כלפי היהודים. היטלר האשים את יהודי המדינה בהוקעה של פעולותיה
          של גרמניה ברחבי העולם והכריז על ה-1 באפריל כ
          <b>יום חרם על יהודי גרמניה. </b> החרם עבר בהצלחה חלקית בלבד אך סימן בפעם הראשונה את היהודים באופן ממוסד כזרים. בזיכרונותיו
          מספר ארווין לנדאו, יהודי תושב גרמניה על תחושותיו באותה העת:
          <br>
        </p>
        <blockquote>
          <p>
            שני נאצים צעירים עמדו גם מול החנות שלנו, ומנעו מהלקוחות את הכניסה פנימה.. אלה היו האנשים שאנחנו- היהודים הצעירים- לחמנו עבורם
            פעם בחפירות, ושפכנו את דמנו כדי להגן על המדינה מפני האויב.. התביישתי באמון שנתתי ברבים כל כך- אנשים שזה עתה נחשפו
            פניהם האמתיים כאויבי בנפש. גם הרחוב עצמו נראה לי לפתע זר ומוכר.
            <br>
          </p>
        </blockquote>
        <p class="book--text-style">

          במהלך אותה השנה סולקו יהודים רבים ממשרות ותפקידים ציבוריים: עורכי דין, מנהלי בנקים, רופאים ועוד. במקביל הורחקו היהודים גם
          מן הזירה התרבותית, ההפצה של יצירותיהם נמנעה, הם סולקו ממשרות באוניברסיטאות, מספרם בבתי הספר הוגבל ועוד. ב-10 במאי
          אף נערך טקס פומבי בו נשרפו ספרים של סופרים יהודים ש"ניוונו" את התרבות הגרמנית. הפגיעה ביהודים השפיעה גם על היבטים
          שונים של חיי היום-יום: על יהודים נאסר לשבת על ספסלים בפארקים ובגנים ציבוריים, במקומות בילוי שונים נתלו שלטים שהבהירו
          כי היהודים אינם רצויים עוד. את הרעיונות האנטי- יהודיים הפיצו הנאצים באמצעות תעמולת המונים בעיתונים ובמערכת החינוך.
          <br> הצעד האנטי-יהודי הבא הגיע בשנת 1935 ושיאו בחקיקתם של חוקי נירנברג שסימנו את היהודים כגזע נפרד שאינו חלק מן החברה.
          החוקים קבעו כי אזרחי המדינה חייבים להיות "בלעי דם גרמני" וכמשתמע מכך, יהודי המדינה אינם בגדר אזרחים. החוק השני
          שהתקבל אסר על נישואי תערובת בין יהודים לגרמנים, על העסקה של נשים גרמניות צעירות בבתי יהודים ועל שימוש בסמלי המדינה
          על ידי יהודים.על מנת לבצע את החוקים הללו נכתבה מערכת של תקנות והנחיות שמטרתה לסייע בקביעת מי מוגדר כיהודי ומהו
          דינו של בן לנישואי תערובת.
          <br>
          <br> בשנת 1936 נערכו בברלין המשחקים האולימפיים שהביאו להפוגה זמנית בגל הרדיפות ועוררו תקווה כי גל האנטישמיות נשלם,
          אך תקווה זו נכבזה בחודשים הבאים. כעת הפגיעה ביהודים התמקדה בתחום הרכוש : הנאצים החלו בתהליך של "אריזציה", שמשמעותו
          השתלטות אלימה על בתי עסק ונכסים יהודים. עם הסיפוח של אוסטריה וההשתלטות עלך שטחי צ'כוסלובקיה התרחב מעגל הרדיפות
          גם לאוכלוסיית היהודים במדינות אלו.
          <br>
          <br> במקביל הסלים תהליך הסימון והרדיפות ברחוב. הדברים הגיעו לשיא בנובמבר 1938 באירועים שזכו לכינוי ליל הבדולח. בלילה
          שבין ה-9 ל-10 בחודש פשטו יחידות נאציות המלוות בהמון העם על מבני מגורים, מוסדות ועסקים יהודיים. הפרעות נשאו אופי
          של "פרעות עממיות" שפרצו בעקבות רצח המזכיר בשגרירות גרמניה בצרפת , אך המעורבות הממשלתית והמפלגתית בהן הייתה ניכרת.
          במהלך הלילה הוצתו ונהרסו יותר מ1400 בתי כנסת, נשרפו ונשדדו למעלה מ-8000 חנויות , כ-400 יהודים נרצחו בפוגרום ועוד
          כ-30000 נעצרו ונשלחו למחנות ריכוז. כינויו של האירוע נגזר מן הזכוכיות המנופצות שהתפזרו ברחובות הערים. לאחר שהתבררו
          ממדי הנזק ועלות התיקונים להם תידרש המדינה הוטל על היהודים גם קנס קיבוצי בגובה מיליארד מארק.
          <br>
        </p>

        <h2 class="book--topiccontent-title lightHeebo">4.2.3 ניסיונות הגירה ובריחה </h2>
        <p class="book--text-style">
          כאמור, במהלך שש השנים שבין עליית הנאצים לשלטון (1933) לבין פרוץ מלחמת העולם השנייה (1939) ניצבו יהודי גרמניה בפני איום מתמשך.
          תגובתה של יהדות גרמניה נעה בין התנגדות , השלמה והגירה. ככל שהחריף המצב ניסו יותר ויותר יהודים לעזוב את המדינה אך
          בהצלחה חלקית בלבד בעיקר בשל העובדה שרבות ממדינות העולם סגרו את שעריהן בפניהם והגדירו מכסות הגירה מצומצמות.
          <br> הנושא עורר את דעת הקהל העולמית והגיע ביולי 1938 לדיון בפורום בין לאומי בוועידת אוויאן.
          <br>מרבית הדוברים מטעם המדינות המשתתפות הביעו צער על מצבם הקשה של היהודים אך סרבו לקלוט פליטים נוספים הועדה כלל לא
          עסקה בשאלת ההגירה לארץ ישראל שאישורי העלייה אליה צומצמו באותה תקופה כחלק ממדיניות "הספר הלבן. אחת מן הפרשיות החמורות
          ביותר בהקשר זה היא
          <b>פרשת האונייה סנט לואיס</b> שיצאה במאי 1939 מנמל המבורג והייתה אחת האניות האחרונות שעזבו את גרמניה לפני סגירת שעריה.
          הפליטים נשאו אשרות הגירה לקובה אך כאשר הגיעו לדרום אמריקה סירבה לקלטם. האונייה פנתה אל חופי מיאמי , אך גם ארצות
          הברית סירבה לקלוט את הפליטים שעל סיפונה. רק מששבה האנייה לכיוון אירופה הסכימו כמה מדינות במערבה של היבשת לקלוט
          את הפליטים שעל סיפונה. עם התקדמותה של מלחמת העולם השנייה נמצאו הפליטים שוב תחת האיום הגרמני וחלקם נרצחו כחלק מיישום
          הפתרון הסופי.
          <br>

        </p>

      </div>

    </ion-content>
  </div>
