<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h3 class="book--topiccontent-title">4.3.1 פרוץ המלחמה ואיגרת הבזק של היידריך</h3>
      <p class="book--text-style">
        ב-1 בספטמבר 1939 פלשה גרמניה לפולין וכבשב אותה במהלך חמישה שבועות, בתגובה הכריזו בריטניה וצרפת מלחמה על גרמניה – כך החלה
        מלחמת העולם השנייה. בהתאם להסכם שחתמו הגרמנים עם הרוסים ( הסכם ריבנטרופ-מולוטוב) פלשו במקביל הסובייטים אל מזרחה של
        פולין ואל המדינות הבלטיות. ערב המלחמה חיו בפולין כ-3,300,000 יהודים ולאחר חלוקתה בין גרמניה לברית המועצות נותרו בתחומי
        השטח הגרמני כ2,100,000 יהודים, כ-300,000 נוספים ברחו מזרחה. רדיפת היהודים בפולין החלה כבר במהלך הכיבוש, כוחות נאציים
        שהתלוו אל הצבא פגעו בקהילות היהודיות , השפילו את היהודים ברחוב וגייסו אותם לעבודות כפייה. עם תום השלב הראשון של הלחימה
        מצאה עצמה גרמניה הנאצית במצב חדש וגודלה של האוכלוסייה היהודית הנמצאת תחת שליטתה גדל בעשרות מונים.
        <br>
        <br> ב-21 בספטמבר נשלחה איגרת מטעם ראש משטרת הביטחון, ריינהרד היידריך ובה הוראות לגבי אופן הטיפול היהודים. איגרת זו נודעה
        לימים בשם
        <b>"איגרת הבזק של היידריך"</b> ובה הוא הורה לרכז את היהודים בכמה ערים גדולות הסמוכות לצמתי רכבות, בשטחי פולין שאינם
        עתידים להיות מסופחים אל גרמניה. בנוסף הוא הורה על הקמת יודנראטים , " מועצת זקנים" יהודית שתהיה ממונה על התיווך בין
        הציבור היהודי לבין השלטון הנאצי. כל זאת כדי לרכז ולארגן את היהודים לקראת גירושם מתחומי השלטון הגרמני. ביחס להיבטים
        כלכליים התיר היידריך את המשך פעילותם של מפעלים וסוחרים החיוניים לאינטרסים הגרמניים, אך הורה להעביר אדמות השייכות
        ליהודים לפולנים לשם עיבודן.
        <br>
      </p>

      <h3 class="book--topiccontent-title">4.3.2 הקמת הגטאות והחיים בגטו</h3>
      <p class="book--text-style">
        בהתאם לאגרת הבזק של היידריך ולצעדים שננקטו בפועל החל להתערער בסיס הקיום של יהודי המדינה: היהודים ובתי העסק שלהם סומנו באמצעות
        אות קלון : יהודים הודרו מהמרחב הציבורי והושפלו לא פעם בפומבי , החל תהליך "אריזציה" של מפעלים ורכוש יהודי שפגע בפרנסתם
        של מרבית יהודי המדינה, רבים נלקחו לעבודות כפייה ואחרים גורשו ממקום מגוריהם, ומערכת החינוך היהודית נסגרה.
        <br> בהדרגה הוקמו בערי פולין
        <b>גטאות</b> – רובעים סגורים בהם רוכזו היהודים. הגטאות הגדולים ביותר הוקמו בורשה ובלודז' , ועשרות גטאות נוספים הוקמו
        בערים אחרות. בחלק מהמקומות הוקף הגטו בגדר גבוהה, אפשרויות היציאה מן הגטו לצרכי עבודה או מסחר השתנו ממקום למקום ומתקופה
        לתקופה אך באופן כללי הלכו והצטמצמו ככל שחלף הזמן. על אופי החיים בגטו ורשה מעיד חיים אהרון קפלן:
        <br>
      </p>
      <blockquote>
        <p>
          "שטח הגטו צר מלהכיל חצי מיליון איש... הצפיפות אין לשער. כשאתה נעמד על איזו גזוזטרה ומסתכל מעליה על רחובות הגטו הנמתחים לפניך
          אתה רואה ים של אלפי ראשים, גלים שוטפים ועוברים של רבבות המונים... ועל פני כולם שורה העצבות היהודים , שאינה מסתלקת
          מפנינו מיום שנעשינו כעפר לדוש."
          <br>
        </p>
      </blockquote>
      <p class="book--text-style">
        בגטאות התפתחו תנאי רעב ומצב תברואתי קשה שהביא להתפרצות של מגפות ולאחוזי תמותה גבוהים. גם עבודות הפרך בהן הועסקו חלק מהיהודים
        גבו מחיר בנפש. הכלואים בגטאות קיימו מאבק עיקש להישרדות ובגטאות רבים הוקמו מנגנוני עזרה רפואית ,רווחה , תרבות, חינוך,
        תנועות נוער ועוד, אך בסופו של דבר נשלחו בהדרגה להשמדה.
        <br> באפריל 1940 החלו הנאצים במלחמה במערב אירופה. כמו במזרח הגרמנים פעלו כנגד היהודים באזורים שכבשו, יזמו תקנות וחוקים
        אנטישמיים וריכזו את היהודים לקראת השמדתם. בהדרגה שולחו רבים מיהודי מערב אירופה למזרח היבשת, חלקם למחנות ההשמדה בהן
        בוצעו "הפתרון הסופי".
        <br>
      </p>
    </div>

  </ion-content>
