<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h3 class="book--topiccontent-title lightHeebo">4.4.1 רצח היהודים במהלך מבצע ברברוסה </h3>
        <p class="book--text-style">
          הסכם ריבנטרופ-מולוטוב אפשר להיטלר למקד את מאמציו בחזית המערבית מבלי להיות מאוים מחזית נוספת במזרח. בראשית 1941 , כאשר כיבושה
          של מערב אירופה הלך ונשלם , החל היטלר לתכנן את הרחבת השלטון הנאצי מזרחה. המבצע החל לבסוף ביוני 1941 וזכה לשם הקוד
          מבצע ברברוסה על שמו של אחד מן המלכים החשובים בגרמני בימי הביניים. הצבא הנאצי פלש אל שטחי ברית המועצות בעוצמה גדולה,
          התקדם במהירות והגיע עד לפאתי לנינגרד ( כיום סנט פטרבורג) ומוסקבה.
          <br> בשטח אותו כבשו הגרמנים התגוררה אוכלוסייה יהודית גדולה ועל מנת לטפל ב"בעיה" זו, התלוו אל היחידות הקרביות שפלשו
          לברית המועצות יחידות ס"ס שכונו "איינזצגרופן" (עוצבות מבצע).
          <br>תפקידן של יחידות אלו היה ל"טהר" את השטחים שנכבשו מגורמים עוינים. בפועל הם הביאו לרציחתם של מאות אלפים מיהודי האזור
          בבורות ירי. אחד מן הסיפורים האיומים ביותר בתקופה זו התרחש באתר הרצח פונאר , אליו הובלו יהודי העיר וילנה. על שהתרחש
          בו פרסם המשורר היידי שמריהו קצ'רגינסקי שיר שזכה לתהודה רבה:
        </p>
        <blockquote>

          שקט,שקט, בני נחרישה!
          <br> אל פונאר דרכים יובילו,
          <br> כאן צומחים קברים,
          <br> דרך אין לחזור,
          <br> השונאים אותם נטעו,
          <br> לבלי שוב הלך לו אבא,
          <br> פה מעברים,
          <br> ועמו האור


        </blockquote>
        <p class="book--text-style">
          עד מהרה גילו הגרמנים כי לביצועו של הרצח בבורות הירי השפעה שלילית על מבצעיו והם החלו לחפש שיטות רצח "נקיות" יותר, שיטה כזו
          נמצאה בהמשך ויושמה במחנות ההשמדה.
          <br>
        </p>

        <h3 class="book--topiccontent-title lightHeebo">4.4.2 וועידת ואנזה ומבצע ריינהרד </h3>
        <p class="book--text-style">
          במהלך 1941 החלו הגרמנים בחיסולם של הגטאות באזור פולין. היהודים שהתגוררו בהם נשלחו בתחילה אל מחנות הריכוז והעבודה. לקראת סופה
          של השנה החלו הגרמנים בהקמת מחנה ההשמדה הראשון,
          <b>חלמנו</b> , הסמוך לעיר לודז' בה שכן אחד הגטאות הגדולים בפולין. ב-20 בינואר 1942, בעוד ההשמדה של היהודים נמצאת בעיצומה
          התכנסה בפרבר של ברלין
          <b>וועידת ואנזה. </b>
          <br> בוועידה השתתפו ארבעה-עשרה נציגים בכירים של הממשל הנאצי שביקשו לדון ב"פתרון הסופי של בעיית היהודים". השמדת היהודים
          נרצחו החלה אמנם חודשים רבים לפני הוועידה, אולם ממנה ואילך הפכה ההשמדה לשיטתית ומקיפה יותר. מבחינתם של יהודי מערב
          אירופה, שמצבם טרם הוועידה נחשב טוב יותר , סימלה הוועידה את תחילתו של הגירוש מזרחה אל עבר מחנות המוות והעבודה שבפולין.
          <br> במרץ 1942 החל
          <b>מבצע ריינהרד</b> שמטרתו הייתה להביא להשמדתה של יהדות פולין ובמסגרתו הוקמו שלושה מחנות השמדה גדולים (בלז'ץ, סוביבור,
          וטרבלינקה) בהם נרצחו יהודים בשיטתיות בתאי גזים. בגטאות בוצעו
          <b>אקציות</b> במהלכן נאספו היהודים מן הרחובות והבתים והובאו אל כיכר השילוחים. בכיכר השילוחים נדחקו היהודים אל תוך
          קרונות רכבת צפופים והובלו אל מה שהיה מבחינתם יעד לא ידוע . על התחושות של היהודים המשולחים באותה העת ניתן ללמוד
          ממכתב שנמצא באחד הקרונות ונכתב על ידי ילד יהודי מורשה בשם דוד:

        </p>
        <blockquote>

          "נלקחתי מגטו ורשה יחד עם יהודים רבים אחרים, צעירים וזקנים, לגירוש ל'מחנה עבודה' הקרוי טרבלינקה. אנחנו עומדים בשורה ליד קרון
          בקר. כשדוחפים אותנו לתוכו, אחדים נופלים מהרכבת , והשומרים הגרמנים לוקחים וזורקים אותם בחזרה.. כדי לפנות מקום, אנו
          נאלצים לעמוד בידיים מורמות מעל הראש.. לפתע נטרקה הדלת והקרון נחתם. לתוך הקרון מושלך דלי לעשיית הצרכים. זה עתה מתה
          אישה זקנה שהייתה לידי. ילד קטן צורח ומחפש את אמו. אני רוצה למות. לפתע בולמת הרכבת ונעצרת. אינני יודע כמה זמן נסענו
          אבל נדמה לי שחלפו ימים רבים."


        </blockquote>
        <p class="book--text-style">
          כאשר הגיעו הקרונות אל המחנה הורדו היהודים ששרדו את הנסיעה אל הרציף. רובם הוכנסו תוך זמן קצר באמצעות שימוש בשיטות הטעייה אל
          תאי הגזים, משם לא שבו.
          <br>
        </p>

        <h3 class="book--topiccontent-title lightHeebo">4.4.3 הקמת אושוויץ והשמדת יהדות אירופה </h3>
        <p class="book--text-style">
          בהדרגה, עם התקדמות הרצח השיטתי של יהדות פולין, נסגרו מחנות מבצע ריינהרד וההשמדה רוכזה במחנה אושוויץ. באושוויץ נאסרו החל מ-1940
          אסירים פוליטיים, אנשי אינטליגנציה ומתנגדי שלטון פולנים. בעקבות וועידת ואנזה והכוונה להביא להשמדתם של כלל יהודי
          אירופה שינה אושוויץ את אופיו והפך בהדרגה
          <b>למרכז השמדה בו נרצחו למעלה ממיליון יהודים. </b>
          <br>על פני אירופה כולה נפרסה רשת רכבות שהובילה קרונות מלאים ביהודים אל המחנה. המגורשים לא ידעו בדרך כלל את המצופה להם.
          שם הקוד בו נעשה שימוש במהלך האיסוף וההובלה להשמדה היה "גירוש למזרח" , אך היהודים לא הבינו ברוב המקרים את משמעותו
          הטרגית של המושג ואת יעדן של הרכבות. כאשר הגיעו הרכבות לאושוויץ נערכה ליהודים שהורדו מן הרכבות סלקציה , יהודים הכשירים
          לעבוד הובלו אל חלק אחד של המחנה ויהודים שלא היו מסוגלים לעבוד הובלו אל תאי הגזים. במחנות עבדו היהודים בעבודות פרך
          תוך שהם סובלים מאלימותם של הנאצים, מרעב ומתנאים סניטריים קשים. מערכת ההשמדה המשיכה לפעול עד לימיה האחרונים של המלחמה.
          גם כאשר היה ברור לנאצים כי הכף נוטה לרעתם הם המשיכו בהשמדה. עם תום המלחמה נמנו כשישה מיליון יהודים שנרצחו באכזריות,
          כשליש מיהדות העולם.
          <br>
        </p>
      </div>

    </ion-content>
  </div>
