<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h2 class="book--topiccontent-title lightHeebo">4.5.1 חסידי אומות העולם</h2>
        <p class="book--text-style">
          הוצאתה לפועל של תכנית ההשמדה הנאצית התאפשרה על רקע עמידה מנגד ולעתים אף שיתוף פעולה של האוכלוסייה הסובבת. הישרדות יהודים
          במהלך השואה הצריכה בדרך כלל עזרה מגורמים לא-יהודיים שהיו מאוימים אף הם מהטרור הנאצי והסתכנו בעונשים כבדים אם יעזרו
          ליהודים .
          <br>
          <b>חסידי אומות העולם</b> הם בודדים וקבוצות שסייעו בידיהם של היהודים, תוך סיכון עצמי וללא תמורה. אין ידיעה ברורה מה
          מספר ניצולי השואה אשר ניצלו הודות לפועלם של חסידי אומות העולם ולא קל לאתר את הסיפורים כולם, אך מתוך הידוע לנו עולה
          כי הם השתייכו לכל שכבות האוכלוסייה ופעלו בכל רחבי אירופה. רוב האנשים היו אנשים רגילים , חלקם פעלו מתוך תודעה אידיאולוגית
          או דתית ואילו אחרים פעלו מתוך מגמה אנושית פשוטה.
          <br> פעולות ההצלה לבשו פנים שונות. בחלק מן המקרים כמו בפועלו של הדיפלומט השבדי ראול ולנברג או הקונסול היפני צ'יאונה
          סוגיהארה , הנפיקו המצילים ויזות ואשרות כניסה שאפשרו ליהודים לחמוק מאירופה. במקרים אחרים כמו בפועלו של התעשיין הגרמני
          אוסקר שינדלר התאפשרה ההצלה תוך ניצולם של יחסי האמון עם הגרמנים. רובם של חסידי אומות העולם סייעו ליהודים בכך שהסתירו
          אותם בבתיהם , כמו למשל בני הזוג מיפ ויאן חיס שהסתירו בביתם שבאמסטרדם את בני משפחתה של אנה פרנק ומשפחת הרדגה שהסתירו
          בביתם את בני משפחת קביליו.
          <br>
          <b>את אות "חסידי אומות העולם" מעניקה "יד ושם"</b> ועד כה הוענקו כ-25,000 אותות. כל תיק של מועמד לקבלת האות נידון ונבדק
          בקפדנות על-ידי ועדה ציבורית בראשות שופט בית המשפט העליון. חסידי אומות העולם מקבלים מדליה ותעודת הוקרה ושמותיהם
          מונצחים בהר הזיכרון בירושלים.
          <br>
        </p>

        <h2 class="book--topiccontent-title lightHeebo">4.5.2 ניסיונות ההצלה</h2>
        <p class="book--text-style">
          לצד פעולתם של חסידי אומות העולם התרחשו במהלך השואה גם ניסיונות רבים של הצלת יהודים בידי יהודים ובכלל זאת פעולות בריחה ,זיוף,
          החבאה ועוד. היהודים שעסקו בפעולות אלו לא פעם סיכנו את חייהם ונשארו נאמנים לצו מצפונם גם בתקופה קשה זו.
          <br> גם יהדות העולם ביקשה לנסות ולסייע ובשער הבא נדון בהתמודדותו של היישוב הארץ-ישראלי עם הידיעות על השואה. הצלחתם
          של ניסיונות ההצלה הייתה חלקית בלבד ורק כמות זעומה של יהודים הצליחה לחמוק מאירופה בדרכים ובתחבולות שונות.
          <br>
        </p>
        <h2 class="book--topiccontent-title lightHeebo">4.5.3 התנגדות: המרידה בגטאות, במחנות וביערות</h2>
        <p class="book--text-style">
          פעולתם של הנאצים לוותה בהטעיה ובהסתר מידע , היהודים עמדו על פי רוב בחוסר אונים אל מול ההתפתחויות המהירות שיצרו מציאות חדשה
          ובלתי מובנת. בגטאות רבים ניסו היהודים לקיים חיים מלאים ככל האפשר ובכך הדגישו את גבורת הרוח אל מול הגזירות והרדיפות.
          היהודים פעלו על מנת לנסות ולשפר את מצבם בגטאות על ידי הברחת אוכל ותרופות לתוך הגטאות.
          <br>
          <br> כאשר התבררו כוונותיה הרצחניות של גרמניה הנאצית התפתחו בגטאות מחתרות שהיו מבוססות בעיקר על תנועות נוער. ללוחמים
          בגטאות היה ברור כי לא יצליחו לפגוע באופן ממשי בפעולת הנאצים והרעיון של מרד כולל הועלה רק כאשר התפתחה ההבנה כי פניהם
          של הנאצים להשמדה. את ההיגיון מאחורי פעולת המורדים ביטא אהרון ליבסקינד ממנהגי "החלוץ הלוחם" ערב המרד בגטו קרקוב:
          " אנו נלחמים בשביל שלוש שורות בהיסטוריה, ובלבד שלא ייאמר שנוער שלנו הלך כצאן לטבח".
          <br> המרידות התרחשו בכמה גטאות, אך המרד הגדול ביותר היה בגטו ורשה . במהלכו פעלו שני ארגונים יהודיים האי"ל (ארגון יהודי
          לוחם) והאצ"י (ארגון יהודי צבאי) שהצליחו להחזיק מעמד קרוב לחודש, לרתק אל שטח הגטו כוחות גדולים של גרמנים ולהסב להם
          אבדות מרידות התרחשו גם במחנות ההשמדה. בסוביבור, הצליחו מאות מהאסורים במחנה לברוח לאחר שאגרו נשק וחיבלו בתשתית המחנה,
          ובאושוויץ פוצצה המשרפה (קרמטוריום) ששימשה את הנאצים לשריפת גופותיהם של הקורבנות. רבים מהיהודים שהצליחו לברוח מן
          הגטאות והמחנות התרכזו ביער וחברו אל קבוצות
          <b>פרטיזנים. </b> כוחות הפרטיזנים פעלו במזרח ובמערב אירופה והורכבו מיהודים ושאינם יהודים שניסו לפגוע בעורף הגרמני
          והסתתרו ביערות.
          <br>על מגמותיהם ואופיים של הפרטיזנים מעיד שיר הפרטיזנים:
          <br>
        </p>
        <blockquote>

          אל נא תאמר: " הנה דרכי האחרונה,
          <br> את אור היום הסתירו שמי העננה!"
          <br> זה יום נכספנו לו עוד יעל ויבוא,
          <br> ומצעדנו עוד ירעים-אנחנו פה!
          <br>
        </blockquote>

      </div>

    </ion-content>
  </div>
