<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <p class="book--text-style">
          במאי 1945 נכנעה גרמניה הנאצית בפני כוחות בעלות הברית, באסיה המשיכו היפנים , בעלי בריתם של הגרמנים, בלחימה עוד מספר חודשים
          ונכנעו רק בחודש אוגוסט לאחר שארצות הברית הטילה בשטחם שתי פצצות אטום. זוועות הכיבוש הנאצי נחשפו ורבבות ניצולים יהודים
          שכונו
          <b>שארית הפליטה</b> החלו לנדוד באירופה. על תחושותיהם מעידה ניצולת השואה גניה פינקלשטיין:
          <br>
        </p>
        <blockquote>
          <p>

            "אני ניצלתי. אולי זה גורל. מזל. אולי אלוהים רצה שאשאר בחיים כדי שאספר איך נמחתה מעל פני האדמה משפחה מפוארת, חמה ואוהבת. הייתה
            לי תקופת אשמה, שאני ניצלתי.. אבל החיים ניצחו תמיד. אין לילה שאני לא חולמת על אמא, על אבא, על אחיי הקטנים"
          </p>

        </blockquote>
        <p class="book--text-style">
          הפליטים היהודים היו חסרי בית וגילו ברוב המקרים כי רכושם נגזל במהלך השואה. רבים מהם היו במצב גופני ונפשי ירוד. בעלות הברית
          ששלטו בשלב הראשון בשטחים ששוחררו מן הכיבוש הנאצי הקימו עבורם
          <b>מחנות עקורים. </b> מחנות אלו הוקמו בדרך כלל בתחומי מחנות ששימשו בעבר את הנאצים כמחנות השמדה ועבודה, על אף השיפור
          בתנאים, החיים בהם היו עדיין לא נוחים. ניצולי השואה מצדם פיתחו במחנות חיי תרבות, חינוך וחברה שהיוו ביטוי לבחירתם
          <b>"לחזור לחיים"</b> , מהר ככל האפשר.
          <br> רבים מן היהודים שביקשו לעלות לארץ ישראל נתקלו במגבלות שהעמידה בריטניה.
          <br> רבים מאלו שבחרו לעלות לארץ על ידי ההעפלה נעצרו על ידי הבריטים ונכלאו במחנות מעצר שהוקמו בקפריסין. הלחץ מצד היהודים,
          האמריקאים, ודעת הקהל העולמית לא הצליח לשנות את עמדת הבריטים ובעיית הפליטים נפתרה רק עם הקמתה של מדינת ישראל וקליטתם
          בה. לאחר המלחמה פנו בעלי הברית גם להעמדתם לדין ולהענשתם של הפושעים הנאצים. ב-20 בנובמבר 1945 החלו בגרמניה בהם הועמדו
          לדין בפני טריבונל בין-לאומי ראשי המשטר הנאצי שנותרו בחיים. המשפט אמנם לא התמקד בפשעיהם של הנאצים כלפי היהודים,
          אך במהלכו נחשף לראשונה תיעוד קשה ביחס לרצח ולמנגנוני ההשמדה. שיתוף הפעולה הבין-לאומי במהלך המשפטים והערכים המשותפים
          שעלו ממנו שימשו מאוחר יותר כמסד לאמנה למניעת רצח עם.
          <br>
        </p>

      </div>

    </ion-content>
  </div>
