<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-starttitle"></h1>
        <p class="book--text-style">
          עם הקמתה של מדינת ישראל וראשית העלייה ההמונית הגיעו אל תחומיה מאות אלפי ניצולי שואה שנטלו חלק חשוב בבנייתה ובהגנה על ביטחונה.
          הוותיקים לא תמיד ידעו כיצד להתייחס של ניצולי השואה ולא פעם לווה היחס אליהם בהתנשאות, דעות קדומות ובורות. רק כעבור
          זמן עם ההפנמה של ממדי השואה והמפגש עם משמעותה במהלך משפט אייכמן חל שינוי בנושא זה. להלן נבקש לבחון בקצרה מספר אירועים
          משמעותיים שהשפיעו על התהוותו ואופיו של זיכרון השואה במדינת ישראל.
        </p>
        <h2 class="book--topiccontent-title">4.7.1 משפט גרינוולד-קסטנר </h2>
        <p class="book--text-style">
          ישראל (רז'ה) קסטנר (1906-1957) היה עורך דין ועיתונאי ציוני שפעל להצלתם של יהודים על ידי משא ומתן עם קציני ס"ס בכירים, במסגרת
          "ועד העזרה וההצלה" של התנועה הציונית בבודפשט שבהונגריה. לאחר השואה על קסטנר לארץ והשתלב בשירות המדינה. בסוף שנת
          1952 האשים מלכיאל גרינוולד את קסטנר בכך שהכשיר את הקרקע לרצח יהודי הונגריה לקראת סופה של המלחמה וקרא לחסלו. קסטנר
          החליט לתבוע את גרינוולד על הוצאת דיבה במה שנודע לימים כ
          <b>משפט קסטנר</b> (1954-1955).
          <br> בסיומו של המשפט קבע השופט, בנימין הלוי, כי קסטנר "מכר את נשמתו לשטן" ושיתף פעולה עם הנאצים. פסק-הדין גרם לזעזוע
          במדינה ופתח ידון ציבורי רחב ביחס להתנהלותם של היהודים אל מול השלטון הנאצי וביחס להתנהלותו של היישוב היהודי בארץ
          בראשות מפא"י שקסטנר נתפס כשליחה אל מול הידיעות על ההשמדה. בשנת 1957, בעוד שהערעור שהגיש קסטנר נידון בבית המשפט,
          הוא נרצח שפתח ביתו בתל-אביב. מספר חודשים לאחר מכן הכריע בית המשפט העליון בתביעה וניקה אותו מלכה האשות שהופנו נגדו
          פרט לאחת. פרשייה זו חשפה בפני הציבור הרחב בארץ את הדילמות שעמדו בפני ההנהגה היהודית אל מול השואה ואת הבעייתיות
          היהודית אל מול השואה ואת הבעייתיות שבשיפוטיות ביחס להכרעות שקיבלו.
          <br>
        </p>
        <h2 class="book--topiccontent-title">4.7.2 הקמת יד ושם </h2>
        <p class="book--text-style">
          עוד בישיבה של הועד הפועל הציוני שנערכה בלונדון באוגוסט 1945, זמן קצר לאחר תום המלחמה, הוטל על הועד הלאומי שהיה הגוף שקדם
          לממשלת ישראל, לפעול להנצחת קורבנות השואה בארץ. באוגוסט 1953 קיבלת הכנסת את חוק
          <b>יד ושם</b> שהגדיר את המוסד כרשות ממלכתית המופקדת על תיעוד תולדותיו של העם היהודי בתקופת השואה, הנצחת הנרצחים והנחלת
          מורשת השואה לדורות הבאים. בנוסף אחראית הרשות על ההכרה וההנצחה של חסידי אומות העולם. יד ושם פועל לריכוז השמות של
          כלל הנספים בשואה ועושה זאת באמצעים מגוונים ובהם איסוף "
          <b>דפי עד</b>" בהם מתבקשים הניצולים להעיד על קרובי משפחה וחברים שנספו. לצידו של יד ושם פועלים בישראל עשרות מוזיאונים,
          מרכזים חינוכיים ומרכזים אקדמאים לחקר השואה, לימודה ותיעודה.
          <br>
        </p>

        <h2 class="book--topiccontent-title">4.7.3 הסכם השילומים </h2>
        <p class="book--text-style">
          <b>הסכם השילומים</b> (1952), הוא הסכם שנחתם בין ממשלת מערב גרמניה לממשלת ישראל במסגרתו העבירה גרמניה לישראל סכום של
          כ-3 מיליארד מארק כפיצוי על הסבל והנזק החומרי אשר נגרם ליהודים בתקופת השואה. עם קנייתה של גרמניה היא חויבה בפיצויי
          מלחמה נרחבים לכל הצדדים שלקחו חלק במלחמה ונפגעו ממנה, אך היא לא נדרשה לפצות את היהודים מאחר ולאלו לא הייתה מדינה
          שעמדה במלחמה עמם. לאחר שניסיונות להידבר עם גרמניה באמצעות בעלות-הברית נכשלו החלו ב-1951 מגעים חשאיים במטרה לקדם
          את הרעיון.
          <br>לאחר שגרמניה הודיעה באופן רשמי על כך שהיא נוטלת על עצמה את האחריות על פשעי הנאצים כלפי העם היהודי, הוכשרה הקרקע
          למגעים גלויים. שאלת השילומים הייתה אחד המאבקים החריפים והדרמטיים בתולדות מדינת ישראל והכנסת בפרט.
          <b>מתנגדי ההסכם ומנחם בגין בראשם, </b>טענו שבחתימת ההסכם יש עוול מוסרי מאחר והוא מהווה מחילה רשמית לנאצים על פשעיהם
          ונקיבת מחיר חומרי על סבל הקורבנות.
          <b>לעומתם, תומכי ההסכם, בראשם ראש הממשלה דוד בן-גוריון</b> טענו כי השילומים יסייעו למדינת ישראל לפתור את המשבר הכלכלי
          החמור בו הייתה נתונה באותה העת. בן-גוריון תבע את המושג "
          <b>גרמניה האחרת</b>", שמשמעו כי גרמניה של היום איננה עוד גרמניה הנאצית ועל כן אין יסבה לאפשר לרוצחים לרשת את קרבתיהם.
          לקראת הדיון בכנסת, ב-7 בינואר 1952, קיימו מתנגדי ההסכם הפגנת המונים שהחלה בכיכר ציון בירושלים, וצעדה לבניין הכנסת
          (אז בבית פרומין, מרחק דקות הליכה מהכיכר). סביב הבניין הוקמו מחסומים ואלפי חיילים ושוטרים הועמדו בכוננות מהחשש שההמון
          יפרוץ לבניין. ובסוף התקבלה ההחלטה ברוב של 61 ותומכים מול 50 מתנגדים, ההסכם נחתם בספטמבר 1952 וסכום השילומים חולק
          בין מדינת ישראל וועידת התביעות'', ארגון יהודי אמריקאי ללא כוונת רווח הכולל נציגים מארגונים שונים ומטרתו לסייע לניצולי
          השואה. בנוסף העניקה ממשלת גרמניה ''רנטות'',תשולם חודשי קבוע, לניצולי השואה.
          <br> לכספי השילומים נודעה חשיבות רבה בכלכלה הישראלית.
          <br>
        </p>

        <h2 class="book--topiccontent-title">4.7.4. משפט אייכמן </h2>
        <p class="book--text-style">
          במאי 1960 הודיע ראש הממשלה, דוד בן-גוריון, כי "אדולף אייכמן נמצא בארץ, ויעמוד בקרוב למשפט". אייכמן (1906-1962) היה מבכירי
          המנגנון הנאצי בגרמניה ומהאחראים להוצאתו לפועל של הפתרון הסופי. עם תום המלחמה ברח אייכמן בזהות בדויה לארגנטינה,
          הוא אותר על-ידי המוסד, הובא לארץ והואשם בפשעים נגד העם היהודי, פשעים נגד האנושות, פשעי מלחמה וחברות בארגון עוין
          (ס"ס, ס"ד וגסטפו).
          <br> ב-10 באפריל 1961 החל משפטו להתנהל בבית המשפט המחוזי בירושלים שפעל בהרכב מיוחד של שלושה שופטים וקיים את דיוניו
          בבית העם על-מנת לאפשר לציבור הרחב להאזין להם. התובע במשפט היה היועץ המשפטי לממשלה, גדעון האוזנר. המילים בהן פתח
          האוזנר את כתב התביעה נצרבו בזיכרון הישראלי המשותף:
          <br>
        </p>
        <blockquote>
          <p>
            "במקום זה בו אני עומד לפניכם, שופטי ישראל... אין אני עומד יחידי; עמדי ניצבים כאן, בשעה זו, שישה מיליון קטגורים. אך אין הם
            יכולים לקום על רגליהם, לשלוח אצבע מרשיעה כלפי תא זכוכית ולזעוק כלפי היושב שם: 'אני אשים'. מפני שעפרם נערם בין
            גבעות אושוויץ ושדות טרבלינקה, נשטף ביערות פולין, וקבריהם פזורים על פני אירופה"
          </p>
        </blockquote>
        <p class="book--text-style">
          במהלך המשפט הוצגו עדויות של למעלה ממאה ניצולים לצד אלפי מסמכים שחשפו את מעורבותו של אייכמן בהשמדת יהודי אירופה. אייכמן ניסה
          להציג עצמו כ"בורג קטן" שרק מילא את הפקודות שהטילו עליו מפקדיו; אך התביעה הוכיחה במשפט כי אייכמן הגיע להזדהות נפשית
          מלאה עם התפקיד שאותו נדרש לבצע. על אייכמן נגזר גזר דין מוות, היחיד בתולדות מדינת ישראל, שהוצא מיד לפועל. גופתו
          נשרפה ואפרו פוזר מחוץ למים הטריטוריאליים של מדינת ישראל.
          <br> המשפט הביא לשינוי היסטורי בתפיסת החברה הישראלית ביחס לשואה, בייחוד בקרב הדור הצעיר, ולשינוי ביחס אל הניצולים.
          עדויותיהם של ניצולי השואה הגיעו לכל בית בישראל והשואה חדלה להיות סיפור עמום ורחוק והפכה לסיפור אישי וקונקרטי שקרה
          לאנשים פרטיים.
          <br>
        </p>


      </div>

    </ion-content>
  </div>
