<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h1 class="book--topiccontent-starttitle"></h1>
      <p class="book--text-style">
        בשער זה עסקנו בנושא השואה; הגדרנו את האנטישמיות; דנו בהתפוררות הדמוקרטיה הגרמנית ובעליית הנאצים לשלטון; פרטנו את רדיפת והשמדת
        היהודים; וסיימנו בהתייחסות אל הקשר בין השואה למדינת ישראל. תפיסת "יעוד ויחוד" מתייחסת אל צה"ל וזיכרון השואה:
        <br> צה"ל – כמדינת ישראל כולה, רואה בשואה את אחד האירועים המרכזיים בדורות האחרונים ובהיסטוריה בכלל. מהווה מרכיב חשוב
        בכלל החינוך שמקנה צה"ל לחייליו. מה"ל יפעל להנחלת זיכרון השואה על-מנת לחזק את הקשר ואת תחושת השייכות של החייל למדינת
        ישראל ולצה"ל לא בכדי הקדשנו שער נפרד לתקופת השואה. כקצינים לעתיד בצה"ל ישנה חשיבות גדולה להיכרותנו עם הנושא ולחיזוק
        יכולתנו לעסוק בו עם חיילינו. מבחינה חינוכית עלינו להדגיש את משמעויותיה הייחודיות של השואה לצד משמעויותיה האוניברסליות
        ולעסוק בנושא כמרכיב בזהותנו כישראלים וכיהודים.
      </p>

    </div>

  </ion-content>
