<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <!-- <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()"> -->
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <!-- <button ng-click="markText()" class="marktext-button">click to mark</button>
    <div class="book" ng-class={mark:color}></div> -->

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" style="margin-top:30vh">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">פרק ראשון – ישראל: תעודת זהות </h1>
        <blockquote class="quoteColor">

          <p class="book--text-style">
            "מדינת ישראל תהא פתוחה לעלייה יהודית ולקיבוץ גלויות, תשקוד על פיתוח הארץ לטובת כל יושביה, תהא מושתתת על יסודות החירות, הצדק
            והשלום לאור חזונם של נביאי ישראל.</br>
            תקיים שוויון זכויות חברתי ומדיני גמור לכל אזרחיה בלי הבדל דת, גזע ומין, תבטיח חופש דת, מצפון, לשון, חינוך ותרבות."</br>
          </p>
        </blockquote>
        <h3 class="book--topiccontent-title lightHeebo">
          1.1 פתיחה: מדינת ישראל כמדינה יהודית ודמוקרטית.
        </h3>
        <p class="book--text-style">
          מייסדיה של ישראל שאפו להקים מדינה המקיימת תרבות ומשטר דמוקרטי ואשר אופייה ותרבותה הלאומיים יהיו מושתתים על היהדות. הם לא
          ראו בשני עקרונות אלו, עקרונות סותרים; אדרבה, על-פי מגילת העצמאות הם נובעים זה מזה:
          <blockquote class="quoteColor">

            "מדינת ישראל... תהא מושתתת על יסודות החירות, הצדק והשלום – לאור חזונם של נביאי ישראל."
          </blockquote>
          סקרי דעת קהל ומחקרים מלמדים שהגדרה זו מוקבלת על רובו המכריע של הציבור הישראלי, אולם לצד הסכמה זו מתקיים בישראל דיון ארוך
          שנים כיצד על היסודות היהודיים והדמוקרטיים לבוא לידי ביטוי.
          </br>
          בשנת 1992, עם חקיקתם של חוקי היסוד בהם הופיעה לראשונה ההגדרה "מדינה יהודית דמוקרטית" באופן מפורש, החל דיון ציבורי ביחס למשמעות
          המוזג. שלושה משופטי בית המשפט העליון הביעו בנושא זה עמדה מנומקת:
          <br>
          <b>השופט חיים כהן </b>(1911-2002) סבר כי יש למצוא את שורשי הדמוקרטיה ביהדות ובמשפט העברי; הוא ראה בצמד המילים "יהודית"
          ו-"דמוקרטית", מושג אחד וגרס כי יש לעצב ולבנות " יהדות שהיא דמוקרטית ודמוקרטיה שהיא יהודית."</br>
          <b>השופט מנחם אלון (1923-2013)</b>

          סבר כי היהדות והדמוקרטיה אינן מושג אחד , אלא שתי מערכות ערכיות מקבילות ושוות במעמדן והן צריכות להנחות את השופט. </br>
          <b>השופט אהרון ברק </b>(נולד -1936) ביקש לפרש פירוש מצמצם את המושג "יהדות", הוא סבר כי מדינת ישראל היא יהודית בכך
          שמתקיים בה רוב יהודי והרוב הזה משפיע על לוח השנה הלאומי ועל המרחב הציבורי בה. בנוסף, בעיניו, מדינת ישראל היא יהודית
          בכך שהיא שואבת את ערכיה האוניברסליים (כמו אהבת האדם, קדושת החיים, צדק חברתי וע') ממקורות יהודיים. </br>
          לכל אחת מן הפרשנויות הללו, יש כמובן גם השפעה מהותית על אופייה של מדינת ישראל וחוקיה. אך הדיון בחברה הישראלית הוא רחב יותר
          ונוגע לא רק ליחס בין היהדות הדמוקרטית אלא אף למשמעות של כל אחד מן המושגים בביטוי זה. למושג " יהדות" שלוש "פנים"
          מרכזיות:
          </br>
          <b>
            היהדות כדת- שעיקרה מצוות ההלכה,
          </b>
          והמסורת הדתית היהודית. מכאן, בהיותה של מדינת ישראל מדינה יהודית, עליה להביא לידי ביטוי את ההלכה בחיי היום- יום, בחקיקה ובמשפט.
          </br>
          <b>היהדות כלאום-</b> שמוקדו בגורל ובייעוד המשותפים לעם היהודי בארץ ובתפוצות. מכאן נגזרת הגדרתה של מדינת ישראל כמדינת
          הלאום של העם היהודי וככזו, עליה לפעול על – מנת להדגיש ולשמר עובדה זו. </br>
          <b>
            היהדות כתרבות- שמוקדה ברעיונות, סמלים ומסורות
          </b>
          יהודיים. מכאן, בהיותה של מדינת ישראל מדינה יהודית, עליה לחזק את התרבות היהודית ולהביא אותה לידי ביטוי כתרבות הרשמית של המדינה
          באמצעות מוסדותיה


        </p>
      </div>

    </ion-content>
  </div>
