<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title">1.2.1 הרשות המחוקקת: כנסת ישראל </h1>
        <p class="book--text-style">
          בישראל,
          <b>הכנסת מהווה את הרשות המחוקקת של המדינה.</b> מכהנים בה 120 חברים, הנבחרים על-ידי הציבור אחת לארבע שנים (בהנחה שהבחירות
          אינן מוקדמות). מקור השם "כנסת" הוא בכנסת הגדולה, אשר התכנסה בירושלים בימי הבית השני. בישראל
          <b>שיטת הבחירות היא פרלמנטרית</b>, הציבור בחור במפלגות, המפלגות חוברות ביניהן על-מנת להקים את הממשלה וראש המפלגה הגדולה
          ביותר בממשלה, הופך להיות ראש הממשלה. הכנסת מחולקת לשתי קבוצות:</br>
          קואליציה- המורכבת מחברי כל המפלגות השותפות בממשלה ותפקידה לגבות בכנסת את צעדי הממשלה ולנסות להגן עליהם.</br>
          אופוזיציה- המורכבת מחברי כל המפלגות שאינן שותפות בממשלה ותפקידה לנסות ולהציע בפני הציבור אלטרנטיבה לפעולות הממשלה ולהוביל
          את הביקורת על צעדיה.</br>
          במצב תקין, הקואליציה גדולה יותר מן האופוזיציה וכך יש רוב בכנסת השומר על יציבות הממשלה ומבטיח את יכולתה להביא את מדיניותה
          לכדי ביצוע. מצב בו האופוזיציה גדולה יותר מן הקואליציה, אינו מאפשר לממשלה לפעול ויוביל באופן טבעי לכינונה של ממשלה
          חדשה ובמקרים מסוימים גם לפיזור הכנסת ולעריכת בחירות חדשות.
          </br>לכנסת שני תפקידים מרכזיים: חקיקת חוקים ובקרה על עבודת הממשלה. חברי הכנסת רשאים לחוקק כל חוק ובפרט שהוא "חוקתי",
          קרי, אינו סותר את חוקי היסוד ואינו סותר את הגדרתה של ישראל כמדינה יהודית ודמוקרטית. הבקרה על עבודת הממשלה נעשית
          באמצעות היכולת להצביע
          <b>"אי-אמון"</b> ובכך לגרום לנפילתה, באמצעות היכולת לשאול "שאילתות" או להעלות נושאים לדיון ובאמצעות החובה לאשר במליאה
          צעדים מסוימים של הממשלה כגון ההחלטה על תקציב המדינה, חתימת חוזה שלום, יציאה למלחמה ועוד.</br>
          הכנסת פועלת באמצעות
          <B>המליאה </B>שהיא הגוף המרכזי שלה בו חברים כל חברי הכנסת; ובאמצעות
          <b>ועדות הכנסת</b>, בהן חברים מספר מצומצם של חברי כנסת על-פי חלוקה יחסית לגודלן של הסיעות. במליאה נידונים נושאים עקרוניים
          ומתבצעת ההחלטה על חקיקת החוקים. חברי הכנסת יכולים להעלות בה גם "נושאים לסדר היום" ולהפנות שאילתות להן מחויבת הממשלה
          לענות. בוועדות, לעומת זאת, נידונים נושאים ספציפיים בהתאם לנושאי העיסוק של הוועדה (חוץ וביטחון, כספים, חינוך, פנים
          וכו').
          </br>
          הוועדות עוסקות בעיצוב החוקים לאחר שעברו בקריאה ראשונה והתקבלו עקרונית ולפני שהם מתקבלים בקריאה שנייה ושלישית והופכים לחוקים
          רשמיים. הוועדות יכולות גם לזמן אליהן אזרחים או עובדים במשרדי הממשלה, על מנת להפוך את הדיון למקצועי ויסודי יותר.</br>
        </p>
        <h3 class="book--topiccontent-title">
          1.2.2 הרשות המבצעת: הממשלה
        </h3>
        <p class="book--text-style">
          בתום הבחירות לכנסת, מזמן אליו נשיא המדינה את נציגי המפלגות, ובעקבות השיחות עמם הוא מטיל את הקמת הממשלה על חבר הכנסת, בעל
          הסיכוי הגבוה ביותר להצליח, להרכיב ברית (קואליציה) של מפלגות שיסכימו לכונן את הממשלה ולפעול על – פי קווי יסוד משותפים.</br>
          בהתאם לסיכום עם המפלגות ממנה ראש הממשלה את השרים. השרים הם ברובם חברי כנסת מן הקואליציה, אך ראש הממשלה יכול למנות גם אדם
          שאינו חבר כנסת לתפקיד שר.
          <b>ממשלת ישראל מורכבת מסך כל השרים בממשלה</b>, כל שר הוא חבר בממשלה וכל חברי הממשלה הם שרים. לאחר שהורכבה הממשלה היא
          מוצגת בפני הכנסת ומפרטת את
          <b>"קווי היסוד"</b> שלה, קרי, העקרונות על-פיהן היא מבקשת לנהל את המדינה בשנים הקרובות.
          <br> קיום הממשלה מותנה באישור הכנסת: ללא אמון הכנסת לא תוכל ממשלה חדשה לקום, אם תביע הכנסת אי-אמון בממשלה היא תחדל
          להתקיים ומשרדי הממשלה פועלים בכפוף לחוקים המתקבלים בכנסת. אולם, במצב תקין לממשלה יש רוב בכנסת וללא אישורה לא מתאפשר
          לחוקק חוקים או לקבל החלטות. השרים קובעים ומבצעים את מדיניותה של ישראל בתחומים השונים: ביטחון חוץ, כלכלה, חינוך,
          בריאות וכו'. משרדי הממשלה השונים אחראים גם להפעלתם של כלל מוסדות המדינה: השב"כ והמוסד (משרד ראש הממשלה), מערכת
          החינוך (משרד החינוך), צה"ל (משרד הביטחון), שגרירויות במדינות זרות (משרד החוץ),משטרה (המשרד לביטחון פנים) וכן הלאה.</br>
          בנוסף לפעולותיהם של המשרדים עצמם, מקיימת הממשלה ישיבות (על-פי רוב שבועיות) בהן מתקבלות ההחלטות המרכזיות באשר לדרך פעולתה
          של המדינה בנושאים העקרוניים והחשובים ביותר. היא אף מקיימת ועדות שונות המתמקדות בתחומי-פעולה המשותפים לכמה שרים
          ועל-פי רוב גם מקיימת גוף מצומצם של שרים המכונה
          <b>קבינט</b> או
          <b>מטבחון</b>, בו נידונים נושאים הדורשים הכרעה מידית, בעיקר בתחום הביטחוני. כל אחד מן השרים נושא באחריות משותפת בנוגע
          להחלטות ולפעולות הממשלה. בנוסף, שר נושא האחריות בלבדית על החלטותיו ופעולותיו של משרדו.

        </p>
        <h3 class="book--topiccontent-title">
          1.2.3 הרשות השופטת: בתי המשפט
        </h3>
        <p class="book--text-style">
          מערכת בתי המשפט בישראל מטפלת בתביעות המוגשות במקרים של חשד להפרת החוק: הן בתביעות של אזרחים כלפי אזרחים (
          <b>משפט אזרחי</b>); הן בתביעות של המדינה כלפי אזרחיה (
          <b>משפט שלילי</b>); והן בתביעות של אדם הרואה את עצמו נפגע כתוצאה מפעילות של רשויות המדינה (
          <b>משפט המנהלי</b>). בעיסוק אחרון זה מקיימת למעשה הרשות השופטת בקרה על הרשות המחוקקת והרשות המבצעת. לעומת זאת, החוקים
          על פי-הם מתבצע המשפט, מחוקקים על-ידי הרשות המחוקקת, וביצוע גזר הדין מוטל על הרשות המבצעת .
          </br>
          העיקרון החשוב ביותר במערכת המשפט, המהווה תנאי לאימון של ציבור האזרחים בה, הוא היותה מערכת ניטרלית, עצמאית ונטולת פניות. מסיבה
          זו בחירת השופטים מבוצעת על-ידי ועדה מיוחדת ולא על-ידי חברי הכנסת או הציבור, ומסיבה זו גם אין אפשרות לפטר שופט,
          הוא מסיים את תפקידו באופן אוטומטי בהגיעו לגיל שבעים. בנוסף, נקבעו מספר עקרונות יסוד על-פיהם פועלת המערכת, בין היתר:</br>
          <u>הזכות להליך הוגן-</u> כל אדם זכאי להליך משפטי מסודר, לייצוג משפטי שיאפשר לו להעלות את טענותיו בפני השופט ולהזדמנות
          שווה לטעון את טענותיו, ללא קשר לחומרת האשמות התלויות נגדו.
          <u>פומביות המשפט-</u> הצדק חייב להיראות ולא רק להיעשות; הדיונים בבית המשפט פומביים, הפרוטוקולים שלהם פתוחים ולכל אדם
          מותר לצפות במשפט. כל זאת, להוציא מקרים מיוחדים של דיונים הנערכים ב- " דלתיים סגורות" בשל נסיבות מיוחדות</br>
          <u>שוויון בפני החוק-</u> כל אדם ללא תלות במוצאו, במעמדו, במינו או בדתו, זכאי ליחס שוויוני מצד השופט ולמשפט צדק; אכיפת
          החוק צריכה להיות שוויונית ולהתבצע באופן אחיד ועקבי.</br> מערכת בתי המשפט בארץ מחולקת לשלוש דרגות (ערכאות); כל מקרה
          מובא בפני הערכאה המתאימה לו בהתאם לטיבו, ובמקרה בו אחד מן הצדדים מתנגד להכרעת הדין, הוא זכאי להגיש ערעור לערכאה
          הבאה בהיררכיה:
          </br>
          <u>בית המשפט העליון-</u> בו מתבררים בעיקר ערעורים על פסקי דין שנידונו בבית המשפט הזה יושב גם בבית משפט גבוה לצדק (ראה
          בהמשך) והוא המכתיב את ההלכות המשפטיות ופירושי החוקים המחייבים את הערכאות הנמוכות יותר
          </br>
          <u>בית המשפט המחוזי-</u> עוסק במשפטים חמורים יותר, כגון סכסוכים כספיים גדולים או עבירות פליליות חמורות. בתי המשפט
          המחוזיים פועלים בירושלים, בתל-אביב בחיפה, בנצרת, בלוד ובבאר-שבע.</br>
          <u>בית משפט השלום-</u> עוסק בעיקר במשפטים שאינם חמורים, כגון סכסוכים אזרחיים עד סכום מסוים, המתעדכן מעת לעת, או עבירות
          פליליות שעונשן מוגבל.</br> מלבד זאת, קיימים מספר בתי-משפט מיוחדים המתמחים בסוגיות שונות כגון: נוער, משפחה, עבודה,
          תעבורה ועוד.</br>
          אחד מתפקידיו של בית המשפט העליון הוא לשמש כ
          <b>בית משפט גובה לצדק (בג"ץ).</b> במסגרת זו עוסק בית המשפט בעתירות שמגישים אזרחים או גופים הרואים את עצמם נפגעים מפעולותיה
          של המדינה או של אחת מרשויותיה. בין השאר, דן בג"ץ בעתירות כנגד חוקים אותם קיבלה הכנסת ונטען כי אינם חוקתיים, בעתירות
          כנגד מדיניותם של גופים ממשלתיים ובעתירות יום-יומיות יותר ביחס למקרים פרטיים. שאלת האיזון בין הרשות השופטת לרשויות
          האחרות בכלל ושאלת סמכותו של בג"ץ לדון בשאלות פוליטיות ומדיניות בפרט, נמצאת במרכז השיח הציבורי במדינת ישראל.
        </p>
        <h3 class="book--topiccontent-title">
          1.2.4 האזרח במדינה יהודית דמוקרטית
        </h3>
        <p class="book--text-style">
          האיזון בין הרשויות השונות נועד במהותו לשרת את האזרח ולמונע מצב בו אדם או קבוצה מסוימת תופסים בפועל את השלטון ואינם כפופים
          לפיקוח או למגבלות, או לחלופין מצב בו מוסדות המדינה נוהגים בחוסר הוגנות כלפי האזרח מבלי שיוכל להגן על עצמו. השלטון
          הנבחר במדינה דמוקרטית מושל במדינה בהסכמת כלל האזרחים ובכלל זאת גם בהסכמת המיעוט שלא בחר בו. גם אם יש המתנגדים לממשלה
          הנבחרת, כלל האזרחים במדינה דמוקרטית מסכימים ביניהם על שאיפתם לחיות יחד תחת מסגרת מדינית משותפת הפועלת בהתאם ל-"כללי
          המשחק" להם הם מחוייבים. למעשה, המערכת והמוסדות הדמוקרטיים נועדו למנוע מצב של אנרכיה, בו האזרחים משיגים את מטרותיהם
          באמצעות כוח הזרוע. ללא קבלת כללי הדמוקרטיה לא תוכל המדינה לשמור על צביונה ולא יוכל האזרח להביע את דעתו או להשפיע
          על האופן בו מתנהלים חייו. על כן, תפקידה של חברה השואפת לשמר את הדמוקרטיה לטובת כלל חבריה, הוא לחנך לדמוקרטיה ולהדגיש
          את הערכים המרכזיים העומדים בבסיסה, דוגמת החשיבות והלגיטימיות שבקיומו של ויכוח חופשי המבטא ריבוי דעות, הסלידה מהאלימות,
          כיבוד החוק ובחירת הרוב, זכויות האדם והאזרח ועוד.

        </p>
        <h3 class="book--topiccontent-title">
          1.2.5 צה"ל צבא במדינה יהודית ודמוקרטית
        </h3>
        <p class="book--text-style">
          צה"ל הוא צבא עם מדינה יהודית-דמוקרטית, עובדת יסוד המשפיעה על אופיו ועל דרכי פעולתו. על אף העובדה שצבא הוא ארגון טוטלי והיררכי
          אשר בין שורותיו אין נהוגה דמוקרטיה, מבטא צה"ל מספר מאפיינים דמוקרטיים. ראשית, הוא מהווה
          <b>זרוע מבצעת</b> של הממשלה שנבחרה באופן דמוקרטי ותפקידו לבצע החלטות שהתקבלו על-ידי הכנסת והממשלה. על המשמעות העמוקה
          של עובדה זו עמד דוד בן-גוריון, ראש הממשלה ושר הביטחון הראשון:</br>
          "הצבא הוא מכשיר האומה, לא הצבא קובע מה תעשה האומה, ולא הצבא קובע מה יעשה הצבא... כל הצבא, בלי יוצא מן הכלל, יעשה רצון המדינה,
          ויהיו דעותיהם של החיילים אשר יהיו. כאזרחים יחוו גם דעתם בבחירות, אבל כחיילים יפעלו אך ורק על פי פקודה מוסמכת".</br>
          צה"ל כפוף, על כן, לדרג המדיני, יונק את סמכותו מהחלטותיו ופועל לממשן. מתוקף כך, נדרשים חיילי צה"ל לציית לפקודות הצבא, בין
          אם הפקודות עולות בקנה אחד עם עמדותיו האישיות של החייל ובין אם לאו. החייל אינו מחויב להזדהות עם המשימה המוטלת עליו,
          אולם הוא נדרש להזדהות עם
          <b>חובת ביצוע המשימה</b>, שהיא מרכיב בשמירת חוסנה של מדינת ישראל ובסיכול כל ניסיון לשבד את התנהלותה הדמוקרטית ואת
          אורח החיים התקין בה.</br>
          עובדת היותו של צה"ל זרוע מבצעת, משפיעה גם על הייצוגיות הנדרשת מחייליו וממפקדיו, ועל אופיו הא-פוליטי אשר בזכותו הוא מצליח
          להישמר מחוץ למחלוקת בחברה הישראלית, כמוקד של הסכמה רחבה ושל חוסן לאומי. כאזרח במדינת ישראל, זכותו ואף חובתו של
          החייל להחזיק בעמדה פוליטית ולהצביע בבחירות במטרה להשפיע על הרכבו של הדרג המדיני. עם זאת,
          <b>פקודות צה"ל אוסרות על חיילי צה"ל הבעתם דעותיהם הפוליטיות בציבור במהלך שירותם, לרבות השתתפות בהפגנות וחתימה על עצומות
            בעלות אופי פוליטי – בין מדים ובין בלבוש אזרחי</b>.</br>
          בנוסף, מתוך הנחה שצה"ל ייטיב לבצע את משימותיו אם חייליו יבינו את משמעות היותם חיילים בצבאה של מדינה יהודית ודמוקרטית, ומתוך
          מחויבותו למדינה ולחייל כאזרח בה; פועל צה"ל לחזק בקרב חייליו ופקדיו את תחושת המחויבות כלפי המדינה וערכיה. צה"ל מסתמך
          לשם כך על מרכיבים שונים מתוך אוצר הזיכרון היהודי וזאת מבלי להכריע בשאלות הנתונות לשיח ציבורי באשר למהותה של היהדות
          או לאופייה הרצוי של הישראליות. פעילות זו משמשת לחיזוק תחושת הלכידות ביחידה והסולידריות בעם, ומהווה תשתית למוטיבציה
          ולתובנות המשימה של החיילים.</br>
          בנוסף, המרחב המשותף בצה"ל הוא בעל צביון יהודי. אין הכוונה בכך לשמירה על זכותו ועל חירותו של כל פרט לנהוג על-פי מנהיגיו הדתיים
          (זמני תפילות, צומות), אלא במאפיינים הנוגעים לאופי סביבת השירות ולאופי הארגון. הצביון היהודי של המסגרת הצבאית כולל
          את שמירת הכשרות בכל מטבחי צה"ל, את נוהל השבת, את הטיפול של הרבנות הצבאית בחללים ובעניי אישות, את האפשרות לגיור
          בצבא וכן גם את עיסוקם של מפקדים וחיילים בסוגיות של זהות ותודעה יהודית במסגרת פעילויות החינוך והעיסוק בצדקת הדרך.

        </p>
        <h3 class="book--topiccontent-title">
          1.2.6 החייל בצה"ל צבא עם במדינה יהודית ודמוקרטית
        </h3>
        <p class="book--text-style">
          בנוסף לעקרונות אלו שהם עקרונות כלליים, משפיעה הגדרתה של ישראל כמדינה יהודית ודמוקרטית גם על אורח חייו ועל מהות פעילותו של
          החייל. חלק מן החירויות מהן נהנים האזרחים במדינת ישראל נשללות מן החייל הנדרש לבצע את פקודות הצבא ונאסר עליו לפעול
          בניגוד להן. יחד עם זאת, פקודותיו של צה"ל כפופות גם הן לעקרונות הדמוקרטיה ומחויבות להיות שוויוניות וסבירות. כל חייל
          בצה"ל יכול לערער על החלטות מפקדיו על-פי הפקודות והדרכים המקובלות ואף לקבול אותן באמצעות נציב קבילות החיילים.</br>
          (
          <u>נציב קבילות החיילים</u> הוא מוסד הקיים מתוקף חוק השיפוט הצבאי (1955) ובו מתבררות תלונות של חיילים, מועמדים לשירות
          ביטחון ובני משפחותיהם מדרגה ראשונה ביחד לאדם או גוף צבאי אחר שהם חשים עצמם כנפגעים ממנו. כל חייל או מפקד, בסדיר
          או במילואים, רשאי לפנות אל הנציב ללא קשר לדרגתו או תפקידו של הנקבל.)</br> צה"ל אף מגדיר ומנחה את חיייליו להבחין
          בין הפקודות הניתנות להם. החייל נדרש לציית לפקודות חוקיות בלבד. במקרה של פקודה בלתי חוקית, הוא נדרש לבצעה ולפעול
          לאחר מכן על-מנת להדגיש את אי חוקיותה בפני הגורמים הרלוונטיים. במקרה של פקודה בלתי חוקית בעליל, מושג שנתווה ביחס
          לפקודה שניתנה במהלך טבח בכפר קאסם ומתייחס אל פקודה בלתי חוקית שעשויה לפגוע במישרין בחייו של אדם, מוטלת על החייב
          חובה לסרב לה.
          </br> יתר על כן, במישור הרעיוני החייל נדרש לוותר לזמן קצוב הקבוע בחוק על חירויותיו לשם הגנה על אותן החירויות. הוא
          מגויס לצבא מתוקף ההסכמה החברתית הרחבה על " כללי המשחק" של הדמוקרטיה ופועל למעשה על-מנת להגן עליהם. כך החייל הוא
          זה הנותן למפקדו את האפשרות לתת לו פקודות.
        </p>


      </div>


    </ion-content>
  </div>
