<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">1.3 סמלים לאומיים </h1>
        <p class="book--text-style">
          במדינת הלאום המודרנית ממלאים סמלי המדינה (דגל, סמל והמנון) מספר תפקידים חשובים. הם מייצגים את ריבונותה ואת מוסדותיה מבית
          ומחוץ. סמלי המדינה מעניקים ביטוי ללכידותה של האומה, לערכיה המשותפים, לזהותה ולמורשתה. זרח ורהפטינג (1906-2002),
          חבר מועצת המדינה הזמנית אשר נמנה על החותמים על מגילת העצמאות, קבע כי, בכל הנוגע לסמלי המדינה, צריך לנהוג הכלל לפיו
          <blockquote class="quoteColor">

            " העתיק יותר הוא המקודש יותר... צריכה ללוות אותנו המחשבה כי לא יצרנו מדינה חדשה, אלא חידשנו מדינה שהייתה קיימים בימים עברו"
          </blockquote>
          , ואכן במדינת ישראל, בה גרעין הזהות הלאומית הוא יהודי, מזוהים סמליה של המדינה עם המורשת ההיסטורית של היהדות.
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          1.3.1 סמל המדינה
        </h3>
        <p class="book--text-style">
          עם הקמתה ביקשה מדינת ישראל לאמץ לעצמה סמל רשמי. מועצת המדינה הזמנית מינתה ועדת סמלים מיוחדת, אשר פנתה אל תושבי המדינה והזמינה
          אותם להציע את הצעותיהם. מתוך מאות הצעות שהוגשו לוועדה, נבחרה בסיכומו של התהליך הצעתם של המעצבים גבריאל ומקסים שמיר.
          הסמל אותו עיצבו שוזר יחדיו שלושה מרכיבים:</br>
          מנורה בת שבעה קנים, ענפי זית והשם "ישראל". המנורה מייצגת את עברו הלאומי של העם ואת מאבקו לחירות. צורת המנורה המופיעה בסמל,
          מבוססת על תבליט המופיע על שער טיטוס ברומא בו מתוארים כלי המקדש שנלקחו בשבי עם חורבן בית המקדש השני. לבחירה זו משמעות
          סמלית – אותה מנורה שציינה את היציאות לגלות, מבטאת כיום את חזרתם של היהודים למדינתם הריבונית. ענפי הזית מסמלים את
          העתיד ואת השאיפה לשלום. סמל המדינה קשור בבסיסו גם אל חזון זכריה שבאחת מנבואותיו נגלה אליו מחזה של מנורה ושני ענפי
          זית:
          <blockquote class="quoteColor">

            " ראיתי והנה מנורת זהב כלה... ושבעה נרתיה עליה... ושנים זיתים עליה..." (זכריה ד, ב-ג)
          </blockquote>

        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          1.3.2 דגל המדינה
        </h3>
        <p class="book--text-style">
          דגל מדינת ישראל הוא בעל רקע לבן, במרכזו מגן דוד ולאורכו שני פסים בגוון תכלת כהה. את ההשראה לעיצובו העניקה
          <b>הטלית</b> בה נוהגים יהודים להתעטף בעת התפילה. דגל זה ליווה את התנועה הציונית כמעט מיום היווסדה. במהלך ההכנות לקראת
          הקונגרס הציוני הראשון, הגר דוד וולפסון (1885-1914), עוזרו של הרצל, את הרעיון: "הרי יש לנו דגל! הוא כחול לבן כמו
          הטלית", פסק והזמין דגל לבן מעוטר בשני פסי תכלת. בשנת 1993, בקונגרס הציוני השמונה-עשר, התקבל הדגל כדגלה הרשמי של
          ההסתדרות הציונית והעם היהודי.</br>
          עם קום מדינת ישראל התלבטה מועצת המדינה הזמנית לגבי דגלה ובתחילה הזמינה את הציבור להציע את הצעותיו כפי שהיה במקרה של הסמל.
          דגל התנועה הציונית נבחר באופן רשמי לשמש כדגלה של מדינת ישראל ב-28 באוקטובר 1948, והוא הועדף על פני רעיונות נבחר
          אחרים, משום שכבר היה מוכר היטב בציבור היהודי וזוהה כסמלו של המפעל הציוני.
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          1.3.3 המנון המדינה
        </h3>
        <p class="book--text-style">
          ההמנון של מדינת ישראל, "התקווה", נכתב על ידיד המשורר
          <b>נפתלי הרץ אימבר </b>(1856-1909) – ב-1878:</br>
          <b>
            כל עוד בלבב פנימה</br>
            נפש יהודי הומיה </br>
            ולפאתי מזרח קדימה </br>
            עין לציון צופיה </br>
            עוד לא אבדה תקותנו</br>
            התקוה בת שנות אלפים</br>
            להיות עם חפשי בארצנו</br>
            ארץ ציון וירושלים</br>
          </b>
          אימבר שנולד בגליציה הגיע לארץ במהלך העלייה הראשונה, נדד בין המושבות השונות והפיץ בין תושביהן שיר בן תשע בתים המתאר את שיבתם
          של היהודים לארץ ("תקותינו"). השיר נפוץ במהירות והושר בלחן עממי אותו צירף לו החלוץ שמואל כהן מראשון לציון (1870-1940).</br>
          מילותיו של השיר, המבטאות זיקה וכמיהה לציון, קיבלו משמעות מיוחדת בפי מתנגדי תכנית אוגנדה בקונגרס הציוני השישי (1903). בקונגרס
          השמונה-עשר (1933) נקבעה "התקווה" כהמנון הרשמי של מילות השיר מבטאות את שאיפתו של העם היהודי שליווה את התנועה הציונית
          מראשיתה, מוסיף לשמש גם כיום כהמנון הרשמי, ובשנת 2004 אף עוגן מעמדו בחוק המדינה.
        </p>

      </div>


    </ion-content>
  </div>
