<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-starttitle">1.4 סיכום </h1>
        <p class="book--text-style">
          מדינת ישראל היא מדינה יהודית ודמוקרטית. המשטר הדמוקרטי נועד להבטיח את חירויות הפרט ואת זכויותיהם של כלל האזרחים במדינה ובכלל
          זאת גם זכויותיו של המיעוט. לדמוקרטיה במדינת ישראל
          <u>היבטים פורמליים </u>הבאים לידי ביטוי בעיקר בקיומן של בחירות חופשיות לצד
          <u>היבטים ערכיים </u>הבאים לידי ביטוי בהקפדה על זכויות האדם והאזרח. הצביון היהודי של מדינת ישראל מוצא את ביטויו
          <u>בדמוגרפיה</u>
          (שלושה מכל ארבעה תושבי ישראל מגדירים עצמם כיהודים)
          <u>בחקיקה</u> (חוקים המקנים עדיפות אזרחית ליהודים, כדוגמת חוק השבות),
          <u>בתרבות</u>
          (חגים יהודיים הם חגים לאומיים, סמלים יהודיים כגון מגן דוד והמנורה הם סמלי המדינה)
          <u>ובטריטוריה</u> (מדינת ישראל הוקמה על אדמת ארץ ישראל בשל הזיקה של העם היהודי למולדתו).
          </br> השילוב בין יהדות לדמוקרטיה הציבו בפני מדינת ישראל אתגרים ושאלות מהותיות לאורך שנות קיומה: כיצד יש להתייחס
          לאזרחים הלא יהודים של המדינה? מהן זכויותיהם? מהו מקום שיש לתת לתורת ישראל ולמסורת ישראל בחקיקה ישראלית? כיצד יש
          לנהוג כאשר מתגלה אי –התאמה בין ההלכה לבין חוקי המדינה? באלו תחומים ראוי לחוקק חוקים הנותנים יחס מיוחד לטובת אזרחיה
          היהודים של המדינה? ועוד.</br> אתגרים אלה מלווים את המדינה גם בימים אלו וככל הנראה, ימשיכו ללוות אותה גם בעתיד;
          הדיון בהם מדגיש את חוזקה של הדמוקרטיה הישראלית.

        </p>


      </div>


    </ion-content>
  </div>
