<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">כפי שראינו במהלך השנים שחלפו מהעליה הראשונה ועד להקמתה של מדינת ישראל הצליחה להתהוות בארץ תשתית ארגונית שהיוותה את
          המסד עליו נבנתה מאוחר יותר מדינת ישראל. תוכנה של מגילת העצמאות מבטא את תפיסות העולם הערכיות ביחס לטיבו של הבית
          הלאומי כפי שהתעצבו במרוצת הדורות בכלל ובתקופת הישוב בפרט. בתקופה זו התרחשו רבים מן האירועים המכוננים שמשפיעים על
          מדינת ישראל עד לימים אלו והוקמו כמה מן המוסדות שלאחר הקמת המדינה הוסבו ועמדו בבסיסם של המוסדות הממלכתיים. הכרות
          עם תקופה זו היא על כן חיונית לשם הבנה אמיתית ומלאה של מדינת ישראל ושל דרכי פעולתה. </p>

      </div>

    </ion-content>
  </div>
