<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h2 class="book--topiccontent-starttitle">
          שער חמישי
          <br> בדרך למדינה
        </h2>
        <p class="book--text-style">
          <span>"מתוך קשר היסטורי ומסורתי זה, חתרו היהודים בכל דור ודור לשוב ולהיאחז במולדתם העתיקה, ובדורות האחרונים שבו לארצם
            בהמונים וחלוצים מעפילים ומגנים הפריחו נשמות, החיו שפתם העברית, בנו כפרים וערים והקימו ישוב גדל והולך."</span>
        </p>

        <h3 class="book--topiccontent-title">
          5.1 פתיחה: יישוב חדש ויישוב ישן
        </h3>
        <p class="book--text-style">במהלך עשרות השנים שקדמו להקמת המדינה, התפתח בארץ במהירות יישוב יהודי גדול ומאורגן שהיווה, כפי שמציינת מגילת העצמאות,
          את התשתית המעשית והאידאולוגית להקמתה של מדינת ישראל ב-1948. לפני העליות הציוניות התקיים בארץ יישוב קטן יחסית של
          יהודים אדוקים בדתם שהתרכז בעיקר ב- " ארבעת ערי הקודש" (ירושלים, צפת, טבריה וחברון), וכונה
          <strong>"היישוב הישן</strong>". החל מן העלייה הראשונה החלו להגיע לארץ עולים חדשים שקיבלו את הכינוי
          <strong>"היישוב החדש"</strong>.</p>
        <p class="book--text-style">את הטיפוסים המאפיינים כל אחתת מן הקבוצות מתאר ש"י עגנון ברומן "תמול שלשום", במהלכו הוא מבקש להבדיל בין יצחק קומר,
          שעלה לארץ במהלך ימי העלייה השנייה "כדי לעבוד את הארץ ולהקים אותה מחורבנה. ידיו שוקקות לעבוד כל עבודה. ולכשתגיע
          הספינה ליפו ילך למושבה וייטול מעדר ויעבוד; לבין זוג זקנים אותם הוא פוגש בדרכו לארץ המתוארים כ"אוכלי לחם" החלקוה,
          כשבאים מכל הארצות ולומדים תורה מתוך בטלה, ורצים מקבר לקבר,עד שכלים ומתים ומוסיפים קברים על קברים". חלוקה ברורה
          זו ל- "ישן" ו-"חדש" היא חלוקה שטמון בה שיפוט אידאולוגי ברור, והיא לא מביאה בחשבון את המורכבות של כל אחת מן הקבוצות
          ואת המעבר ההדרגתי מיישוב ישן לחדש. היישוב הישן זוהה בעיקר עם ה-"כוללים" האשכנזים, מסגרות לימוד תורה שפעלו לפי ארצות
          המוצא והתנהלו על בסיס כספי החלוקה, כספים ייעודיים שנאספו בקהילות יהודיות בתפוצות על מנת לפרנסם. אולם מבנהו ותפיסותיו
          של "היישוב הישן" הספרדי, שהיווה את רובו של היישוב הישן באותה העת, היו, לעומת זאת, מגוונים יותר. הספרדים עבדו ברובם
          לפרנסתם ותמיכה כלכלית ניתנה רק למגזרים מסוימים בחברה (יתומים, אלמנות, זקנים, ותלמידי חכמים). הספרדים היו שונים
          מן האשכנזים גם ביחסם העקרוני אל המודרנה &ndash; בעוד שהאשכנזים נרתעו ממנה מכול וכול, גילו הספרדים יחס מורכב יותר
          לגביה. השינוי המרכזי שהתרחש בארץ ישראל, עוד קודם לעליות הציוניות, היה הגידול הניכר במספר תושביה שהיה גבוה במיוחד
          באוכלוסייה היהודית. בראשית המאה התשע- עשרה מנתה אוכלוסיית הארץ כ-6000 יהודים בלבד, ואילו לקראת סופה, בשנת 1880,
          מנתה האוכלוסייה היהודית כבר למעלה מ-26,000 איש. גידול זה, של למעלה משלוש מאות אחוזים, אינו נזקף כמובן רק לטובת
          הריבוי הטבעי, השפיעו עליו גם עליות קדם צבאיות שהחלו להגיע לארץ הודות לשיפור בדרכי התחבורה ובמצב הביטחוני וכן גם
          המעורבות ההולכת וגוברת של המעצמות האירופאיות בארץ.
        </p>

        <p class="book--text-style">כל אלו הובילו לשינויים ביישוב הישן שלא נבעו אמנם ממניעים ציוניים, אך היה בהם לסמן כיווני התפתחות דומים. להלן נסקור
          שתי התפתחויות מרכזיות: היציאה מן החומות בירושלים וראשיתה של ההתיישבות החקלאית בפתח תקווה ובראש פינה. חשוב לזכור
          שלצדם של אירועי אלו, התרחשו ביישוב ההתפתחויות נוספות: פתיחתם של בתי ספר חדשים בהם למדו לימודי חול ( בית ספר אוולינה
          דה-רוטשילד, בית הספר למל, ומאוחר יותר &ndash; בית הספר כי"ח); פרסומם של עיתונים חדשים בעברית ("החבצלת", "הלבנון"
          ) התרחבות ההתיישבות ביפו ועוד.</p>

        <p class="book--text-style">
          <strong>"היציאה מן החומות"</strong> הוא כינוי לתהליך בו התפתחה ירושלים המודרנית ונבנו השכונות היהודיות מחוץ לרובע היהודי
          שבעיר העתיקה שנבנו כמה מאות שנים קודם לכן. אוכלוסייתה המתרחבת של העיר ומוסדותיה, היו מרוכזים בשטח קטן, הצפיפות
          החריפה והמצב התברואתי היה רע למדי. הראשונים להתיישב מחוץ לחומות העיר היו באי כוחן של מעצמות אירופאיות שונות שבנו
          כנסיות, אכסניות ומנזרים בעבור צליינים. מאוחר יותר החלה גם בנייה של בעלי ממון ערבים שמאסו בצפיפות שבין החומות.</p>

        <p class="book--text-style">ההתיישבות היהודית מחוץ לחומות החלה ביוזמות פילנטרופיות של יהודים עשירים שרצו לסייע לתושבים היהודים, אחת המפורסמות
          שבהן הייתה יוזמתו של משה מונטיפיורי. מונטיפיורי (1885-1784) נולד בליוורנו, באיטליה והיגר אל בריטניה, שם הפך לאיש
          ציבורי רם מעלה. לא פעם הוא השתמש במעמדו על מנת לסייע לקהילות יהודיות שונות ברחבי העולם. בשנת 1860 הוא יזם את הקמתה
          של השכונה היהודית הראשונה מחוץ לחומות &ndash; משכנות שאננים. בתחילה התייחסו רבים רבים אל התיישבות זו בחשד, אך בסופו
          של דבר, המצב הקשה בעיר העתיקה, העוני והתחלואה, הביאו להקמת שכונות נוספות (מחנה ישראל, נחלת שבעה, מאה שערים ועוד),
          חלקן ביוזמה ציבורית-מקומית וחלקן ביוזמה אישית. תוך עשרות שנים הועתק המרכז העירוני של ירושלים ומרכז הכובד של היישוב
          היהודי בעיר, אל העיר החדשה.</p>

        <p class="book--text-style">במקביל החלו באותה העת גם מספר ניסיונות להתיישבות חקלאית של יהודים. באזור צפת רכשו מספר אישי ציבור, בראשם ר' ישראל
          ב"ק, ר, שמואל עבו ואליעזר רוקח***, אדמות במטרה להקים מושבה חקלאית. תכניתם יצאה אל הפועל בשנת 1878 (תרל"ח) בגיא
          אוני שתהפוך לימים לראש פינה. במושבה התיישבו שבע עשרה משפחות יהודיות מצפת ששאפו להתנתק מכספי החלוקה, ולקיים את עצמן
          באופן עצמאי. אך הבצורת והיעדר הניסיון החקלאי, הביאו את רוב המשפחות לנטוש את המושבה. היישוב במקום הורחב וחודש רק
          בעלייה הראשונה (1882) כשקבוצת חסידים מרומניה התיישבה באזור. כמעט במקביל להקמתה של ראש פינה, הוקמה בשרון מושבה נוספת:
          פתח תקווה שכונתה לימים, אם המושבות. את המושבה יסדו מספר אנשי ציבור מן היישוב הישן בירושלים ובהם יהושע שטמפפר, דוד
          גוטמן, יואל משה סלומון, זרח ברנט ומשפחת ראב. התבואה של השנה הראשונה אמנם עלתה יפה, אך כמו בראש פינה, התגלו עד מהרה
          קשיים, בעיקר בעקבות מגפה של מלריה. המושבה ננטשה והיישוב בה חודש רק לאחר העלייה הראשונה.</p>

      </div>

    </ion-content>
  </div>
