<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">ראשיתו של "היישוב החדש" בארץ הוא בעלייה הראשונה שהחלה ב-1882 ונמשכה עד ל-1903. באותה התקופה החל גל הגירה גדול ממזרח
          אירופה שכלל יהודים ולא יהודים כאחד, שכפי שציינו לעיל הופנה ברובו אל ארצות הברית. ברקע לעזיבת היהודים את האזור ולעלייתם
          לארץ ישראל, עומדים גם ראשית פעולתן של תנועות " חובבי ציון" שהפיצו רעיונות לאומיים קרב היהודים, וכן, מצבן הקשה במיוחד
          של הקהילות היהודיות בתחום המושב הרוסי. במהלך תקופה זו עלו לארץ כשלושים אלף עולים, רובם מרוסיה, פולין ורומניה. מרבית
          העולים התיישבו ביפו ובירושלים אך כ-5000 מהם, שדגלו בעבודת אדמה, הקימו יותר מעשרים מושבות חקלאיות חדשות. מושבות
          אלו שינו את מפת הארץ, והיוו יישובים יהודיים ראשונים מחוץ לארבעת ערי הקודש (ירושלים, צפת, חברון וטבריה). העלייה
          הראשונה היוותה את גל ההגירה הראשון לארץ ישראל שמאחוריו עמדה אידאולוגיה ציונית- לאומית ברורה. העולים יצרו לראשונה
          שורה של יישובים ומוסדות עצמאיים, עובדה, שכפי מציין ההיסטוריון רן אברהמסון, אינה פחות ממהפכנית:</p>

        <p class="book--text-style"> &nbsp;&nbsp;&nbsp; האדמות שניקנו היו פרושות על פני אזורי הארץ השונים.. שטחים גדולים הוכשרו ועיבוד חקלאי, דרכים רבות
          נסללו בהם ואליהם... הונחה תשתית שאפשרה פעילות יישובית מודרנית... התנהלה פעילות חברתית ותרבותית מגוונת, ושימת לב
          גדלה והולכת הוקדשה לבתי הספר ולהפצת העברית. אך העולים שנסיונם החקלאי היה מועט, נקלעו תוך זמן קצר לקשיים כלכליים
          חריפים ונאלצו לבקש את עזרתו של הברון רוטשילד. הברון רוטשילד השקיע במושבות סכומים גדולים ושלח אליהן צוותים של מומחים
          ופקידים שיסייעו בניהולם הכלכלי. השיטה בה נקט הברון רוטשילד, שכונתה שיטת הפקידות, יצרה תלות של החקלאים במימון חיצוני
          והפכה את העולים ל"מנהלי עבודה" שהתרחקו מעבודת האדמה. על רקע זה התעוררו במושבות לא מעט חיכוכים וויכוחים.</p>

        <p class="book--text-style">אחת הקבוצות שבלטו בהתנגדותן לפקידי הברון, הייתה תנועת ביל"ו ("בית יעקב לכו ונלכה"-ישעיהו ב',ה) הבילויים, בניגוד לרוב
          העולים בגל זה, היו רוב חילוניים יותר, הגיעו לארץ כרווקים והדגישו את עקרון העצמאות ועבודת האדמה.</p>

        <p class="book--text-style">לצד העולים מאירופה עלו ארצה באותן שנים גם כ-2500 עולים אדוקים מתימן בעלייה שכונתה אעלה בתמ"ר. הם הונעו מהחמרת מצב
          היהודים באזורם ומהתעוררות משיחית, ונעזרו בשיפור אמצעי התחבורה. עולים אלו נתקלו באיבה ובאפליה מצד יושבי הארץ וקיימו
          ברובם אורח חיים סגפני ודחוק.</p>

      </div>

    </ion-content>
  </div>
