<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">גל העלייה הלך ונחלש בסוף שנות התשעים של המאה התשע-עשרה, אך כעשור לאחר מכן, בשנת 1904 החל גל עלייה חדש שכונה העלייה
          השנייה, ונמשך עד לפרוץ מלחמת העולם הראשונה, בשבת 1914. לפי האומדנים הצטרפו בתקופה זו לאוכלוסייתה של הארץ, כשלושים
          ומישה אלף תושבים. ברקע לעלייה עומד מצבם הקשה של יהודי מזרח אירופה שהוסיף להיות קשה, פרעות אנטישמיות (ובמרכזן פרעות
          קישינב) והתחזקות התנועה הציונית. נקודה אחרונה זו משמעותית במיוחד: בעוד שפעילותן של תנועות חובבי ציון הייתה מפוזרת,
          מוסדותיה של התנועה הציונית אותה הנקים הרצל היוו משענת מוסדית ורעיונית לעולים; פרשת אוגנדה (1903) הביאה רבים להדגיש
          בפעולתם את משמעותה של ארץ ישראל עבורם ואת חוסר הנכונות שלהם לוותר על ההתיישבות בה. זאת ועוד, צעירים רבים באזור
          נתפסו לרעיונות סוציאלסיטיים וראו בארץ ישראל את המקום בו יוכלו לממשם.</p>

        <p class="book--text-style">בין העולים היו גם הפעם משפחות בעלות רקע מסורתי יותר שהתיישבו בערים הגדולות ובמושבות. הם הביאו לפיתוח משמעותי של היישוב
          העירוני ולהתבססות המשק היהודי. בשנת 1909 הם אף יסדו שכונה חדשה שתהפוך לעיר העברית הראשונה &ndash; אחוזת בית, לימים
          תל אביב. לצדם הופיעה גם קבוצה חדשה של עולים, ציונים סוציאליסטים שטבעו את החותם המרכזי של עלייה זו. עולים אלו היו
          רווקים, צעירים, בעלי אורח חיים חילוני-סוציאליסטי, חדורי אידאולוגיה ונחושים לעשייה של מעשה פיזי שיקבע עובדות בשטח.
          אחד המאפיינים הבולטים בפעולתם היה המאבק לכיבוש העבודה. עולי העלייה השנייה הדגישו את החשיבות שבעבודת האדמה ובעבודת
          הכפיים. עבודת האדמה נתפסה בעיניהם כדרך להבראתו של העם היהודי ש-"התנוון" במהלך הגלות, כפי שמציין א.ד גורדון:</p>

        <blockquote>

          <p>"אני מרגיש את החיים ההם (בגלות) והנה הם צרים כשאול..., ואני מתנער בחזקה, בכל כוחי.. ואני מתחיל הכל מחדש.. והדבר
            הראשון, הפותח בראשונה את לבי לחיים, אשר ידעתי כמוהם, היא העבודה. לא עבודה לשם מחיה ולא עבודה לשם מצווה. כי אם
            עבודה לשם חיים, עבודה אשר ראיתיה, והינה היא אחד מחלקי החיים, משורשיהם היותר עמוקים".</p>

        </blockquote>

        <p class="book--text-style">על רקע זה התגלה סכסוך בינם לבין עולי העלייה העלייה הראשונה, בני המושבות. בני המושבות העסיקו על פי רוב פועלים ערבים
          וטענו כי העסקתם זולה יותר ותפוקתם גבוהה יותר; בעולי העלייה השנייה הם ראו לא פעם חבורה מפוקפקת של צעירים חילונים
          שעשויה להשחית את הנוער.</p>

        <p class="book--text-style">חלוצי העלייה השנייה חיפשו, על כן, דרך שתאפשר להם להתקיים ולעבוד מבלי להזדקק לעבודה במושבות ותוך ביטוי מלא של העקרונות
          האידאולוגיים בהם האמינו. הם ביקשו להקים חברה צודקת ושוויונית בהתבסס על עקרונות סוציאליסטים וכך העלו את רעיון הקבוצה
          שהתגלגל והפך לימים לרעיון הקיבוץ. בסיסו של הרעיון הוא בהתיישבות משותפת ועיבוד משותף של חלקות האדמה, ללא רכוש פרטי
          ותוך כדי הקפדה על שוויון בין החברים: על כל אחד לעבוד כפי יכולתו ולהשתמש במשאבים הציבוריים כפי צרכיו. נסיונות ראשונים
          להקים קבוצה החלו עוד ב-1907 והקבוצה הראשונה דגניה, הוקמה ב-1909.</p>

        <p class="book--text-style">הקמתן של הקבוצות והקיבוצים, הדגישה עיקרון אידאולוגי נוסף &ndash; "כיבוש האדמה". הקיבוצים נוסדו על קרקעות לאומיות
          שנקנו בידי המוסדות הציוניים והצליחו בזמן קצר יחסית להגדיל את הכמות וההיקף של היישובים היהודיים בארץ. להתרחבות זו
          נלוותה החרפה במאבק עם ערביי הארץ שעליה נעמוד בנפרד, והביאה גם להקמתם של ארגוני המגן והשמירה הראשונים תופעה שכונתה,
          " כיבוש השמירה".
        </p>

      </div>

    </ion-content>
  </div>
