<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <p class="book--text-style">לצד עלייה והתיישבות חקלאית, שהיוו את הגרעין להתהוות חברה ומשק יהודיים עצמאיים, פיתח "היישוב החדש" גם תרבות חדשה שהשפה
          העברית עומדת במרכזה. זה היווה סממן מובהק לשאיפה לתחייה לאומית מלאה: העברית שהייתה שפתו העתיקה של העם היהודי, שימשה
          באותה העת כלשון קודש בלבד והיה קשה להשתמש בה כשפת יום-יום בשל היעדר מילים מודרניות.</p>

        <p class="book--text-style">היהודים עשו, על כן, שימור מגוון באחת מן השפות היהודיות (יידיש, לדינו ג'והורי, מרוקאית ועוד) או בשפה המקומית בסביבה
          בה חיו. נטישת לשונות הגלות והשימוש בעברית, נחשב לאחד הצעדים המרכזיים בפיתוחו של יישוב לאומי עצמאי בארץ. תחיית השפה
          היא תהליך שהתרחש במקביל במספר מוקדים. המוקד הראשון היה בירושלים, שם פעלה קבוצת מחנכים ואינטלקטואלים לפיתוחה של
          השפה. המרכזי שבהם היה אליעזר בן יהודה, (1922-1858). הוא הקים אגודות לדיבור עברי שמהן צמח "ועד הלשון העברית" (כיום:
          האקדמיה ללשון העברית), חידש כ-300 מילים המתאימות למציאות המשתנה, ייסד והוציא לאור עיתון עברי ("הצבי") וחיבר את
          מילון מקיף. בן יהודה שוחח עם משפחתו בעברית בלבד וניסה להחדיר את השפה לחיי היום-יום. על רקע זה התנהל נגדו מאבק עיקש
          מצד מי שראו בפעולותיו "חילול הקודש". את משנתו בדבר החינוך הילדים בעברית, פרס בן יהודה במאמר בשם "על דבר החינוך":</p>

        <p class="book--text-style">"רק בחנכנו את נערינו בשפת עברית, בהסכינם (בהתרגלם) לדב את השפה הזאת תמי... יסכין (יתרגל) הנער העברי לאהוב את עמו
          עוד בימי ילדותו ולא יחדול מאהוב את העם הזה עד יומו האחרון".</p>

        <p class="book--text-style">העיר יפו, אשר הפכה לאותה העת למרכז העירוני החשוב ביותר של היישוב החדש, הייתה גם היא מוקד להפצה ולחידוש העברית כשפה
          מודרנית. בעיר קמו בתי ספר עבריים ופעלו בה כמה סופרים חשובים שכתבו בעברית. בתי ספר העבריים במושבות, בקיבוצים ובמושבים,
          היו למוקד נוסף של שימוש הולך וגדל בעברית. המורים באותם בתי ספר מילאו תפקיד מרכזי בהתפתחות השפה, כתבו ספרי לימוד
          בעברית ותרגמו לעברית ספרות יפה מלשונות זרות. כך נוצר בארץ דור ראשון שהעברית היא שפת אימו. בזכרונותיו מעיד שמואל
          דיין, מעולי העלייה השנייה, על הנחישות בה הונחלה השפה:</p>

        <blockquote>

          <p>"הלוחמים הקנאים הטילו קנסות על היודעים עברית ולא מדברים בה, הנהיגו שיעורי ערב וקריאה בצוותא... כעבור שנתיים קיבלה
            הקבוצה תקציב למורה מיוחד בעברית... שהצליח ללמד את רוב החברים והחברות עברית טובה.. עבודת כיבוש עצמי".</p>

        </blockquote>

        <p class="book--text-style">הוויכוח שרכש מתחת לפני השטח, פרץ באירוע המכונה "מלחמת השפות" או " ריב הלשונות, והתרחש בשנים 1913-1914. חברת "עזרה",
          חברה פילנטרופית שבבעלותה היו עשרות בתי ספר בארץ בהם לימדו בשפה הגרמנית, ביקשה להקים בית ספר מדעי גבוה בחיפה &ndash;
          "טכניון". החברה טענה כי מן ההכרח שהלימודים במוסד זה התנהלו בגרמנית, שכן השפה העברית אינה עשירה דיה כדי לקיים בה
          דיון אקדמי וללמד מדעים. טענה זו עוררה זעם רב בקרב הציבור, ובכוונותיה של "עזרה" נאבקו תלמידי בתי המדרש למורים, התלמידים
          של בתי הספר בהם למדו עברית, הסתדרות המורים ואחרים. את טיעוניהם מסכמים תלמידי הגמנסיה הרצליה, בית הספר הראשון העברי
          בארץ, במכתב גלוי שכתבו:</p>

        <blockquote>

          <p class="book--text-style">"אנו התחנכנו מילדותנו על ברכי שפת העם בארץ אבות, מדברים, לומדים וחשבים בה ורק בה. הוכחנו לעולם כולו, שרק השפה העברית
            היא היכולה וצריכה לשמש שפת דיבור והלימוד בארצנו.. אנו מביעים בזאת את מחאתנו העזה, המתפרצת מליבנו נגד אלה המעיזים
            לפרוץ פרץ בשפה העברית בארצנו והמערערים בזה את יסוד תרבותנו הצעירה".</p>

        </blockquote>

        <p class="book--text-style">בסופו של דבר נעתרה "עזרה" לדרישת היישוב, ושינתה את שפת הלימוד לעברית. המאבק החריף הדגיש כי עבור הציבור המתהווה בארץ,
          הייתה העברית חלק עקרוני מהמאבק לכינונה של תרבות ציונית עברית.</p>


      </div>

    </ion-content>
  </div>
