<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">בקיץ 1914 מנה הישוב היהודי בארץ כ85,000 נפש שהיוו כ-10% מהאוכלוסייה הכוללת. הם התגוררו במספר הולך וגדל של נקודות
          ישוב ועיבדו מאות דונמים של אדמה והקימו מספר רב של מוסדות ושירותים. התנופה היישובית נעצרה באופן חד עם פרוץ מלחמת
          העולם הראשונה. המלחמה ניתקה את ארץ ישראל מאירופה והרעה את מצבם של מרבית תושביה היהודים שהגיעו ממדינות שהוגדרו כעת
          כאויבות של האימפריה העותמאנית.</p>
        <p class="book--text-style">בתחילת המלחמה תמכו רבים מקרב הישוב החדש באימפריה, בתקווה שתמיכתם תשפר את יחסם של הטורקים לתושבם של תושבי הארץ היהודים
          ולמפעל הציוני. אולם במהרה, הסתבר שהטורקים מנצלים את המלחמה כדי לפגוע בישוב שסבל מגירושים המוניים, מגיוס בכפייה
          לצבא ומסגירה של מוסדותיו המרכזיים. המצב החמיר בשנים 1916-1917, כאשר בארץ התפתח רעב, כפי שהעיד אהרון אהרונסון:</p>
        <blockquote>
          "בינתיים גוועים אנשים מרעב, פשוטו כמשמעו. מראות זוועה ראו עינינו: זקנים, נשים וטף משוטטים, רעב ובלהות &ndash; טירוף בעיניהם
          הגוססות, ומאפס מזון נופלים תחתם ומתים."
        </blockquote>
        <p class="book--text-style">במרץ 1917 גירשו הטורקים את תושבי יפו וסביבותיה, בכללם את תושבי תל אביב, באירוע שכונה לימים גירוש תל אביב. ברקע לצו
          הגירוש עמדה התקדמותם של הבריטים בחזית המצרית, ובאופן רשמי הוא הופנה לכלל תושבי האזור (יהודים כערבים). אולם בפועל
          השפיע בעיקר על היהודים שעזבו את בתיהם וחזרו לאזור רק לאחר חודשים ארוכים. לעזרתם של תושבי יפו נרתמו איכרי הגליל
          והשרון ששיכנו את המגורשים באוהלים ובבקתות, אך התנאים הקשים והרעב הביאו למותם של רבים.</p>
        <p class="book--text-style">על רק0ע זה, רבים בישוב היהודי בארץ ובתנועה הציונית מחוצה לה, החלו לתמוך בבריטים וביקשו לסייע להם במלחמתם. תנועת המחתרת
          ניל"י הוקמה בזיכרון יעקב על מנת לסייע לבריטים, ובה נעסוק בהרחבה בהמשך, מהווה את אחד הביטויים למגמות אלו. מחוץ לארץ
          ישראל הקימו אישי ציבור יהודיים, ובראשם זאב ז'בוטינסקי ויוסף טרומפלדור, גדודים שלחמו לצידו של הצבא הבריטי, גם בהם
          נעסוק בהמשך.</p>
        <p class="book--text-style">על רקע שיתוף הפעולה עם הבריטים והאינטרסים שלהם באזור, נתנה ב2 בנובמבר 1917 הצהרה רשמית בדמות מכתב ששלח שר החוץ הבריטי,
          ארתור ג'יימס בלפור, לברון רוטשילד ונודעה לימים כ"הצהרת בלפור". הצהרה זו שהושגה לאחר מאמצים דיפלומטיים של חיים ויצמן
          ואחרים, מהווה למעשה הכרה רשמית בטביעותיה של התנועה הציונית על ארץ ישראל:</p>
        <blockquote>
          "ממשלת הוד מלכותו רואה בעין יפה הקמת בית לאומי לעם היהודי בארץ ישראל, ותשתדל במיטב מאמציה להקל על השגת מטרה זו, בתנאי ברור
          שלא ייעשה שום דבר העלול לפגוע בזכויות האזרחיות והדתיות של עדות לא יהודיות בארץ ישראל או בזכויות ובמעמד המדיני של
          יהודים בכל ארץ אחרת."
        </blockquote>
        <p class="book--text-style">ההצהרה קיבלה תוקף מחייב כאשר אושרה ע"י חבר הלאומים כחלק מתנאי המנדט שניתן לבריטניה על ארץ ישראל (1922), והיא מהווה
          הישג דיפלומטי חשוב ביותר בדרך למדינה.</p>

      </div>

    </ion-content>
  </div>
