<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title">
          5.6.1 העלייה השלישית
        </h3>

        <p class="book--text-style">העליות הציוניות לארץ החלו בתקופת השלטון העות'מאני, והמשיכו ביתר שאת גם בתקופה הבריטית. עליות אלו חיזקו את היישוב
          והגדילו באופן משמעותי את היקפו. בשנת 1919 הגיעה לחופי הארץ האנייה "רוסלן" ועל סיפונה למעלה מ600 עולים שהיוו כאחוז
          מכלל האוכלוסייה היהודית בארץ באותה העת (!). הגעתה של אנייה זו סימנה את ראשיתה של העלייה השלישית שנמשכה עד 1923,
          ובמהלכה הגיעו ארצה כ35,000 עולים. ברקע לעלייה זו עומדים סיומה של מלחמת העולם הראשונה ופרסום הצהרת בלפור; כמו גם
          האכזבה שחשו רבים לאחר שהתגלה כי השלטון החדש ברוסיה נותר עוין ליהודים וגם "הרפובליקה השנייה" שהוקמה בפולין לאחר
          מלחמת העולם הראשונה מושפעת ממגמות אנטישמיות.</p>
        <p class="book--text-style">כשליש מן העולים, צעירים שעלו לארץ לאחר הכשרה במסגרת תנועת "החלוץ" או השומר הצעיר, ביקשו להגשים בה את העקרונות הציוניים
          הסוציאליסטים בהם האמינו. הם חיזקו את הקבוצות והקיבוצים שהקימו עולי העלייה השנייה וייסדו נקודות ישוב חדשות. בנוסף,
          הם הקימו את "גדוד העבודה", אשר נועד להיות קומונה כללית שחבריה חיים חיי שיתוף, כמו בקיבוץ. פלוגות "גדוד העבודה"
          עבדו בסלילת כבישים ובהקמת יישובים, אך עקב מחלוקות, הגדוד התפצל וחדל לפעול ב1929.</p>
        <p class="book--text-style">מוסד חשוב נוסף שהוקם בתקופה זו היה ההסתדרות הכללית של העובדים העבריים בארץ ישראל, ארגון עובדים שאיגד את כלל העובדים
          היהודיים בארץ " לשם סידור כל העניינים הישובים, הכלכליים והתרבותיים של המעמד העובד בארץ ובניין חברת העבודה העברית
          בארץ ישראל" (מתוך החלטת היסוד של ההסתדרות). בניגוד לארגוני עובדים אחרים, פעילותה של ההסתדרות נגעה לכל תחומי החיים
          והיא הפכה עד מהרה לארגון החשוב ביותר של תנועת העבודה ולאחד הגופים הדומיננטיים בחיי הישוב בארץ. עולי העלייה השלישית
          שלא הצטרפו לתנועות החלוציות עיבו את הישוב העירוני והביאו לפיתוחה של התעשייה הזהירה. ב1923 נקלע הישוב למשבר כלכלי
          חריף וזה הביא להפסקת העלייה.</p>

        <h3 class="book--topiccontent-title">
          5.6.2 העליות הרביעית והחמישית
        </h3>

        <p class="book--text-style">בשנת 1924החל גל עלייה נוסף והוא כונה העלייה הרביעית. גל זה נמשך עד 1929 ובמהלכו עלו לארץ כשבעים אלף עולים. על אף
          הסמיכות הכרונולוגית לעלייה השלישית, שתי העליות נבדלו האחת מן השנייה באפיון ובמניעים השונים של העולים שהגיעו ארצה
          במהלכן. הדימוי של העלייה הרביעית היה של עליית משפחות בנות המעמד הבינוני אשר עזבו את פולין בשל המצב הכלכלי הקשה
          ובחרו להגיע לארץ-ישראל רק בשל הקושי להגר לאמריקה. בפועל נמנו בין העולים גם פועלים רבים שפנו לעבודות כפיים במושבות
          ובערים. תרומתה המרכזית של עלייה זו הייתה בפיתוח היישוב העירוני בארץ ובעיקר בפיתוחה של תל-אביב אשר הפכה בשנים אלה
          למרכז הכלכלה, התעשייה, התרבות והמנהל של היישוב. בנוסף, הקימו העולים מספר מושבות חקלאיות, תוך שימוש ביוזמה ובהון
          פרטים, כך הוקמו: כפר גנים וגת רימון בסמוך לפתח תקווה, מגדיאל ורמתיים באזור השרון ועוד.</p>
        <p class="book--text-style">בשנים 1933-1939 הגיעו לארץ כרבע מיליון עולים בגל עלייה שכונה העלייה החמישית. ברקעה של עלייה זו עומדת החרדה מפני המשטרים
          הפשיסטים שתפסו את השלטון באירופה ומגורלם של היהודים תחת שלטונם, כמו גם צמצום אפשרויות ההגירה למדינות אחרות מחוץ
          לאירופה. עלייה זו הגדילה את היישוב היהודי בארץ כמעט פי שלושה, ובסופה הוא מנה קרוב לצי מיליון תושבים.</p>
        <p class="book--text-style">על אף שרק כחמישית מהעולים הגיעו מגרמניה, הם הטביעו את חותמם על עלייה זו. בניגוד לעולים ממדינות אחרות, העלייה הגרמנית
          לא נטמעה במערכות במערכות היישוביות הקיימות ושמרה על ייחודה התרבותי והחברתי הדבר בא לידי ביטוי לדוגמה, בשמירה על
          השפה ובהוצאה לאור של עיתונים בשפה זו. מרבית העולים היו בעלי מקצועות אקדמיים (רופאים, מהנדסים, עורכי דין) ועל אף
          שלרבים מהם לא נמצאה תעסוקה בתחומי התמחותם בטווח המידי, הרי שלארוך זמן הם תרמו לפיתוחם של מקצועות אלה ביישוב.</p>
        <p class="book--text-style">לצד העולים מגרמניה, הגיעו לארץ באותן השנים עשרות אלפים עולים חברי תנועת "החלוץ" ממזרח אירופה, והם הביאו להקמתם של
          יישובים חקלאיים רבים ובהם לדוגמה, יישוב עמק חפר. עם פרוץ מלחמת העולם השנייה נסתם הגולל על העלייה ההמונית לארץ:
          זו חודה רק לאחר המלחמה. אולם העליות שהגיעו עד 1939, יצרו מצב בלתי הפיך של יישוב יהודי, המונה כחצי מליון נפש ומקיים
          ארגונים חברתיים, תרבותיים, פוליטיים וכלכליים, אוטונומיים.</p>

      </div>

    </ion-content>
  </div>
