<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h3 class="book--topiccontent-title">
          5.7.1 נקודת האפס: יהודים וערבים בארץ ישראל
        </h3>
        <p class="book--text-style">במהלך השנים 1918-1917 כבשו הבריטים בהדרגה את שטחה של ארץ-ישראל והכריזו על שלטון צבאי שהוחלף בשנת 1920 בשלטון אזרחי.
          מדיניותם ביחס לארץ נבעה מסבך של הבטחות ואינטרסים שלא יכלו לעמוד בקנה אחד.</p>
        <p class="book--text-style">עוד בימי העליות הראשונה והשנייה, התפתחו סכסוכים בין יהודים לערבים, אך במהותן היו מחלוקות בעלות אופי מקומי, הנוגעות
          לבעלות על קרקע ופגיעה ברכוש. השלטון העות'מאני סירב להכיר באף תנועה לאומית וראה בשטחי ארץ-ישראל חלק מן המדינה הנמצאת
          תחת שלטונו ומרכזה באיסטנבול.</p>
        <p class="book--text-style">במהלך מלחמת העולם הראשונה נעזרו הבריטים במנהיג הערבי חוסיין בן עלי(השריף חוסיין) במכתבי מקמהון-חוסיין התחייבו לכאורה
          להעניק לו ממלכה בשטחים שהם ייכבשו במזרח התיכון. הבטחה זו עומדת בניגוד להתחייבותם של הבריטים לצרפת בהסכם סייקוס-פיקו
          שהגדירה את אזור סוריה ולבנון כאזורים הנתונים לשליטה או השפעה צרפתית וכפי שראינו לעיל גם להתחייבותם ליהודים, בהצהרת
          בלפור לתמוך בהקמת בית לאומי לעם היהודי בארץ-ישראל.</p>
        <p class="book--text-style">ב1922 קבע חבר הלאומים כי שטחה של ארץ-ישראל יופקד בידי בריטניה שנדרשה לפעול להקמת בית לאומי לעם היהודי בשטחו. כך לנוכח
          תקוות מקבילות של היישוב היהודי והתושבים הערבים, שתודעתם הלאומית התגבשה אט-אט, החלה סדרה של התנגשויות אלימות שכונו
          בלשון אותה תקופה, "מאורעות". על רקע זה שינו הבריטים את מדיניותם וגם יחסיהם עם היישוב היהודי בארץ והמוסדות הציונים
          ידעו עליות ומורדות. בעוד שראשיתה של התקופה עומדת בסימן של שיתוף פעולה, ההגבלות שהטילו הבריטים על העלייה, רכישת
          קרקעות והתיישבות, גרמו למתחים קשים בין ראשי היישוב והתנועה הציונית לבינם.</p>
        <p class="book--text-style">השינויים במדיניות הבריטית בארץ הוגדרו באפן רשמי בסדרה של מסמכים שכונו "הספר הלבן"(על שם צבע עטיפתם) בשנת 1922 פורסם
          הספר הלבן הראשון על ידי שר המושבות הבריטי וינסטון צ'רצ'יל. &nbsp;בספר אמנם הביעה בריטניה את המשך תמיכתה בהקמת בית
          לאומי לעם היהודי, כפי שנקבע בהצהרת בלפור, אך עבר הירדן המזרחי ( לימים ממלכת ירדן) הופרד מארץ-ישראל והוחרג מהצהרה
          זו, ונקבע כי העלייה היהודית לארץ תוגבל ותותאם ליכולות הקליטה הכלכלית שלה. בהתאמה עמדו שנות העשרים בסימן שיתוף פעולה
          עם הבריטים שהביא להתפתחות כללית של היישוב היהודי בארץ והקמה של מוסדות אוטונומיים, תרבותיים וכלכליים.</p>

        <h3 class="book--topiccontent-title">
          5.7.2 מאורעות תר"פ-תרפ"א וקרב תל-חי (1920-1921)
        </h3>
        <p class="book--text-style">
          בשנים תר"פ-תרפ"א (1920-1921) התרחשו שלושה גלי אירועים אלימים בסמיכות זמנים ובמקומות שונים בארץ. אירועים אלו יצרו לראשונה
          הבנה כי היהודים והערבים נמצאים על מסלול התנגשות, וכי מהותו של הסכסוך אינה מקומית או כלכלית כי אם לאומית.
        </p>

        <h3 class="book--topiccontent-secondtitle">
          5.7.2.1 קרב תל חי
        </h3>
        <p class="book--text-style">בתום מלחמת העולם הראשונה חולק המזרח התיכון בין הבריטים לצרפתים. ארץ-ישראל עברה לידיה של בריטניה אך קו הגבול הצפוני
          בינה לבין צרפת, זז מספר פעמים עד לקביעתה הסופית ב-1920. על פי קו הגבול הראשוני אשר סומן בעת הסכמי : סייקס-פיקו"
          (1916) צריך היה אזור הגיל ( צפונה לקו חיפה-עפולה) על ארבעת היישובים היהודים שבו(תל-חי, כפר גלעדי, מטולה וחמארה)
          להיות נתון שליטה צרפתית. אך הערבים המקומיים התקוממו נגד צרפת ופעלו להקמתה של " ממלכת סוריה הגדולה" בהנהגתו של האמיר
          פייצל)
        </p>
        <p class="book--text-style">בהדרגה השתררה באזור אנרכיה כללית במטרה להקשות על הצרפתים לכונן את שלטונם. היישובים היהודיים באזור נקלעו למאבק שלא
          בטובתם ,ונתפסו על ידי ערביי האזור כ"גייס חמישי" המסייע לצרפתים. על רקע זה התרחשו שורה של תקריות אלימות כלפי יישובים
          אלו. בהנהגת היישוב היהודי התעורר ויכוח: האם לנוכח הנסיבות צריך להתמיד בהתיישבות באזור? ז'בוטינסקי סבר שעדיף לוותר
          על היישובים-" אתם צריכים לומר לחברים: שובו בחזרה משם ובנו פה את הקיים" בין גוריון לעומתו חשב אחרת:</p>
        <blockquote>
          <p>"לנו ברור שצריך להגן על כל מקום שבו עובד פועל יהודי...אם נברח מפני שודדים, נצטרך לעזוב לא רק את הגליל העליון אלא
            את כל ארץ-ישראל"</p>
        </blockquote>
        <p class="book--text-style">בינואר 1919 הצטרף לאנשי תל-חי יוסף טרומפלדור, במטרה לארגן את השמירה במקום. טרומפלדור לחם בצבא הורסי בעת מלחמת רוסיה-יפן,
          במהלכה איבד את ידו השמאלית. הוא עלה לארץב-1912 ועבד כפועל. ב-י"א באדר תר"פ (1 במרץ 1920) דרשה קבוצת ערבים להיכנס
          לחצר תל-חי, בקרב יריות שהתפתח נהרגו שישה מאנשי המקום, ביניהם טרומפלדור. ששת החללים הללו הצטרפו לשני חללים נוספים
          שנהרגו קודם לכן. בעקבות הקרב נאלצו המתיישבים לפנות את תל-חי אך סיפורם הפך למיתוס מרכזי של התנועה הציונית.</p>
        <p class="book--text-style">המילים האחרונות המיוחסות לטרומפלדור: "טוב למות בעד ארצנו", בין אם נאמרו ובין אם לאו, הפכו לאחת מן הדוגמאות המרכזיות
          לנכונותה של התנועה הציונית להגן בחירוף נפש על עקרונותיה. על קברם של מגני תל-חי הוקמה אנדרטה ובמרכזה ארי שואג, תנועת
          הנוער עלו אל האתר ויום נפילת תל-חי חיבר ברל כצנלסון הספד להרוגי המאורעות שלימים הפך לתשתית על-פיה נכתב נוסחה-"יזכור",
          בו נעשה שימוש במדינת ישראל עד היום:</p>
        <blockquote>
          <p class="book--text-style">"יזכור עם ישראל את הנשמות הטהורות של בניו ובנותיו, הנאמנים והאמיצים, אנשי העבודה והשלום, אשר הלכו אחרי המחרשה ויחרפו
            את נפשם על כבוד ישראל ואדמת ישראל. יזכור עם ישראל ויתברך בזרעו ויאבל על זיו האלומים וחמדת הגבורה וקדושת הרצון
            ומסירות הנפש, אשר נספו במערכה הכבדה. אל ישקוט ואל יינחם ואל יפול האבל עדי בוא יום בו ישוב ישראל וגאל אדמתו השדודה".</p>
        </blockquote>

        <h3 class="book--topiccontent-secondtitle">
          5.7.2.2 מאורעות תר"פ
        </h3>
        <p class="book--text-style">
          כחודש לאחר הקרב בתל-חי, פרצו בירושלים מהומות במהלך חגיגות נבי מוסא שהתרחשו באותה השנה במקביל לפסח. המון ערבי שהוסת בידי המופתי
          של ירושלים, חאג' אמין אל-חוסייני, בסיסמאות לאומניות ואנטישמיות, התנפל על יהודים שנקרו על דרכו. הבריטים עמדו מנגד
          ואף אסרו את זאב ז'בוטינסקי שניסה לארגן את היהודים להגנה עצמית. חיים ויצמן שהה בעת המאורעות בארץ יחד עם בנו בנימין,
          והוא תיאר אותם בכאב רב לוורה אשתו:
        </p>
        <blockquote>
          <p>
            "עבר עלינו, חביבתי, דבר איום ביותר, חמור ביותר-פוגרום בירושלים ומדגישים כי כל ההתרחשויות קרו על רקע התקוות לייסוד ממלכה ערבית
            בסוריה. במהלך המאורעות נרצחו שישה יהודים, נמנו למעלה ממאתיים פצועים ונזק כבד נגרם לרכוש. בעקבותיהן החליטה מפלגת
            אחדות העבודה המפלגה הגדולה ביותר ביישוב באותם ימים, על הקמתו של ארגון הגנה ארצי, לימים-"ההגנה".
          </p>
        </blockquote>

        <h3 class="book--topiccontent-secondtitle">
          5.7.2.3 מאורעות תרפ"א
        </h3>
        <p class="book--text-style">גל נוסף של אלימות פקד את הארץ במאי 1921 המוקד הפעם היה ביפו, אך משם הוא התפשט אל הארץ עולה. ראשיתן של המהומות בתהלוכת
          ה-1 במאי (חג הפועלים) &nbsp;שכמו שאירע בירושלים, התפתחה להתנגשות בין יהודים לערבים. אך מסקירת הארגון של ההתקפות
          מסיקים רוב חוקרי התקופה כי הערבים התארגנו לפעולה מראש.</p>
        <p class="book--text-style">כנופיות ערביות חמושות החלו בתקיפה של יהודי יפו, תל אביב וכמה מושבות נוספות. עד סופו של השבוע נרצחו ארבעים ושבעה יהודים,
          נמנו מאה ושישה עשר פצועים ונזק כבד נגרם לרכוש. כוחות ה-"הגנה" שהייתה אז בחיתוליה, מילאו את תפקידם באופן חלקי ונראה
          היה כי ללא הסיוע הבריטי, היו התוצאות קשות אף יותר. שני אירועים במהלך המאורעות זעזעו את היישוב היהודי באופן מיוחד:
          טבח שנערך בעולים שהתגוררו ב-"בית העולים" ביפו, ורצח יושביו של "בית ויצקר" באזור אבו כביר וביניהם הסופר יוסף חיים
          ברנר.
        </p>
        <p class="book--text-style">חצי שנה לאחר האירועים במאי, ב-2 בנובמבר 1921 שהיה יום השנה להצהרת בלפור, התרחשו שוב אירועים אלימים שלא גבו מחיר בנפש
          ירושלים. אך עם סיומם נראה כי השתרר שקט בארץ.</p>

        <h3 class="book--topiccontent-title">
          5.7.3 מאורעות תרפ"ט (1929-1928)
        </h3>
        <p class="book--text-style">בספטמבר 1928 החלו שוב מאורעות בירושלים על רקע זכויות תפילה בכותל המערבי. כתב המנדט חייב את בריטניה לשמור על הסטטוס-קוו(המצב
          הקיים) בנוגע למקומות הקדושים. בהתאם לכך, הכותל נחשב להקדש מוסלמי("ווקף") לנוכח זאת, תבעו הגופים המוסלמים שניהלו
          את הווקף, כי היהודים יבואו למקום תפילה בלבד, וביקשו לאסור עליהם להציב ברחבה ספסלים ומחיצות. במהלך כל שנות העשרים
          הוגשו תלונות על הפרת התנאים משני הצדדים אשר הובילו לתקריות מקומיות, אך לא מעבר לכך. ביום כיפור תרפ"ט הציבו היהודים
          ברחבת הכותל מחיצת בד. גורמים מוסלמיים לאומניים בראשות חאג' אמין אל-חוסייני, שהסית כבר חודשים קודם לכן, וטען כי
          היהודים מבקשים להשתלט על הר הבית, ליבו את האירוע השולי. קבוצות יהודיות הגיבו בהפגנות רבות משתתפים.</p>
        <p class="book--text-style">המתיחות נשמרה לאורך השנה כולה והתפרצה שוב לקראת ט' באב(אוגוסט 1929) במשך שמונה ימים התנפל המון ערבי מוסת על יהודי
          העיר העתיקה, ובהמשך גם על ריכוזים יהודיים נוספים. הפגיעה ביהודי חברון הייתה קשה במיוחד, מתוך השש מאות יהודים שהתגוררו
          בעיר, נרצחו למעלה משישים, ובעקבות הטבח חדל היישוב היהודי בעיר להתקיים. טבח נוסף התרחש בצפת ובו נרצחו כשמונה עשר
          יהודים.
        </p>
        <p class="book--text-style">הפורעים התנפלו על מספר יהודים נוספים ובהם: המושב מוצא, המושב באר טוביה וחוות חולדה. כנופיית ערביות ניסו לפגוע בריכוזים
          יהודיים גם בערים עזה, תל אביב וחיפה אך נבלמו בידי כוחות ה"הגנה" ו"ביתר". הבריטים פינו קהילות יהודיות קטנות מן הערים
          שכם, רמלה, ג'נין ועכו. עם תום המאורעות נמנו מאה שלושים ושלושה הרוגים יהודים ושלוש מאות שלושים ותשעה פצועים.</p>
        <p class="book--text-style">היישוב היהודי הוכה בהלם מעוצמת הפרעות, מהיקיפן, מהיכולות המוגבלות של ה"הגנה" שלא הצליחה לבלום את הפורעים ומאבדן השליטה
          של הבריטים, שנתפסו עד אז כמגני המפעל הציוני בארץ. כמו כן, הטבח בחברון ובצפת הוכיח שהמאבק הערבי אינו מכוון נגד ה"יישוב
          החדש" בלבד אלא נגד כל נוכחות יהודית בארץ. הפועל הביאו המאורעות להפרדה הולכת וגוברת בין היהודים והערבים בארץ.</p>
        <p class="book--text-style">בעקבות המהומות הטילו הבריטים הגבלות על ההגירה היהודית במסגרת הספר הלבן השני(של פספילד) שהתפרסם בשנת 1930. בנוסף,
          האירועים הביאו לשינויים רבים ב-"הגנה" שהלכה וגדלה ופריסתה הגאוגרפית התרחבה.</p>


        <h3 class="book--topiccontent-title">
          5.7.4 מאורעות תרצ"ח-תרצ"ט(המרד הערבי הגדול,1939-1936)
        </h3>
        <h3 class="book--topiccontent-secondtitle">
          5.7.4.1 מאורעות תרצ"ו
        </h3>
        <p class="book--text-style">באפריל 1936 החל שלב חדש במאבד הלאומי. מנקודת המבט היהודית, זה היה עוד שלב בסכסוך הלאומי המחריף על עתיד ארץ ישראל,
          המשך ישיר להתנכלויות הערבים למפעל הציוני, מכאן שמם של ה אירועים בפי היהודים "מאורעות". אולם מנקודת המבט הערבית
          זה היה מרד נגד המשך שלטון המנדט בארץ, ומכאן הכינוי שנתנו לו-"המרד הערבי הגדול". הוועד הערבי העליון שהוקם בראשות
          המרד, דרש מן הבריטים הפסקת העלייה היהודית, איסור מכירת קרקעות ליהודים והעברת השליטה בארץ לידי הרוב הערבי.</p>
        <p class="book--text-style">המרד נגר הבריטים והתנכלויות ליישוב היהודי, כללו שביתה של המגזר הערבי ששתיקה את הכלכלה ומאות פעולות טרור שכוננו נגד
          יישובים יהודיים ומטרות בריטיות.</p>
        <p class="book--text-style">לראשונה, מרכז הכובד של האלימות לא היה התפרעויות המוניות אלא פעולות מתוכננות של קבוצות חמושות שהתארגנו והתאמנו לפני
          ביצוען. אל מול מציאות זו הוגבר שיתוף הפעולה בין היהודים והבריטים. בסוף אפריל גויסו לראשונה שוטרים יהודים שכונו
          נוטרים הנוטרים שירתו תחת קצינים בריטים וקיבלו מהם נשק, מדים ומחצית משכרם. תפקידם היה להגן על היישובים היהודיים,
          על הדרכים ועל אתרים אסטרטגיים. הנוטרים שיתפו פעולה עם ההגנה ושימשו לא פעם כיסוי חוקי לפעילותה המחתרתית.</p>

        <h3 class="book--topiccontent-secondtitle">
          5.7.4.2 ועדת פיל
        </h3>
        <p class="book--text-style">בעקבות הגל הראשון של המאורעות, מינו הבריטים את ועדת פיל, עליה הוטל לבדוק את הסיבות לפרוץ המאורעות ולהציע פתרון לסכסוך
          היהודי-ערבי המתהווה. בפני הוועדה העידו ראשי שלטון המנדט בארץ, נציגי היישוב הארץ-ישראלי ולבסוף גם נציגי הוועד הערבי
          העליון שסירבו בתחילה להופיע בפניה. ביולי 1937 התפרסמו מסקנות הוועדה. חבריה הגיעו למסקנה כי בארץ חיות זו בצד זו,
          שתי קהילות לאומיות בעלות אינטרסים ושאיפות מנוגדים, וכי המשך שלטון המנדט עשוי רק להחריף את הבעיה. הם הציעו, על כן,
          לחלק את הארץ לשתי מדינות: מדינה ערבית על רוב השטח ומדינה יהודית באזורי ההתיישבות המרכזיים שלהם(מישור החוף, השרון
          הכרמל והעמקים), שכונו בשל צורתם על המפה ה-N היישובי. את המקומות הקדושים באזור ירושלים, נמל יפו וה"מסדרון" המחבר
          ביניהם, הם המליצו לשמור בריבונות בריטית. הצד היהודי התלבט כיצד לקבל את המסקנות, היו שבירכו על ההמלצה להקים מדינה
          יהודית והיו שהתנגדו לה לאור שטחה המצומצם. בצד הערבי דחה הרוב את ההצעה על הסף, ועם פרסום המסקנות, פתח בגל נוסף של
          אלימות.
        </p>

        <h3 class="book--topiccontent-secondtitle">
          5.7.4.3 מאורעות תרצ"ח-תרצ"ט
        </h3>
        <p class="book--text-style">פרסום מסקנות ועדת פיל הביא לגל נוסף של אלימות. בסיסן של כנופיות המורדים היה בכפרים ובשכונות ערביות עליהן השתלטו.
          הן פגעו ביישובים ובתחבורה היהודיים ובמטרות ממשל בריטיות :בנוסף, הן איימו על גורמים ערביים מתונים שהתנגדו להן ופגעו
          אף בהם. הבריטים החריפו את תגובתם, רדפו אחרי הכנופיות, ניסו לפגוע במפקדותיהן ויזמו פעולות ענישה כנגד כפרים שנתנו
          להן מקלט. אחד מן הקרבות המכריעים והחריפים ביותר במהלך המרד, התרחש בסוף קיץ 1938 לאחר שהמורדים השתלטו על העיר העתיקה
          בירושלים. הבריטים הטילו מצור על העיר. הפסיקו את החשמל ואת הקשר הטלפוני וכבשו אותה מחדש בקרב שנמשך חמישה ימים. בסוף
          אוקטובר 1938 הוטל ממשל צבאי על הארץ ונשלחה תגבורת על מנת לגדע את המרד.</p>
        <p class="book--text-style">לאחר שהשתרר שקט יחסי, במהלך 1939, נסלל כביש הצפון, כביש ביטחון על הגבול בין ישראל ללבנון, על מנת למנוע חדירה של נשק
          וגורמי טרור אל הארץ. בנוסף, נבנו בכל הארץ מצודות משטרה שכונו מצודת טיגרט, במטרה להגביר את השליטה והביטחון. רבות
          ממצודות אלו קיימות גם כיום ומשמשות את כוחות הביטחון. מג"ב אף אימץ את תבנית המצודה והיא מופיעה בסמלו ובתג היחידה
          שלו.
        </p>
        <p class="book--text-style">במהלך שנים אלו הוסיפו הבריטים לחזק את שיתוף ה]עולה הביטחוני עם היישוב היהודי. ביוני 1938 הוקמו פלוגת הלילה המיוחדות
          בהן שרתו נוטרים יהודים לצד חיילים בריטיים. הפלוגות פעלו בהתאם לתו"ל שבנה מייסדן, הקצין הבריטי אורד צ'ארלס וינגייט
          הן היוו למעשה, יחידות קומנדו קטנות וניידות שתרמו תרומה חשובה למלחמה בטרור בכלל ולשמירה על צינור הנפט עירק-חיפה
          בפרט.
        </p>
        <p class="book--text-style">היישוב היהודי התלבט כיצד להגיב ביחס לגלי האלימות. עמדתם של מוסדות היישוב הייתה שיש להבליג על פעולות טרור ערביות ואסור
          להגיב עליהן בפעולות טרור נגדיות ולפגוע בחפים מפשע, על פי מדיניות זו פעל הכוח המרכזי של היישוב ה"הגנה" . ה"אצל",
          לעומת זאת, סבר כי יש לגבות את מחיר הדמים של הנרצחים היהודים מן הצד הערבי וביצע פעולות שכללו פגיעה באוכלוסייה אזרחית,
          בניגוד לעמדת מוסדות היישוב. במהלך הגל השני של המאורעות , נחנך נמל תל אביב , שהרעיון לבנייתו הועלה עוד במהלך הגל
          הראשון של המאורעות, לנוכח השביתה שכפו הערבים בנמלי הים האחרים.</p>
        <p class="book--text-style">בנוסף, הוקמו עוד מספר נקודות יישוב יהודיות במסגרת שכונתה "חומה ומגדל" ועיקריה- הקמה מהירה של יישובים שאופיינו בגדר
          מקיפה בנויה עץ וחצץ, מגדל שמירה ומספר צריפי מגורים. באופן זה הוקמו למעלה מחמישים יישובים חקלאיים.</p>


      </div>

    </ion-content>
  </div>
