<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">על אף התחזקות שיתוף הפעולה של היישוב היהודי עם הבריטים, הביא האיום מצדה של גרמניה נאצית, שהוביל בסופו של דבר לפרוץ
          מלחמת העולם השנייה, להתקרבות אל הצד הערבי במגמה להרגיע את האזור. שיאה של מדיניות זו הגיעה עם פרסום הספר הלבן השלישי
          (של מקדונלד) במאי 1939 שקבע הלכה למעשה כי בארץ ישראל לא תוקן מדינה יהודית אלא מדינה דו לאומית, הטיל מכסות עלייה
          מצומצמות מאוד ואסר כמעט לחלוטין מכירת קרקעות ליהודים. מדיניות זו עוררה ביישוב זעם, במיוחד בשל משמעויותיה הטרגדיות
          מבחינתם של יהודי גרמניה שניסו לצאת מהמדינה ללא הצלחה וכל מדינות העולם סגרו את שעריהן בפניהן.</p>
        <p class="book--text-style">היישוב התאחד למאבק בבריטים, אך פרוץ מלחמת העולם, זמן קצר לאחר מכן(ספטמבר 1939) העמיד אותו בפני דילמה. מחד, ביקש היישוב
          לסייע בידי הבריטים במאבקם בגרמניה הנאצית, אך מאידך, דווקא לנוכח האירועים באירופה , ביקשו רבים להיאבק במדיניות החדשה.</p>
        <p class="book--text-style">כך, התנדבו רבים לצבא הבריטי, בעוד שרבים אחרים הפגינו נגד ממשלת המנדט וניסו לעקוף את מגבלות העלייה. על מנת לפתוח את
          שערי הארץ בפני פליטים שהצליחו לברוח מאירופה החלו פעולות "העפלה" במסגרת זו הגיעו לארץ ישראל בחמישה עשר אלף עולים
          לא חוקיים בספינות רעועות. העולים בספינות שלא נתפסו הוסתרו ברחבי הארץ, אך חלק ניכר מן הספינות נתפסו בידי הבריטים.
          התחילה המעפילים שוחררו לאחר תקופת כליאה קצרה, אך בהמשך הם נכלאו לתקופות ארוכות בקפריסין. בכמה מקרים, כמו למשל במקרה
          של האנייה "סטורמה" (1942) לא עמדו הספינות במסע המפרך וטבעו או טובעו על נוסעיהן.</p>
        <p class="book--text-style">ידיעות על המתרחש באירופה הגיעו לארץ עוד בשנים הראשונות של המלחמה(1939-1941) אך חלחולה של ההבנה העמוקה של ההתרחשויות
          הייתה איטית בהרבה. רק ב-1942, בעקבות הצטברות הידיעות, התגבשה בקרב ראשי היישוב ההכרה, כי באירופה מתחולל מסע מתוכנן
          להשמדת העם היהודי.</p>
        <p class="book--text-style">אולם כבר בשלבים ראשוניים יותר הקימה הסוכנות היהודית נציגויות בארצות שנותרו ניטרליות ולא נכבשו בידי הנאצים(תורכיה,
          שבדיה, שוויץ, ספרד ופורטוגל).</p>
        <p class="book--text-style">השליחים שם יצרו קשר עם יהודים בשטחי הכיבוש והעבירו אליהם חבילות מזון, בגדים וכסף. בהדרגה החלו להירקם גם "תכניות ההצלה"
          המטרה להציל יהודים רבים ככל האפשר. חלק מתכניות אלו התבססו על רקימת קשר עם הגרמנים עצמם תוך ניסיון להציל יהודים
          תמורת כסף או שווה כסף והן עוררו על-כן ביקורת ודילמות מוסריות ומדיניות רבות. כך או כך, הצלחתן של תכניות ההצלה כולן
          הייתה מצומצמת בלבד והן נתקלו בקשיים רבים.</p>
        <p class="book--text-style">מידת ההתגייסות של היישוב בארץ להצלת היהודים באירופה היא סוגיה מורכבת ועדינה מאוד: האם נעשה כל מה שהיה אפשרי? האם
          נעשה בזמן? דעותיהם של ההיסטוריונים חלוקות בנושא, אך ברור כי הצלחתם של גורמיי היישוב הייתה חלקית בלבד וכי התנהלותם
          של הבריטים הקשתה מאוד על פעולתם.</p>

      </div>

    </ion-content>
  </div>
