<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <p class="book--text-style">עם תום מלחמת העולם השנייה בשנת 1945, החלה תקופה שכונתה "תקופת המאבק" והיא עמדה בסימן של התנגשויות חוזרות ונשנות בין
          היישוב ומוסדותיו לבין שלטונות המנדט הבריטי. הישוב היהודי פעל על מנת לקבוע עובדות בשטח: מבצעי ההעפלה הורחבו, נקודות
          ישוב חדשות הוקמו והמחתרות השונות התאחדו במסגרת תנועת המרי העברי ופגעו בתשתית השלטון הבריטית בארץ.</p>
        <p class="book--text-style">בין השאר, במהלך ה17 ביוני 1946, פוצצו 11 גשרים המחברים את ארץ ישראל המנדטורית עם הארצות השכנות לה, בפעולה שכונתה
          "ליל הגשרים". כחודש לאחר מכן, ב22 ביולי 1946, פוצץ מלון המלך דוד בירושלים ששימש את שלטונות המנדט, בפעולה שנויה
          במחלוקת אשר בוצעה בהובלת האצ"ל אך גונתה לאחר מעשה ע"י "ההגנה". הבריטים מצידם פעלו על מנת לעצור את פעולות הישוב.
          אחד מן השיאים של פעולות זו הגיע בשבת ה29 ביוני 1946 שכונתה "השבת השחורה", במהלכה נעצרו ראשי הישוב, הוטל עוצר על
          אזורים יהודים רחבים אחר נשק מוסלק.</p>
        <p class="book--text-style">אולם לצד ההתנגשויות הרבות נראה היה כי היהודים בארץ מוכנים להקמת מדינה. כינונם של המוסדות הלאומיים שהיוו, למעשה, את
          הממשל האוטונומי של יהודי ארץ ישראל בתקופת הישוב, הניח את היסודות המבניים להקמתה של מדינה עצמאית. כפי שמציינים הסוציולוגיים
          ליסק והורוביץ, "ב30 שנות המנדט נעשה הישוב יהודי למעין מדינה שתשתיתה המוסדית... הפכה ב1948 לשלד המערכת הפוליטית
          של מדינת ישראל הריבונית"; מסיבה ו יש המכנים את המוסדות הלאומיים "המדינה שבדרך". מוסדות אלו הורכבו משני גופים:</p>
        <p class="book--text-style">-
          <strong>כנסת ישראל &nbsp;</strong>שייצגה את כלל הישוב היהודי בארץ
          <strong>, </strong>למעט קבוצות שוליים שלא קיבלו על עצמן את מרותה. היא הורכבה מנציגים שנבחרו ע"י הציבור אחת לארבע שנים.
          מתוך נציגים אלו הורכב הוועד הלאומי ששימש, למעשה, כגוף ביצועי המקביל במדינה ריבונית לממשלה, והיה אחראי על הוצאה
          לפועל של החלטות כנסת ישראל וביצוע משימות שהוגדרו ע"י שלטונות המנדט.</p>
        <p class="book--text-style">-
          <strong>הסוכנות היהודית</strong> הוקמה ב1927 בהתאם לכתב המנדט והיוותה נציגות משותפת ליהודי ארץ ישראל, לתנועה הציונית העולמית
          ולגופים יהודיים לא ציוניים מסויימים שהיו בעלי זיקה לבניין הבית הלאומי בארץ.</p>
        <p class="book--text-style">התפקידים שהועידו הבריטים לשני הגופים הללו היו מצומצמים יחסית, אך בפועל הם עסקו בתפקידים רחבים בהרבה: הם תפסו עצמם
          כנציגים היחידים של הישוב אל מול שלטונות המנדט, טיפחו את המערכת הביטחונית הצעירה ופיקחו עליה והפעילו שירותים קדם
          מדיניים שונים בתחומים רבים. המוסדות הלאומיים פעלו עד ליום הקמת המדינה ולמעשה, הם אלו שקיבלו את הבחירה על הקמתה.
          אחת הסוגיות המרכזיות איתה היו צריכים המוסדות הלאומיים להתמודד, הייתה שאלת עתידה של ארץ ישראל עם תום שלטון המנדט
          הבריטי, שהוגדר מלכתחילה כשלטון זמני. כפי שראינו לעיל ונראה שוב בשער השמיני העוסק בבטחון ישראל, הבריטים התקשו לחולל
          בארץ את שלטונם אל מול המאבק המחריף בין היהודים לערבים. עוד בשנת 1937 המליצה ועדת פיל על סיומו של שלטון המנדט, ועל
          הקמתן של מדינה יהודית וערבית. לאחר מלחמת העולם השנייה, עקב המצב הכלכלי הקשה בבריטניה והלחץ הכבד שהפעילה התנועה
          הציונית על דעת הקהל העולמית לנוכח התהוות בעיית הפליטים היהודים, הוחלט להעביר את סוגיית ארץ- ישראל לדיון באו"ם.</p>
        <p class="book--text-style">האו"ם הקים את ועדת אונסקו"פ (ועדת האו"ם המיוחדת לארץ ישראל), ועדת חקירה מיוחדת ולאחר שניהלה שיחות עם גורמים מרכזיים
          בארץ ובעולם, החליטה, בסופו של דבר, להמליץ לחלק את ארץ ישראל המנדטורית לשלושה אזורים: מדינה יהודית, מדינה ערבית
          ואזור בפיקוח בינלאומי בירושלים. בעוד שמדינות ערב ונציגי הערבים הארץ דחו באופן מוחלט את המסקנות, ראשי הסוכנות היהודית
          והתנועה הציונית, קיבלו אותן. ב29 בנובמבר 1947, הובאה ההצעה להצבעה באו"ם והתקבלה ברוב של 33 מדינות תומכות, 13 מתנגדות,
          ו10 נמנעות (בהן בריטניה). בישוב היהודי בארץ ובעם היהודי כולו, נתפסה ההחלטה הזאת כהחלטה היסטורית, שתאפשר את הגשמת
          החזון הציוני. עם היוודע ההחלטה אלפים יצאו לרחובות ורקדו עד אור הבוקר. עזריאל קרליבך, שערך באותה העת את העיתון "מעריב",
          כתב:
        </p>
        <blockquote>
          <p>זכינו לראות את השינוי הגדול בחיינו. גדלנו בתלות אחרים. אבותינו נאנחו במשך 2000 שנה תחת עולם של עמים זרים. והיום
            הועמדנו על רגלי עצמינו. אנו הולכים לחיות חיים אחרים... לא עוד חסרי אונים ותלויים ברצונם של אחרים. אדונים לגורלנו.</p>
        </blockquote>
        <p class="book--text-style">אולם השמחה לא נמשכה זמן רב, יום למחרת ההצבעה הגורלית פרצה בארץ מלחמת שחרור, והישוב עמד בפני איום ממשי על קיומו. על
          רקע זה החלו לחצים כבדים על התנועה הציונית שלא לממש את החלטת האו"ם ולא להכריז על מדינה עם סיום המנדט הבריטי שנועד
          למאי 1948. לבסוף החליטו מוסדות המדינה, בהובלתו של בן גוריון, שלא לדחות את ההכרזה וכך, ביום שישי, ה באייר תש"ח,
          14 במאי 1948, שעות ספורות לפני עזיבת הנציב העליון הבריטי את הארץ, התכנסה מועצת העם באולם מוזיאון תל אביב, והכריזה
          על הקמתה של מדינה יהודית בארץ ישראל &ndash; היא מדינת ישראל.</p>



      </div>

    </ion-content>
  </div>
