<ion-view view-title="home page">
  <div class="background">

    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <!-- <img src="img/backbutton.svg" ng-click="goBack()" class="book--menu-menubutton"> -->
      <h1 class="book--menu-title">אימונים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer">
      <h1 class="book--chapters-title">{{difficultyRunlevel.difficulty}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="top-content">
      <ul class="book--chapter-list">

        <li class="book--chapter-list_item" ng-repeat="week in difficultyRunlevel.weeksList" ng-click="goRuningExercise(week)">
          {{week.weekNumber}}
        </li>

      </ul>
    </ion-content>
  </div>

</ion-view>
