<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <!-- <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()"> -->
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <!-- <button ng-click="markText()" class="marktext-button">click to mark</button>
      <div class="book" ng-class={mark:color}></div> -->
    <div class="book--chapters-firstLine"></div>
    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{exercise.exerciseName}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" style="margin-top:30vh">
      <div class="book--text">
        <img src="{{exercise.gif}}.gif" class="exerciseDescription--gif">
        <p class="book--text-style">
          {{exercise.explanation}}
        </p>

      </div>

    </ion-content>
  </div>
