<ion-view view-title="running calculator">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">

    <div class="running--caclAlertOpacity" ng-show="resultScreen">אביטל פיבןןןןןןןןןןןןן</div>
    <div class="running--caclAlert" ng-show="resultScreen">אביטל פיבןןןןןןןןןןןןן</div>


    <div class="running--caclAlertOpacity" ng-show="missingItems"></div>
    <div class="running--caclAlert" ng-show="missingItems">חסרים נתונים, אנא מלא את כל התשובות</div>

    <div class="book--menu">
      <!-- <div class="back-button--container" ng-click="goBack()">
          <img src="img/backbutton.svg" class="book--menu-menubutton">
        </div> -->
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">מחשבון ריצה</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>
    <div class="book--chapters-firstLine"></div>
    <div class="sportProgram--menubuttonContainer">
      <button class="running--title" ui-sref="runChooseDifficulty" ng-click="explenation()">מדידת 3 קילומטר</button>
      <div class="runningCalc--inputs">
        <input type="number" placeholder="מספר הדקות" dir="rtl" ng-model="minute" class="runningCalc--input">
        <input type="number" placeholder="מספר השניות" dir="rtl" ng-model="second" class="runningCalc--input">

      </div>
      <h1 class="running--title" id="running--genderTitle">לאיזה מסלול אני מתמיין?</h1>
      <h3 class="running--answer" ng-click="course('job')" ng-class={runningSelect:jobSelect}>מעוז / נחשון</h3>
      <h3 class="running--answer" ng-click="course('fighter')" ng-class={runningSelect:fighterSelect}>להב</h3>

      <h3 class="running--answer" id="running--genderTitle">אני :</h3>
      <div class="running--gender">
        <div class="running--answer-gender" ng-click="genderSelect('female')" ng-class={runningSelect:femaleSelect}>נקבה</div>
        <div class="running--answer-gender" ng-click="genderSelect('male')" ng-class={runningSelect:maleSelect}>זכר</div>

      </div>

      <button class="runningCalc--submit" ng-click="submitButton(minute,second)"></button>


    </div>

  </ion-content>
</ion-view>
