<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="sidemenu--opacity" ng-hide="menu" ng-click="closemenu()"></div>
    <div class="sidemenu" ng-hide="menu">
      <img src="img/menu--close.svg" class="sidemenu--buttons-close" ng-click="closemenu()">
      <div class="sidemenu--buttons sidemenu--move" ui-sref="home">דף הבית</div>
      <div class="sidemenu--buttons" ng-click="closemenu()">ספרים</div>
      <div class="sidemenu--buttons" ui-sref="exercise">תרגול</div>
      <div class="sidemenu--buttons" ui-sref="tests">מבחנים</div>
      <div class="sidemenu--buttons sidemenu--mark" ui-sref="sportProgramFrontPg" ng-click="closemenu()">כושר קרבי</div>
      <div class="sidemenu--buttons" ui-sref="about">אודות</div>
      <img src="img/till-logo(white).svg" class="sidemenu--logo">
    </div>
    <div class="book--menu">
      <!-- <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div> -->
      <div class="back-button--container" ng-click="openmenu()">
        <img src="img/menu--open.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">תכנית כושר</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--chapters-title">תכנית כושר</h1>
    </div>
    <div class="sportProgram--frontPg-menubuttonsContainer">
      <!-- <button class="sportProgram--button" ui-sref="runChooseDifficulty" ng-click="explenation()">ריצה</button>
      <button class="sportProgram--button" ui-sref="chooseDifficulty">אימון כוח</button>
      <button class="sportProgram--button" ui-sref="runningCalculator">מחשבון ריצה</button>
      <button class="sportProgram--button">מאגר מידע ועזרה</button> -->
      <ul class="book--chapter-list">
        <li class="exerciseList--listItem sportProgram--frontPg-menu" ui-sref="runChooseDifficulty" ng-click="explenation()">
          <img class="SportP--frontPg-icons" src="img/sportProgram--menu-icons/run.svg" alt="run"> ריצה
        </li>
        <li class="exerciseList--listItem sportProgram--frontPg-menu" ui-sref="chooseDifficulty">
          <img class="SportP--frontPg-icons" src="img/sportProgram--menu-icons/muscle exrecises.svg" alt="strength"> כוח
        </li>
        <li class="exerciseList--listItem sportProgram--frontPg-menu" ui-sref="runningCalculator">
          <img class="SportP--frontPg-icons" src="img/sportProgram--menu-icons/calculator.svg" alt="calculator"> מחשבון ריצה
        </li>
        <li id="sportProgram--frontPg-info" class="exerciseList--listItem sportProgram--frontPg-menu" ng-click="showData = ! showData">
          <img class="SportP--frontPg-icons" src="img/sportProgram--menu-icons/resources.svg" alt="info">
          <p class="SportP--frontPg-maagar"> מאגר מידע</p>
          <img src="img/sportProgram--menu-icons/drop down menu.svg" alt="arrow" class="SportP--frontPg-arrow" ng-show="showData">
          <div class="runTrainingList--showRunTrainingData" ng-class="{'hidden': ! showData}">
            <p class="SportP--frontPg-link">www.kosherkraviinfo.places2run.com</p>
          </div>
        </li>
      </ul>
    </div>


  </ion-content>
</ion-view>
