<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">

        <h1 class="book--topiccontent-title lightHeebo">
          <u>פרק שני –</u> הפסיפס הישראלי</h1>

        <p class="book--text-style">
          "אנו קוראים אל העם היהודי בכל התפוצות להתלכד סביב היישוב בעלייה ובבניין ולעמוד לימינו במערכה הגדולה על הגשמת שאיפת הדורות
          לגאולת ישראל"
          <br> "אנו קוראים... לבני העם הערבי תושבי מדינת ישראל לשמור על השלום וליטול חלקם בבניית המדינה על יסוד אזרחות מלאה ושווה"
          <br>
        </p>
        <h3 class="book--topiccontent-title lightHeebo">
          2.1 פתיחה: תרבות ואמונה בישראל
        </h3>

        <p class="book--text-style">
          קשה לחשוב על שתי פסקאות במגילת העצמאות המאתגרות האחת את השנייה יותר משתי הפסקות שהבאנו בפתחו של הפרק. הראשונה, מבטאת את המחויבות
          של ישראל לתושביה של הארץ ללא הבדל דת גזע ומין בהתאם להגדרתה כמדינה דמוקרטית; השנייה, מבטאת את המחויבות של ישראל
          ליהודי התפוצות ולעולים החדשים בהתאם להגדרתה כמדינה יהודית. בין שתי הפסקאות אין כמובן ניגוד מובנה, אך בהחלט אפשר
          לראות בהן מתח מסוים.
          <br> עם תום מלחמת העצמאות נוצרה בישראל, כמו ברבות ממדינות ולאום הדמוקרטיות, מציאות בה מתקיים רוב יהודי לצדן של קבוצות
          מיעוט. בישראל המיעוטים שונים מקבוצת הרוב בדתם, בתרבותם ובשפתם. בין קבוצות המיעוטים ישנן כאחו שכרתו מלכתחילה ברית
          דמים עם מדינת ישראל, ואחרות שהסתייגו ועודן מסתייגות מהגדרתה וממאפייניה כמדינה יהודית ודמוקרטית. שער זה כולל בתוכו
          התייחסות קצרה אל מספר מושגים בסיסיים בתרבות ובעולם האמונה של העם היהודי, רקע ותיאור קצר לגבי כל אחת מקבוצות המיעוטים
          וכן גם סקירה של לוח השנה הישראלי ושל המועדים המרכזיים בו.
          <br> בצה"ל משרתים כתף אל כתף יהודים בעלי מגוון אמונות ודעות, וישראלים בני דתות שונות. השירות של החיילים היהודים והלא
          יהודים כאחד, תורם לכוחו של צה"ל ומבטא את היותם חלק בלתי נפרד מן החיילים היהודים והלא יהודים כאחד, תורם לכוחו של
          צה"ל ומבטא את היותם חלק בלתי נפרד מן החברה הישראלית. מחויבותנו כקצינים לעתיד היא להכיר את מרכיביו של הפסיפס הישראלי:
          הרקע, התרבות ועולם האמונות ממנו מגיעים חיילינו. ראשית, חשוב שכל אחד מאתנו יכיר את המורשת ממנה הוא מגיע, המהווה
          חלק מהותי מן הזהות הפנימית שלו, הבית בו גדל, הערכים עליהם חונך וכו'. שנית, לא פחות חשוב להכיר גם את תרבותו של בן
          אוכלוסיית הרוב. ההיכרות הזו היא קריטית ביצירתה של חברה שלמה ומלוכדת והיא קריטית עוד יותר ביצירה של היכרות בין חברי
          היחידה.
          <br>
        </p>


      </div>

    </ion-content>
  </div>
