<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h1 class="book--topiccontent-starttitle">
        2.2.1 תורה שבכתב ותורה שבעל-פה
      </h1>
      <p class="book--text-style">
        את אוצר המקורות היהודיים נהוג לחלק לשני חלקים:
        <b>התורה שבכתב</b> הכוללת את ספרי התנ"ך, ו
        <b>התורה שבעל פה</b> אשר מבארת, מסבירה ומפרשת את התורה שבכתב. על-פי המסורת המקובלת ניתנה התורה שבעל-פה יחד עם התורה
        שכתב למשה בהר סיני: מצוות רבות נמסרו בתורה שבכתב באופן תמציתי וכללי, ורק התורה שבעל פה מוסרת את ביאורן ופרטיהן. כך
        לדוגמה, מופיע בתורה שבכתב ציווי על קשירת התפילין על ראש ועל היד – אך הביאור מופיע רק בתורה שבעל פה המפרשת כיצד נראות
        התפילין, ממה הן עשויות וכיצד מכינים אותן.
        <br> ציווי התורה (ובכתוב ובעל פה) מחולקים
        <b>למצוות שבין אדם למקום</b> ('מקום' הוא כינוי לבורא) בהן אפשר לכלול לדוגמה, שמירת שבת, הקפדה על דיני הכשרות ועוד;
        <b>ולמצוות שבין אדם לחברו</b> , בהן אפשר לכלול את איסורי הגניבה, הניאוף, הרצח ועוד.
        <br>

      </p>

      <h4 class="book--topiccontent-title">
        2.2.1.1 תנ"ך
      </h4>
      <p class="book--text-style">
        התנ"ך הוא ספר המרכזי של העם היהודי, המוזכר גם במגילת העצמאות. התנ"ך מורכב למעשה משלושה חלקים,
        <b>ת</b>ורה,
        <b>נ</b>ביאים ו
        <b>כ</b>תובים: התנ"ך הוא ספר המרכזי של העם היהודי, המוזכר גם במגילת העצמאות. התנ"ך מורכב למעשה משלושה חלקים,
        <b>ת</b>ורה,
        <b>נ</b>ביאים ו
        <b>כ</b>תובים:
        <br>
        <u>תורה:</u> התורה נחלקת ל
        <b>חמישה חומשים</b>: בראשית, שמות, ויקרא, במדבר ודברים. בין פרקיה נכללים הסיפורים המכוננים של העם היהודי לדם של ציוויים
        וחוקים. את התורה קוראים בציבור
        <b>שלוש פעמים בשבוע</b>, בימים שני וחמישי ובשבת. התורה מחולקת ל
        <b>פרשות</b>
        ואלו נקראות באופן מחזורי לאורך שבתות השנה. בחגים נקראות מתוך התורה פרשיות מיוחדות הקשורות אל החג עצמו.
        <br>
        <u>נביאים:</u> הכינוי "נביא" מבטא אדם החווה התגלות על-אנושית. ספרי הנביאים מתייחסים לפעילותם של הנביאים לאורך ימי הבית
        הראשון ותקופת החורבן וכוללים בתוכם תיאור כללי לצד ביקורת חברתית ודתית.
        <br>
        <u>כתובים:</u> הספרים הבאים לאחר מכן מכילים מגוון סוגות ספרותיות, החל מתיאור היסטורי, דרך נבואות וחזיונות מוסריים עתירי
        דימויים וכלה בספרות בעל אופי שירי ופילוסופי.
        <br>

      </p>

      <h4 class="book--topiccontent-title">
        2.2.1.2 קבצי התורה שבעל-פה
      </h4>

      <p class="book--text-style">
        במשך דורות נמסרה ונלמדה התורה שבעל-פה במקביל ללימוד הפסוקים הכתובים. העלאתה של התורה שבעל-פה על הכתב נחשבה לאיסור, אך עם
        חורבן הבית השני עלה החשש שהיא תישכח והחל תהליך שנמשך כ-500 שנה, במהלכו נכתבו מספר חיבורים משמעותיים:
        <u>משנה:</u> קובץ הלכתי שנערך ונחתם על-ידי
        <b>רבי יהודה הנשיא</b> בשנת 220 לספירה. המשנה מחולקת ל
        <b>שישה סדרים</b> (זרעים, מועד, נשים, נזיקין, קדשים, טהרות). כל אחד מהם מחולק למסכתות, כל מסכת לפרקים וכל פרק למשניות.
        המשנה כתובה בעברית ולשונה על-פי רוב דחוסה ומצומצמת, חכמי המשנה קרויים "
        <b>תנאים"</b>.
        <u>תוספתא</u>: במשנה לא קובצו כל המשניות והדיונים בעולם התורה שבעל-פה. לצד המשניות שאוגדו בה נותרו משניות חיצוניות המכונות
        "
        <b>ברייתות</b>" (ביחיד: "
        <b>ברייתא</b>"; מארמית- חיצוני), חלק ממשניות אלו אוגדו בקבצי התוספתא ( מארמית- תוספת).
        <u>מדרש:</u> המדרשים הם לקט דרשות, סיפורים והדרכות המסודרים בזיקה לפסוקי המקרא. ישנם מדרשי הלכה העוסקים בנושאים הלכתיים,
        וישנם מדרשי אגדה העוסקים בדרשות מוסריות ובפירושם של סיפורי המקרא. המדרשים מאוגדים במספר קבצים, אחד המפורסמים שבם
        הוא "
        <b>מדרש רבה</b>".
        <u>תלמוד גמרא:</u> מטרתו של התלמוד היא לנסות ולפרש את המשנה, הוא כולל דיונים ביחס לפסיקת ההלכה בה; אך גם אגדות רבות
        וההתייחסות אל אורח החיים של הקהילה היהודית. קיימים שני קבצים של תלמוד:
        <b>התלמוד הירושלמי</b> שנחתם בגליל במאה הרביעית לספירה, וה
        <b>תלמוד הבבלי</b> שנחתם בבבל במאה השישית לספירה. התלמוד הבבלי הוא התלמוד הנפוץ יותר ועל –פי רוב, בו נעשה שימוש לשם
        פסיקת ההלכה.
        <br>


      </p>

      <h4 class="book--topiccontent-title">
        2.2.2 התפילה, הסידור והמחזור
      </h4>
      <p class="book--text-style">
        ביהדות התפילה היא פנייה של האדם אל בוראו. ניתן לחלק את התפילות לתפילה הספונטנית והאישית ולתפילה הממוסדת והציבורית. כיום,
        מתקיימת התפילה בדרך כלל בבית הכנסת והיא מבוססת על פסוקים ועל נוסחים שהתגבשו בקהילות ישראל והועלו על הכתב. לאורך תקופת
        המקרא, אנו פוגשים בעיקר תפילות יחיד המכוונות כנגד אירוע או בקשה מסוימים. בהדרגה התפתחה תפילת ממוסדת יותר: בתקופת
        בית שני כבר הופיעו נוסחי תפילה מגובשים; ומשחרב המקדש תפסה התפילה בציבור מקום מרכזי יותר ולמעשה החליפה את עבודת המקדש.
        <br> ה
        <b>סידור</b> מכיל את כלל התפילות, הברכות והפיוטים לתפילות היום-יום ולמספר אירועים מיוחדים. ה
        <b>מחזור</b> כולל את סדר התפילה לחגים. לאורך היום מתקיימות שלוש תפילות:
        <b>ערבית</b> (בערב),
        <b>שחרית</b> (בבוקר, עם שחר) ו
        <b>מנחה</b> (תפילה שזמנה מלאחר חצות היום ועד סיומו). בשבתות ובמועדים נוספים גם תפילת
        <b>מוסף</b> (כנגד הקורבן הייחודי לאותו מועד). במרכזן של כל התפילות עומדת "תפילת העמידה" המכונה גם "תפילת שמונה עשרה".
        <br> למרות הבסיס משותף, בקהילות ישראל נוהגים להתפלל בנוסחים שונים, (תימן, עדות המזרח, ספרד ואשכנז). בתנועות שאינן אורתודוכסיות
        (התנועה הרפורמית, התנועה הקונסרבטיבית), עבר נוסח התפילה שינויים והוא מותאם לתפיסות העולם של חבריהן. בשנים האחרונות
        תוקנו תוספות לתפילה בהשפעת אירועים משמעותיים: בקינות (פיוטי אבל) לתשעה באב יש הנוהגים לקרוא קינות שנכתבו על השואה,
        ולהבדיל, בבתי כנסת רבים, נוהגים לקרוא את ה"
        <b>תפילה לשלום המדינה</b>" הכוללת התייחסות אל הקמת מדינת ישראל ותקווה להמשך קיומה ולשגשוגה.
        <br>
      </p>

      <h4 class="book--topiccontent-title">
        2.2.3 ההלכה
      </h4>
      <p class="book--text-style">
        <b>הלכה</b> היא שם כולל לכל החוקים, הדינים והמצוות של היהדות. ההלכה היהודית מבוססת על התורה שבכתב ועל התורה שבעל פה
        והיא מקיפה את כל תחומי החיים.
        <br> ה
        <b>שולחן ערוך</b> שנכתב במאה השש-עשרה על-ידי רבי יוסף קארו, מהווה כיום את ספר ההלכה המרכזי בעם היהודי ונעשה בו שימוש
        נרחב לשם פסיקת הלכה.
        <br> כבר משחר תולדותיו של העם היהודי, נבדלו קבוצות שונות בעם ישראל באופן קיומן את ההלכה, חלקן נפרדו מן העם היהודי באופן
        מלא (הנוצרים לדוגמה) וחלקן שמרו אתו על קשרים מורכבים (הקראים לדוגמה). גם כיום מתקיימת מחלוקת בנושא זה: בעוד הגישה
        האורתודוקסית מבקשת להיצמד אל ההלכה ללא שינוי, הקונסרבטיבים מבקשים להתאים את ההלכה לתקופה המודרנית אך לשמור על עקרונותיה
        ואילו הרפורמים מבקשים להכניס בה שינויים עמוקים יותר. גם בתוך היהדות האורתודוקסית קיימים הבדלים ומחלוקות באשר לאופן
        קיום ההלכה, אך באופן כללי, שוררת הסכמה באשר לבסיס העקרוני המחייב שלה ברוב התחומים.
        <br>
      </p>

      <h4 class="book--topiccontent-title">
        2.2.4 השבת
      </h4>
      <p> class="book--text-style" יום המנוחה השבועי ביהדות הוא שבת. עם הרעיון של שביתה ממלאכה ועיסוק ברוח, היה רעיון יהודי ייחודי
        וזר לעולם העתיק שאף עורר לעג וביקורת. בבסיסה ל השבת עומד
        <b> זכר מעשה בראשית</b>, בו שבת הבורא ממלאכתו ביום השביעי; ו
        <b>זכר יציאת מצרים</b> והעבדות, בה היו נתונים בני ישראל, המחייבים על-פי התורה את הרגישות לצרכיהם של אלו הנמצאים בשולי
        החברה. פסוקי המקרא מדגישים כי השבת היא עקרון יסודי המכוון לחברה כולה: "לא תעשה כל מלאכה, אתה ובנך ובתך, עבדך ואמתך
        ובהמתך, וגרך אשר בשעריך" (שמות כ', ט').
        <br> על-פי ההלכה ישנן שלושים ותשע מלאכות עקרוניות האסורות בשבת והן מכונות
        <b>
          ל"ט אבות מלאכה.</b> אבות המלאכה מוזכרים בתורה, מפורשים ומורחבים בספרות חז"ל ונגזרים מהם איסורים וסעיפים קונקרטיים
        בספרות ההלכה. מנהגי השבת כוללים: הדלקת נרות בכניסתה, תפילה הכוללת קבלת שבת לפנות ערב, קידוש על יין וקיום שלוש סעודות
        חגיגיות, קריאה בפרשת השבוע וקיום "הבדלה" עם צאתה. במדינת ישראל מוגדרת השבת כיום המנוחה הרשמי ליהודים, בני דתות אחרות
        רשאים לבחור יום מנוחה אחר. קבוצות שונות בחברה הישראלית בוחרות לבטא את השבת שלהן באופנים שונים; עובדה המביאה לא אחת
        לדיונים ביחס לאופייה של השבת במרחב הציבורי. את הגישה העקרונית בהקשר זה התווה
        <b>מסמך הסטטוס-קוו</b> שקבע כי השבת תוגדר כיום המנוחה הלאומי ולא תתקיים במהלכה פעילות רשמית במוסדות הציבור. מאוחר יותר
        חוקק
        <b>חוק שעות עבודה ומנוחה</b> (1951) האוסר להעסיק עובד ביום המנוחה השבועי שלו. פקודות המטה של צה"ל נגזרות מעקרונות אלו
        ואוסרת על עשיית מלאכה שאינה מהווה צורך מבצעי דחוף במהלך השבת.
        <br>

      </p>

      <h4 class="book--topiccontent-title">
        2.2.5 כשרות
      </h4>
      <p class="book--text-style">
        <b>כשרות</b> היא מערכת הדינים והכללים המגדירה סוגי המזון המותרים לאכילה על-פי דיני ישראל.
        <br>דינים אלו כוללים את איסורי אכילת בשר וחלב, בעלי חיים האסורים לאכילה, דינים הנוגעים לשחיטה כשרה ודינים הנוגעים לניקוי
        ירקות ופירות מחרקים. כמו כן, קיימים חוקים שונים באשר לתוצרת החקלאית של ארץ-ישראל כחלק מן המצוות התלויות, בארץ.
        <br> מוסדות ממלכתיים בארץ, דוגמת צה"ל, מקפידים על שמירת דיני הכשרות על-פי עקרונות הסטטוס-קוו. בשנים האחרונות צמחה יוזמה
        חדשה להכשר "התו החברתי" – פיקוח על מרכיבים מוסריים בניהול בית העסק: הקפדה על נגישות לנכים, על העסקה הוגנת וחוקית
        של עובדי המקום ועוד.
        <br>

      </p>

      <h4 class="book--topiccontent-title">
        2.2.6 סת"ם
      </h4>
      <p class="book--text-style">
        ראשי התיבות סת"ם מתייחסים אל שלושה תשמישי קדושה: ספר תורה, תפילין ומזוזה. שלושתם נכתבים על-ידי סופר מיומן המשתמש בכתיב על-גבי
        קלף העשוי מעור הבהמה הכשרה:
        <br>
        <u>ספר התורה-</u> הוא מגילת קלף עליה כתובים חמשת חומשי תורה. על-פי ההלכה, את קריאת התורה בית הכנסת יש לעשות רק מתוך
        ספר התורה ולא מתוך חומש שהודפס על נייר.
        <br>
        <u>תפילין-</u> הן תשמיש קדושה המורכב משתי קופסאות עור אותן קושרים על הזרוע, והמצח. על-פי ההלכה, את התפילין מניחים מגיל
        שלוש-עשרה במהלך תפילת שחרית לימי החול. התפילין חייבות להיות עשויות מעור ולהיצבע בצבע שחור, בתוכן נמצאות ארבע פרשיות
        מן התורה המתייחסות אל מצווה זו.
        <br>
        <u>מזוזה-</u> היא מגילת קלף אותה תולים על המשקוף השמאלי של הדלת ובה כתובה פרשיית שמע
        <br>. על-פי רוב, נשמרת המזוזה בתוך בית המזוזה מיוחד המגן עליה מפגעי הזמן ומזג האוויר.
        <br>

      </p>
    </div>
  </ion-content>
