<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h1 class="book--topiccontent-starttitle">2.3.1 פתיחה</h1>
      <p class="book--text-style">
        לפי נתוני הלשכה המרכזית לסטטיסטיקה חיים במדינת ישראל נכון לראשית 2016, כ-6,334,000 יהודים; 1,480,000 מוסלמים; 165,000 נוצרים;
        ו-137,300 דרוזים. קבוצת מיעוט, מוגדרת כקבוצה סוציולוגית או אתנית המבקשת לשמר את זהותה הייחודית בשונה מזהותה של אוכלוסיית
        הרוב. מדינת ישראל מכירה בזכויותיהם השוות של בני המיעוטים ובזכותן של קבוצות מיעוט להתקיים, מחויבות זו מופיעה עוד במגילת
        העצמאות:
        <br> מדינת ישראל... תשקוד על פיתוח הארץ לטובת כל תושביה, תהא מושתת על יסודות החירות הצדק והשלום לאור חזונם של נביאי ישראל.
        תקיים שוויון זכויות חברתי ומדיני גמור לכל אזרחיה, בלי הבדל דת גזע ומין, ותבטיח חופש דת, מצפון לשון חינוך ותרבות,
        תשמור על המקומות הקדושים של כל הדתות.
        <br> בהתאם לעקרונות אלו זכאים בני המיעוטים לקיים את מצוות דתם באופן חופשי, להקים בתי תפילה, לקיים רישום נישואין וגירושין
        על-פי עקרונות דתם, לקיים בצי דין דתיים, להפעיל בתי קברות דתיים ואף לקיים מערכת חינוך על-פי עקרונותיהם הדתיים והתרבותיים.
        בני מיעוטים בוחרים ונבחרים לכנסת הן במסגרת רשימות ייחודיות והן במסגרת המפלגות הגדולות והם יכולים להקים תנועות פוליטיות
        וחברתיות שיקדמו את ענייניהם והשקפת עולמם.
        <br> יחד עם זאת, בפועל, ישנם פערים בין אוכלוסיית המיעוטים לבין אוכלוסיית הרוב, כפי שניתן ללמוד מנתונים סטטיסטיים שונים:
        אחוז הזכאים לבגרות, אחוז ההשתתפות בכוח העבודה ומדדי ההכנסה נמוכים יותר באופן משמעותי בקרב המיעוטים. נושא היחס והשילוב
        של המיעוטים בחברת הרוב הוא נושא אתו מתמודדות רוב מדינות הלאום בצורה כזו או אחרת ופערים הללו מהווים אתגר מתמיד בעבור
        מדינת ישראל. חוסר השוויון בא לידי ביטוי גם בחובות האזרחיות: בעוד שעל היהודים חל גיוס חובה לנשים ולגברים כאחד, על
        הדרוזים והצ'רקסים חל גיוס חובה לגברים ועל שאר בני המיעוטים לא חל גיוס חובה כלל. בפרק שלפנינו נבחן את מאפייניהן, ייחודיותן,
        אופן התנהלותן ויקומן המרקם החברתי, של קבוצות המיעוטים בישראל.
        <br>

      </p>
      <h3 class="book--topiccontent-title">
        2.3.2 דרוזים
      </h3>
      <p class="book--text-style">
        הדרוזים הם בני עדה דתית החיים במדינות המזרח התיכון. הדת הדרוזית התפלגה מן האסלאם השיעי בראשית המאה האחת-עשרה כאשר
        <b>אלחכם באמר-אללה</b> (מהדי) הכריז על עצמו כנביא. הדרוזים מאמינים בכך שאלחכם היה נביא אמת ואמונה זו מבדילה בינם לבין
        המוסלמים המאמינים בהיותו של מוחמד אחרון הנביאים ורואים באמונה בנביא מאוחר יותר ככפירה. המחלוקת בין הדרוזים לבין המוסלמים
        היא עמוקה ועל רקע זה נרדפו הדרוזים בעברם.
        <br>הדרוזים הם בני עדה דתית החיים במדינות המזרח התיכון. הדת הדרוזית התפלגה מן האסלאם השיעי בראשית המאה האחת-עשרה כאשר
        <b>אלחכם באמר-אללה</b> (מהדי) הכריז על עצמו כנביא. הדרוזים מאמינים בכך שאלחכם היה נביא אמת ואמונה זו מבדילה בינם לבין
        המוסלמים המאמינים בהיותו של מוחמד אחרון הנביאים ורואים באמונה בנביא מאוחר יותר ככפירה. המחלוקת בין הדרוזים לבין המוסלמים
        היא עמוקה ועל רקע זה נרדפו הדרוזים בעברם. הדת הדרוזית היא
        <b> דת סודית </b> ועיקריה ידועים רק לחכמי העדה. מרבית הדרוזים (המכונים "ג'ואהל") אינם מכירים את הדת על בוריה ולא עוסקים
        בלימודה. באופן כללי ניתן לומר כי הדרוזים מאמינים בקיומו של אל אחד (מונותאיזם), באמיתות נבואתם של כל הנביאים שקדמו
        להופעת הדת הדרוזית ובחמישה נביאים דרוזים נוספים (בראשם שועייב), וכן בקיומו של גלגול נשמות.
        <br> היישוב הדרוזי בארץ הוא ותיק למדי, יש המתארכים אותו עד למאה האחת-עשרה, מיד עם יסוד הדת, ויש הדוחים אותו למאה החמש-עשרה.
        בתחומי מדינת ישראל נמצא אחד המקומות הקדושים ביותר לעדה:
        <b>קבר הנביא שועייב. </b> הנביא שועייב מוזכר רבות בקוראן ועל-פי האמונה הדרוזית הוא יתרו כהן מדיין, אבי ציפורה אשתו של
        משה. קבר הנביא שועייב ממוקם בגליל בקרבת כפר חיטים.
        <br> הדרוזים בישראל חיים בכפרים שהוקמו בעיקר בגליל ובכרמל, ברוב הכפרים מהווה היום גרעין הכפר המסורתי רק חלק קטן ממערך
        השטח הבנוי, והמערך החדש של הכפר מורכב משכונות חדשות המקיפות את הגרעין המסורתי. העדה הדרוזית בישראל מהווה קבוצת מיעוט
        המכריזה על נאמנותה המוחלטת למדינת ישראל ולחוקיה. לאחר הקמת המדינה התנדבו רבים מבני העדה לשירות צבאי, בעיקר יחידת
        המיעוטים. החל משנת 1956
        <b>חייבים הדרוזים בשירות חובה </b>, אחוזי הגיוס בקרב העדה גבוהים ושיעור הקצינים והנגדים בני העדה הדרוזית בצה"ל עולה
        על חלקם היחסי אוכלוסייה.
        <br>
      </p>

      <h3 class="book--topiccontent-title">
        2.3.3 מוסלמים
      </h3>

      <p class="book--text-style">
        האסלאם היא הדת השנייה בגודלה בעולם. בבסיס האמונה המוסלמית עומדת האמונה באל אחד, ההכרה במוחמד כאחרון הנביאים וכשליחו של האל
        ("רסול אללה") והאמונה ב
        <b>קוראן </b> כספי היסוד של הדת. באסלאם
        <b>חמש מצוות היסוד: "שאהדה" </b> (עדות) החובה להצהיר על דבקות בעיקרי האמונה, "
        <b>צלאת </b>" התפילה הנערכת חמש פעמים ביום,
        <b>"זכאת" </b> החובה לתת צדקה,
        <b> "צום" </b> החובה לצום במהלך חודש הרמדאן,
        <b> "חג'" </b> החובה על כל אדם המסוגל לכך מבחינה כלכלית לעלות לרגל למכה.
        <br> המוסלמים בישראל מתחלקים לשלוש קבוצות אוכלוסייה עיקריות:
        <b>ערבים, בדואים וצ'רקסים, </b> רובם ככולם ערבים סונים המהווים חטיבה אחידה למדי מבחינה דתית. מבחינה דמוגרפית אחוז המוסלמים
        באוכלוסייה עומד באופן עקבי על כ-16% מן האוכלוסייה בישראל. להלן נרחיב על כל קבוצה בנפרד.
        <br>

      </p>
      <h4 class="book--topiccontent-secondtitle">
        2.3.3.1 ערבים מוסלמים
      </h4>
      <p class="book--text-style">
        ערביי ישראל רובם ככולם הם
        <b> מוסלמים סונים </b>, המתגוררים בערים וביישובים כפריים ערביים וכן במספר ערים מעורבות. ריכוז היישוב הערבי נמצא בצפונה
        של ישראל, בגליל ולאורך מורדות הכרמל. צורת ההתיישבות הנפוצה ביותר של ערביי ישראל היא הכפר.
        <br> הכפר המסורתי מנה כמה מאות משפחות, אך כיום ישנם גם כפרים גדולים המונים עשרות אלפי תושבים. רוב הכפרים הערביים נבנו
        על מורדות ההרים מעל לאדמות הפוריות של העמקים; זאת מטעמים חקלאיים וביטחוניים כאחד. החלוקה הפנימית בתוך הכפרים התבססה
        על בתי-האב- (חמולות), בני בתי אב אחד נהגו לגור בסמיכות לבני המשפחה ויצרו מתחמי מגורים משותפים. על מנת לשמור על הפרטיות
        נבנה הבית סביב חצר פנימית, שבה מתנהלים חיי המשפחה. בעשורים האחרונים עובר הכפר הערבי תהליכי עיור, כפרים רבים הפכו
        לערים כמו למשל אום אל-פאחם או טייבה ובתוכם מתפתחים תעשייה מודרנית ומרכזי מסחר. על רקע זה נמצא גם אחוז העוסקים בחקלאות,
        שהיה בעבר גבוה מאוד, במגמת ירידה.
        <br> הפולחן הדתי של הערבים המוסלמים מתרכז במסגדים. המונח
        <b>"מסגד" </b> מגיע ממן הפועל הערבי "מסג'ד" שפירושו לסגוד או להשתחוות. לצדו של המסגד הגדול קיימים בכל עיר גם מקומות
        תפילה קטנים יותר המכונים "ג'מע" שמשמעותה התכנסות או התאספות. לצדם של המסגדים המרכזיים בנוי צריח הקרוי "
        <b>מינרט </b>", מן הצריח קורא ה
        <b>מואזין </b> את המוסלמים לכל אחת מחמשת התפילות בהן הם חייבים ביום. אל המסגד נכנסים המאמינים יחפים והתפילה מתבצעת על
        גבי מרבדים ומחצלות המונחים על הקרקע. המתפללים פונים בתפילתה דרומה, לכיוונה של העיר מכה.
        <br>
      </p>

      <h4 class="book--topiccontent-secondtitle">
        2.3.3.2 בדואים
      </h4>
      <p class="book--text-style">
        הכינוי "בדואים" מגיעה מלשון "בדיה", בערבית "יושבי מדבר". כינוי זה מתייחס אל השבטים הנודדים במדבריות המזרח התיכון וצפון אפריקה.
        באופן מסורתי עסקו הבדואים במרעה, עיסוק שחייב אותם לנדידה בחיפוש אחר שטחים מתאימים. הניידות של הבדואים השפיעה על אורחות
        חייהם ותרבותם, על עצמאותם ועל היעדר התלות שלהם במסגרת לאומית או בשלטון מרכזי. הנדודים נתנו את אותותיהם גם ביחס לצורת
        המגורים המסורתית- אוהל ארעי. מרבית הבדואים הם מוסלמים בדתם אולם בעבר פולחן הדת והמצוות הקשורות בה לא תפסו על-פי רוב
        מקום מרכזי בחייהם. התכונות הראשיות המייחדות את החברה הבדואית הן ליכוד שבטי ומשפחתי, הכנסת אורחים (שיסודה בכורח של
        עזרה הדדית בתנאי המדבר הקשים) ומשפט שבטי (שהיה מיסודותיו של ליכוד השבט).
        <br> עם הקמת מדינה ישראל ב-1948, מתיחת הגבולות בין ישראל לשכנותיה, הרחבת ההתיישבות בנגב והקמתם של בסיסים ושטחי אש, צומצם
        שטח הנדידה והמחייה של האולוכסייה הבדואית. הבדואים בישראל מתחלקים לשתי קבוצות מרכזיות: הבדואים בגליל המתגוררים ברובם
        בכפרים המוכרים על-ידי המדינה והבדואים בנגב שהחל משנות השישים פועלת מדינת ישראל על-מנת ליישבם ביישובי קבע (נכון לשנת
        2012 הוקמו שבעה יישובים כאלו).
        <br> בדואים רבים מתגוררים
        <b>בכפרים לא מוכרים </b>, יישוב שרשויות המדינה אינן מכירות בקיומו או אף מתנגדות לקיומו ואינו מהווה מועצה מקומית או כלול
        בתוך מועצה אזורית, חלק מן הכפרים הללו גם לא מחוברים לתשתיות של מים וחשמל.
        <br>
        <b>על אף שעל הבדואים לא חל חוק גיוס חובה, רבים מבני העדה משרתים בצה"ל </b>. הבדואים הראשונים התגייסו לצה"ל עוד בשנות
        החמישים והשתלבו בתפקידים שונים, רובם ביחידת המיעוטים. בשנת 1970 הוקמה יחידת הגששים המבוססת רובה ככולה על בני העדה
        ובשנת 1986 הוקם "גדוד הסיור המדברי" (הגדס"ר הבדואי) הכפוף לחטיבה הדרומית של אוגדת עזה. בדואה נוספים משרתים בתפקידים
        שונים במערכיו השונים של צה"ל.
        <br>
      </p>

      <h4 class="book--topiccontent-secondtitle">
        2.3.3.3 צ'רקסים
      </h4>
      <p class="book--text-style">
        עדה מוסלמית נוספת הנפרדת מן הערבים המוסלמים היא העדה הצ'רקסית. הצ'רקסים (המכנים את עצמם "אדיגים") הם
        <b>עם קווקזי </b> שבמהלך המאה התשע-עשרה החל לנדוד ממולדתו בעקבות הכיבוש הרוסי. האימםריה העות'מאנית ששלטה באותה העת בבלקן
        פתחה את שעריה בפני הצ'רקסים הנמלטים ועודדה את התיישבותם באזורי ספר בעייתיים. כיום קיימים יישובים צ'רקסים בטורקיה,
        סוריה, ירדן וישראל.
        <br> בישראל מתגוררים הצ'רקסים שומרים על תלבושתם המיוחדת, ביחוד בימי חג ומועד. הגבר חובש לראשו כובע שעיר המכונה "פפח'ה",
        על גופו הוא לובש בגד שחור המקושט בכדורי רובה וחרב חגורה למותניו.
        <br> הצ'רקסים קיימו מערכת יחסים טובה עם היישוב היהודי עוד מימי העליות הראשונה והשנייה. לאחר הקמת המדינה התנדבו מרבית
        בני העדה לשירות צבאי, בעיקר ביחידת המיעוטים ובפלוגות פרשים צ'רקסית שכונתה 'קלוואלריה': לאחר שפורקה הפלוגה הוקם במקומה
        "חיל הספר" שהפך ברבות הימים למשמר הגבול. בשנת 1958 ביקשו מנהיגי העדה הצ'רקסית להחיל עליהם
        <b>גיוס חובה </b>, במכתב לראש מועצת כבר-קמא נענה לראש הממשלה, דוד בן-גוריון, לבקשתם:
        <br> "מועצת כבר-קמא אל עזיז שוגאן הנכבד... לאחר עיון ובדיקה בבקשתך לגייס את צעירי הצ'רקסים גיוס חובה לצה"ל החלטתי לקבל
        הצעתך... זאת אני עושה מתוך הוקרה לאומץ הלב, שבני עדתכם הצטיינו בו מאז ומעולם והנאמנות למדינה שהנכם מגלים כל השנים
        הללו".
        <br>

      </p>

      <h4 class="book--topiccontent-secondtitle">
        2.3.3.4 נוצרים </h4>
      <p class="book--text-style">
        במדינת ישראל חיים נוצרים בני כתות וזרמים שונים. רבים מן הנוצרים בישראל הם נצר לקבוצות החיות בשטחי הארץ אלפי שנים, לצדם חיים
        בארץ גם בני סגל כנסייתי שמוצאם אירופי, בני קבוצות נוצריות שאינם ערבים (ארמים וארמנים למשל), קרובי משפחה של יהודים
        שדתם נוצרית ועובדים זרים המגדירים עצמם כנוצרים. את הנוצרים בישראל ניתן לחלק על-בסיס הזרם הכנסייתי אליו הם משתייכים.
        רובם של הנוצרים משתייכים לכנסיה היוונית – אורתודוקסית או לכנסייה הקופטית, המארונית, האשורית, האתיופית, האנגליקנית
        ועוד. הנוצרים בישראל מרוכזים באזור ירושלים ביישוב הנוצרי הגדול ביותר הוא נצרת.
        <br> ארץ-ישראל קדושה לנוצרים מאחר ובה
        <b>חי ופעל ישו </b>, אבי הנצרות, עובדה שיכולה להסביר את ריבויים של הזרמים והמסורות הנוצריות הנוכחות בישראל. בישראל ממוקמים
        אתרים רבים הקדושים לנצרות (כנסיית הקבר והוויה דולורוזה בירושלים, כנסיית הבשורה והר הקפיצה בנצרת, כנסיית הלחם והדגים
        וכפר נחום באזור הכנרת ועוד).
        <b>צליינים </b> רבים מגיעים בכל שנה לישראל על-מנת לבקר במקומות הקדושים להם. מדינת ישראל מאפשרת לאוכלוסייה הנוצרית חופש
        דתי מלא והם מנהלים כמה בתי דין עצמאיים האחראים על טיפול בענייני אישות של בני העדה. בדומה לערבים המוסלמים (שאינם בדואים)
        מרבית הערבים הנוצרים אינם מתגייסים לצה"ל. באחרונה החלה קבוצה של ערבים ארמים להתנדב בגיוס.
        <br>
      </p>

    </div>

  </ion-content>
