<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h1 class="book--topiccontent-starttitle">2.4.4.1 חג הנביא אלח'אדר (.....)</h1>


      <p class="book--text-style">
        חג ה
        <b>נביא אלח'אדר</b> חל ב-25 בינואר ונחוג משנות השישים. חג זה מציין את זכרו של הנביא אלח'אדר (הנביא הירוק) אשר מזוהה
        לפי המסורת הדרוזית עם
        <b>אליהו הנביא</b> המוזכר גם במקורות היהודיים והמוסלמים. בארץ-ישראל ישנם כמה מקומות קדושים שעל פי המסורת הדרוזית עבר
        בהם הנביא והשאיר את ברכתו. אתרים אלו נושאים את שמו ומשמשים כמוקדי עלייה לרגל אולם האתר המרכזי בחשיבותו הינו הקבר
        של הנביא אלח'אדר הנמצא בכפר יסיף, ליד עכו. במהלך החג, ראשי העדה מתפללים בעבור שלום העדה, המדינה והעולם ואילו משפחות
        רבות באות לקבל את ברכת הנביא וראש העדה. בנוסף, נערכת באתר הקבר מכירה של סמלים וספרים דרוזיים.
        <br>
      </p>

      <h1 class="book--topiccontent-starttitle">2.4.4.2 חג הנביא שועייב (....)</h1>
      <p class="book--text-style">
        חג ה
        <b>נביא שועייב</b> חל בין התאריכים 24-27 באפריל, כאשר עיקר החגיגות נערכות ב-25 באפריל. חג זה מציין את זכרו של הנביא
        שועייב אשר נחשב לנביא המקודש ביותר בקרב הדרוזים ומזוהה עם
        <b>יתרו</b> חותן משה. במרכזו של החג עומדת העלייה לרגל אל קברו של הנביא הממוקם בסמוך להר קרני חיטין. העלייה לרגל מייצרת
        מקום עבור בני העדה ויש לה הקשרים התרבותיים וחברתיים רבים. אחד המנהגים המרכזיים במתחם הקבר הוא יציקת שמן לשקע המצוי
        ליד הקבר ומיוחס לטביעת כף רגלו של הנביא ("דעסה") ומשיחת הגוף בשמן כסגולה להצלחה. הימי העלייה לרגל נהוגה גם "השלמת
        נדרים", אדם שנדר בקבר נדר מסוים והנדר התגשם חוזר אל הקבר ומשלים את נדרו באמצעות זביחת זבח או תרומה לקישוט מקום הקבר.
        <br>
      </p>
      <h1 class="book--topiccontent-starttitle">2.4.4.2 חג הנביא שועייב (....)</h1>
      <p class="book--text-style">
        חג ה
        <b>נביא שועייב</b> חל בין התאריכים 24-27 באפריל, כאשר עיקר החגיגות נערכות ב-25 באפריל. חג זה מציין את זכרו של הנביא
        שועייב אשר נחשב לנביא המקודש ביותר בקרב הדרוזים ומזוהה עם
        <b>יתרו</b> חותן משה. במרכזו של החג עומדת העלייה לרגל אל קברו של הנביא הממוקם בסמוך להר קרני חיטין. העלייה לרגל מייצרת
        מקום עבור בני העדה ויש לה הקשרים התרבותיים וחברתיים רבים. אחד המנהגים המרכזיים במתחם הקבר הוא יציקת שמן לשקע המצוי
        ליד הקבר ומיוחס לטביעת כף רגלו של הנביא ("דעסה") ומשיחת הגוף בשמן כסגולה להצלחה. הימי העלייה לרגל נהוגה גם "השלמת
        נדרים", אדם שנדר בקבר נדר מסוים והנדר התגשם חוזר אל הקבר ומשלים את נדרו באמצעות זביחת זבח או תרומה לקישוט מקום הקבר.
        <br>
      </p>

      <h1 class="book--topiccontent-starttitle">2.4.4.3 חג הנביא סבלאן(...)</h1>
      <p class="book--text-style">
        חג
        <b>הנביא סבלאן</b> חל ב-10 בספטמבר ונחגג משנת 1969 ועד היום. חג זה מציין את זכרו של הנביא סבלאן שיש המייחסים אותו ל
        <b>זבולון בנו של יעקב</b>, המוזכר גם בכתבי קודש הדרוזים. הדרוזים והמוסלמים סבורים כי מקום קבורתו של הנביא נמצא בגליל
        העליון ליד הכפר הדרוזי חורפיש, אשר נחשב למקום השני בקדושתו בקרב הדרוזים (אחרי קבר הנביא שועייב). במרכזו של החג עומדת
        העליי לרגל אל קברו של הנביא, המתחילה עוד מערב החג. במהלך יום החג עצמו נפתח שוק בחצר הגדולה של המתחם. לרבים מהחוגגים,
        אירוע זה מהווה מפגש חברתי ואף הזדמנות לזקני העדה וראשיה להתכנס ולהכריע בעניינים חשובים אקטואליים.
        <br>
      </p>
    </div>

  </ion-content>
