<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">2.4.7.1 נובי גוד (ערב השנה החדשה)</h1>
        <p class="book--text-style">
          בערב שבין ה-31 בדצמבר ל-1 בינואר חל ערב השנה האזרחית חדשה המצוין בכל העולם. ברוסיה ובשאר מדינות חבר העמים, מכונה ערב זה
          <b>"נובי גוד"</b>. השלטון הקומוניסטי ששלט ברוסיה הסובייטית במשך שנים רבות פגע בחופש הדת ואסר על קיומם של חגים דתיים
          במרחב הציבורי.
          <br>באותה התקופה התעצב הנובי גוד כחג אזרחי חשוב בו נפגשו בני המשפחה וסעדו סעודה משפחתית. חלק גדול מעולי ברית המועצות
          החיים בישראל שחגגו את החג האזרחי ברוסיה ממשיכים לציינו גם כיום.
          <br>
        </p>

      </div>

    </ion-content>
  </div>
