<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">2.4.6.1 חג הפסחא</h1>
        <p class="book--text-style">
          חג הפסחא חל ביום ראשון הראשון לאחר הופעת הירח בראשיתו של האביב והוא נודד בין החודשים מרץ לאפריל. החג מסמל על-פי האמונה הנוצרית
          את תחייתו של ישו כשלושה ימים לאחר צליבתו. לחג עצמו קודם "השבוע הקדוש" בו מציינים שלושה ימים עיקריים: " יום ראשון
          של הדקלים", המצוין לזכר "הסעודה האחרונה", שהיא סעודת ליל הסדר שערך ישו עם תלמידיו בהר ציון זמן קצר לפני צליבתו;
          ו"יום שישי הטוב" המציין את צליבתו של ישו ובמהלכו מתקיימות תפילות ותהלוכות מיוחדות בכנסיות.
          <br> אחד מסמלי החג מזה מאות שנים הוא ביצי הפסחא המסמלות פריון והיווצרותם של חיים חדשים. את הביצים נהוג לצבוע בצבעים
          בהירים המסמלים את אור השמש ולהשתמש בהן לקישוט. סמל נוסף של החג הינו ארנב הפסחא, המסמל גם הוא פריון ואת תחילת החיים
          החדשים בטבע עם בוא האביב. כיום נוהגים להכין מאכלים מתוקים בצורת ארנב ולאוכלם במהלך החג.
          <br>
        </p>

        <h1 class="book--topiccontent-title lightHeebo">2.4.6.2 חג המולד</h1>
        <p class="book--text-style">
          חג המולד הוא חג המשותף לכל הזרמים בנצרות ומציין את הולדתו של ישו; אולם הזרמים השונים מציינים אותו בתאריכים שונים, כשהתאריך
          הרווח ביותר הוא ה-25 לדצמבר לפיו מתנהלים הזרם הקתולי והפרוטסטנטי. סיפור החג מתבסס על תיאור הולדתו של ישו לפי הברית
          החדשה ובמהלכו מקיימים מנהגים שונים, חלקם נוצריים, חלקם חילוניים וחלקם מתבססים על מסורות אליליות קדם-נוצריות. בחצות
          הלילה שבין ה-24 וה-25 בדצמבר חלה "מיסת חג המולד", טקס תפילה מיוחד אליו נוהגים להגיע כל בני הקהילה. מנהגי החג כוללים
          את דמותו של "סנטה קלאוס" חלוקת מתנות; קישוט עץ אשוח והצבתו בבית; סעודות חג משפחתיות עם מאכלים מסורתיים; וצדקה ומשים
          טובים בין לאדם ובקהילה.
          <br>
        </p>
      </div>

    </ion-content>
  </div>
