<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/backbutton.svg" class="book--menu-menubutton" ng-click="goBack()">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h1 class="book--topiccontent-starttitle">
        2.4.3.1 השנה העברית</h1>

      <p class="book--text-style">
        ברחבי העולם נהוגים כמה לוחות שנה הנבדלים זה מזה. על-פי הלוח השמשי שנה מהווה סיבוב שלם של כדור הארץ סביב הארץ.
        <b>לוח השנה העברי פועל בה-בעת על-פי שתי המערכות. </b> מצד אחד, ימי החודשים נמנים על-פי הירח, כל חודש בשנה היהודית מתחיל
        בתחילת המחזור הירחי. מצד שני, בשל היותם של החגים כה קשורים לעולם החקלאות והטבע, ישנה הקפדה יתירה על שימורו של מעגל
        השנה.
        <br> מאחר ומחזור הירח קצר בכאחד-עשרה ימים ממחזור השמש, נדרש הלח העברי לסנכרן ביניהם. אם לא ייעשה כן הדבר יגרום, עם הזמן,
        לתזוזה של החגים לאורך עונות השנה (כפי שקורה בלוח ההיג'רי, כאשר חודש הרמדאן יכול לחול פעם בחורף ופעם בקיץ). על מנת
        להתגבר על בעיה זו, פעם בכשלוש שנים חלה
        <b>שנה מעוברת </b> (מלשון עיבור, הריון), שנה בת שלוש-עשרה חודשים בה נכללים חודשי אדר (אדר א' ואדר ב'). הוספת חודש זה
        מאפשרת להתגבר על הפער שבין שנת השמש לשנת הירח. בעבר נשמרה הדרך בה מתבצע העיבור בסוד, אך מאז המאה הרביעית מתבצע העיבור
        על פי הנוסחה מתמטיקה קבועה.
        <br>

      </p>
      <h3 class="book--topiccontent-starttitle">
        2.4.3.2 ראש השנה </h3>

      <p class="book--text-style">

        <b>"בחודש השביעי באחד לחודש, יהיה לכם שבתון זכרון תרועה, מקרא קדש"
          <br> (ויקרא כג, כד). </b>
        <br>
        <br> ראש השנה חל ב-א' בתשרי והוא אחד מימי הציון המרכזיים בלוח השנה היהודי. לחג שלושה היבטים מרכזיים: היום הראשון בשנה
        החדשה, יום בו מתחיל מחזור זמנים חדש; יום הדין, בו, על-פי האמונה נידונים כל באי עולם; היום בוא נברא האדם ותמה מלאכת
        הבריאה. בראש השנה נהוגים מספר מצוות ומנהגים:
        <b>תקיעה בשופר</b> לאורך תפילות היום המסמלת את הצורך להתעורר לתשובה ומאזכרת את סיפור עקדת יצחק; אכילת מאכלים שונים אשר
        מסמלים
        <b>תקווה לשנה החדשה</b> (כדוגמת רימון או תפוח בדבש);
        <br>
        <b>ותשליך</b>, תפילה הנאמרת ביום הראשון של ראש השנה, אחרי תפילת מנחה, על שפת נהר או מקווה מים אחר ומהווה ביטוי לרצון
        להשליך את כל החטאים ולחזור בתשובה.
        <br>
      </p>
      <h1 class="book--topiccontent-starttitle">
        2.4.3.3 יום הכיפורים </h1>

      <p class="book--text-style">

        <b>"כי ביום זה יכפר עליכם, לטהר אתכם: מכל, חטאתיכם לפני ה', תטהרו"
          <br> (ויקרא טז, כ) </b>
        <br>
        <br> יום הכיפורים חל ב-י' בתשרי ומקורו בספר ויקרא (ויקרא כ"ג כ"ו-כ"ח). הוא נחשב ליום הקדוש ביותר במחזור השנה היהודית
        ומכונה
        <b>שבת שבתון</b>. במרכזו עומדת בקשת הסליחה והכפרה על חטאים שהאדם עשה במהלך השנה; כפי שמסביר הרמב"ם: "יום הכיפורים הוא
        זמן תשובה לכול, ליחיד ולרבים, והוא קץ מחילה וסליחה לישראל. לפיכך חייבים הכול לעשות תשובה ולהתוודות ביום הכיפורים".
        <br> המצווה העיקרית של היום היא
        <b>"ועיניתם את נפשותיכם"</b>, ממנה גזרו חז"ל </b>שישה איסורים: </b> מלאכה, אכילה ושתייה, רחיצה, סיכה (שימוש במוצרים
        קוסמטיים), נעילת הסנדל (העשוי מעור) ותשמיש המיטה (קיום יחסי מין). בנוסף לאלו, נוספו ליום הכיפורים מספר מנהגים, ובהם:
        לבישת בגדים לבנים, טבילה במקווה, קיום סעודה גדולה בערב החג וקיום "כפרות". בבית הכנסת נערכות במהלך היום תפילות מיוחדות:
        את החג פותחת תפילת
        <b>כל נדרי, </b> המתירה לכל אדם לבוא ולהתפלל עם הקהל ומבטלת את הנדרים, ההבטחות והאיסורים שנטל האדם על עצמו במהלך השנה
        שחלפה; במהלך תפילות היום מוזכרת
        <b>עבודת הכהן הגדול</b> בבית המקדש; ואת התפילות מסיימת
        <b>תפילת נעילה</b> במהלכה מבקש ציבור המתפללים "פתח לנו שער בעת נעילת שער", ובסופה נשמעת תקיעת שופר והקריאה " לשנה הבאה
        בירושלים הבנויה".
        <br>

      </p>

      <h1 class="book--topiccontent-starttitle">
        2.4.3.4 סוכות </h1>

      <p class="book--text-style">


        <b>"חג הסכות תעשה לך, שבעת ימים: באספך מגרנך, ומיקבך, טשמחת, בחגך: אתה ובנך ובתן, ועבדך ואמתך, והלוי והגר והיתום והאלמנה,
          אשר בשעריך"
          <br> (דברים טז, יז) </b>
        <br>
        <br> חג הסוכות חל ב-ט"ו בתשרי ונמשך שבעה ימים. סוכות הוא אחד מ
        <b>שלושת הרגלים</b> (פסח, שבועות וסוכות), בהם היו עולים עולי הרגל אל בית המקדש שבירושלים.
        <br> מהותו של החג, כמו רבים מחגי ישראל, היא כפולה: ראשית, הוא מאזכר אירוע היסטורי – הנדידה במדבר לאחר היציאה ממצרים,
        תוך כדי מגורים בסוכות ובאוהלים ארעיים. שנית, הוא חלק מן המעגל החקלאי בארץ ישראל ומכונה"
        <b>חג האסיף</b>" – בתקופה בה הוא חל נאספת התבואה של העונה החקלאית הקודמת.
        <br> המשמעות ההיסטורית של החג באה לידי ביטוי בבנייתה של הסוכה ובחיוב ההלכתי של האדם לצאת מביתו ולעבור להתגורר במבנה ארעי
        הנמצא תחת כיפת השמיים. כיום, כאשר רובנו אינם עובדי אדמה, האספקט החקלאי התעמעם מעט אך הוא עדיין בא לידי ביטוי בתפילות
        הגשם, אותה מתחילים לומר במהלך החג ובקשר שבין החג למים. המשנה (ראש השנה, א', ב') מציינת כי בחג הסוכות " נידונים על
        המים"; בזמן שבית המקדש היה קיים, היה נערך במהלך ימי חול המועד טקס "ניסוך המים", שנקשר בשמחה גדולה המכונה </b>שמחת
        בית השואבה</b>, אותה מתאר הרמב"ם:
        <br> והיאך הייתה שמחה זו: החליל מכה, ומנגין בכינור ובנבלים ובמצלתיים, וכל אחד ואחד, בכלי שיר שהוא יודע לנגן בו... ורוקדין
        ומספקין ומטפחין ומפזזין ומכרכרין כל אחד ואחד כמו שיודע... מצוה, להרבות בשמחה זו. ולא היו עושין אותה עמי הארץ, וכל
        מי שירצה אלא גדולי חכמה ישראל וראשי הישיבות והסנהדרין והחסידים והזקנים ואנשי מעשה אופייה של שמחת בית השואבה השתנה
        לאחר חורבן המקדש, אך גם בימינו נערך אירוע בעל שם זהה בחסידיות ובקהילות רבות.
        <br> מצוות
        <b>ארבעת המינים</b> היא אחת המצוות המרכזיות של החג. ארבעת המינים (אתרוג, לולב, הדס, ערבה) ניטלים בכל יום מימי החג (אך
        לא בשבת) בבית הכנסת, והם מוחזקים בידי המתפללים בזמן תפילת ההלל. באירופה בעבר היה קשה מאוד להשיג את ארבעת המינים הגדלים
        רק באזור המזרח התיכון. דבר שהפך את השגתם למשימה קהילתית ראשונה במעלה עליה היו טורחים בני הקהילה חודשים מראש.
        <br>

      </p>
      <h1 class="book--topiccontent-starttitle">
        2.4.3.5 שמיני עצרת ושמחת תורה </h1>

      <p class="book--text-style">

        <b>"ביום השמיני עצרת תהיה לכם כל מלאכת עבודה לא תעשו"
          <br> (במדבר, כט, כה) </b>
        <br>
        <br> שמיני עצרת חל ב-כ"ב בתשרי, הוא
        <b>יום חג הצמוד לסוכות</b> אך מהווה חג בפני עצמו. בשמיני עצרת הופכת הבקשה על המים למפורשת יותר ונוסח תפילת העמידה משתנה.
        שמחת תורה הוא חג נוסף שחל בארץ-ישראל באותו היום של שמיני עצרת מקורו של חג זה בתקופת הגאונים והוא מסמל את סיום מחזור
        הקריאה בתורה: בכל שבת נקראת "פרשה" מן התורה –
        <b>פרשת השבוע</b>; יום שמחת תורה הוא היום בו מסתיים מחזור קריאה אחד בפרש "האזינו" ומתחיל מיד מחזור חדש בפרשת "בראשית".
        <br> בבתי הכנסת מוציאים את כל ספרי התורה (הפסולים והכשרים) מארון הקודש. המתפללים נושאים אותם ומקיפים את הבימה שבע פעמים
        ולכל הקפה מיוחדים פסוקי תפילה ופיוטים.
        <br> עם השנים התרחב המנהג וכל הקפה התארכה מעט והתפתחה לכדי ריקודים של משחה עם ספרי תורה. בהמשך היום עולה כל אדם לתורה
        ובכלל זאת גם מי שלא הגיע לגיל מצוות.
        <br> מקרב הקהילה נבחרים "חתן תורה" ו"חתן בראשית", הראשון מסיים את המחזור הקודם והשני פותח את המחזור הבא. בשנים האחרונות
        נערכות במוצאי שמחת תורה "
        <b>הקפות שניות</b>" ברחובות הערים בליווי של מוזיקה ובהשתתפות הציבור הרחב.
        <br>

      </p>
      <h1 class="book--topiccontent-starttitle">
        2.4.3.6 חנוכה </h1>

      <p class="book--text-style">

        <b>"שנכנסו יוונים להיכל טמאו כל השמנים שבהיכל, וכשגברה יד בית חשמונאי ונצחום, בדקו ולא מצאו אלא פך אחד שהיה מונח בחותמו
          של כהן גדול... ונעשה בו נס והדליקו ממנו שמונה ימים"
          <br> (מגילת תענית) </b>
        <br>
        <br> חג החנוכה חל ב-כ"ה בכסלו ונמשך לאורך שמונה ימים. בסיסו של סיפור החנוכה הוא ב
        <b>מרד החשמונאים</b> משנת 164 לפני הספירה. החשמונאים סירבו לקבל את הגזרות והרדיפה הדתית של המלך היווני- סלווקי, אנטיוכוס
        אפיפנס, ופתחו במרד כנגדו. באמצעות טקטיקות מלחמה מתוחכמות, הצליחו לנצח את הכוחות העדיפים של האויב, להקים מדינה עצמאית
        שהתקיימה במשך עשרות שנים ולטהר את בית המקדש שחולל.
        <br> החג נקבע לשמונה ימים בעקבות סיפור
        <b>נס פך השמן</b>. בעת טיהור בית המקדש התגלה שכל הפכים בהם נאצר השמן הדרוש להדלקת מנורת הזהב, נפתחו ועל כן, אינם טהורים
        עוד. בסופו של דבר נמצא רק פך טהור אחד שהיה אמור להספיק ליום אחד, אך בדרך נס הספיק לשמונה ימים. זכרה של מנורת המקדש
        בדולקת עומד גם בבסיס המצווה המרכזית בחג,
        <b>הדלקת החנוכייה</b>; ובבסיס המנהג לאכול מאכלים מטוגנים.
        <br> חנוכה הוא החג הראשון שנקבע על-ידי חז"ל ואינו מוזכר בתנ"ך ובמאה האחרונה ראו בו הוגים ופעילים ציוניים חשיבות רבה:
        למדו את קורות מלחמת החשמונאים, ערכו כנסים ומסיבות ציוניים בלילות החג וקיימו מסעות מיוחדים לאתרי הקרבות בבתי הספר
        ובתנועות הנוער.
        <br>

        <h1 class="book--topiccontent-starttitle">
          2.4.3.7 ראש השנה לאילנות (ט"ו בשבט) </h1>

        <p class="book--text-style">

          <b>"באחד בשבט ראש השנה לאילן כדברי בית שמאי, בית הלל אמרים בחמישה עשר בו"</b> (משנה, ראש השנה א, א)
          <br>
          <br>
          </b>
          ראש השנה לאילנות חל ב-ט"ו בשבט. ראשיתו של היום בתקופת המשנה. אז הוא נקבע
          <b>כיום בו מיושמות מספר מצוות התלויות בארץ</b>, ובעיקר התרומות והמעשרות המהוות למעשה את המיסים, אותם משלם החקלאי מתוך
          סך כל היבול. הבחירה בתאריך זה אינה מקרית והוא מייצג את ראשית האביב ואת סופו של החורף.
          <br> עם השנים נוספו ל-ט"ו בשבט רבדים נוספים, בקהילות היהודיות בחוץ לארץ, ובפרט בארצות אירופה, היה מקובל לאכול בחג מפירותיה
          של ארץ-ישראל ולדבר בשבחה. במאה השבע-עשרה התפתח המנהג הקבלי של
          <b>סדר ט"ו בשבט</b>, במהלכו קיבלה אכילת פירות ממד חגיגי ורשמי. התנועה הציונית הוסיפה לחג רובד נוסף וראתה בו הזדמנות
          לעסוק ב
          <b>נטיעות</b> ובהפרחת השממה ובכל ט"ו בשבט פותחת הקרן הקיימת לישראל במבצע נטיעות נרחב. בשנים האחרונות הפך החג להיות
          מזוהה גם עם תכנים של איכות הסביבה ושל שמירה על הקיימות.
          <br>

          <h1 class="book--topiccontent-starttitle">
            2.4.3.8 פורים
          </h1>

          <p class="book--text-style">
            <b>"כימים אשר נחו בהם היהודים מאויביהם והחודש אשר נהפך להם מיגון לשמחה ומאבל ליום טוב לעשות אותם ימי משתה ושמחה
              ומשלוח מנות איש לרעהו ומתנות לאביונים."
              <br> (אסתר, ט, כב)
              <br>
              <br>
            </b>
            פורים חל ב-י"ד באדר ברוב העולם אך בירושלים ובמספר ערים עתיקות נוספות , הוא חל ב-ט"ו באדר.
            <br> הסיפור ההיסטורי שהוביל לקביעתו של החג, מופיע במגילת אסתר והתרחש בתקופה שלאחר חורבן בית המקדש הראשון. על-פי המגילה
            זמם המן האגגי, אחד מן המקורבים למלך הפרסי אחשוורוש, "להשמיד, להרוג ולאבד" את כל היהודים שהתגוררו בתחום הממלכה.
            מן הגזרה הקשה הצליחו היהודים להינצל בזכות אסתר ומרדכי. ימי חודש אשר הפכו, על כן, מימים של אבל לימים של שמחה,
            ומרדכי ואסתר ביקשו לקבעם דורות.
            <br> בפורים נקבעו ארבעה מצוות מרכזיות:
            <br>
            <u>מגילה-</u> קריאתה של מגילת אסתר בערב ובבוקר החג.
            <br>
            <u>משתה-</u> סעודה חגיגית המלווה בשתיית יין.
            <br>
            <u>משלוח מנות-</u> משלוח של לפחות חבילה אחת הכוללת שני מוצרים הניתנים למאכל מידי לחברים.
            <br>
            <u>מתנות לאביונים- </u>הרחבת מעגל השמחה כדי לאפשר גם לעניים לקחת חלק בסעודה.
            <br> בנוסף למצוות אלו התקבעו כמה מנהגים נוספים, בהם התחפשות, שימוש ברעשן ואכילת אוזני המן. י"ג באדר, היום שלפני חג
            הפורים, הוא יום תענית המכונה
            <b>תענית אסתר</b>, המצוינת על-מנת להזכיר את תעניתה ותפילתה של אסתר קודם שניגשה למלך אחשוורוש ואת כוחה של התפילה.
            הצום מתחיל מעלות השחר ונמשך עד לאחר קריאת המגילה עם שקיעת החמה.
            <br> ההלכה קובעת הבדל בזמן שבו חל החג בין ערים שעל-פי המסורת היו מוקפות חומה עוד מימיו של יהושע בן-נון (לדוגמה: ירושלים),
            בהן נחוג החג ב-ט"ו באדר, לבין ערי פרזות (שאינן מוקפות חומה, לדוגמה: תל-אביב), בהן נחוג החג ב-י"ד באדר. בערים
            בהן קיים ספק (לדוגמה: טבריה, צפת, חברון, יפו) נחוג פורים לאורך יומיים. הסיבה נעוצה בבקשתו של מרדכי לאפשר ליהודים
            המתגוררים בשושן, בירת פרס, לחוג את הפורים במשך יום אחד נוסף, לכן מכונה יום ט"ו באדר,
            <b>שושן פורים </b>.
            <br>

          </p>

          <h1 class="book--topiccontent-starttitle">
            2.4.3.9 פסח </h1>

          <p class="book--text-style">

            <b>"אשר פסח על בתי בני ישראל במצרים בנגפו את מצרים ואת בתינו הציל"
              <br> (שמות יב,כז)
            </b>
            <br>
            <br> פסח חל ב-ט"ו בניסן ונמשך שבעה ימים. בלוח השנה היהודי המקורי, בו השנה התחילה בחודש ניסן, היה פסח החג הראשון שנחוג
            בשנה. פסח הוא אחד מ
            <b>שלושת הרגלים</b> (פסח, שבועות, וסוכות), בהם היו עולים עולי הרגל אל בית המקדש שבירושלים. במרכזו של החג עומד סיפור
            יציאת מצרים. על-פי המסופר במקרא, בני-ישראל שועבדו במשך שנים רבות במצרים, לאחר תהליך ארוך שכלל את עשרת המכות,
            יצאו לחופשי, ועם תום ארבעים שנות נדודים הגיעו לארץ-ישראל. מסיפור מכונן זה נגזר ערך החירות שהוא הערך המרכזי הלווה
            את החג. השם "פסח" מרמז לקורבן הפסח שהוקרב לראשונה לפני היציאה ממצרים ואותו היו מקריבים בכל שנה בתקופה בה בית
            המקדש היה קיים. משמעותו המילולית של השם מרמזת על הפסיחה (דילוג) על בתי היהודים במצרים במהלך מכת בכורות.
            <br> המצווה המרכזית בפסח היא
            <b>איסור החמץ. </b> חמץ הוא תערובת הכוללת קמח של אחד מחמשת מיני דגן שבא במגע עם מים ותפח (=החמיץ). על-פי ההלכה,
            במהלך חג הפסח אסור ליהודי לאכול או להחזיק בבעלותו חמץ, כזכר לבני-ישראל שיצאו ממצרים ושבשל החיפזון "לא הספיק בצקם
            להחמיץ". ה
            <b>מצה</b> שהיא סוג הלחם היחיד המותר באכילה בפסח, עשויה בצק שלא החמיץ; על-פי ההלכה עליה להיות מוכנה תוך 18 דקות
            מהרגע בו עורבב הקמח עם מים.
            <br> עובדה זו הפכה את חג הפסח למזוהה עם העיסוק בניקיון. ערב לפני החג נערכת
            <b>בדיקת חמץ</b>, במהלכה בודק בעל הבית לאור נרות את פינות ביתו בחיפוש אחר חמץ. החמץ שנמצא במהלך הבדיקה, נשמר עד
            לבוקרו של ערב פסח ואז נוהגים לשרוף אותו. ההלכה מאפשרת מוצא נוסף ביחס לאדם שהוא בעליו של חמץ רב,
            <b>מכירת חמץ: </b> החמץ נמכר במהלך הפסח לגוי והוא מוחזר לאחר החג לבעליו.
            <br> הערב הראשון מכונה
            <b>ליל הסדר</b>, במהלכו נקראת ההגדה ומסופר סיפור יציאת מצרים. דו"ח גוטמן מצא כי בשנת 2012, 90% מהיהודים בישראל ציינו
            כי חשוב להם לקיים ליל סדר. לצד הנוסח המסורתי של ההגדה, עוצב בקיבוצים גם דגם מחודש של ההגדה המשלבת התייחסויות
            אל הקמת המדינה ואל מאורעות השנים האחרונות.
            <br> ביום שלאחר חג הפסח נוהגים יוצאי צפון אפריקה לציין את ה
            <b>מימונה</b> – חג עממי שמקורו לא ברור, אך יש המזהים בו כמעין חוויה חברתית מתקנת לאחר תקופת החג, בה נמנעים חברי
            הקהילה לאכול ביחד בשל השוני במנהגים ובמסורות. במהלך המימונה פותחת כל משפחה את דלתה בפני הקהילה ומציעה שולחן מלא
            במיני מתיקה. ברכת החג היא "
            <b>תרווחו ותסעדו</b>" – הגיעו למצב של רווחה כלכלית ואישית והשתמשו ברווחה זו על-מנת לסעוד (לסייע, לעזור) לאחרים.
            <br>

            <h1 class="book--topiccontent-starttitle">
              2.4.3.10 ל"ג בעומר וספירת העומר </h1>

            <p class="book--text-style">

              <b>"וספרתם לכם, ממחרת השבת, מיום הביאכם, את עמר התנופה: שבע שבתות, תמימה תהיינה. עד ממחרת השבת השביעית, תספרו
                חמישים יום"
                <br> (ויקרא כג, טז-יז) </b>
              <br>
              <br> ל"ג בעומר הוא יום ציון בחל ב-י"ח באייר, היום השלושים ושלושה (ל"ג) לספירת העומר.
              <br>
              <b>ספירת העומר</b> היא המצווה לספור כל יום מארבעים ותשעה הימים המפרידים בין חג הפסח לחג השבועות. הספירה מחברת
              בין הקרבת קרבן העומר למחרת הפסח, להקרבת שתי-הלחם בשבועות. היא מסמלת גם את המסע שעבר עם ישראל מיציאתו ממצרים
              בפסח ועד מתן תורה בשבועות. מאוחר יותר, בשל מותם של תלמידי ר' עקיבא במגפה שהתרחשה בזמן זה, החלו נוהגים במהלך
              ימי ספירת העומר מנהגי אבלות: לא מתגלחים ומסתפרים ולא עורכים חתונות. ל"ג בעומר עצמו הוא גם מנהג מאוחר יותר,
              וביחס אליו קיימות מסורות שונות: ביום זה נפסקה המגפה המתוארת בתלמוד שפגעה תלמידיו של ר' עקיבא, הלך לעולמו התנא
              ר' שמעון בר יוחאי (רשב"י) וחל מפנה לטובת היהודים המורדים ברומא במהלך מרד בר-כוכבא.
              <br> כל שלושת המסורות עוסקות באירועים שהתרחשו בארץ-ישראל במהלך המאה השנייה לספירה
              <b>וכולן קשורות למרד בר-כוכבא</b> שהיה אירוע משמעותי מאוד מבחינה הלכתית, רבים מהנוהגים מנהגי אבלות במהלך ספירת
              העומר, מפסיקים אותם ביום זה.
              <br>בערב ל"ג בעומר נוהגים להדליק מדורות המסמלות את אור תורת הקבלה של רשב"י או את דרך העברת ההודעות בין לוחמיו של
              בר-כוכבא. בקבר רשב"י במירון נערכת הילולה גדולה ורבים נוהגים לעלות אליו לרגל. התנועה הציונית הדגישה את הקשר
              בין יום זה לבין מרד בר-כוכבא. ביום זה נוסד הפלמ"ח (1941), והוא צוין כיום הגדנ"ע; בשנים האחרונות מציין צה"ל
              ביום זה את
              <b>יום ההוקרה למערך המילואים. </b>
              <br>

            </p>

            <h1 class="book--topiccontent-starttitle">
              2.4.3.11 שבועות </h1>

            <p class="book--text-style">

              <b>"שבעה שבעת, תספר לך: מהחל חרמש, בקמה, תחל לספר, שבעה שבעות"
                <br> (דברים טז, ט). </b>
              <br>
              <br> שבועות חל ב-ו' בסיוון ומהווה את אחד מ
              <b>שלושת הרגלים</b> (פסח,שבועות וסוכות), בהם היו עולים עולי הרגל אל בית המקדש שבירושלים. המותו של חג השבועות,
              כמו רבים מחגי ישראל, היא כפולה: ראשית, הוא מאזכר אירוע מעברו של העם – מתן התורה לבני ישראל על הר סיני לאחר
              היציאה ממצרים. שנית, הוא חלק מן המעגל החקלאי בארץ ישראל ומכונה "
              <b>חג הקציר</b>" או "
              <b>חג הביכורים</b>" – בתקופה בה הוא חל, נקצרת התבואה ובמהלכו היו מביאים החקלאים את ביכורי אדמתם אל בית המקדש.
              <br> עם השנים נוספו לחג מספר מנהגים מרכזיים: "
              <b>תיקון ליל השבועות</b>" במהלו נוהגים ללמוד עד אור הבוקר, קישוט בתי הכנסת והבתים בירק וקיום סעודות החג המורכבות
              ממאכלים חלביים. בנוסף, נקראת בבתי הכנסת
              <b>מגילת רות</b> המתארת את סיפור גיורה של רות המואבייה ועיקר עלילתה מתרחש בתקופה זו של השנה. חג השבועות צוין באופן
              ייחודי על ידי התנועה הציונית ובפרט על-ידי ההתיישבות העובדת שקיימה במהלכו טקסים שונים זכר לביכורים. בשנים האחרונות
              נפוץ גם מנהג תיקון ליל השבועות, כאשר בערב החג ובימים שקודמים לו מתקיימים ערבי לימוד שונים ברחבי הארץ.
              <br>

            </p>

            <h1 class="book--topiccontent-starttitle">
              2.4.3.12 ארבעת צומות החורבן </h1>

            <p class="book--text-style">

              <b>"איכה ישבה בדד, העיר רבתי מעם, היתה כאלמנה"
                <br> (איכה א, א). </b>
              <br>
              <br> ביהדות מהווה חורבן הבית את אחד האירועים ההיסטוריים המרכזיים והטראומטיים ביותר; זכרו של המאורע נקבע בארבעה
              ימי צום המפוזרים לאורך השנה. המרכזי שבהם הוא
              <b> ט' באב</b>, בו מציינים חז"ל חמישה אירועים (משנה, תענית, ד, ו):
              <br> חמישה דברים אירעו את אבותינו בתשעה באב. ואלו הם: נגזר על דור המדבר שלא יכנסו לארץ ישראל, חרב בית המקדש הראשון,
              חרב בית המקדש השני, נלכדה ביתר ונחרבה ירושלים.
              <br> מבחינה הלכתית מתחיל בט' באב מן הלילה ונוהגים בו
              <b>חמשת האיסורים הנהוגים ביום הכיפורים: </b> אכילה ושתייה, רחיצה, סיכה (שימוש במוצרים קוסמטיים), נעילת הסנדל (העשוי
              מעור) ותשמיט המיטה (קיום יחסי מין). יום זה מוקדש לא רק לזיכרון היסטורי אלא בעיקר לחשבון נפש בנוגע לסיבות שהביאו
              לו: שנאת חינם, פילוג ומחלוקת בקרב העם. בערב הצום נקראת
              <b>מגילת איכה</b> המתארת את חורבן בית המקדש הראשון, ובמהלכו נקראות
              <b>קינות</b> (פיוטי אבל) שהתחברו במהלך השנים ומתייחסות אל שלל אסונות שאירעו לעם היהודי.
              <br> בשנים האחרונות מצוין ליל ט' באב באירועים ציבוריים במרכזי הערים המכונים: "הלילה לא לומדים תורה" (על בסיס האיסור
              ההלכתי ללמוד תורה במהלך ט' באב), בהם נפגשים חילוניים ודתיים במטרה לדון במחלוקות המרכזיות בחברה ולפעול כנגד
              "שנאת החינם", שהביאה, על-פי האמונה, לחורבן.
              <br> שלושת צומות החורבן הנוספים הם צומות קלים יותר המתחילים עם זריחת השמש ומסתיימים לאחר שקיעתה, הם מציינים אירועים
              שונים סביב החורבן:
              <br>
              <u>צום גדליה-</u> החל ב-ג' בתשרי, מציין את רציחתו של גדליהו בן אחיקם, יהודי שמונה בידי נבוכדנצר מלך בבל לנציב
              האחראי על שארית הפליטה שנותרה בארץ לאחר חורבן בית המקדש הראשון. גדליה נרצח בידי מתנקש יהודי ומותו סימל את תחילתה
              של הגלות. חז"ל קבעו את הצום "ללמדך ששקולה מיתתן של צדיקים כשריפת בית א-לוהינו" (בבלי, ראש השנה, יח)
              <br>
              <u>צום י' בטבת-</u> נקבע לזכר התחלת המצור של נבוכדנצר מלך בבל על ירושלים שהביא בסופו של דבר לחורבנה. לאחר השואה
              ועם הקמתה של מדינת ישראל, קבעה הרבנות הראשית בישראל את התאריך הזה כ
              <b>יום הקדיש הכללי</b> בו מצוין מותם של יהודים מתקופת השואה, שאין אפשרות לדעת מתי הלכו לעולמם, וקרובי משפחתם יכולים
              לומר במהלכו את תפילת ה-"קדיש".
              <br>
              <u>צום י"ז בתמוז-</u> נקבע לזכר פריצת חומות ירושלים בידי נבוכדנצר מלך בבל, וכניסתם לעיר של הצבות הבבליים שהחריבו
              את בית המקדש. בתאריך זה מתחילה תקופה בת שלושה שבועות המכונה
              <b>בין המצרים</b>, במהלכה נהוגים מנהגי אבלות: הימנעות משמיעת מוזיקה, איסור תספורת וגילוח, איסור קיום חתונות ושמחות
              ועוד.
              <br>

            </p>




    </div>

  </ion-content>
