<ion-view view-title="home page">
  <ion-content overflow-scroll="true" scrollbar-y="true" class="background">
    <div class="book--menu">
      <img src="img/menu-button.svg" class="book--menu-menubutton">
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <div class="book--text">
      <h1 class="book--topiccontent-starttitle">2.4.5.1 חג הקורבן (...)</h1>
      <p class="book--text-style">
        חג הקורבן הינו חג מוסלמי הנמשך לאורך חמישה ימים ומסתיים ב-10 בחודש האחרון של לוח השנה ההג'רי הוא מוכנה גם ה"חג הגדול" (אל-עיד
        אל-כביר). חג זה מסמל את
        <b>מועד העלייה לרגל למכה</b> (חאג') שהיא אחת מחמשת מצוות היסוד של האסלאם. בבסיסו עומד סיפור עקדת ישמעאל (המוכר ליהודים
        כסיפור עקדת יצחק) והוא מעלה על נס את כניעתו המוחלטת של אברהם כלפי הבורא. על פי המסורת המוסלמית, אברהם וישמעאל טיהרו
        את ה"
        <b>כעבה</b>", אבן שחורה הנמצאת במכה ומהווה את המקום הקדוש ביותר למוסלמים, מהפולחן האלילי שהונהג בה והפכו אותה למקדש
        מונותאיסטי. בנוסף, ישמעאל נחשב באסלאם לשליח האל ולאבי שבט קורייש ממנו נולד מוחמד.
        <br> מעבר לעלייה לרגל ולמנהגים נוספים הנהוגים במכה, נוהגים רבים
        <b>לשחוט במהלך החג כבש </b>ולאכול את בשרו או לחלקו לעניים, זכר לקורבן שהקריב אברהם במקומו של בנו. החג מהווה הזדמנות
        להתכנסות משפחתית ושבטית ובמהלכו נאמרות גם תפילות מיוחדות.
        <br>
        <u>לבדואים</u> ולצ'רקסים מנהגים זהים לאלה של המוסלמים.
        <u>הדרוזים</u> מציינים בהם גם את החג, אך לפי מסורתם החג נקשר עם הופעת המשיח הדרוזי באחרית הימים. מנהגי החג מתמקדים בכפרה
        על חטאים, חשבון נפש, עזרה לזולת וחזרה בתשובה. עשרת הימים הקודמים לחג נקראים "ליאלי אל-עשר" (עשרת ימי התשובה) בהם
        מרבים בני העדה להתכנס ב"ח'לווה" (בתי התפילה). החג נמשך ארבעה ימים במהלכם זובחת כל משפחה זבח, חוץ ממשפחות שאחד מבניהן
        נפטר באותה השנה. ראשי הכפרים נוהגים לפקוד משפחות אלה ביום החג ולהזמינן להשתתף בסעודותיהם.
        <br>
      </p>

      <h1 class="book--topiccontent-starttitle">2.4.5.2 יום הולדת הנביא מוחמד (...)</h1>
      <p class="book--text-style">
        חג יום הולדתו של הנביא מוחמד חל ב-12 לחודש השלישי בלוח הנה ההג'רי. חג זה מציין את
        <b>יום הולדתו של הנביא מוחמד</b> אשר נחשב למייסד האסלאם ולנביא האחרון והחשוב ביותר בקרב המוסלמים. יום הולדתו של הנביא
        לא נחגג במהלך חייו אלא רק לאחר מותו, מתוך הכבוד שרוחשים כלפיו המאמינים המוסלמים. מכיוון שמועד היוולדו אינו מופיע
        בכתבי הקודש המוסלמים מועד החג נקבע בעבר על פי הסכמה בתוך הקהילה המוסלמית. יום זה מצוין בתפילות, חגיגות ותהלוכות רבות,
        בירושלים מתקיימת בערב החג תהלוכה המונה אלפי מאמינים העולים להתפלל בהר הבית בליווי תזמורות.
        <br>
      </p>

      <h1 class="book--topiccontent-starttitle">2.4.5.3 צום הרמדאן (....)</h1>
      <p class="book--text-style">
        חודש ה
        <b>רמדאן</b> הינו החודש התשיעי בלוח השנה ההג'רי. חודש זה מקודש, שכן על פי המסורת קיבל בו מוחמד את הקוראן לראשונה מהאל.
        <b>בחודש זה נדרש המוסלמי המאמין להימנע מאכילה, שתייה, עישון, חיי אישות וכדומה, מצאת החמה ועד שקיעתה. </b> צום הרמדאן
        נחשב לאחת מחמש מצוות היסוד באסלאם, מהותו הוא טיהור הגוף והנפש ממחשבות ומעשים רעים ולימוד משמעת עצמית. במהלך החודש
        מרבים לשהות במסגד ובשליש האחרון שלו מתקיימות תפילות לילה מיוחדות. לקראת סופו של החודש מצויין "לילת אל- קאדר" שהוא
        על-פי המסורת הלילה בו התגלה אל מוחמד המלאך ג'יבריל. הצום מתחיל בארוחת ה-"
        <b>צחור</b>" הנאכלת לפנות בוקר, קודם לזריחת החמה. סיום הצום, עם שקיעת החמה מצוין בדרך כלל בארוחת ה-"
        <b>אפטאר</b>", ארוחה דשנה הנערכת בחוג המשפחה והחברים. עם סיומו של חודש הרמדאן ותחילת החודש העשירי בלוח השנה ההג'רי,
        מצוין
        <b>עיד אל פיטר</b> (המכונה "החג הקטן"), חג הפסקת הצום. החג נמשך לאורך שלושה ימים ומסמל את סוף תקופת הטיהור והצום.
        <br>במהלכו נערכות סעודות משפחתיות, תפילות במסגדים וניתנת צדקה מיוחדת –"זכאת אל פיטר" הניתנת ככפרה על עבירות שנעשו בשגגה
        במהלך חודש הצום.
        <br>
        <u>בעדה הצ'רקסית, </u> עיקר המקיימים את מצוות הרמדאן הם המבוגרים והזקנים ואילו שאר בני העדה מציינים בעיקר את עיד-אל
        פיטר. בתקופה זו נוהגים לפקוד את בתי הקברות ולקרוא פסוקי קוראן לזכר הנפטרים.
        <br>
      </p>
    </div>

  </ion-content>
