<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-firstLine"></div>

    <div class="book--chapters-titlecontainer book--content-titlecontainerSize ">
      <h1 class="book--topiccontent-title book--topiccontent-mainTitleSize">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-title lightHeebo">2.4.1 פתיחה</h1>
        <p class="book--text-style">
          החג מהווה הזדמנות חינוכית להגביר את ההיכרות בין חברי היחידה ולעסוק בערכים וברעיונות העולים ממנו. על-פי חוק, צה"ל מציין את
          כלל המועדים הממלכתיים; החגים היהודיים משפיעים גם הם באופן טבעי על קצב החיים בו; וההיכרות עם המועדים הלא יהודיים
          היא הכרחית ביחידות בהם משרתים בני מיעוטים. בפרק זה נבקש לסקור בקצרה את לוח השנה הישראלי לשכבותיו: מועדים ממלכתיים,
          מועדים יהודיים ומועדים לא יהודיים.
          <br>
        </p>

        <h1 class="book--topiccontent-title lightHeebo">2.4.2 מועדים ממלכתיים</h1>
        <h2 class="book--topiccontent-secondtitle">2.4.2.1 יום הזיכרון הממלכתי לרחבעם זאבי</h2>
        <p class="book--text-style">
          <b>
            <i> "אי אפשר לאהוב את המולדת בצורה וירטואלית, יש לאהוב אותה דרך כפות הרגליים..."</i>
            (רחבעם זאבי)</b>
          <br>
          <br> יום הזיכרון לשר רחבעם זאבי חל ב-ל' בתשרי. זאבי (1926-2001), היה אלוף בצה"ל ופוליטקאי ישראלי שכיהן, בין השאר, כשר
          התיירות. ב-ל' בתשרי תשס"ב, 17 באוקטובר 2001,
          <b> נרצח על-ידי מתנקשים פלסטינים</b> במלון ירושלים. זאבי היה האדם הבכיר שיותר שנרצח במהלך הסכסוך הישראלי-ערבי ובלווייתו,
          שהתקיימה בהר הרצל, השתתפו אלפי אנשים. יום הזיכרון לרחבעם זאבי מצוין מתוקף חוק שהתקבל בכנסת בשנת 2005. החוק קובע
          כי יום הירצחו של זאבי יהווה יום זיכרון ממלכתי, במהלכו יתקיים טקס בסמוך לקברו, ובמחנות צה"ל יוקדש זמן ללימוד פועלו.
          <br>
        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.2.2 יום הזיכרון הממלכתי ליצחק רבין</h2>
        <p class="book--text-style">
          <b>"האלימות מכרסמת ביסוד הדמוקרטיה הישראלית. יש לגנות אותה, להוקיע אותו, לבודד אותה, זו אינה דרכנו" (יצחק רבין) </b>
          <br>
          <br> יום הזיכרון ליצחק רבין לך ב-י"ב בחשוון. יצחק רבין (1922-1995) היה רמטכ"ל מלחמת ששת הימים, שר הביטחון וראש הממשלה.
          במוצאי שבת, י"ב בחשוון תשנ"ו, 4 בנובמבר 1995,
          <b> נרצח בעת עצרת השלום</b> שנערכה בכיכר מלכי ישראל בתל-אביב, בידי מתנקש יהודי. הרצח הפוליטי זעזע את החברה הישראלית
          ואלפים, מכל רחבי הקשת הפוליטית, יצאו אל הרחובות על מנת למחות כנגדו ולהדליק נרות נשמה.
          <br> להלווייתו של רבין, שנערכה בהר הרצל, הגיעו רבים ממנהיגי העולם ובהם גם מנהיגים ממדינות ערב. מיד לאחר הרצח עלתה מקרב
          הציבור הדרישה להפוך את היום בו הוא בוצע ליום של חשבון נפש, במהלכו תעסוק החברה הישראלית בשאלה, כיצד הצליח הוויכוח
          הפוליטי להידרדר לאלימות כה קשה. יום הזיכרון מצוין מתוקף חוק שהתקבל בכנסת בשנת 1997. החוק קובע כי היום יצוין במוסדות
          המדינה, במחנות צה"ל ובבתי הספר; במהלכו יורדו דגלי הלאום לחצי התורן וייערך טקס ממלכתי.
          <br>
        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.2.3 חג הסיגד</h2>
        <p class="book--text-style">

          <b>"אימוץ החג על ידי הכנסת ועל ידי מדינת ישראל יאפשר את שימורה של מסורת עתיקת יומין ויתרום לתחושת ההזדהות והמעורבות
            של בני הקבילה האתיופית"</b>
          <br>(דברי הסבר לחוק חג הסיגד)
          <br>
          <br> חג הסיגד חל ב-כ"ט בחשוון, חמישים יום לאחר יום הכיפורים. סיגד (מאמהרית: סגידה) הוא
          <b> אחד מן החגים שצויינו על-ידי הקהילה היהודית באתיופיה</b>. הוא מהווה יום של צום, טהרה והתחדשות ובמרכזו עמד טקס שנערך
          בידי ראשי העדה (המכונים "קייסים"). הקס בוצע על ראשו של הר גבוה באתיופיה, כמקבילו של הר סיני בו ניתנה התורה לעם
          ישראל.
          <br> מעמד הסיגד מזכיר מעמד דומה המתואר בספר נחמיה (א', א'-ג'). בטקס השתתפו כל בני הקהילה היהודית באתיופיה, עבורם הוא
          היווה גם מפגש חשוב שתרם לליכודה של הקהילה. גם בישראל ממשיכים בני העדה האתיופית לחגוג את חג הסיגד.
          <br>כיום
          <b>מתכנסים בני העדה בטיילת הר הנציב</b> הצופה אל עבר הר הבית ומקום המקדש, נושאים תפילה ולאחר מכן, צועדים אל עבר הכותל
          המערבי. בכינוס משתתפים על-פי רוב גם אישי ציבור המבקשים לחלוק כבוד לעדה ולסיפור עלייתה לארץ-ישראל. בשנת 2008 התקבל
          בכנסת חוק חג הסיגד. החוק קובע כי חג הסיגד יצוין באופן רשמי על-ידי מדינת ישראל. על-פי פקודות הצבא, חלה על המפקד
          חובה לשחרר מפעילות חייל אתיופי המבקש לקחת חלק בחג ויום היעדרות ירד ממניין ימי החופשה השנתית.
          <br>

        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.2.4 יום הזיכרון הבין-לאומי לשואה </h2>
        <p class="book--text-style">

          <b>"אין הזמן באושוויץ פי שהוא כאן על כדור הארץ. כל שבר רגע הולך שם על גלגלי זמן אחר" (ק.צטניק) </b>
          <br>
          <br> יום הזיכרון הבין-לאומי לשואה חל ב-27 בינואר,
          <b> היום בו שוחרר בשנת 1945 מחנה הריכוז וההשמדה אושוויץ על-ידי הצבא האדום. </b> שחרורו של אושוויץ חשף בפני העולם את
          זוועות מעשיהם של הנאצים, והמחנה הפך לסמל לתהליך הדיכוי וההשמדה של היהודים ומיעוטים נרדפים אחרים. יום זה שימש כיום
          זיכרון לשואה בגרמניה, בבריטניה ובעוד מספר מדינות לאורך שנים רבות.
          <br>בנובמבר 2005 החליט האו"ם להכריז על יום זה כעל יום זיכרון בין-לאומי וההצעה התקבלה פה אחד. יום הזיכרון הבין-לאומי
          מצוין גם בישראל לצדו של יום הזיכרון לשואה ולגבורה המוקדש לזיכרון הלאומי.
          <br>

        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.2.5 יום הזיכרון לשואה ולגבורה</h2>
        <p class="book--text-style">

          <b>"על דעת עיני שראו את השכול... נדרתי הנדר: לזכור את הכל, לזכור- ודבר לא לשכוח" ("נדר", אברהם שלונסקי)
            <br>
            <br>
          </b>
          יום הזיכרון לשואה ולגבורה חל ב-כ"ז בניסן, את היום קבעה הכנסת בחוק שהתקבל בשנת 1959, סעיף 2 לחוק קובע את אופיו:
          <br> ביום הזיכרון תהא בכל רחבי המדינה דומייה של שתי דקות בהן תושבת כל עבודה ותיפסק התנועה בדרכים; יקוימו אזכרות, עצרות
          עם, וטקסי התייחדות במחנות הצבא ובמוסדות החינוך; הדגלים על הבניינים הציבוריים יורדו לחצי התורן תכניות השידורים ברדיו
          יביעו את ייחודו של היום, ובבתי השעשועים יעלו אך נושאים ההולמים את רוחו.
          <br> יום הזיכרון מתחיל בדומה לחגי ישראל מן הערב. העצרת הפותחת את יום הזיכרון מתקיימת ברחבת גטו ורשה ב"יד ושם" ובמהלכה
          <b>
            מודלקות שש משואות</b> על-ידי ניצולי שואה המלווים בבני הדור השני והשלישי. למחרת, בשעה 10 בבוקר, נשמעת בכל רחבי
          המדינה
          <b>צפירת דומייה</b> בת שתי דקות ולאחריה מתקיימים אירועים ליד אנדרטאות, בבתי ספר ובמחנות צה"ל. מאוחר יותר במהלך היום,
          נפתח משכן הכנסת וב-"אוהל יזכור" מעמד "
          <b>לכל איש יש שם</b>", במהלכו מקריאים חברי כנסת ואישי ציבור שמות של יהודים שנספו בשואה. בצהרים נערכת עצרת נוספת ב"אוהל
          יזכור". את האירועים חותמים עצרת של תנועות הנוער הנערכת בשעות אחר הצהריים, וטקס הזיכרון בקיבוץ לוחמי הגטאות, במוצאי
          יום השואה. משנת 1988 נערך ביום השואה אירוע נוסף –
          <b>מצעד החיים</b>, במהלכו צועדים אלפי יהודים מן הארץ ומן העולם בין אושוויץ לבירקנאו.
          <br> מדינות נוספות בעולם מציינות גם הן את יום השואה, אם כי בצורה בולטת פחות, ומרביתן ממקדות את העיסוק בנושא ליום השואה
          הבין-לאומי.
          <br>

        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.2.6 יום הזיכרון לחללי מערכות ישראל ולנפגעי פעולות האיבה</h2>
        <p class="book--text-style">

          <b>"אז תשאל האומה שוטפת דמע וקסם, ואמרה: מי אתם? והשנים שוקטים, יענו לה: אנחנו מגש הכסף שעליו לך ניתנה מדינת היהודים"
            <br>
          </b> ("מגש הכסף", נתן אלתרמן)
          <br>
          <br> יום הזיכרון לחללי מערכות ישראל ולנפגעי פעולות האיבה חל ב-ד' באייר.
          <br> בתחילה צוין זכרם של חללי מערכות ישראל במסגרת יום העצמאות. הדגם הנוכחי, בו יום הזיכרון חל ביום שלפני יום העצמאות,
          אומץ ב-1951 ונקבע בחוק בשת 1963.סעיף 3 לחוק קובע את אופיו: ביום הזיכרון תהא בכל רחבי המדינה דומיה של שתי דקות בהן
          תשבות כל עבודה ותיפסק כל תנועה בדרכים; הדגלים על הבניינים הציבוריים יורדו לחצי התורן; יקוימו אזכרות ועצרות-עם;
          ייערכו טקסי התייחדות במחנות צבא ההגנה לישראל ובמוסדות חינוך; תכניות השידורים יביעו את ייחודו של היום בימים שלפני
          הטקס מציבים חיילי צה"ל את דגל ישראל ומניחים פרח על קברו של כל חלל. האירוע הפותח את יום הזיכרון מתקיים לפנות ערב
          ב-"בית יד לבנים" בירושלים. בשעה שמונה נשמעת ברחבי הארץ
          <b> צפירת זיכרון, </b>בת דקה ואז מתחיל האירוע הרשמי הנערך ברחבת הכותל בירושלים. לאחר הטקס נערכים טקסים נוספים ביישובים
          שונים ברחבי הארץ: בירושלים נערכת עצרת זיכרון במשכן הכנסת, ובכיכר רבין, בתל-אביב, נערך אירוע "שרים בכיכר" המשלב
          שירי זיכרון וסיפורים של נופלים. למחרת, בעשה אחת-עשרה, נשמעת צפירת זיכרון נוספת ולאחריה מתחילים טקסי הזיכרון בבתי
          הקברות הצבאיים. בשעה אחת בצהריים נערך טקס זיכרון ממלכתי לחללי פעולות האיבה בהר הרצל. במהלך היום נערכים גם טקס אזכרה
          של משטרת ישראל, טקס אזכרה לחיילים הבדואים והדרוזים, טקס אזכרה למעפילים ועוד. לקראת סופו של היום, נערך טקס הדלקת
          המשואות בהר הרצל החותם את אירועי יום הזיכרון ופותח את אירועי יום העצמאות. הסמיכות הרבה שבין שני הימים מעוררת לא
          אחת דיון, אך נשמרת בשל הסמליות שבה.
          <br>

        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.2.7 יום העצמאות</h2>
        <p class="book--text-style">

          <b>"בבאזל יסדתי את מדינת היהודים, אם אומר זאת היום, יענה לי צחוק כללי. אולי בעוד חמש שנים, בוודאי בעוד חמישים שנה,
            יודו בכך כולם"</b>
          <br> (בנימין זאב הרצל)
          <br>
          <br> יום העצמאות חל ב-ה' באייר. יום זה הוא יום החג הלאומי המרכזי של מדינת ישראל המציין את ההכרזה על הקמתה עם תום המנדט
          הבריטי. יום העצמאות מתחיל ב
          <b>טקס הדלקת המשואות בהר הרצל, </b> המתקיים ברצף משנת 1950. במהלך הטקס מודלקות שתים עשרה משואות המסמלות את שנים עשר
          שבטי ישראל בידי נציגים הנבחרים בהתאם לנושא המתחלף מדי שנה.
          <br> ביום העצמאות עצמו עורך נשיא המדינה קבלת פנים מיוחדת לחיילים ולקצינים מצטיינים. בשעות הבוקר המאוחרות נערך חידון
          התנ"ך העולמי לנוער יהודי, וצה"ל פותח את בסיסיו לקהל הרחב ומקיים תצוגת ותערוכות. בעבר היה נערך במהלך היום
          <b>מצעד צה"ל</b> בו הוצגו יכולותיו וחילותיו השונים, אך אירוע זה נפסק וכיום מקיימים רק חיל האוויר וחיל הים מטסים ומשטים
          מיוחדים. במוצאי יום העצמאות נערך טקס הענקת פרסי ישראל. במהלך השנים נעשו ניסיונות שונים לחבר הגדות ומסכתות ליום
          העצמאות. בציבור הדתי מצוין החג בתפילות חגיגיות הנערכות ברוב-עם; רבים יוצאים לטיול וארוחה בחיק הטבע; במרכזי הערים
          נפתחות במות בידור ומתקיימות הופעות שונות; ובערוצי הרדיו והטלוויזיה משודרות תכניות מיוחדות.
          <br>

        </p>

        <h2 class="book--topiccontent-secondtitle">2.4.3.8 יום הרצל</h2>
        <p class="book--text-style">

          <b>"קראתי פעם לציונות אידיאל אין-סופי, ואני מאמין ברמת כי גם לאחר השגת ארצנו, ארץ ישראל, לא תחדל מלהיות אידיאל"
            <br>
          </b> (בנימין זאב- הרצל)
          <br>
          <br> יום הרצל חי ב-י' באייר, היום בו נולד הרצל שהיה אבי התנועה הציונית וזכה לכינוי "חוזה המדינה".
          <br>היום מצוין מתוקף חוק שהתקבל בכנסת בשנת 2004 הקובע כי במהלכו ייערך טקס זיכרון ממלכתי בסמוך לקבר הרצל; יוקדש זמן
          ללימוד חזונו ופועלו בבתי הספר ובמחנות צהל; ובירושלים יתקיים כנס לזכרו, בו ידונו סוגיות המעסיקות את התנועה הציונית
          ביחס להגותו. יום זה החליף את יום כ' בתמוז, יום פטירתו של הרצל, שהיה מצוין כיום הרצל בתקופת היישוב.
          <br>

          <h2 class="book--topiccontent-secondtitle">2.4.3.9 יום ירושלים</h2>
          <p class="book--text-style">
            <b>"עומדות, היו רגלינו בשעריך, ירושלם. ירושלם הבנויה כעיר, שחברה לה יחדו"</b>
            <br> (תהלים קכב, ב).
            <br>
            <br> יום ירושלים חל ב-כ"ח באייר, היום בו שוחררה ירושלים לאחר תשע-עשרה שנות כיבוש ירדני, שנמשך עד מלחמת ששת הימים,
            ואוחדה תחת ריבונות ישראל. עם תום מלחמת העצמאות חולקה ירושלים בין ישראל לירדן, ומדינת ישראל נותקה מן המקומות הקדושים
            בעיר העתיקה ומן הרובע היהודי. תוצאות מלחמת ששת-הימים עוררו רגשות עזים בקרב הציבור הישראלי וכבר שנה לאחר מכן נקבע
            יום השחרור כיום חג לאומי. בשנת 1988 עוגן מעמדו של היום באמצעות חוק מיוחד.
            <br> במהלך היום נערך טקס ממלכתי מרכזי באתר גבעת התחמושת וטקסים נוספים במספר אתרים אחרים בעיר. במהלך יום ירושלים מצוין
            גם יום הזיכרון ליהודי אתיופיה שנספו בדרכם לישראל.
            <br>
          </p>
          <h2 class="book--topiccontent-secondtitle">2.4.3.10 יום הזיכרון הממלכתי לזאב ז'בוטינסקי</h2>
          <p class="book--text-style">

            <b>"בוא יבוא היום ועמי גדול יהא ובן-חורין, וארץ-ישראל תזהר בכל צבעי הקשת של נופה הנהדר – בכוח זיעת אפיהם של בני-עמי"</b>
            <br> (זאב ז'בוטינסקי)
            <br>
            <br> יום הזיכרון הממלכתי לזאב ז'בוטינסקי חל ב-כ"ט בתמוז, היום בו נפטר. זאב ז'בוטינסקי (1880-1940) היה מנהיג ציוני
            חשוב, מאבות הציונות הרוויזיוניסטית, יוזם הקמתם של הגדודים העבריים ובית"ר ומנהיגו של האצ"ל, משורר, סופר ומתרגם.
            <br> יום הזיכרון מצוין מתוקף חוק שהתקבל בכנסת בשנת 2005 הקובע כי ביום זה ייערך טקס זיכרון ממלכתי בסמוך לקבר ז'בוטינסקי
            בהר הרצל, יוקד זמן ללימוד חזונו במחנות צה"ל, הכנסת תערוך ישיבה מיוחדת לזכרו, ובירושלים יתקיים כנס בו יידונו סוגיות
            המעסיקות את התנועה הציונית ביחס להגותו.
            <br>

          </p>
      </div>

    </ion-content>
  </div>
