<ion-view view-title="home page">
  <div class="background">
    <div class="book--menu">
      <div class="back-button--container" ng-click="goBack()">
        <img src="img/backbutton.svg" class="book--menu-menubutton">
      </div>
      <h1 class="book--menu-title">ספרים</h1>
      <img src="img/till-logo.svg" class="book--menu-logo">
    </div>

    <div class="book--chapters-titlecontainer">
      <h1 class="book--topiccontent-title">{{subject.name}}</h1>
    </div>
    <ion-content overflow-scroll="true" scrollbar-y="true" class="text-top">
      <div class="book--text">
        <h1 class="book--topiccontent-starttitle"></h1>
        <p class="book--text-style">
          בשער זה העמקנו את היכרותנו עם החברה הישראלית. הרחבנו לגבי עולם האמונה היהודי ולמדנו כמה מושגים בסיסיים בהקשר זה, למדנו על
          תרבותם ומאפייניהם של המיעוטים במדינת ישראל וסיימנו בסקירתו של לוח השנה הישראלי-יהודי. היכרות זו חשובה עבורנו כקצינים
          לעתיד ועשויה לסייע לנו בהבנת הרקע התרבותי-חברתי ממנו אנו באים ובהבנתו של הרקע ממנו מגיעים אלינו חיילינו.
        </p>

      </div>

    </ion-content>
  </div>
