@font-face {
  font-family: 'Open Sans Hebrew', serif;
  src: url('./OpenSansHebrewCondensed-Light.ttf') format('truetype');
}

/* * {
  font-family: 'Open Sans Hebrew', sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.top-content {
  margin-top: 25vh;
}

.overflow-scroll>.scroll {
  background: #fff6ee;
}

.overflow-scroll {
  background: #fff6ee;
}

.text-top {
  margin-top: 25vh;
}

/* the home page !! */

.home--background-firstlayer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.home--background-secondlayer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -4;
}

.home--background-thirdlayer {
  height: 100%;
  width: 20em;
  position: absolute;
  z-index: -3;
}

.home--background-solider {
  bottom: 0;
  left: 0;
  height: 95%;
  position: absolute;
  z-index: -2;
}

.home--title {
  text-align: center;
  margin-top: 13vh;
}

.home--logos {
  position: absolute;
  bottom: 4px;
  left: 7px;
  width: 20vh;
}

.home--buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  right: 0;
  position: absolute;
}

.back-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
}

.home--buttons-book {
  height: 20vh;
  margin-top: 1.5vh;
}

.home--buttons-about {
  height: 11vh;
  margin-top: 1.5vh;
}

.book {
  font-size: 1em;
  direction: rtl;
}

.scroll {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mark {
  background-color: yellow;
  display: inline;
  /* color: black; */
}

.marktext-button {
  position: absolute;
  z-index: 1;
}

/* book page style  */

.book--menu {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 10vh;
  background: #fff6ee;
  justify-content: space-around;
  z-index: 3;
}

.book--menu-menubutton {
  height: 2.5%;
  position: absolute;
  top: 3.4%;
  right: 5%;
}

.book--menu-logo {
  height: 7%;
  left: 2.3%;
  top: 1.5%;
  position: absolute;
}

.book--menu-title {
  font-family: 'Open Sans Hebrew', serif;
  font-size: 1.7em;
  text-align: right;
  margin-top: 2vh;
}

.book--title {
  font-family: 'Open Sans Hebrew', serif;
  font-size: 4em;
  text-align: center;
  margin-top: 3%;
}

.book--chapters-titlecontainer {
  width: 100%;
  height: 20vh;
  background: #e7ebe7;
  justify-content: space-around;
}

.book--chapters-title {
  font-family: 'Open Sans Hebrew', serif;
  text-align: right;
  padding: 3.5vh;
  font-size: 2.5em;
}

.book--chapter-list {
  width: 100%;
  background: #fff6ee;
  justify-content: space-around;
  text-align: right;
}

.book--chapter-list_item {
  font-size: 1.5em;
  padding: 4vh;
  height: 13vh;
  border-bottom: solid #e7ebe7 3.5px;
}

.book--topiccontent-title {
  font-family: 'Open Sans Hebrew', serif;
  text-align: right;
  font-size: 1.8em;
  margin-right: 0.35em;
  padding-top: 0.5em;
}

.book--topiccontent-secondtitle {
  font-family: 'Open Sans Hebrew', serif;
  margin-right: 0.6em;
  font-size: 1.4em;
}

.book--text {
  direction: rtl;
  background: #fff6ee;
}

.book--topiccontent-starttitle {
  font-family: 'Open Sans Hebrew', serif;
  font-size: 1.8em;
  margin-right: 0.7em;
  direction: rtl;
}

.book--text-style {
  font-size: 1.2em;
  margin: 1em;
}

.background {
  background: #fff6ee;
}

.book--poetry-line {
  font-size: 1.2em;
  margin-right: 2.5em;
}

.tablestyle {
  border: solid 1px;
  margin: 1em;
  padding: 0.5em;
}

/* the menu style */

.sidemenu {
  /* visibility: hidden; */
  background: #2d1710;
  position: absolute;
  z-index: 5;
  height: 121%;
  width: 33%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 14px 5px;
}

.sidemenu--buttons-close {
  height: 2%;
  position: absolute;
  top: 2.7%;
  right: 15%;
}

.sidemenu--buttons {
  color: white;
  text-align: right;
  padding-right: 10%;
  padding-bottom: 5vh;
  font-size: 1.4em;
}

.sidemenu--move {
  margin-top: 14vh;
}

.openmenustatus {
  visibility: hidden;
}

.sidemenu--opacity {
  background: white;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 121%;
  opacity: 0.6;
}

.sidemenu--logo {
  position: absolute;
  bottom: 4vh;
  height: 12vh;
  align-self: center;
}

/* the exercises style */

.exercise--choose-unit {
  font-size: 1.5em;
  padding: 12vh;
  padding-top: 13vh;
  height: 35vh;
  text-align: center;
  border-bottom: solid #e7ebe7 2vh;
}

.game--firstline {
  width: 100%;
  height: 7vh;
  background: #e7ebe7;
}

.game--secondline {
  width: 100%;
  height: 2vh;
  background: #fff6ee;
}

.billionaire--trapeze {
  border-top: 5vh solid #fff6ee;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  width: 40%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.billionaire {
  width: 100%;
  height: 20vh;
  background: #e7ebe7;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}

.billionaire--money-offer {
  position: absolute;
  top: 16vh;
  font-size: 5vh;
}

.game--answer {
  border: none;
  width: 100%;
  margin-top: 3vh;
  height: 10vh;
  background: #e7ebe7;
}

.billionaire--answer-number {
  direction: rtl;
  margin-right: 0.5em;
  font-size: 3vh;
}

.billionaire--life {
  height: 6vh;
  margin-right: 0.5em;
}

.billionaire--lifes {
  position: fixed;
  bottom: 2px;
  display: flex;
  left: 6px;
}

.billionaire--help-square {
  margin-right: 10%;
  margin-left: 2em;
  width: 7em;
  height: 6vh;
  background: #a34824;
  text-align: center;
  padding-top: 1vh;
  vertical-align: middle;
  line-height: 4vh;
  border: 0;
  color: white;
}

.billionaire--help {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 35.5vh;
}

.billionaireQuestion {
  position: absolute;
  text-align: right;
  top: 18.5vh;
  font-size: 4vh;
}

.hideElement {
  visibility: hidden;
}

.correctAnswer {
  background: #6eb753;
}

.inCorrectAnswer {
  background: #d67049;
}

.game--next-question {
  position: absolute;
  top: 11vh;
  font-size: 3.5vh;
}

.billionaire--win-fullgame {
  position: absolute;
  z-index: 2;
  background: #B8CC79;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billionaire--win-fullgame-text {
  text-align: center;
  /* color: white; */
}

.billionaire--win-pic {
  height: 30vh;
  margin-bottom: 12vh;
  margin-top: 6vh;
}

.billionaire--play-again {
  height: 10vh;
  width: 100%;
  text-align: center;
  background: white;
  margin-bottom: 3vh;
}

/* test */

.test--bottom {
  position: absolute;
  bottom: 2vh;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.test--bottom-countDown {
  margin-right: 3%;
}

.test--bottom-questionNum {
  position: absolute;
  left: 2%;
}

.test--startScreen {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: #e7ebe7;
}

.test--start {
  text-align: center;
  margin-top: 29vh;
  width: 100%;
  height: 10vh;
  background: #fff6ee;
}

.test--start-text {
  text-align: center;
}

.test--finish-text {
  text-align: center;
}

#test--firstLine-finishText {
  margin-top: 20vh;
}

.test--finishScreen {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: #e7ebe7;
}

/* adjust date game */

.adjustDate--game {
  display: flex;
  height: 90%;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.adjustDate--eventContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f5ef;
  border: 40px solid #e7ebe7;
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
}

.adjustDate--eventHeadline {
  direction: rtl;
  font-size: 1.5em;
  margin: 0;
  font-family: "Open Sans Hebrew", serif;
  padding-right: 4vh;
  padding-left: 4vh;
  padding-top: 1.5vh;
}

.adjustDate--event {
  direction: rtl;
  font-size: 1.5em;
  margin: 0;
  font-family: "Open Sans Hebrew", serif;
  padding-top: 0.2vh;
  padding-right: 4vh;
  padding-left: 4vh;
}

.adjustDate--dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  border-bottom: 25px solid #e7ebe7;
  background-color: #e7ebe7;
  background-position: center;
  margin-top: -25px;
}

.adjustDate--date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff6ee;
  font-size: 2em;
  margin: 0;
  font-family: "Open Sans Hebrew", serif;
  height: 40px;
  width: 210px;
  text-align: center;
}

.adjustDate--checkAnswerContainer {
  margin-top: 1.5vh;
  width: 100%;
  height: 6.7vh;
}

.adjustDate--checkAnswerBtn {
  background-color: #e7ebe7;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 1.6em;
  color: rgb(0, 0, 0);
}

.adjustDate--btn {
  background-color: Transparent;
  border: 0;
  height: 2em;
  width: 2em;
}

.adjustDate--life {
  height: 90%;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.adjustDate--lifes {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.adjustDateFinishPg--wellDone-title,
.adjustDateFinishFail--title {
  font-family: "Open Sans Hebrew", serif;
  font-size: 4em;
  color: black;
  text-align: center;
  margin-top: 5% !important;
}

.adjustDateFinishFail--title {
  color: white;
}

.adjustDateFinish--finishSuccessPg {
  background: #b8cc79;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.adjustDateFinish--finishFailPg {
  background: #d67963;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.adjustDate--FailDiv,
.adjustDate--SuccessDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* .adjustDateFinish--upperPart {
  padding: 10%;
} */

.adjustDateFinish--buttonPart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.adjustDateFinishPg--btns {
  width: 100%;
  height: 10vh;
  border: 0;
  background-color: #f9f5ef;
  font-family: "Open Sans Hebrew", serif;
  font-size: 1.7em;
  text-align: center;
  justify-content: center;
  /* margin-bottom: 3.5%; */
  margin-top: 6vh;
}

.successIcon {
  width: 50%;
  height: 35vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.adjustDate--FailDiv,
.adjustDate--SuccessDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* about page
 */

.about--title-fontsize {
  font-size: 8vh;
}

.about--scrollContainer {
  height: 100%;
  width: 100%;
  direction: rtl;
}

.about--paragraphTitle {
  font-size: 3.5vh;
  padding-right: 3vh;
  margin: 0;
}

.about--aboutParagraph {
  font-size: 2.5vh;
  padding-right: 11vh;
  margin-bottom: 1.5vh;
  padding-top: 1vh;
}

.about--paragraphContainer {
  background: #f9f5ef;
  /* border-bottom: #e7ebe7 solid 1vh; */
  height: 33vh;
  padding-top: 2.5vh;
}

.about--ramadName {
  padding-right: 3vh !important;
}

.about--paragraphContainerRamad {
  height: 17vh;
}

.about--iconsFirstP {
  display: flex;
  background-color: #e7ebe7;
  height: 1.5vh;
  flex-direction: row-reverse;
  align-items: center;
}

.about--icons {
  height: 7vh;
  margin-left: 1.2vh;
}

.showElement {
  visibility: visible !important;
}

.adjustDatecorrectAnswer {
  border-color: #b8cc79;
}

.adjustDateinCorrectAnswer {
  border-color: #d67963;
}

.correctAnswer {
  background: #b8cc79;
}

.inCorrectAnswer {
  background: #d67963;
}

.setFont {
  font-family: "Open Sans Hebrew", serif;
}
