@font-face {
  font-family: 'Open Sans Hebrew', serif;
  src: url('./OpenSansHebrewCondensed-Light.ttf') format('truetype');
}

* {
  font-family: 'Open Sans Hebrew', sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* the home page !! */

.home--background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.home--title {
  text-align: center;
  margin-top: 13vh;
}

.home--logos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vh;
}

.home--buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  right: 0;
  position: absolute;
}

.back-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
}

.home--buttons-book {
  height: 20vh;
  margin-top: 1.5vh;
}

.home--buttons-about {
  height: 11vh;
  margin-top: 1.5vh;
}

.book {
  font-size: 1em;
  direction: rtl;
}

.scroll {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mark {
  background-color: yellow;
  display: inline;
  /* color: black; */
}

.marktext-button {
  position: absolute;
  z-index: 1;
}

/* book page style  */

.book--menu {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 10%;
  background: #fff6ee;
  justify-content: space-around;
}

.book--menu-menubutton {
  height: 7%;
  position: absolute;
  top: 1.7%;
  right: 1%;
}

.book--menu-logo {
  height: 7%;
  left: 2%;
  top: 1%;
  position: absolute;
}

.book--menu-title {
  font-size: 1.7em;
  text-align: right;
  /* position: absolute; */
  margin-top: 0;
}

.book--title {
  font-size: 4em;
  text-align: center;
  margin-top: 3%;
}

.book--chapters-titlecontainer {
  width: 100%;
  height: 20%;
  background: #f3e8d7;
  justify-content: space-around;
}

.book--chapters-title {
  text-align: right;
  padding: 2vh;
}

.book--chapter-list {
  width: 100%;
  background: #fff6ee;
  justify-content: space-around;
  text-align: right;
}

.book--chapter-list_item {
  font-size: 1.5em;
  padding: 4vh;
  height: 13vh;
  border-bottom: solid #edd9ae 1.5px;
}

.book--topiccontent-title {
  font-size: 1.8em;
  text-align: right;
  padding: 1vh;
}

.book--topiccontent-secondtitle {
  margin-right: 0.6em;
  font-size: 1.4em;
}

.book--text {
  direction: rtl;
}

.book--topiccontent-starttitle {
  font-size: 1.8em;
  margin-right: 0.7em;
}

.book--topiccontent-title {
  font-size: 1.6em;
  margin-right: 0.6em;
}

.book--text-style {
  font-size: 1.2em;
  margin: 1em;
}

.background {
  background: #fff6ee;
}

.book--poetry-line {
  font-size: 1.2em;
  margin-right: 2.5em;
}

.tablestyle {
  border: solid;
  margin: 1em;
  padding: 0.5em;
}
